[2018-07-16 16:44] jclangst commented on #799
Gotchya. That sounds like a good strategy. Before closing this issue, do you think that the requestHandler should be modified to not hard fail (maybe just issue a warning) on Authorization headers with different schemes?

[2018-07-16 16:48] jclangst opened #800 "Issues handling money types"
I'm submitting a ...

* [x] bug report
* [ ] feature request
* [ ] question

PostGraphile version:
4.0.0-rc.2

Minimal SQL file that can be loaded into a clean database:

[code]

Steps to reproduce:

Current behavior:
When querying a field marked as money in Postgres 9.6.8, I get this error: ``Float cannot represent non numeric value``

Expected behavior:
I guess money should be treated as a strin

[2018-07-16 18:36] benjie commented on #800
What are your localisation settings? i think we need to add a pgTweak for money, cast to float before returning. I think I last worked on money support before we had the tweak infrastructure, so it should be much easier than using custom parsers now 🎉

[2018-07-16 22:36] benjie commented on #799
Maybe. If it’s valid to have no JWT then it’s probably safe to treat invalid authentication as no authentication. That said, being explicit and stating that invalid (or not understood) stuff is being sent to the server helps avoid the head scratching that comes from being sure you’re sending auth but the server not seeming authed (because you accidentally wrote “Basic” instead of “Bearer” and didn

[2018-07-17 02:58] degroote22 opened #801 "4.0.0-rc.2 missing .d.ts"
This version doesn't have any typescript files on the npm package.
I guess it was a mistake.

[2018-07-17 04:42] degroote22 commented on #208
I have a very ugly hack that transforms postgraphile into a local-remoteExecutableSchema.

Given that the types have been downloaded beforehand with something like `get-graphql-schema`, the hack is this:
[code]

Using it with graphql-binding one could replicate what the Prisma docs and samples do to run with apollo-server.

To use it:
`graphql-binding --language typescript --input theFileAbove.ts

[2018-07-17 04:49] degroote22 commented on #744
I have a very ugly hack that transforms postgraphile into a local-remoteExecutableSchema.

Given that the types have been downloaded beforehand with something like `get-graphql-schema`, the hack is this:
[code]

Using it with graphql-binding one could replicate what the Prisma docs and samples do to run with apollo-server.

To use it:
`graphql-binding --language typescript --input theFileAbove.ts

[2018-07-17 04:49] degroote22 commented on #801
I'll close it because I saw it is being solved by #794

[2018-07-17 04:49] #801 closed

[2018-07-17 08:12] benjie commented on #208
That's awesome, thanks for sharing! Here's a pointer that might help improve things (sorry I don't have time to edit it fully). You can run the PostGraphile query inside `fetcher` more naturally by using the [schema-only API](https://www.graphile.org/postgraphile/usage-schema/); e.g.

[code]

(edited directly in GitHub editor, so probably contains mistakes)

Hope this helps.

[2018-07-17 08:13] benjie commented on #744
For context, the above comment also appears in https://github.com/graphile/postgraphile/issues/208#issuecomment-405457598

[2018-07-17 14:09] degroote22 commented on #208
That's awesome! I will give it a shot!
I plan on releasing something like prisma-binding but for postgraphile.
I'd written and started using that code yesterday so that's very rough.
When I'm done I'll give a shout here.

[2018-07-17 15:51] degroote22 opened #802 "Option to remove query from mutation"
I'm submitting a ...

* [ ] bug report
* [x] feature request
* [ ] question

PostGraphile version: 4.0.0-rc.2

I'm working with schema stitching and I can't get the front schema to be fully typed because what it returns as query is different than what postgraphile return as query inside all mutations.
I get this is an awesome feature but I don't need it and it is making my life harder.
I guess it

[2018-07-17 16:37] degroote22 commented on #802
No need for a PR.
This can be solved in userland.

[code]

[2018-07-17 16:37] #802 closed

[2018-07-17 16:51] benjie commented on #802
Exactly - well spotted - just skip the plugin 👍

[2018-07-17 16:51] benjie commented on #802
(And yes, there will be a lot more features for picking and choosing plugins in the future.)

[2018-07-17 16:52] sjmcdowall commented on #802
This would be a wonderful GIST sort of article on how to do this until the "new and improved and well documented" plugin choosing happens.  :)

[2018-07-17 16:59] benjie commented on #802
I'd recommend that instead of doing what you've done here; you should just filter the one you don't want from the array so that you still get the other graphile plugins we'll add over time. Not doing so may result in breakage as the larger plugins will likely be split up into smaller plugins over time.

[code]

Feel free to add a small section on this to the graphile docs:

https://www.graphile.or

[2018-07-17 17:01] benjie commented on #208
Awesome; doing that is on my todo list for the [examples repo](https://github.com/graphile/examples/tree/wip) I'm working on; it's very much work in progress right now though. I'm hoping having a concrete application example will help with the documentation as we can link out so you can see how it's used in context.

[2018-07-17 17:05] degroote22 commented on #208
I'll open source the code I'm working on.
It's a application server, not a library right now, let me just strip the application code and document it.
It may help you.

[2018-07-17 19:05] degroote22 commented on #208
@benjie, check it out: https://github.com/degroote22/postgraphile-apollo

[2018-07-17 19:29] benjie opened #803 "Add a `--debug` or similar CLI option to avoid needing envvars"
I'm not completely sure what options to include, or how to express them. I was considering making it a level like `--verbosity error`, 'warn', 'info', 'debug', 'excessive'. Or maybe a numeric value like `--debug 9`. Or maybe a string of keywords like `--debug sql,errors,plugins,...`. It needs to be intuitive or be able to be documented trivially in `--help`.

[2018-07-17 19:39] benjie commented on #208
Thanks for sharing! The bindings looks good, nice and clean 👍

[2018-07-17 19:54] benjie commented on #803
A number of users have expressed they find it hard to debug errors because they can't see the errors within the client and the server doesn't log them. A debug mode that outputs the input and output from PostGraphile would be helpful. Level one: queries, level 2: queries + errors, level 3: queries + errors + data, level 4: queries + errors + data + headers.

[2018-07-17 21:54] degroote22 commented on #744
I've prepared a better sample than the one I'd posted above.
Check it out: https://github.com/degroote22/postgraphile-apollo

[2018-07-18 14:37] benjie commented on #799
I don't have a strong opinion on the requestHandler front. Changing it could be perceived as a breaking change, so I'm inclined to leave it as-is. If someone wants to convince me otherwise, a good first step would be a PR proof-of-concept. Closing for now to keep things manageable.

[2018-07-18 14:37] #799 closed

[2018-07-19 16:07] mattether commented on #559
This has cropped up in a couple of places where it'd be useful for a project I'm working on.

I thought I might be able to workaround this by adding a dummy column with the comment `@omit read`, and use a before update/insert trigger to do what I wanted, but as I see now `@omit read` removes that field completely. It'd be nice if it was still available in the patch types, for create and update.

W

[2018-07-19 17:13] benjie commented on #559
Just a lack of time; thats why I require that you specify the other permissions along with `@omit read` so that in future I can remove that constraint without it being a breaking change.

(I think it was something to do with selecting the column from SQL after inserting/updating it?)

<details>
<summary>Here's a cumbersome way to achieve your goal</summary>

You can use `graphile-utils` to add an

[2018-07-20 16:11] cdaringe opened #804 "showErrorStack property does not perform as documented"
* [x] bug report

PostGraphile version: 4.0.0-rc2

Current behavior:

- showErrorStack always returns an array when present, regardless if used as a flag or with `=json`

Expected behavior:

https://github.com/graphile/postgraphile/pull/794/files/74d5a2eb564fd7201128a35242c1b32b73fac8a6#r204086721

Steps to reproduce:

the below demonstrates setting `--show-error-stack` just a flag, an option with

[2018-07-21 05:57] csnover commented on #91
Here is something I cobbled together to automate creation of the functions Postgraphile currently needs to glue many-to-many tables together until this issue gets resolved:

[code]

As can hopefully be seen, this scans for tables in the public schema that have two-column composite primary keys where the PK columns have FK references, which should handle most many-to-many tables. Insert to the `plu

[2018-07-21 08:37] benjie commented on #804
This does not occur for me:

[code]

Command: `yarn postgraphile --watch -c postgres://localhost/pggql_test --show-error-stack`

Further it seems impossible from the code:

1. assigned a boolean true here if CLI is set (note that the argument parser does not support the `=json`; it simply ignores it), or null otherwise: https://github.com/graphile/postgraphile/blob/5f48a083a5041c67ffef1acc804c3c80

[2018-07-21 09:55] benjie commented on #520
#794 is now merged; we're now 100% TypeScript 🎉

For anyone looking for simple things to do to improve our typings (a great way of contributing to the project):

- [ ] We should use `NextHandleFunction` from `connect` (`import { NextHandleFunction } from 'connect';`) in almost all places we're currently explicitly writing out `(err?: Error) => void`
- [ ] We need to add TypeScript typings to `post

[2018-07-21 09:57] benjie commented on #520
Huge thanks to @cdaringe for undertaking this; I've been putting it off for a year because I had a suspicion how much work it would be!

[2018-07-21 12:09] sjmcdowall commented on #520
Woohoo!  Can't wait to try it out and remove my old typings stuff in the project!

Is this available @next or whatever to give it a spin?

[2018-07-21 12:34] #570 closed

[2018-07-21 12:34] benjie commented on #490
Here's an example of overriding inflectors:

https://github.com/graphile-contrib/pg-simplify-inflector

[2018-07-21 12:34] #490 closed

[2018-07-21 12:40] benjie commented on #520
It will be 👍  Need to add the postgraphile-core typings first. Hoping to get an `@next` out before Thursday.

[2018-07-21 12:43] benjie commented on #800
@jclangst I think this might be solved by #258 (as described above)

[2018-07-21 12:51] benjie commented on #380
I think this is fixed.

[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-07-21 12:51] #380 closed

[2018-07-21 12:52] benjie commented on #355
Triggers are not added to GraphQL in v4 👍

[2018-07-21 12:52] #355 closed

[2018-07-21 12:57] benjie commented on #312
#nostalgia

[2018-07-21 12:57] #312 closed

[2018-07-21 12:57] benjie commented on #618
This is not an issue in v4

[2018-07-21 12:57] #618 closed

[2018-07-21 12:58] #622 closed

[2018-07-21 12:58] #375 closed

[2018-07-21 12:59] benjie commented on #393
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-07-21 12:59] #393 closed

[2018-07-21 13:29] jclangst commented on #800
I am going to swing around to looking at this and postgraphile in general today, so I'll run a check on my build that was failing earlier.

[2018-07-21 16:47] benjie commented on #800
Great; if it doesn't could you try and reproduce it in the test suite? I suspect you're going to need to change the locale settings to get it to fail; you could copy something like this:

https://github.com/graphile/graphile-build/blob/b3c4d0754f03a1319cfd119c542d4a987bc4df2f/packages/postgraphile-core/__tests__/integration/queries.test.js#L134-L136

But for the variable (?) `lc_monetary` ? Or may

[2018-07-21 16:48] benjie commented on #520
Should be able to pull `PostGraphileOptions` from postgraphile in the new release 🎉

[2018-07-21 18:00] sjmcdowall commented on #520
YAY!!!

[2018-07-22 10:38] jide commented on #91
@csnover, could you provide an example of tables to which this would apply ?

[2018-07-22 16:03] csnover commented on #91
@jide The same as in https://github.com/graphile/postgraphile/issues/91#issuecomment-308664225.

[2018-07-22 19:38] jide commented on #91
Ok, thanks !

[2018-07-22 19:56] #468 closed

[2018-07-22 19:56] #800 closed

[2018-07-22 22:19] jide commented on #91
Interestingly, with postgraphile 4, tables having a many to many relation from a two-column composite primary keys table already expose related content in generated queries. No need for a ad hoc function.

[2018-07-22 23:03] csnover opened #812 "Error when an accessible function uses an inaccessible type"
I'm submitting a ...

* [x] bug report
* [ ] feature request
* [ ] question

PostGraphile version: 4.0.0-rc.1.4

In Postgres, I tried to write a function which returned a record from a view. I granted the correct permissions on the *function*, so it was accessible to Postgraphile, but I failed to grant the correct permissions on the *view*, so the function’s return type was not visible.

[code]

A

[2018-07-22 23:06] benjie commented on #812
Please update to RC2 and/or set “ignoreRBAC: true”. I’m aware of this issue and hope to have a fix soon. Thanks for reporting 👍

[2018-07-23 00:49] jclangst commented on #800
Can confirm that this is now working with my setup which uses `C.UTF-8` as the `lc_monetary` setting! Thanks for the quick fix.

I have a quick question about the best way to handle money localization: From scanning your patch, we now convert to numeric on the db end rather than try to parse whatever is returned by the money type natively. However, why not just keep the localization and have money

[2018-07-23 01:18] jclangst commented on #800
Also, I'll plan to integrate your changes into https://github.com/graphile/graphile-build/pull/249

[2018-07-23 06:41] benjie commented on #800
Money has always worked for me, so I think it’s something environmental that caused the issue. I definitely don’t want to return money in s format that changes based on env; however you could easily implement that as a plugin.

[2018-07-23 12:20] jclangst commented on #800
Hm, my understanding is the `lc_monetary` would be the only environmental thing affecting money formatting. Perhaps we had different settings for that?

And I see your point. In our use case, keeping the database formatting works best for use as it allows for a "single source of truth" when it comes to the data and it's formatting. However, I can definitely see the loss of flexibility that would c

[2018-07-23 13:05] jclangst commented on #800
Absolutely! You are right.

On Mon, Jul 23, 2018 at 8:29 AM Benjie Gillam <notifications@github.com>
wrote:

[2018-07-24 21:51] eliecerthoms opened #813 "@omit read Crashes postgraphile."
I'm submitting a ...

* [x] bug report
* [ ] feature request
* [ ] question

PostGraphile version:

Library: postgraphile@4.0.0-rc.2

Minimal SQL file that can be loaded into a clean database:

[code]

Steps to reproduce:

Add this comment on a primary key or unique constraint
[code]
Current behavior:
The server crashes, the schema becomes unavailable in Graphiql and the following error appears: `

[2018-07-25 07:16] benjie commented on #813
It’s correct to throw an error; but it seems the error is swallowed by the build process so you don’t actually see it, instead seeing a downstream error - fhat is not correct. I’ll take a look, thanks for the report.

[2018-07-25 10:48] jide commented on #387
I would love to see this feature, so I'm willing to try to implement this in a plugin.
It's a bit scary though, the plugins api is not easy to grasp with.
I would love some baby steps directions to start this right.

The first thing I want to do is adding a hard coded union type. I guess I have to use newWithHooks(), but looking at other plugins does not help.

[2018-07-25 11:12] jide commented on #387
...or is this not even feasible in a plugin because there is no GraphQLUnionType implemented here ? https://github.com/graphile/graphile-build/blob/master/packages/graphile-build/src/SchemaBuilder.js#L159

Yes i'm kind of lost :)

[2018-07-25 11:13] sjmcdowall opened #815 "Best practice for secure Data Isolation in a Multi-Tenant System"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [X ] question

I am wondering if any has or knows a "cookbook" on how to integrate Graphql (and of course here I mean Postgraphile!) in a "best practices" method when the database is multi-tenant and we need to protect data of one customer from another.

A little background and use case:

We have a current SaaS SSR type Web application

[2018-07-25 11:13] benjie commented on #387
I have plans to add this to core, but they're not far along. My plan is:

For every table `foo` that is inherited by another table (`create table bar (...) inherits (foo);`, create an interface type named after the table `FooInterface`. Then the table type would implement this interface `type Foo implements FooInterface` and all children below there implement the interface also `type Bar implement

[2018-07-25 11:15] benjie commented on #387
That means you can't use `newWithHooks` on `GraphQLUnionType`; but you can build a raw one from graphql.js and use that. However, the issue here is you can't register the fields with the look-ahead mechanic.

A PR adding GraphQLUnionType support would be welcome; but it'd have to come with a lot of tests!

[2018-07-25 11:39] benjie commented on #815
There's a Plugin For That ™️

https://www.npmjs.com/package/postgraphile-plugin-connection-multi-tenant

I'm not sure if it's quite far enough for your goals, but it's a good start. Might be worth talking to the plugin author.

The main part is this (simplified/made explicit for your use case):

[code]

Basically this adds another check to the `WHERE` clause in the SQL query generated by the field

[2018-07-25 13:09] jide commented on #387
Thank you for the detailed response @benjie.

To be honest, this seems like a task that needs a deep knowledge of the API, and you seem to have thought this through a lot, so I guess it's hopeless for me to implement this the right way. Maybe I'll try to create simpler plugins first.

So... let us know when there is progress with this, if there is :) It's a feature every graphql->db lacks from wha

[2018-07-25 13:12] benjie commented on #813
👍  Have improved error reporting around this.

[2018-07-25 13:16] jide commented on #387
Did not see your last comment. That could be a reasonable PR, but I'm not even sure. Maybe I'll give it a shot after having read the code a little more deeply... maybe not... I'll let you know how I feel about this.

[2018-07-25 13:38] #813 closed

[2018-07-25 13:45] sjmcdowall commented on #815
Some excellent ideas!  More to think about! Thanks!

[2018-07-25 14:43] #812 closed

[2018-07-26 02:27] csnover opened #818 "Allow relation objects with non-null key columns to be defined as non-nullable in generated schema [has plugin]"
I'm submitting a ...

* [ ] bug report
* [x] feature request
* [ ] question

PostGraphile version: 4.0.0-rc.3

Minimal SQL file that can be loaded into a clean database:

[code]

Steps to reproduce:
1. Run Postgraphile in the usual manner.
2. Examine generated schema.

Current behavior: `B.aBySomeA` is specified as nullable.

Expected behavior: `B.aBySomeA` is specified as non-nullable because the

[2018-07-26 02:39] csnover commented on #818
Well, in an effort to be more helpful, I did a little digging and see that (1) this issue should probably be in the graphile-build repository (sorry about that), and (2) there is a comment in the [affected area](https://github.com/graphile/graphile-build/blob/b3270be7dbe36ffb49332ca0212b0e3fd0eacf3b/packages/graphile-build-pg/src/plugins/PgForwardRelationPlugin.js#L154) which says `// Nullable sin

[2018-07-26 06:11] benjie commented on #818
Hey, great job on the digging! I really need to get round to writing a “why is it nullable?” article in the docs!

Removing a non-null constraint is a breaking change, so this certainly wouldn’t be done by default to avoid breakage if you implemented RLS later. A plugin to make these relations non-null should be pretty simple though; you just need to replace the “type” attribute with itself but Gr

[2018-07-26 12:53] saerdnaer opened #819 "Hide connection tables in n:n relationships"
I'm submitting a ...

* [ ] bug report
* [x] feature request
* [x] question

It it possible to hide connection tables in n:n relations ships? In our example we have the tables articles, tags, and the connection table articles_tags. When I want to query all articles via the tag table I have to take the hop over articles_tags:

[code]

I'd like to change this to a direct connection without the need

[2018-07-26 20:07] brennongs commented on #707
@lskrajny Were you able to just plug and play? I'm running into all sorts of cors errors.

[2018-07-26 20:28] jptissot opened #820 "Id required in mutation when it should not"
I'm submitting a ...

* [x] bug report
* [ ] feature request
* [ ] question

PostGraphile version:

using docker-image graphile/postgraphile:latest

Minimal SQL file that can be loaded into a clean database:

[code]

Steps to reproduce:

Attempt to run a mutation without supplying the id.

Current behavior:
Mutation requires the id to be passed in instead of figuring out that it is generated
Expec

[2018-07-26 20:31] jptissot commented on #820
This is probably related to the new way of writing the PK in postgres 10.

https://blog.2ndquadrant.com/postgresql-10-identity-columns/

[2018-07-26 20:59] benjie commented on #820
I believe this is a duplicate of #631.

We do not have explicit support for identity columns yet.

[2018-07-26 21:01] jptissot commented on #820
Makes sense! Thanks for the reply. Feel free to close this

[2018-07-26 21:07] #820 closed

[2018-07-27 01:15] csnover commented on #818
I can understand not wanting to create a default-breaking change, though I guess to me this doesn’t feel any more or less plausible than a programmer altering a column’s `NOT NULL` flag, and that would cause the same kind of schema change.

---

So, I [wrote a plugin](https://gist.github.com/csnover/e0b956a53abb0986dbcca6a5f066d368) for this. It works for me, but I’m having some trouble fully gene

[2018-07-27 06:05] benjie commented on #818
withPgClient is required for when people don’t use a pgPool; for example they may want to ensure just one client is used and that it is correctly configured before handing to PostGraphile. This is particularly useful in tests.

Just using pgPool is fine, just note that’s what you do in the README 👍

RBAC support only uses GRANT right now; policies don’t affect what tables/columns you get, only the

[2018-07-27 12:50] vmengh commented on #450
Hi Benjie,
we are trying to setup postgraphql using https. which particular file will have the above configuration?
is it postgraphql.js that's in the build\postgraphql folder thats present post install.

Thanks
vmengh

[2018-07-27 13:02] sjmcdowall commented on #450
@vmengh -- I assume you are talking command line?  Benjie's example was using postgraphile as a library module and NOT using the Docker or CLI version.

If you don't want to make your own little Postgraphile server -- I am not sure the CLI version allows HTTPS easily, but using NGINX as a proxy would do the trick ... (it's a pretty common way to do https stuff) ..

[2018-07-27 15:11] benjie commented on #819
That’s the current recommended way; see https://github.com/graphile/postgraphile/issues/91

Change “returns articles” to “returns setof articles” to get more than one row 👍

[2018-07-27 18:16] benjie commented on #450
You're currently using the CLI interface, documented here:

https://www.graphile.org/postgraphile/usage-cli/

The CLI is a wrapper around the PostGraphile library, documented here:

https://www.graphile.org/postgraphile/usage-library/

The wrapper is defined in the `src/postgraphile/cli.ts` file:

https://github.com/graphile/postgraphile/blob/4362edf57e5219801a9ff166c1830309d32b0c03/src/postgraphi

[2018-07-30 17:48] jasongilman opened #821 ""Error: Type 'TestsOrderBy' has already been registered!" on startup"
I'm submitting a ...

* [x] bug report
* [ ] feature request
* [ ] question

PostGraphile version:

4.0.0-rc.2

Minimal SQL file that can be loaded into a clean database:

[code]

Steps to reproduce:

postgraphile -c postgres://XXXX:XXXX@localhost:XXXX/XXXX

Current behavior:

[code]

Expected behavior:

This is the first time I'm running postgraphile so I'm not sure what to expect other than it t

[2018-07-30 18:37] sjmcdowall commented on #821
Can you try rc.3 by using @next  ??

Not sure it will help, but it's the latest code ..

[2018-07-30 18:44] benjie commented on #821
This most likely means that two different things are trying to have the same name. Do you have, for example, a table/view called `test` and another table/view called `tests`?

[2018-07-30 18:46] benjie commented on #821
If you can share a minimal SQL file that can be loaded into a clean database then we can most likely point out what's causing the issue. Adding instrumentation for this to track where these conflicts come from is on my TODO list, but I suspect it's going to take a while to implement.

[2018-07-30 20:05] jasongilman commented on #821
I tried version 3 earlier today and it caused the same problem. I did find that in one of the schemas there is a table called "TEST" and another one called "test". I don't control the database so I can't get rid of those. Is there a way to work around the problem?

[2018-07-31 06:01] benjie commented on #821
Another way is to rename one table with a database comment using smart comments (see docs); but if that’s not an option then you can add a plugin that overrides the inflector - see recent discussion in our gitter chat.

[2018-07-31 07:38] raja1206 commented on #450
we are getting below error. pleae advise it.
[root@ip-10-82-2-118 postgraphqltest]# npm install postgraphile
npm WARN postgraphqltest@1.0.0 No description
npm WARN postgraphqltest@1.0.0 No repository field.

+ postgraphile@4.0.0-rc.2
added 38 packages, removed 1 package and updated 1 package in 7.184s
[root@ip-10-82-2-118 postgraphqltest]# node https_server.js
/u01/postgraphqltest/node_modules/pos

[2018-07-31 11:25] sjmcdowall commented on #450
What version of node -- you must have node V8.11 or higher ..  ??

[2018-07-31 11:26] raja1206 commented on #450
i am getting below error. please advise it.
[devinfamdm@ip-10-82-2-118 postgraphqltest]$ node https_server.js
/u01/postgraphqltest/https_server.js:6
key: fs.readFileSync('/u01/postgraphqltest/coip.key'),
     ^

ReferenceError: fs is not defined
    at Object.<anonymous> (/u01/postgraphqltest/https_server.js:6:6)
    at Module._compile (module.js:624:30)
    at Object.Module._extensions..js (modul

[2018-07-31 14:33] benjie commented on #450
You need “const fs = require(‘fs’)” at the top of the file. (Beware smart quotes in this message, switch to straight quotes)

[2018-07-31 15:33] korenzerah commented on #191
I had the same issue.
My application is multi-tenant using schema per "client". Therefore we had to use postgraphile on multiple identical schemas. In order to achieve that, we used the solution I found here: #427, running postgraphile on different route per client.
Wanted to ask if it seems like a good solution for this problem, to run postgraphile per client?
There is a multi-tenant plugin but i

[2018-07-31 15:42] sjmcdowall commented on #191
This isn't germain to the topic per se, but I was wondering if you had researched the use of schema / client for multi-tenant?  Doing even a causal google of different ways to do multi-tenant, the per schema approach was basically downgraded as a "bad idea" due to various issues dealing with performance, maintenance, etc.

Our multi-tenant does it based on ye olde "customer-id" column type thing .

[2018-07-31 20:45] tommyhonahan commented on #450
Hi All,
 Picking this up for Raja. We added the fs const and we are no longer getting any errors - but the server also isn't coming up. We don't get any log messages - the console just hangs. I thought it might have something to do with the https setup, so we're just trying to get an http server up and running first. I am having the same issue with http - after execution "node http_server.js" - it

[2018-07-31 21:17] benjie commented on #450
It sounds like the server is running fine; you can add your own console logs. If you load http://localhost:5000/graphiql in your browser then assuming you have graphiql:true in your options then it should work. You’re probably best talking to a developer who knows how to develop in Node.js if you want to use the library version (it’s a Node.js library), alternatively please use something else to p

[2018-08-02 05:06] raja1206 commented on #450
unable to open below https url even thougn node https.js is running port 8022
URL: https://10.82.2.118:8022/graphiql

[devinfamdm@ip-10-82-2-118 postgraphqltest]$ cat https_server.js
const fs = require("fs");
const https = require("https");
const { postgraphql } = require("postgraphql");

const options = {
key: fs.readFileSync('/u01/postgraphqltest/key.pem'),
cert: fs.readFileSync('/u01/postgraphq

[2018-08-02 06:47] benjie commented on #450
Seems like a networking or firewall issue since you’re not using localhost.

[2018-08-02 06:53] raja1206 commented on #450
Port is listenaing in server but unable to open( https://10.82.2.118:8022/graphiql)

[devinfamdm@ip-10-82-2-118 postgraphqltest]$ netstat -nap |grep 8022
(Not all processes could be identified, non-owned process info
 will not be shown, you would have to be root to see it all.)
tcp        0      0 :::8022                     :::*                        LISTEN      3368/node
[devinfamdm@ip-10-82-2-

[2018-08-02 06:55] benjie commented on #450
Yep, inferred that from the code/console. Seems like a networking or firewall issue on your server.

[2018-08-02 11:47] sjmcdowall commented on #450
telnet doesn't use https (obviously) ...

How exactly are you trying to access the https end-point of graphiql ??   What OS are you running on?

Your test below is also not valid since it appears you are doing the telnet to the same host as the server is running (if your command prompt is any indication) ...

How about if you try to telnet from a DIFFERENT host to that one?

How about trying  wget

[2018-08-02 12:02] raja1206 commented on #450
please find below updates for  yours questions.

1)How exactly are you trying to access the https end-point of graphiql ?
-------------------

https://10.82.2.118:8022/graphiql

2)What OS are you running on?
------------------------------------------

[devinfamdm@ip-10-82-2-118 ~]$ cat /etc/*-release
LSB_VERSION=base-4.0-amd64:base-4.0-noarch:core-4.0-amd64:core-4.0-noarch:graphics-4.0-amd64:graph

[2018-08-02 12:35] sjmcdowall commented on #450
Well the good news is that we have eliminated any firewall / etc. type issue :)

BTW -- when I said "exactly" I meant exactly, not what URL you were using.  If you run https://10.82.2.118:8022/graphiql <https://10.82.2.118:8022/graphiql> on a Chrome browser that can access that sub-net -- what do you get?

For the wget error -- make sure wget is up to date (yum update to the latest) -- and then if

[2018-08-02 12:56] raja1206 commented on #450
please find below udpates
1)BTW -- when I said "exactly" I meant exactly, not what URL you were using.  If you run https://10.82.2.118:8022/graphiql <https://10.82.2.118:8022/graphiql> on a Chrome browser that can access that sub-net -- what do you get?

-------------------

Below errors based on browser while accing this URL(https://10.82.2.118:8022/graphiql)

IE browser error:
-------
This page

[2018-08-02 13:25] sjmcdowall commented on #450
Can you update wget to 1.14_2 or 1.15 -- as I indicated that is the newest minimum version of wget for the new SSL stuff to work ...

And what version of IE?  Can you try the latest Chrome browser?

[2018-08-02 14:14] tommyhonahan commented on #450
Hi All,

Thanks for the help so far. We will try updating to the latest version of wget but it seems to me like we have an issue witth they key/certs. We generated the self signed key and cert using the openssl:

openssl req -x509 -newkey rsa:4096 -keyout key.pem -out cert.pem -days 365

Any idea if openssl is generating the correct type of key and cert files which can be used with our postgraphql

[2018-08-02 14:30] sjmcdowall commented on #450
You may want to verify the version of openssl you are running and also make sure it's to the very latest .. If your wget is any indication your openssl maybe way out of date as well ... Especially with self-signed certs etc.

Out of curisoity -- why aren't you running RHEL 7 .. 6 is pretty (very) old and lots of old stuff in it etc.  Old kernel, etc. Things like docker, etc. won't run very well on

[2018-08-02 14:55] tommyhonahan commented on #450
Yep you're right... openssl appears to be very old. We will update to the latest and give it a try. We have many different applications/databases installed on our AWS machines that are running on RHEL6. They were stood up ~2 years ago. We were told upgrading to RHEL7 will require a reinstall/reconfig of everything so we've been putting it off..

[2018-08-02 15:14] sjmcdowall commented on #450
Well adding graphql services appears to be a NEW application .. so perhaps standing up a micro/small Centos/RHEL 7 instance to test/try etc. (and heck, maybe even run) could be a good investment?

Maybe a good toe in the water to an eventual upgrade of the whole stack .. but certainly new functionality should look at being run on it.. <shrug>

[2018-08-03 09:30] saerdnaer commented on #819
I tried it before, but it did not work then for unknown reason. But it does now:

[code]

[2018-08-03 09:30] #819 closed

[2018-08-03 11:09] raja1206 commented on #450
we have update openssl to latest verion and we generated new keys by using below statment but still unable to browse the https URL(https://10.82.2.118:8022/graphiql)

openssl req -newkey rsa:2048 -nodes -keyout sym.key -x509 -days 365 -out sym.crt

[devinfamdm@ip-10-82-2-118 postgraphqltest]$ nohup node https_server.js &
[1] 12548
[devinfamdm@ip-10-82-2-118 postgraphqltest]$ nohup: ignoring input

[2018-08-03 11:34] sjmcdowall commented on #450
Did you update wget to 1.14_ +  and run with a -v --debug to the same URL to get more information?

[2018-08-03 15:34] chrisbull commented on #575
So I too am stuck on this Postgris problem. And I took a look at that plugin, but it doesn't work (either branch).

So @brambow has a great recommendation, but super confusing for me with the example. So after hours of research and trial and error, I stumbled on the documentation and got the computed column to work. Here is my version of the example:

[code]

and the documentation example: https:/

[2018-08-03 16:29] tommyhonahan commented on #450
We found the problem - we weren't passing the https/postgraphql options properly - had them mixed together. We can now access GraphiQL in https - but we are getting a CORS error from our React app. When we were using the CLI, we passed --cors to enable it. I saw a separate post that enableCors is the equivalent to --cors .. but it's still not working. Not sure if I'm using it properly (setting ena

[2018-08-03 16:41] sjmcdowall commented on #450
Your "options" appears suspicious -- in that you have graphiql and enableCors there AND in pgoptions .

The one in pgoptions (both graphiql and enableCors) appears to be the correct method ..

Can you use Postman (or similar) and dump out the return headers and see if Access-Control-Allow-Origin is present (that's the CORS thing)

[2018-08-03 21:53] benjie commented on #575
I recommend you enable `--dynamic-json` so you don't have to parse the JSON on the client side.

---

BTW the `wip` branch to @singingwolfboy's plugin does some work on this but it's definitely work in progress and needs documentation and tests. I'm hoping to get back to it at some point soon and at least explain how it works!

https://github.com/singingwolfboy/graphile-build-postgis/pull/1

[2018-08-06 19:19] Zhang opened #822 "Plugin mutation + default update leading to deadlock"
I'm submitting a ...

* [ ] bug report

PostGraphile version:

    "postgraphile": "4.0.0-rc.2",
    "postgraphile-core": "4.0.0-rc.4",
    psql (PostgreSQL) 10.4

Minimal SQL file that can be loaded into a clean database:

[code]
Steps to reproduce:

Create a plugin.js (I'm using sequelize here)
[code]
Run postgraphile through:
[code]
Attempt to run this mutation
[code]

Current behavior:
The mut

[2018-08-06 20:53] benjie commented on #822
You should use the pgClient on context (the third argument to your resolver) to perform the mutation within the same transaction rather than doing it in a separate transaction via sequelize (which causes conflicts). You’ll probably want to do a savepoint; try, ..., release savepoint; catch, rollback to savepoint too. Look at the registerUser example in the docs:

https://www.graphile.org/postgraph

[2018-08-06 20:54] benjie commented on #822
I meant “deadlock” not “conflict”; sorry!

[2018-08-07 10:28] raja1206 commented on #450
i am getting below error message. please advise it to resolve this issue.

[devinfamdm@ip-10-82-2-118 postgraphqltest]$ node https_server.js
/u01/postgraphqltest/https_server.js:19
https.use(cors());
      ^

TypeError: https.use is not a function
    at Object.<anonymous> (/u01/postgraphqltest/https_server.js:19:7)
    at Module._compile (module.js:624:30)
    at Object.Module._extensions..js (mo

[2018-08-07 10:47] sjmcdowall commented on #450
Using simple http is no longer sufficient ..

You need an express server to use the .use and stuff ..

It’s not that much code to add . Plenty of google examples for a basic simple Express application ..

Also you want cors() BEFORE almost any other .use() when you do express.. order is important ..

Sent from my iPad

[2018-08-07 18:52] sjmcdowall commented on #815
So what makes this more difficult in our use case is that we have some pretty complex "roles" and -- worse -- there isn't a single 1:1 relationship between a user who signs in .. and the customer .. they can actually belong to multiple customers .. sort of like github and the different orgs you can belong to..

Also -- some users are "super user admins" -- who can do anything to any customer .. so

[2018-08-08 08:11] benjie commented on #812
This should be fixed in RC3 (available now)

[2018-08-08 19:42] benjie opened #824 "Add JWT claims to GraphQL context (so plugins can access them)"
Temporary workaround: use `additionalGraphQLContextFromRequest` with the library version and parse the JWT again yourself. Sorry.

[2018-08-08 19:48] sjmcdowall commented on #824
Do you have a little example code snippet for this?

The reason I ask is that we are creating some mutations -- some of which access external REST api's and we need to pass our Authorization Header with our Bearer token downstream to the rest API's and I was wondering how to access the req.headers within our mutation logic?

[2018-08-08 20:54] benjie commented on #824
Add to your PostGraphile options something like:

[code]

JWT parsing is left as an exercise to the reader.

[2018-08-08 21:52] tommyhonahan commented on #450
We changed our server.js to use express instead of https. We have enabled cors in express, as well as in https.createserver. We also have enableCors set to true in our postgraphile options. When we try to hit the end point through apollo we still get the CORS error. If we don't use https and just run the app through express alone, we don't get the CORS error. Only when using https does it no longe

[2018-08-08 23:08] sjmcdowall commented on #824
We actually parse the JWT and add it to the Koa Context before postgraphile is called, so our JWT should be in the context (ctx) ..but we're not seeing it?  I am pretty sure the access is via "ctx.state.jwt" ..

 Is that routine above ONLY for the request object off the context or can we access any item that's on the context (and the context is the "context" that is passed in from Koa/Express, rig

[2018-08-08 23:21] sjmcdowall opened #825 "All delegation of JWT logic"
I'm submitting a ...

* [ ] bug report
* [X ] feature request
* [ ] question

PostGraphile version: 4rc3

-- Library usage --

We process and perform our own JWT generation and validation in a middleware call before postgraphile is in the stack.  Hence, there already is a JWT in the context ready for use..

There should be an option to allow a "callback" function (or specify an item in the context

[2018-08-09 07:31] benjie commented on #825
That’s what the pgSettings function is for. Here’s an example of using it with Koa:

https://github.com/graphile/examples/blob/master/server-koa2/middleware/installPostGraphile.js#L30

[2018-08-09 10:45] sjmcdowall commented on #824
Exctly what I came up with in a dream last night!  :)

THanks!

[2018-08-09 10:46] sjmcdowall commented on #825
Ah ha!  So many options so little time! And with Koa even!  :)

[2018-08-09 12:27] #825 closed

[2018-08-10 11:11] danielberndt opened #826 "[4.0.0-rc.3] Typescript: Invalid module name in augmentation"
Hi there, I've just tried to setup rc.3 in a typescript 3 project. I can't get it to run due to lack of typings for `"postgraphile-core"` however.

If I add postgraohile to my project I receive this message:

[code]

If I add custom typings in my types.d.ts for `'postgraphile-core'` I receive this message however:

[code]

I use typescript 3.0.1 with this tsconfig:

[code]

[2018-08-10 11:26] sjmcdowall commented on #826
Here are "my" graphile-core files.  I created in my project (which is a TS 2.9.3 granted) a folder called "graphile-core" and then an index.d.ts below that with the below and don't have any issues:

declare module 'postgraphile-core' {
  import { GraphQLError, ExecutionResult } from 'graphql';
  import { IncomingMessage, ServerResponse, Server } from 'http';
  import * as jwt from 'jsonwebtoken';

[2018-08-10 11:52] benjie opened #827 "Null row detection false positives"
A query that doesn't include the PK or nodeId and only includes nullable fields, e.g.:

[code]

can result in certain rows being returned as null rather than their fields being null; e.g.:

[code]

whereas we'd expect:

[code]

Fix method: include the primary key column(s) when pulling down a row even if it wasn't requested, if the PKs are null then the row is null. This is safer than checking the

[2018-08-10 16:55] james-ff opened #828 "Filter is missing from schemas output from exportGqlSchemaPath"
I'm submitting a ...
* [x] bug report (possibly)

PostGraphile version:
- 4.0.0-rc.3

postgraphile-plugin-connection-filter version:
- 1.0.0-beta.14

Steps to reproduce:

I'm using a React frontend with Apollo Client as a GraphQL client that connects to a postgraphile api. For some reason "filter" arguments give the error below, but other filter type arguments like "condition" or "after" do not. T

[2018-08-10 17:00] sjmcdowall commented on #828
How about including the whole graphql query ??

And if it did not happen in the past -- what versions of the libraries changed?  Besides postgraphile -- how about the React version,  Apollo Client version?  Did the underlying schema change?  What all has changed?

Interesting that GraphiQL accepts and returns the data correctly..

[2018-08-10 17:08] benjie commented on #828
The error you have there is from GraphQL; it's basically saying that "filter" is not part of your GraphQL schema in that location. I think your Apollo client is talking to a different GraphQL endpoint than GraphiQL is - probably one that doesn't have the filter plugin loaded. This implies you're running two versions of PostGraphile somehow?

[2018-08-10 18:13] james-ff commented on #828
After more exploring I have the following conclusions
- This is not Apollo Client
- This is likely an issue with the schema file output by postgraphile

For my use case I use the output of `exportGqlSchemaPath` to create a remote executable schema for a postgraphile instance (so that I can merge the schema with other schemas / write my own backend logic / connect to other graphql endpoints).

I ha

[2018-08-11 14:01] james-ff commented on #828
TL;DR

`exportGqlSchemaPath` is not including 'filter' attributes in the schema output

[2018-08-11 19:30] benjie commented on #828
I'm sorry; I cannot reproduce this issue. Please provide a reproducible example.

Here's what I did:

[code]

Then I put this in server.js:

[code]

Then I ran server.js via `node server.js` and that generated the schema.graphql file that contained:

[code]

As you can see, the `filter` option is available on the allFoos connection, as expected.

<details>
<summary>Full schema</summary>

[code]
</

[2018-08-12 04:51] edqallen commented on #590
Benjie,

I'm revisiting this nearly a year later and without opening another ticket, I'm curious to know if any additional support for this sort of plugin has made it into the 4.0 branch?  An (over simplified) example of what I want to do would be to validate a value against a regex prior to the mutation making it to the DB.

TIA!

[2018-08-12 06:05] benjie commented on #590
Yeah, sounds like you want to wrap the mutation resolvers:

https://www.graphile.org/postgraphile/extending/#wrapping-an-existing-resolver

Let me know what questions you have the docs don’t answer 👍

[2018-08-13 02:04] michaelg02 commented on #677
Yarn resolution worked for me:

  "dependencies": {
    "babel-cli": "^6.26.0",
    "config": "^1.26.2",
    "cookie-parser": "^1.4.3",
    "dotenv": "^4.0.0",
    "express": "^4.13.3",
    "graphql": "0.13.2",
    "node-fetch": "^1.7.3",
    "postgraphile": "^4.0.0-alpha2.20"
  },
  "resolutions": {
    "postgraphile/graphql": "0.13.2"
  },

[2018-08-13 14:05] james-ff commented on #828
Hi @benjie,

I feel really silly, I hadn't appended the filter plugin to the postgraphile options. After adding it the schema output works as intended. Thank you for providing the example, this is what made me realise the cause.

[2018-08-13 14:05] #828 closed

[2018-08-13 14:06] benjie commented on #828
Thanks for reporting back 👍

[2018-08-14 12:26] edqallen commented on #590
That link was a big help, got the example sorted.  Before I continue, is this ticket the right place to continue this discussion?

All I want now is an easy way to get the name of the table I'm working on without the calling context on it -- e.g. reliably getting the name "Foo" from a mutation like "updateFooBySomeField" or "createFoo" or whatever.  I didn't see the name anywhere in the available

[2018-08-14 13:45] benjie commented on #590
Sorry about the poor documentation on this (help fixing it would be greatly appreciated once you've figured it out!); plugin hooks take three arguments `(thing, build, context)`; the `context` argument contains a `scope` property that tells you about the scope that the current hook is running in. This contains lots of useful information; I think you're either after `pgIntrospection` or `pgIntrospe

[2018-08-15 08:10] benbonnet opened #830 "express integration"
I'm submitting a :

* [ ?] bug report
* [ ] feature request
* [ x] question

PostGraphile version: latest

Minimal SQL file that can be loaded into a clean database: N/A

Steps to reproduce:

Using the following config :

[code]
Current behavior: Stuck with `cannot get /graphiql`

Expected behavior: Able to access `/graphiql` endpoint

I can read at the bottom of [this page](https://www.graphile.o

[2018-08-15 10:49] benjie commented on #815
I typically do something like this:

[code]

Performance wise:

- the `current_user_organization_ids` function is a simple SQL statement that uses an index (the first column of the primary key) so can execute extremely quickly.
- the `current_user_organization_ids(true)` function call has no non-constant arguments so PostgreSQL can call it once up front and use the result for the rest of the state

[2018-08-15 12:09] benjie commented on #356
This isn't an issue in v4, I just checked 👍

[2018-08-15 12:09] #356 closed

[2018-08-15 12:11] benjie commented on #358
v4 treats numeric as a string (specifically a `BigFloat`); documented here:

https://www.graphile.org/postgraphile/v3-migration/#very-large-numbers

This was a breaking change.

[2018-08-15 12:11] #358 closed

[2018-08-15 13:10] benjie commented on #569
This is fixed; I've also added tests to enforce the current behaviour as changing it would be a security-impacting breaking change. #831

[2018-08-15 13:10] #569 closed

[2018-08-15 15:02] avkonst commented on #592
Prisma has got db schema bootstrapping and migration based on graphql file. If I bootstrap using prisma, will graphile be able to generate correct and efficient queries to the db?

[2018-08-15 15:07] benjie commented on #592
Probably; we accept a wide range of databases. I think Prisma tends to make quite complex databases though (e.g. even for a one-to-one relationship they create a join table, I think?) so the schema might end up being pretty verbose. Give it a go - I'd love to hear how you get on 👍

[2018-08-15 15:37] benjie commented on #827
I'm going to address this along with other query builder related issues in 4.1 - it's not a major issue and trivial to work around (just request a non-nullable field too, such as the `nodeId`, which you should be requesting anyway so that your client caches correctly) so not worth holding the 4.0 release up. I've added a failing test on this branch:

https://github.com/graphile/graphile-build/comp

[2018-08-15 15:41] benjie commented on #277
PostGIS functions aren't added in v4; and there's the beginnings of work on a postgis plugin here:

https://github.com/singingwolfboy/graphile-build-postgis/tree/wip

[2018-08-15 15:41] #277 closed

[2018-08-15 15:44] benjie commented on #824
Solved by https://github.com/graphile/postgraphile/pull/829

[2018-08-15 15:44] #824 closed

[2018-08-15 16:01] benjie commented on #47
I'm closing this; if you need this functionality then @mattbretl's plugin is the best bet, and I've added it to the filtering docs as @pyramation suggested 👍

[2018-08-15 16:01] #47 closed

[2018-08-15 16:02] benjie commented on #50
I think this should be pretty easy to implement; so a PR would be welcome. You can also implement this yourself using `pgSettings` and bypassing the built in JWT support.

[2018-08-15 16:04] benjie commented on #82
Does anyone fancy writing up a guide for the website on how to use PM2 in production?

[2018-08-15 16:07] benjie commented on #150
I'm going to close this as I'm not keen to add another server to support; anyone who needs it should check out @mshick's module 👍

@mshick if you want I'd be happy for you to move that module under https://github.com/graphile-contrib - you're welcome to leave it where it is though! Completely up to you.

[2018-08-15 16:07] #150 closed

[2018-08-15 16:10] benjie commented on #181
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-08-15 16:10] #181 closed

[2018-08-15 16:17] benjie commented on #191
You can provide custom inflectors quite easily in v4; e.g. if you wanted to change the patch input to update mutation from `*Patch` to `*ChangeSet` you could create a plugin like this:

MyInflectorPlugin.js:
[code]

Then ``--append-plugins `pwd`/MyInflectorPlugin.js``

The built in inflectors are defined in PgBasicsPlugin; you can overwrite any that you want. Be sure to **not** use arrow functions

[2018-08-15 16:17] benjie commented on #207
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-08-15 16:17] #207 closed

[2018-08-15 16:18] benjie commented on #207
(Pretty sure this is fixed in v4 BTW.)

[2018-08-15 16:28] benjie commented on #314
Thanks for the great test case @angelosarto; can confirm this is fixed in v4 👍

[2018-08-15 16:28] #314 closed

[2018-08-15 16:32] benjie commented on #332
I'm going to close this because there's been no movement on it. I'm happy with [the authenticator / visitor setup I use](https://github.com/graphile/examples/blob/bb0a3a24b83dcd71706d2134abba8c6373f1c169/setup.sh#L97-L114) and it's possible to implement the lower level access yourself if you need to by writing your own wrapper around the GraphQL schema.

If there's more interest in this, however,

[2018-08-15 16:32] #332 closed

[2018-08-15 16:33] benjie commented on #349
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-08-15 16:33] #349 closed

[2018-08-15 16:39] benjie commented on #388
Thanks for the test case; can confirm this is fixed in v4:

![screenshot 2018-08-15 17 39 08](https://user-images.githubusercontent.com/129910/44160369-24fd4100-a0b2-11e8-8f3a-50db3f3afcb5.png)

[2018-08-15 16:39] #388 closed

[2018-08-15 16:40] #394 closed

[2018-08-15 16:41] benjie commented on #422
Closing this since it's possible via @mattbretl's plugin; see:

https://github.com/graphile/postgraphile/issues/47#issuecomment-413245026

[2018-08-15 16:41] #422 closed

[2018-08-15 16:44] benjie commented on #430
Relates also to https://github.com/graphile/postgraphile/issues/386

I think we can use indexes to detect the computed columns that are suitable for use in both conditions and order by.

[2018-08-15 16:46] benjie commented on #499
This is possible (and easy to achieve) via `pgSettings`; I'm going to close this for now.

https://www.graphile.org/postgraphile/usage-library/#pgsettings-function

[2018-08-15 16:46] #499 closed

[2018-08-15 16:47] benjie commented on #465
We now have `Failed to add function` warnings; hopefully that will help 👍

https://github.com/graphile/graphile-build/blob/0fce134cac219d196ec97ead668ddbef7140b66c/packages/graphile-build-pg/src/plugins/PgQueryProceduresPlugin.js#L85-L95

[2018-08-15 16:47] #465 closed

[2018-08-15 16:48] benjie commented on #501
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-08-15 16:48] #501 closed

[2018-08-15 17:01] benjie commented on #505
Thanks for this @ppKrauss; since there's not been any more comments here I've moved the instructions to the TROUBLESHOOTING file itself, as a comment.

[2018-08-15 17:01] #505 closed

[2018-08-15 17:01] #516 closed

[2018-08-15 17:02] benjie commented on #531
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it. (Thanks @amizz )

[2018-08-15 17:02] #531 closed

[2018-08-15 17:07] benjie commented on #545
You can provide custom inflectors quite easily in v4 now; e.g. if you wanted to change the patch input to update mutation from `*Patch` to `*ChangeSet` you could create a plugin like this:

MyInflectorPlugin.js:
[code]

Then ``--append-plugins `pwd`/MyInflectorPlugin.js``

The built in inflectors are defined in PgBasicsPlugin; you can overwrite any that you want. Be sure to **not** use arrow funct

[2018-08-15 17:07] #545 closed

[2018-08-15 17:09] benjie commented on #552
We have `quacksLikePgPool` now; so due to this duck-typing this shouldn't be an issue any more.

[2018-08-15 17:09] #552 closed

[2018-08-15 17:12] benjie commented on #565
The current status on this is that you can copy the `performQuery` function from the docs and use that: https://www.graphile.org/postgraphile/usage-schema/

I'm going to leave this open though, because we can still do better.

[2018-08-15 17:13] #566 closed

[2018-08-15 17:16] benjie commented on #576
This is now possible via two methods:

1. Smart comments: https://www.graphile.org/postgraphile/smart-comments/#omitting

2. `--no-ignore-rbac` / `ignoreRBAC: false` - and then revoking the relevant method on the table.

[2018-08-15 17:16] #576 closed

[2018-08-15 17:27] #577 closed

[2018-08-15 18:12] benjie commented on #11
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-08-15 18:12] #11 closed

[2018-08-15 18:14] #50 closed

[2018-08-15 18:37] benjie commented on #82
[semi-automated message] We try and keep the open issues to actual issues (bugs, etc); this seems like more of a discussion right now, so I'm closing it but please feel free to keep discussing it below 👍

[2018-08-15 18:37] #82 closed

[2018-08-15 18:39] benjie commented on #235
[semi-automated message] We try and keep the open issues to actual issues (bugs, etc); this seems like more of a discussion right now, so I'm closing it but please feel free to keep discussing it below 👍

[2018-08-15 18:39] #235 closed

[2018-08-15 18:40] benjie commented on #248
There's examples in the docs now:

https://www.graphile.org/postgraphile/examples/

[2018-08-15 18:40] #248 closed

[2018-08-15 18:41] benjie commented on #279
If you want to do this, your best bet currently is to add your own CORS middleware and use the library version in your Express app.

[2018-08-15 18:41] #279 closed

[2018-08-15 18:43] benjie commented on #289
There's at least two ways of selectively disabling mutations in v4:

1. Smart comments: https://www.graphile.org/postgraphile/smart-comments/#omitting

2. `--no-ignore-rbac` / `ignoreRBAC: false` - and then revoking the relevant method on the table.

[2018-08-15 18:43] #289 closed

[2018-08-15 18:46] benjie commented on #307
[semi-automated message] We try and keep the open issues to actual issues (bugs, etc); this seems like more of a discussion right now, so I'm closing it but please feel free to keep discussing it below 👍

[2018-08-15 18:46] #307 closed

[2018-08-15 18:46] benjie commented on #310
This is now documented here: https://www.graphile.org/postgraphile/debugging/#step-4-viewing-the-generated-sql

[2018-08-15 18:46] #310 closed

[2018-08-15 18:50] #357 closed

[2018-08-15 18:51] benjie commented on #361
Closing this for now since a plugin is available 👍

[2018-08-15 18:51] #361 closed

[2018-08-15 18:57] benjie commented on #376
I'd still love some sponsorship to specifically dig into views 👍 Reach out over email, twitter or gitter if you'd like to discuss this.

[2018-08-15 19:03] benjie commented on #509
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2018-08-15 19:03] #509 closed

[2018-08-15 19:03] benjie commented on #520
[semi-automated message] We try and keep the open issues to actual issues (bugs, etc); this seems like more of a discussion right now, so I'm closing it but please feel free to keep discussing it below 👍

[2018-08-15 19:03] #520 closed

[2018-08-15 19:07] benjie commented on #521
I somehow missed your comment @Chuckatron, I'm sorry about that. I would achieve your request with database triggers, probably something that triggers a `NOTIFY` which one of my node-postgres clients can `LISTEN` for. I'd achieve @mcongy's emails task with a work queue; like this:

https://github.com/graphile/examples/blob/7b9a0aa8e7fc300561014b0e61898c429b5df2d8/db/400_users.sql#L128-L131

[2018-08-15 19:07] #521 closed

[2018-08-15 19:07] benjie commented on #523
[semi-automated message] We try and keep the open issues to actual issues (bugs, etc); this seems like more of a discussion right now, so I'm closing it but please feel free to keep discussing it below 👍

[2018-08-15 19:07] #523 closed

[2018-08-15 19:14] benjie commented on #533
`graphile-utils` exists now which makes it a bit easier to add certain types of plugins (e.g. ones that add fields/types):

https://www.graphile.org/postgraphile/extending/#the-easy-way-graphile-utils

I'm sticking with using GraphQL errors, but do note that we now expose the `handleErrors` function for you to override, so you can add whatever detail you like to the error (or even replace it compl

[2018-08-15 19:14] #533 closed

[2018-08-15 19:15] benjie commented on #542
[semi-automated message] We try and keep the open issues to actual issues (bugs, etc); this seems like more of a discussion right now, so I'm closing it but please feel free to keep discussing it below 👍

[2018-08-15 19:15] #542 closed

[2018-08-15 19:16] benjie commented on #557
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

If you need it, this functionality is available in the pro plugin.

[2018-08-15 19:16] #557 closed

[2018-08-15 19:18] benjie commented on #567
I'm no longer requiring the add-to-docs issues to be open (we can remove the add-to-docs label when we've done it instead); so closing this 👍

[2018-08-15 19:18] #567 closed

[2018-08-15 19:27] #572 closed

[2018-08-15 19:28] benjie commented on #575
[semi-automated message] We try and keep the open issues to actual issues (bugs, etc); this seems like more of a discussion right now, so I'm closing it but please feel free to keep discussing it below 👍

[2018-08-15 19:28] #575 closed

[2018-08-15 19:30] benjie commented on #580
[semi-automated message] We try and keep the open issues to actual issues (bugs, etc); this seems like more of a discussion right now, so I'm closing it but please feel free to keep discussing it below 👍

[2018-08-15 19:30] #580 closed

[2018-08-15 19:31] benjie commented on #580
(I'm deeming this a "gotcha" rather than a bug, since it's an issue with the underlying PostgreSQL software.)

[2018-08-15 19:32] benjie commented on #592
[semi-automated message] We try and keep the open issues to actual issues (bugs, etc); this seems like more of a discussion right now, so I'm closing it but please feel free to keep discussing it below 👍

[2018-08-15 19:32] #592 closed

[2018-08-15 19:33] benjie commented on #593
Matt's plugin above now supports filtering by computed columns 👍

[2018-08-15 19:33] #593 closed

[2018-08-15 19:34] benjie commented on #594
This issue is solved by Matt's plugin 👍

[2018-08-15 19:34] #594 closed

[2018-08-15 19:35] benjie commented on #596
There is now at least two different methods of disabling the default mutations (without having to write a plugin):

1. Smart comments: https://www.graphile.org/postgraphile/smart-comments/#omitting

2. `--no-ignore-rbac` / `ignoreRBAC: false` - and then revoking the relevant method on the table.

[2018-08-15 19:35] #596 closed

[2018-08-15 19:37] benjie commented on #598
Very soon 🙊

You can provide custom inflectors quite easily in v4; e.g. if you wanted to change the patch input to update mutation from `*Patch` to `*ChangeSet` you could create a plugin like this:

MyInflectorPlugin.js:
[code]

Then ``--append-plugins `pwd`/MyInflectorPlugin.js``

The built in inflectors are defined in PgBasicsPlugin; you can overwrite any that you want. Be sure to **not** use ar

[2018-08-15 19:37] #598 closed

[2018-08-15 19:39] benjie commented on #599
Errors are available using `DEBUG=postgraphile:postgres:error`:

https://www.graphile.org/postgraphile/debugging/

We still need to improve the error situation; help with that would be welcome 👍

[2018-08-15 19:39] #599 closed

[2018-08-15 19:39] #600 closed

[2018-08-15 19:40] benjie commented on #603
Closing in favour of #387

[2018-08-15 19:40] #603 closed

[2018-08-15 19:44] benjie commented on #611
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-08-15 19:44] #611 closed

[2018-08-15 19:45] benjie commented on #623
This was added by the above commit 🙏

[2018-08-15 19:45] #623 closed

[2018-08-15 19:50] benjie commented on #626
You can provide custom inflectors quite easily in v4. In this case we can override the `allRows` method to trim the `all-` prefix:

MyInflectorPlugin.js:
[code]

Then ``--append-plugins `pwd`/MyInflectorPlugin.js``

---

The built in PG inflectors are defined in `makeNewBuild` and `PgBasicsPlugin`; you can overwrite any that you want. Be sure to **not** use arrow functions otherwise you'll overrid

[2018-08-15 19:50] #626 closed

[2018-08-15 19:51] #604 closed

[2018-08-15 19:57] benjie commented on #627
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-08-15 19:57] #627 closed

[2018-08-15 19:58] benjie commented on #629
Almost a year has gone by, we should definitely switch over to using `missing_ok` now. This would be a very simple PR for someone if they want it 👍

[2018-08-15 20:00] benjie commented on #634
Query batching support is available now via `--enable-query-batching`

[2018-08-15 20:00] #634 closed

[2018-08-15 20:05] benjie commented on #645
Hey @corporatepiyush Have you been using Citus with PostGraphile? Any issues?

[2018-08-15 20:06] benjie commented on #661
I think we've managed to push through this. Sorry (on Relay's behalf 😉) for the pain. I'm going to close this now 👍

[2018-08-15 20:06] #661 closed

[2018-08-15 20:09] sfkeller commented on #575
Since we are still in the discussion phase ;-) it's interesting to see how others implemented it: See https://github.com/hasura/graphql-engine/search?q=geometry .

Can anyone comment how Hasura compares to PostGraphile and if the Hasura approach could help implementing geometry/geography in PostGraphile?

[2018-08-15 20:12] benjie commented on #663
Of interest:

- https://github.com/chadfurman/rpg-boilerplate
- https://chads.website/development/2018/08/03/How-GraphQL-Saved-My-Project.html
- https://www.youtube.com/watch?v=4in5QbFyodA

[2018-08-15 20:12] #663 closed

[2018-08-15 20:15] benjie commented on #673
This issue was solved in 3.5.5 👍

https://github.com/graphile/postgraphile/releases/tag/v3.5.5

[2018-08-15 20:15] #673 closed

[2018-08-15 20:19] benjie commented on #575
I'd certainly be interested to hear how their PostGIS support compares to that in the wip branch of graphile-build-postgis. 👍

[2018-08-15 20:47] sfkeller commented on #575
From what I understood, they don't change the json output (no GeoJSON) and use views (to be exposed to GraphQL) which contain functions from PostGIS and Timescale. There's a video "Dashboard for 10million rides with geo-location (PostGIS, Timescale)" https://youtu.be/tsY573yyGWA?t=56s on https://github.com/hasura/graphql-engine .

[2018-08-15 20:59] barbalex commented on #634
@benjie Sounds great. Where is that documented?

[2018-08-15 21:59] benjie commented on #634
It's just that option; or for the [library](https://www.graphile.org/postgraphile/usage-library/) `enableQueryBatching: true`.

As for the client side, for Apollo, you can use the [BatchHttpLink](https://www.apollographql.com/docs/link/links/batch-http.html) link - something like:

[code]

I've no experience using batching with other GraphQL clients.

[2018-08-15 22:07] benjie commented on #683
This is still an issue in PostGraphile v4. It seems to be an issue with PostgreSQL itself, for example if I create a simple view as `select * from source` then PostgreSQL reports those columns as being nullable. I'm not sure how to determine that there's a not-null clause for a view. 😞

[code]

[2018-08-15 22:17] benjie commented on #688
I'm still happy with our use of JSON, I'm going to close this for now but if anyone finds any other GraphQL tools that suffer due to `--dynamic-json` please let me know below.

[2018-08-15 22:17] #688 closed

[2018-08-15 22:25] benjie commented on #731
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-08-15 22:25] #731 closed

[2018-08-15 22:27] benjie commented on #735
Note to self: check that update/delete works without primary key but with a unique index. (We can't update a row that has no unique indexes as we have nothing to identify the row, but we don't technically need a PK.)

[2018-08-15 22:30] benjie commented on #743
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-08-15 22:30] #743 closed

[2018-08-15 22:34] benjie commented on #745
So something like:

[code]

Closing due to inactivity; feel free to re-open.

[2018-08-15 22:34] #745 closed

[2018-08-15 22:37] benjie commented on #754
[semi-automated message] We try and keep the open issues to actual issues (bugs, etc); this seems like more of a discussion right now, so I'm closing it but please feel free to keep discussing it below 👍

[2018-08-15 22:37] #754 closed

[2018-08-15 22:38] benjie commented on #760
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2018-08-15 22:38] #760 closed

[2018-08-15 22:40] benjie commented on #765
Docs site is now much wider 👍

[2018-08-15 22:40] #765 closed

[2018-08-15 22:43] benjie commented on #804
If you manage to reproduce this with a clean install of the latest code, please re-open.

[2018-08-15 22:43] #804 closed

[2018-08-15 22:43] benjie commented on #815
[semi-automated message] We try and keep the open issues to actual issues (bugs, etc); this seems like more of a discussion right now, so I'm closing it but please feel free to keep discussing it below 👍

[2018-08-15 22:43] #815 closed

[2018-08-15 22:46] benjie commented on #821
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2018-08-15 22:46] #821 closed

[2018-08-15 22:46] benjie commented on #822
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2018-08-15 22:46] #822 closed

[2018-08-16 04:11] avkonst commented on #592
Here is the schema rendered by prostgraphile for the database created by prisma :) Relations are definitely with one unnecessary level of indirection. I guess prisma should have worse latency and performance on relationship traversal and inserts, as it needs to arrange for one additional insert and select every time jumping from posts to users and from users to posts.

[code]

[2018-08-16 06:50] benjie commented on #592
Looks like we have no trouble actually running it though 👍

[2018-08-16 07:56] benbonnet commented on #830
damn i see; makes perfectly sense. thx a lot!

[2018-08-16 11:05] #311 closed

[2018-08-16 11:05] #571 closed

[2018-08-16 11:05] benjie commented on #311
v4.0.0-rc4 will contain hstore support

[2018-08-16 11:05] benjie commented on #571
v4.0.0-rc4 will contain hstore support

[2018-08-16 14:50] benjie commented on #735
It doesn't; due to a silly error in the code - I accidentally did `if (!primaryKeyConstraint) return` [here](https://github.com/graphile/graphile-build/blob/b5f48c770cb42704365f1a15d7e8090abaf77bd8/packages/graphile-build-pg/src/plugins/PgMutationUpdateDeletePlugin.js#L281-L283) and so it skipped running the logic for the later unique keys. Fixing it now 👍

[2018-08-16 14:55] benjie commented on #735
Fixed in https://github.com/graphile/graphile-build/pull/278

[2018-08-16 14:55] #735 closed

[2018-08-16 15:08] benjie commented on #683
Since this seems to be an issue in Postgres itself asserting that the column is nullable I'm going to close it for now. Will probably revisit when I get around to optimising our support for views. (Sponsorship for improving views would be welcome!)

[2018-08-16 15:08] #683 closed

[2018-08-16 15:10] benjie commented on #645
[semi-automated message] We try and keep the open issues to actual issues (bugs, etc); this seems like more of a discussion right now, so I'm closing it but please feel free to keep discussing it below 👍

[2018-08-16 15:10] #645 closed

[2018-08-16 15:30] benjie commented on #768
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. I'd still be interested to see someone start work on it, feel free to re-open if you want to do so 👍

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-08-16 15:30] #768 closed

[2018-08-16 15:32] benjie commented on #705
I want to deprecate the existing postgraphilerc file and add a better one that uses the library options (which are better documented and more flexible).

[2018-08-16 15:34] #629 closed

[2018-08-17 01:34] avkonst opened #836 "Question: can I sign JWT token for postgraphile in my application?"
I'm submitting a ...

* [x] question

I like the feature of postgraphile setting current user context for SQL queries as it is described [here](https://www.graphile.org/postgraphile/security/#how-it-works)

I wonder if it is correct to create JWT token for postgraphile requests (I am using it as a library not as standalone web service) using the login similar to this:

[code]

or is it expected th

[2018-08-17 02:04] avkonst opened #837 "Please clarify pricing tiers"
I'm submitting a ...

* [x] question

Subscription plugin requires supporter tier.

[Here](https://www.graphile.org/postgraphile/pricing/) supporter tier starts from $1. [Here](https://www.patreon.com/benjie) supporter tier is $20. Which one is right?

[2018-08-17 05:38] avkonst commented on #84
Has the issue been created for the last comment: https://github.com/graphile/postgraphile/issues/84#issuecomment-404582793

I have got the same problem.

[2018-08-17 06:29] benjie commented on #837
The supporter plugin doesn’t require you to select a tier on Patreon, just to give any amount (pay what you want). I can see now that using the term “supporter” for both of these is confusing, I’ll have a think 👍

[2018-08-17 07:52] troelsh commented on #376
@benjie We reverted away from postgraphile and did our own script that generates "physical" files for each table, that we then can edit or add on top of.

The drawback is that schema changes in the DB will require manual changing of the corresponding files. But that solved our headache for now.

If we hadn't done that i would gladly have talked some sponsorship. :/

[2018-08-17 07:55] benjie commented on #376
It's possible that this plugin may work for view relations; I've not tried it yet:

https://github.com/tngmichael/pg-relation-tag-plugin

[2018-08-17 08:18] benjie commented on #376
@troelsh Fair enough! Have you seen `graphile-utils`? It gives you a `graphql-tools`-style way of extending the generated schema: https://www.graphile.org/postgraphile/extending/#the-easy-way-graphile-utils

i.e. you can do

[code]

and add your own custom resolver for that (which can call into our look-ahead enabled SQL planning if you want).

My ultimate aim is to make it so people building thei

[2018-08-17 08:27] benjie commented on #84
So the bug is actually that we're sending `Access-Control-Request-Method` rather than `Access-Control-Allow-Methods`; not sure how this has never been spotted before! Raising a PR now.

[2018-08-17 08:29] benjie commented on #84
https://github.com/graphile/postgraphile/pull/838

[2018-08-17 08:57] benjie commented on #84
So the issue actually seems to be that they're setting an `X-Apollo-Tracing` header. I'm going to add that to the PR too, seems harmless.

[2018-08-17 11:36] troelsh commented on #376
@benjie as we reverted away i have been out of the loop with postgraphile. However i have some new projects where it would kick ass to use it.

I will try and revisit det docs.

OT are there any plans of attending any conference or meetups with regards to postgraphile? I have sent you guys a mail at info@graphql-training.com

[2018-08-17 12:12] benjie commented on #376
I was at GraphQL EU and I’ll be at GraphQL Finland 👍 I’d love to attend more meetups/etc, but I’ve got quite limited time at the moment. Are there any meetups in particular you’re thinking about?

[2018-08-19 15:26] idkjs commented on #796
Just came across this issue too.
[code]

Postgres -V
[code]

Is the temporary solution to downgrade to postgres10?

Thank you.

[2018-08-19 16:29] benjie commented on #796
Yeah; I'm afraid so, sorry 😞 If someone wants to take this on, please speak with me first (we should solve some PG10 issues at the same time). 👍

[2018-08-19 16:50] idkjs commented on #796
Postgres10 works. Thanks.

[2018-08-19 16:52] benjie commented on #796
Yeah, mostly. It's the `GENERATED ALWAYS AS IDENTITY` feature we don't support; ref: #631

[2018-08-20 22:50] avkonst commented on #450
Letting you know that I published starter project for backend development. It uses postgraphile as a library, based on Apollo Server 2.0 and leverages automated code generation and database schema migrations. Check it out here https://github.com/avkonst/graphql-postgraphile-typeorm-starter

[2018-08-20 22:50] avkonst commented on #44
Letting you know that I published starter project for backend development. It uses postgraphile as a library, based on Apollo Server 2.0 and leverages automated code generation and database schema migrations. Check it out here https://github.com/avkonst/graphql-postgraphile-typeorm-starter

[2018-08-20 22:53] avkonst commented on #744
Continued work done by @degroote22 👍

Letting you know that I published starter project for backend development. It uses postgraphile as a library, based on Apollo Server 2.0 and leverages automated code generation and database schema migrations. Check it out here https://github.com/avkonst/graphql-postgraphile-typeorm-starter

[2018-08-20 22:53] avkonst commented on #208
Continued work done by @degroote22 👍

Letting you know that I published starter project for backend development. It uses postgraphile as a library, based on Apollo Server 2.0 and leverages automated code generation and database schema migrations. Check it out here https://github.com/avkonst/graphql-postgraphile-typeorm-starter

[2018-08-21 04:42] benjie commented on #744
Very cool; will take a look later in the week 👍

[2018-08-22 16:40] benjie commented on #836
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2018-08-22 16:40] #836 closed

[2018-08-23 06:43] nathanaherne commented on #815
Thank you @benjie

So far (I am currently testing this out in my own implementation) this solution looks to be a great solution for multi-tenant databases or databases where permissions need to be more granular.

I did find a typo (just missing a closing bracket), which I thought I would flag before this goes into the docs.

[code]
Should be
[code]

[2018-08-23 06:47] benjie commented on #815
Good catch; fixed 👍

[2018-08-23 19:30] nmgds commented on #677
any solution for npm? have exactly the same as @michaelg02

[2018-08-23 20:33] Dfmarulanda commented on #353
I'm having this problem.

[2018-08-23 21:27] benjie commented on #353
What command line/library options are you using? And is it this issue (where an error is thrown), or is it just that your values are coming back null? (Maybe you haven’t set a JWT secret?)

[2018-08-23 21:38] benjie commented on #677
For yarn you’d do this: https://stackoverflow.com/questions/51990179/run-postgraphile-with-npm/51990635#51990635

Here’s some comments about it on the GraphQL repo, perhaps there might be something there that might point you somewhere useful for npm:

https://github.com/graphql/graphql-js/issues/594#issuecomment-323196667

I don’t use npm, but if you get a solution please report back 👍

[2018-08-23 21:39] benjie commented on #677
“npm dedupe” might work. Use 0.12.x if you can.

[2018-08-23 22:44] Dfmarulanda commented on #353
I'm using express + postgraphile (PG10) + nuxt.

[code]
Everything works fine, I'm getting the role and the permissions works. But, when i try to retrieve the user id from the jwttoken, is returning always null. (this happens also when i'm running postgraphile standalone version)
[code]

[2018-08-23 22:52] benjie commented on #353
Ohhhhh! If you use the JWT in the header and run the query again it should work. To make it work as you have there (in the same request with which you fetch the JWT) you need to call set_config(‘jwt.claims.person_id’, ..., true) in your authenticate function.

[2018-08-23 22:55] Dfmarulanda commented on #353
Yeah. But, even with the JWT in the header as

[code]
is returning null.

[2018-08-23 23:02] sjmcdowall commented on #353
Ah -- isn't the header supposed to be

Authorization Bearer XXXXXXX  ???

Not Authenticate??

I've never used anything but Authorization  (or authorization of course -- case doesn't matter)

[2018-08-23 23:02] sjmcdowall commented on #353
Also if you head over to jwt.io  with that JWT , what does it decode to?

[2018-08-23 23:03] Dfmarulanda commented on #353
Yes, sorry, is Authorization. Isn't working.
The JWT have the following information:

[code]

[2018-08-23 23:15] sjmcdowall commented on #353
Well hmm... my function I use (and it works perfectly) is
[code]

[2018-08-23 23:41] Dfmarulanda commented on #353
Copy/Pasted your function.
It doesn't work.

[2018-08-23 23:46] nmgds commented on #677
@benjie thank you for pointing the right direction. I did try `npm dedupe` before, but without success. Fortunately lowering down graphql to 0.12.3 helped!

[2018-08-24 03:00] Bartekus commented on #744
Personally I'm more interested in staying agnostic to technologies like Apollo and having typescript definition build from the introspection-endpoint just like the forum demo does it for the graphiql.

If somebody further wants to parse that result to something that Apollo can use, then they can take this generic implementation and extend it for such purpose.
Alas if they want to use Relay instead

[2018-08-24 13:15] benjie commented on #837
I've modified the Patreon tiers so that none use the term "sponsor" and clarified some wording on the "Go Pro" page - thanks for the issue 👍

[2018-08-24 13:15] #837 closed

[2018-08-24 13:59] benjie commented on #764
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2018-08-24 13:59] #764 closed

[2018-08-24 21:22] kalepail opened #844 "Issue with cursor pagination on a materialized view"
I'm submitting a ...

* [x] bug report
* [ ] feature request
* [ ] question

PostGraphile version: 4.0.0-rc.4

Having an issue with cursor pagination on a materialized view.

If we go here: https://core-test.gly.sh/graphiql

And enter this query

[code]

With these params

[code]

We get this page info

[code]

If we then use the `endCursor` we can paginate down through the rows

[code]

[code]

H

[2018-08-25 09:29] habitshine opened #845 "About using too much to_json function causes performance degradation"
Hello in use, there are 10 million pieces of data in the database. When the execution offset is 9 million, the limit is 10, the SQL query is very slow, and the query time can reach more than 3,000 milliseconds after analysis.
Finally, the reason is found out because too many to_json functions are used in SQL to reduce the query performance of Postgresql.
Excuse me, is there a solution to this phen

[2018-08-25 11:40] benjie commented on #845
Removing some of the to_json is an optimisation that’s on my todo list; we can remove it from very simple types like int, string; but we cannot remove it from most other types otherwise nested queries will result in different data being returned when the field is nested vs when it is root level.

I strongly suggest you move to cursor-based pagination rather than limit/offset; using cursor paginati

[2018-08-25 11:43] benjie commented on #845
Also have you benchmarked this fairly? I.e. have you ran the first query again after the second query? PostgreSQL has probably cached things from the first execution which make the second execution faster, so it’s unlikely the tests are fair unless you interleve them.

[2018-08-25 11:44] benjie commented on #845
(I ask because the query plans are the same but the estimated costs differ.)

[2018-08-25 14:33] habitshine commented on #845
@benjie
Thank you for your reply
Both queries are fair, as described by @sjmcdowall , so there is no caching.
The version of Postgresql currently in use is 10.5.
I look forward to your early completion of the optimization, and once again thanks for providing a powerful postgraphile.
I am Chinese, English is not very good, thanks for patient reading.

[2018-08-27 09:54] raja1206 opened #846 "TypeError: Failed to fetch"
we have  below graphiql url and we are getting below error message in screen. please suggest what is the solution for this.

https://10.82.2.118:5515/graphiql

Error message:
TypeError: Failed to fetch

after press f12 on url:

Failed to load resource: net::ERR_CONTENT_LENGTH_MISMATCH graphql:1
TypeError: Failed to fetch     main.9dde8a2a.js:15 TypeError: Failed to fetch
Failed to load resource: n

[2018-08-27 12:08] sjmcdowall commented on #846
More information I think will be needed -- how exactly are you starting Postgraphile -- what options, etc?

[2018-08-27 17:37] benjie commented on #846
Given you are using https I suspect you’ve also got something else in the mix - maybe a proxy server or node app? In addition to what Steve has requested, could you share details of everything between your web browser and the PostGraphile middleware please?

[2018-08-28 14:55] jmls opened #847 "Cannot run docker example"
* [ x] bug report

PostGraphile version: v4.0.0-rc.4

Steps to reproduce:
running the sample code for docker
`sudo docker run -p 5000:5000 graphile/postgraphile --connection postgres://<user>:<password>@<pghost>/<db> --watch`

Current behavior:
container stops with the error

[code]
Expected behavior:
the container to start running ;)

[2018-08-29 07:03] benjie commented on #847
Looks like you have more than one thing in your database called baseline/baselines/baseline_condition/baseline_conditions; you can use smart comments to rename one of them to avoid the clash.

[2018-08-30 14:52] james-ff opened #849 "Mutations for creating lists of objects/rows in one request?"
I'm submitting a ...
* [x] feature request

Would it be possible to create mutations which accept an array of objects to be created?

- (E.g. adding an array of todos to a list instead of one at a time / setting up multiple relationships in one go, etc.) I.e. Submitting [InputOne, InputTwo, InputThree, etc.] to one mutation.
- The utility being:
  - One request on the client
  - Easier to know whe

[2018-08-31 02:57] dangerdespain commented on #543
I'm experiencing the same (or similar) stacktrace in 4.0.0-rc.4, with both a `{ totalCount }` query as well as a `{ totalCount edges { id nodeId ...data } }`-style query. Things start to bog down after a few dozen queries and eventually crash with a memory failure

[code]

[2018-08-31 10:16] sjmcdowall commented on #543
How about the SQL / Schema and GraphQL queries as well as the steps to reproduce more exactly?

Cheers

[2018-08-31 10:18] benjie commented on #543
I think Devin deleted the post; not sure why. I've not seen any memory exhaustion errors in the v4 RCs.

[2018-08-31 10:37] sjmcdowall commented on #543
Oh that is odd -- maybe he figured out he had some sort of looping thing ?  Well then, "Nothing to see here -- move along.. move along!" .. :)

[2018-08-31 12:12] benjie commented on #847
Closing this as have massively improved these kinds of errors in the next release: https://github.com/graphile/graphile-build/pull/292

[2018-08-31 12:12] #847 closed

[2018-08-31 12:13] benjie commented on #846
Closing due to lack of input; feel free to re-open with additional details.

[2018-08-31 12:13] #846 closed

[2018-08-31 16:01] dangerdespain commented on #543
It turned out to be a red herring - sorry for the noise!

[2018-08-31 16:09] benjie commented on #543
# 😅

[2018-08-31 18:55] benjie commented on #849
Yeah, that should be possible with a plugin. You might be able to take the existing mutation plugins, do  a few naming and plurality tweaks, and have it work.

[2018-08-31 18:56] benjie commented on #849
Another approach is to create a SQL function to do it, a bit like this: https://gist.github.com/benjie/9793993f9dafc2dcf239960a41c7eda8

[2018-09-04 22:22] benjie opened #850 "Document skipPlugins"
postgraphile-core accepts skipPlugins; we should expose this via PostGraphileOptions.

[2018-09-06 14:43] chilltemp commented on #580
What about using Smart Comments to override the detected type.  Something like:
[code]

1. This could help workaround other/future type detection problems.
2. It's not a naming convention, and thus doesn't require changing existing data structures.

[2018-09-06 16:36] benjie commented on #580
That's certainly an option, the problem is we use `unnest()` quite a bit and that flattens multi-dimensional arrays. If we wanted to support multi-dimensional arrays we'd have to revise the `unnest` code, which is a significant amount of work. I'd be interested in seeing the results of someone doing a POC of this, but don't expect to get it merged during v4 because it could have some significant c

[2018-09-06 20:41] achin84 opened #851 "Need some assistance with memory issue (configuration?)"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x] question

Postgres version:
psql (10.5 (Ubuntu 10.5-1.pgdg18.04+1))

Postgraphile version:
4.0.0-rc.3

Node version:
v10.8.0

Hi all,

I've been working on some code to communicate data to my postgres server through postgraphile, but I keep running into memory issues with the postgraphile process.  I've reduced my code/database dow

[2018-09-06 20:50] sjmcdowall commented on #851
Is this reproducible in -rc.4 ?? That's the latest one ..

[2018-09-06 20:56] benjie commented on #851
I'm going to guess this is the query cache causing issues since you're using lots of dynamic queries rather than queries with variables; please create a file `.postgraphilerc.js` in the folder that you're running `postgraphile` from and make the contents of it this:

[code]

Then try again - please let me know whether or not it fixes it.

(If it is this that's the problem then it's definitely a bu

[2018-09-06 21:48] benjie commented on #851
Correction, set it to `1` not `0`.

I can exhaust memory using this script `exhaust.sh`:

[code]

combined with this for expediency:

[code]

Climbs to over a gig of RAM in a short period of time.

Using the (corrected) workaround above memory does not exhaust.

[2018-09-06 21:56] achin84 commented on #851
@benjie Thanks - I'll try that out.  Was testing with the 0, and it does look like the memory usage is approaching the crash (slowly).

I just wanted to verify that I added the .postgraphilerc.js file in the correct location - I tossed it in my home directory (where I've been calling the sudo postgraphile -c "postgres://root:password@localhost/test_db" from, as well as the /usr/local/bin directory

[2018-09-06 22:16] benjie commented on #851
Yeah, turns out that setting it to `0` makes no difference; you have to set it to `1` for some reason.

The `.postgraphilerc.js` needs to be in your current working directory - it's sourced via `${process.cwd()}/.postgraphilerc.js`.

I've experimented and found that a factor of 110 makes it work for the example I have above - it now takes almost exactly 50MB more RAM at load than it does with cach

[2018-09-06 22:32] benjie commented on #851
This should fix it: https://github.com/graphile/postgraphile/pull/852

[2018-09-06 22:42] #851 closed

[2018-09-06 22:43] achin84 commented on #851
Awesome - thanks!

I tested out with my dummy code, and it didn't run the memory up at all.  I also tried with my real code, and it did a lot better than before (got through about 1.5M inserts out of 1.8M, instead of failing around 172,000).  I don't have any waiting in that software,so I suspect it'll be fine with the memory once I slow down the rate I'm throwing the mutations through (That one i

[2018-09-07 21:04] #850 closed

[2018-09-09 21:45] eladkolet commented on #714
Following up here, how can I remove both the default generation of itemById(id: Int!) itemByUniqueKey1AndUniqueKey2(uniqueKey1: ...,  and disable the NodePlugin ?

Thanks!

[2018-09-10 12:37] benjie commented on #796
Hopefully fixed by #294 (not released yet).

[2018-09-10 12:37] #796 closed

[2018-09-10 15:04] idkjs commented on #796
@benjie is there a latest channel/package?

[2018-09-10 15:17] benjie commented on #796
Not yet, but soon. I'll post in gitter when it goes out https://gitter.im/graphile/postgraphile

[2018-09-12 10:15] benjie commented on #844
@tyvdh Sorry it's taken me so long to get around to fixing this; I knew it was going to be a pain because I remembered the pain of implementing it the first time!

I've implemented a fix in this PR:

https://github.com/graphile/graphile-build/pull/297/files

I've heavily documented the logic to make it easier for people to tweak in future if it contains bugs; including adding a bunch of `assert` c

[2018-09-13 11:25] #844 closed, assigned to nobody

[2018-09-14 18:19] tyvdh commented on #844
@benjie Installed today. All fixed. Thank you so much.

[2018-09-15 00:00] benjie commented on #844
Awesome; thanks for the bug report 👍

[2018-09-15 09:39] benjie commented on #631
Support for this was released in v4.0.0-rc.5

[2018-09-15 09:39] #631 closed

[2018-09-15 09:44] benjie commented on #753
Removing pr-wanted because I have some in-progress code towards achieving this goal (don't want duplication of effort).

[2018-09-15 09:45] benjie commented on #526
There's in-progress code towards this; so pr-wanted removed.

[2018-09-15 09:50] benjie commented on #777
I think this should be achieved by adding a few more `pluginHook` hooks and then enabling this header functionality via a plugin rather than building the header functionality into core. This also enables a few more use-cases like setting additional database parameters or causing rollbacks instead of commits (useful when testing).

[2018-09-15 10:16] benjie commented on #777
Another use case for this: a pre-request function like in https://github.com/graphile/postgraphile/pull/763

Interestingly, this is desired to happen after the pgSettings are set.

An alternative implementation would be to pass the function the pgSettings and expect it to set the settings that are valid (or raise an exception).

Having 7 hooks seems perhaps a bit excessive:

- forceTransaction < h

[2018-09-15 14:16] tianhuil commented on #96
@rentrop: here's an example of Postgraphile running on AWS Lambda: https://github.com/graphile/postgraphile-lambda-example

[2018-09-15 17:30] malyzeli commented on #91
@jide Not sure what are you talking about, can you provide an example? I definitely don't see any generated query to get list of related entities without having to browse through the join table...

[2018-09-18 13:42] hansololai commented on #208
I didn't like the makeRemoteExecutableSchema, because that means it makes extra remote request, even tho if it's in the same machine, it still takes time.

For apollo server 1.0,  the server takes an executable schema and can be directly used
[code]
This schema `postgraphileSchema` is generated by
[code]

One thing to note is, the created schema does not have the "context" to do postgres queries.

[2018-09-18 17:44] benjie commented on #208
This approach has a few drawbacks:

- no transaction is used
- all queries share one client, so race conditions can occur and performance is much reduced
- setting configuration variables won’t work correctly so you can’t (shouldn’t) combine with JWT/pgSettings/etc

PostGraphile is currently designed around the concept of every query/mutation gaining a pgClient from the pool, setting up the transa

[2018-09-18 17:52] hansololai commented on #744
I would recommend not create remote-executable-schema, cause they increase one more steps of request, even if they are in same machine, it will still be a latency issue.
See my answer in another issue #208. It demonstrate how to create a schema and use it with apollo-server. Once you have apollo server working, you can add the apollo engine.
[code]

[2018-09-18 18:16] hansololai commented on #208
@benjie Thank you very much for putting attention on my answer. You are the maintainer of postGraphile, your review on this means a lot to me.  I did a quick benchmark back when I first set it up. I think the result was like 20-50ms slower, I could redo it sometime later to see the result.

And yes, I am glad you pointed out these drawbacks, when I was digging through your withContext function, I

[2018-09-20 13:44] barbalex commented on #634
works like a charm, thanks @benjie

[2018-09-20 15:21] hansololai opened #858 "Custom filters for postgraphile"
I'm submitting a ...

* [ ] bug report
* [ x] feature request
* [ ] question

PostGraphile version: 4.0.0-rc.5

This is a feature request, but I actually almost have some thing ready, it is more like a discussion.

First of all, thank you guys very much for developing this awesome library. I have been using it for several months now and it's going great!

In my project, a lot of times I will need

[2018-09-20 19:04] hansololai commented on #858
@mattbretl Thank you! Yeah reading through the code from plugin-connection-filter got me more familiar with how to write it. That's actually where my motivation came from. I thought about creating the procedure, but that's not exposed on all connections. for example,
[code]
For the procedures,  I would have to also create function account_active_users() so that it add that field in account, which

[2018-09-20 23:00] rogerrohrbach commented on #560
I ran into this today.  I respectfully submit that an expired token should always be reported, and that this should be detected before attempting introspection.

[2018-09-21 08:05] benjie commented on #208
⚠️  The above code is extremely vulnerable to race conditions, this will definitely cause issues with mutations, or if you introduce transaction variables / JWT  ⚠️

That is only correct in a small subset of circumstances: for queries with one root field that do not require transactions and have no custom pgSettings/JWT/etc. For mutations a number of statements are ran:

1. begin
2. setup the tran

[2018-09-21 08:07] benjie commented on #744
⚠️  [I do not recommend the above approach](https://github.com/graphile/postgraphile/issues/208#issuecomment-423450227)  ⚠️

[2018-09-21 10:58] benjie commented on #858
I think everything you need is already exposed - `queryBuilder` is documented a tiny amount [here](https://www.graphile.org/postgraphile/extending/#the-selectgraphqlresultfromtable-helper) and you've shown how to use the plugin interface.

I think this is more of a discussion so I'm going to close it (I'm not planning to add an interface like this to core - I prefer doing this kind of thing via pl

[2018-09-21 10:58] #858 closed

[2018-09-21 16:51] hansololai commented on #208
@benjie Thank you for replying me at 3:00am! that's really hard work!

Ok, I think there's a misunderstand here. There are a couple of points you made, let me see if I understand.

1.  This setup is vulnerable to race conditions for several reasons.

2. This setup does not create transaction/save point correctly for mutations, custom pgSettings, etc.

3. The statement of 1 client for an express ap

[2018-09-21 20:10] majestique opened #859 "Setup Postgraphile on my VPS but can't seem to access, firewall opened"
So the firewall is open and it's the same settings as PostgreSQL, I can access PSQL remotely but I can't seem to access myserver:5000/graphiql remotely.

![image](https://user-images.githubusercontent.com/19336285/45911354-e18ba600-bdc6-11e8-82a9-3541b8f31c7f.png)

I went to http://myserverip:5000/graphiql but it shows:
![image](https://user-images.githubusercontent.com/19336285/45911373-36c7b780-

[2018-09-22 06:01] benjie commented on #859
^ This is what you need, set it to 0.0.0.0 to expose to all interfaces.

We have chat for support: http://discord.gg/graphile

I’m going to close this as I think it’s solved but feel free to keep asking questions here 👍

[2018-09-22 06:01] #859 closed

[2018-09-22 06:17] benjie commented on #208
Is it possible for you to use foreign data wrappers so that one of your postgres servers can expose the other?

https://wiki.postgresql.org/wiki/Foreign_data_wrappers

Failing that, PostGraphile is not designed to handle multiple databases, so schema stitching is probably what you need. You can use makeAddInflectorsPlugin from graphile-utils to override the naming functions in the schema itself if

[2018-09-22 13:47] arenddeboer commented on #590
If you are using white-listed queries/mutations using for instance express middleware, validating the variables based on the matched query/mutation should be trivial. Upside is validation that is not tied into PostGraphile/PG, downside is you may have to repeat validation for every white-listed query instead of reusable field-level validation.

[2018-09-22 14:30] benjie commented on #560
Could you explain what the issue you're getting is, @rogerrohrbach? I can't seem to reproduce the issue.

---

When I run `postgraphile -c dbname -e 'secret'`; and then run a query with the following JWT:

[code]

I get:

[code]

i.e. a successfully completed authenticated request

---

When I run the same query with an expired JWT:

[code]

I get a 401 error, as expected:

[code]

---

So the exp

[2018-09-22 18:29] benjie commented on #845
So having looked into this more, it seems to be related to how the Postgres query planner works currently. It's possible that future versions of PostgreSQL will resolve these issues. In the mean time it's recommended that you solve this by using cursor based pagination which allows PostgreSQL to utilise its indexes efficiently - using limit/offset pagination is expensive in general.

I'm closing t

[2018-09-22 18:29] #845 closed

[2018-09-24 04:41] hansololai commented on #208
@benjie Thank you for your help with my problem.
I did found makeAddInflectorsPlugin and successfullly renamed the functions.

 Yeah the 40ms latency was exagerated, probably about 10ms. Yeah I did have a burn out for few seconds before starting the benchmarking.

I agree, my solution is quite hacky and needs a lot more thoughts and modifications for each app.  In the future I would like to compac

[2018-09-24 17:31] hansololai commented on #858
@mattbretl, @benjie  Hi, I have written the plugin and documentation of it. I made a PR for the plugin page.
https://github.com/graphile/graphile.github.io/pull/74
Let me know if there's anything unclear.
Thanks

[2018-09-25 10:22] sfiros2003 opened #863 "DB connection timeout occurs and getting 502"
I'm submitting a PostGraphQL to DB connection timeout issue,

PostGraphQL version:
3.5.0

Minimal SQL file that can be loaded into a clean database:

Steps to reproduce:

Execute a db operation which will take more than 2 mins.

Current behavior:
Returns Bad Gateway: 502

Expected behavior:
Wait till the operation completes.

[2018-09-25 11:37] benjie commented on #863
You might be after the --timeout option. It could be a gateway that’s involved causing issues; where are you running PostGraphile currently?

[2018-09-25 11:50] sfiros2003 commented on #863
We are using PostGraphQL 3.5.0 (not PostGraphile).
Does it have --timeout option in it's CLI, something like:

`postgraphql -c postgres://postgres:'postgres'@localhost:5432/testdb --watch --cors --schema public --host 127.0.0.1 --port 7000 --timeout 10000`

[2018-09-25 13:50] sjmcdowall commented on #863
Let me chime in that V4 is VERY nice and stable!!  I would strongly urge you to upgrade as well..

[2018-09-25 16:26] sstubbs opened #864 "Select Granted Needed For Insert"
Hi,

I am not able to insert a record with a role who has an insert grant but does not have a select grant.  I am using version 4.0.0-rc.5.1

[2018-09-25 18:17] benjie commented on #864
Yes; currently we do `INSERT INTO table VALUES (...) RETURNING *`; which means (because of the returning) that you need a `SELECT` grant. We document this in the "Requirements" article:

https://www.graphile.org/postgraphile/requirements/

Fear not though; this can be worked around.

### Option 1: Custom Mutation

Create a function to perform the insert but return void:

https://www.graphile.org/p

[2018-09-25 18:17] #864 closed

[2018-09-25 19:32] benjie commented on #863
For a non-exhaustive list, check out the issues marked "Fixed in v4" in the issue tracker:

https://github.com/graphile/postgraphile/issues?q=is%3Aissue+sort%3Aupdated-desc+is%3Aclosed+label%3A%22Fixed+in+v4%22

[2018-09-26 06:17] rogerrohrbach commented on #560
@benjie The error occurs when I attempt to refresh the Docs in an interactive client (I'm using [Altair](https://altair.sirmuel.design)) with an expired JWT.  The result is exactly that first reported here, [above](https://github.com/graphile/postgraphile/issues/560#issue-251283375).

[2018-09-26 07:15] benjie commented on #560
Oh I *seeeeee*. The issue that you have is the console log on the *server* side rather than the lack of error reporting on the *client* side!

I don't think it's appropriate to let the expired JWT go through and perform introspection, btw. But I can change how the error is exposed 👍

[2018-09-26 07:16] benjie commented on #560
(For one thing, that's not the only introspection query in existence, and writing code to detect whether a particular query is purely introspection or not would unnecessarily reduce performance.)

[2018-09-26 21:53] rogerrohrbach commented on #560
Yes—we're all in agreement.  And the new title for this issue more accurately captures the problem.

[2018-09-27 03:43] sfiros2003 commented on #863
@benjie
Thanks for your suggestion. We will upgrade and let you know the status.

[2018-09-27 07:06] benjie commented on #863
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2018-09-27 07:06] #863 closed

[2018-10-02 14:28] janusch commented on #714
Fantastic, thanks for the quick reply and the great work on postgraphile!!!

[2018-10-02 16:33] sstubbs commented on #760
Hi,

Thank you for this great project.

I have reading through most the issues regarding multi tenant. I too have a system where each company gets their own identical database in terms of schema. I understand why you want to isolate everything into one query via all the plugins for performance as well as security.

I have tried various solutions for current problem and this is what I have come up

[2018-10-02 18:31] benjie commented on #760
Hi @sstubbs; could you confirm exactly what your PostgreSQL RDBMS looks like? From what you've said at the moment it sounds like you have thousands of databases, and each database has the same schema. Is this accurate? So:

[code]

(Just checking I fully understand your use case.)

[2018-10-02 19:41] sstubbs commented on #760
Hi,

Sorry if it wasn't clear. Yes that is correct. There are only 5-10 company databases at a given point in an old system at the moment that I am porting over. However whenever new people signup a new database is created. So in theory there could be a lot more eventually but even now if all ten are online at the same time even if it's just one user from each company 4GB of ram would be needed ev

[2018-10-02 21:00] benjie commented on #760
400MB of RAM seems very high. What version of PostGraphile are you using? RC5 fixes a big memory issue that crept in that affected dynamic GraphQL queries, so if you're using an older version then upgrading to the latest may (partially) fix it.

To avoid the startup cost you can experiment with using `--write-cache` and `--read-cache` if the databases are 100% identical. The OIDs in your various d

[2018-10-02 22:33] sstubbs commented on #760
ok well thanks anyway I will do what you suggest and see if I can get the usage down. Ideally I would like to run it this way. I will let you know know as I progress as it will only become an  issue at a later point but just want to have a plan in place for once this is in production.

[2018-10-03 01:38] jmealo commented on #92
I believe that the latest versions of PostGraphile and PosgreSQL now have the primitives required to implement this sensibly. I'm swamped at work right now but I'm cobbling something together for a prototype, I'll share a simple solution should I find one.

[2018-10-03 06:13] benjie commented on #92
Cool 👍 Chat with me on Discord about it and I’ll help you make it a server plugin so you can work on it without forking 🤘

[2018-10-03 06:14] benjie commented on #760
Are you able to send me an anonymised version of your schema? I’d like to solve the RAM issue for sure!

[2018-10-03 09:38] benjie commented on #577
The above  doesn't work right now (because `makeAddInflectorsPlugin` only adds, not replaces, inflectors); but here's an example on how to replace inflectors:

https://www.graphile.org/postgraphile/plugin-gallery/#Inflector__PgShortenAllRowsInflectorPlugin

[2018-10-03 11:54] sstubbs commented on #760
That would be fantastic. I've been trying everything with no luck. How should I send it to you?

[2018-10-03 16:52] benjie commented on #760
Electronic mail it to my github handle at graphile.org

[2018-10-03 16:53] benjie commented on #760
Also does it use 400MB from startup, or does it take a while to get there? Steps to reproduce appreciated.

[2018-10-03 18:39] arshadkazmi42 commented on #607
@benjie I would like to work on this.
I have few questions.
 - What needs to be passed in the msg `pgClient.on('notice', msg => ... )`
 - What is the syntax to remove notice, which needs to be done finally block

[2018-10-04 09:03] benjie commented on #607
Awesome, thanks @arshadkazmi42!

I think the best way of achieving this is in `withPostGraphileContext`. Add

[code]

Then here:

https://github.com/graphile/postgraphile/blob/ad6137abf93ee5543748c4dee7ec58d37ef9a8c9/src/postgraphile/withPostGraphileContext.ts#L99

Tweak to `(debugPg.enabled || debugPgError.enabled || debugPgNotice.enabled)`

Then here:

https://github.com/graphile/postgraphile/bl

[2018-10-04 15:40] arshadkazmi42 commented on #607
@benjie Thank you for the detailed information.

I made the changes you suggested.
But cannot figure it out, what is the msg here?

`debugNotice('NOTICE: %s', msg) `

My code block looks something like this

<img width="594" alt="screen shot 2018-10-04 at 9 08 07 pm" src="https://user-images.githubusercontent.com/4654382/46485734-ebc39080-c819-11e8-83a5-630d9ae22d2a.png">

[2018-10-04 17:31] benjie commented on #607
The `pgClient.on('notice')` line should be something like:

[code]

You can put `console.dir(msg)` in the function and see what's output on notice and go from there, or you can read the node-postgres docs. I'm not sure exactly what it'll involve

[2018-10-04 17:38] arshadkazmi42 commented on #607
I found this on `node-postgres` docs, looks like I need to pass `msg`  to `debugNotice`

https://node-postgres.com/api/client#client-on-39-notice-39-notice-string-gt-void-gt-void

after that change does it needs any other update? Or I can create a PR?

[2018-10-05 08:05] benjie commented on #607
Looks like that's it. Shame there's no extra metadata. Oh well 🤷‍♂️

[2018-10-05 08:05] benjie commented on #607
(Please create PR)

[2018-10-05 09:53] arshadkazmi42 commented on #607
@benjie created PR

[2018-10-05 11:14] saerdnaer opened #867 "Numeric is returned as string"
I'm reporting a bug I came across when upgrading to PostGraphile version: 4.0.0

Minimal SQL file that can be loaded into a clean database:

[code]
Current behaviour:

![image](https://user-images.githubusercontent.com/40266/46532158-17895980-c8a0-11e8-805d-62192dde95cd.png)

Expected behaviour:

the numeric column  should be return as float and not as string.
`"numeric": "33.3",` -> `"numeric": 3

[2018-10-05 11:16] benjie commented on #867
This is not a bug, it's actually the fix to a bug. It's not possible to represent arbitrary precision numbers such as `NUMERIC` / `DECIMAL` as GraphQL floats (64-bit IEEE754 floating point numbers).

This is documented in the migration guide here:

https://www.graphile.org/postgraphile/v3-migration/#very-large-numbers

And there's a couple of plugins you can use to restore the old behaviour:

- ht

[2018-10-05 11:17] #867 closed

[2018-10-06 00:29] tim-field opened #868 "Cannot return null for non-nullable field - Update when calling a "table" function in payload response"
* [x] bug report

PostGraphile version:   4.0.0

*Minimal SQL file that can be loaded into a clean database:*

I'm not sure if I'm going to come up with this @benjie ( quite a few moving parts ) but I'd be happy with giving you access to our dev database and an access token if you wanted to run some of these queries to see this happening.

=========================

I'm performing a mutation using

[2018-10-07 18:55] 204NoContent commented on #714
@benjie Related to this question, is there a setting to automatically generate a Relay (modern) compliant schema if the database already uses UUIDs for primary keys? Basically the classicIds setting, but using the existing id column since it is already globally unique? Any guidance would be greatly appreciated 😄

[2018-10-08 07:52] benjie commented on #714
No, because the UUID does not encode in it which collection it is from, so given a UUID we do not know which table to retrieve the record from (and scanning through hundreds of tables to find it would be highly inefficient). You can replace the nodeId plugins with your own should you so choose, enabling you to solve this issue for your stack.

[2018-10-08 08:32] 204NoContent commented on #714
@benjie Ok cool. Thanks for explaining the design choice and thanks for your help!

[2018-10-08 09:21] benjie opened #869 "Does PostGraphile support Fastify?"
https://www.fastify.io/docs/latest/Middlewares/

Would be good to add it to the list of servers that we can be mounted as a middleware.

[2018-10-08 12:49] #607 closed

[2018-10-09 05:43] sstubbs commented on #760
Thank you so much for sorting out my issue. By using postraphile as a schema generator rather than a middleware like you suggested it is working exactly how I needed it to.

[2018-10-09 12:14] s97712 opened #872 "how can I get errcode in handleErrors"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x] question

PostGraphile version: v4

this is my code:
[code]
It throws the error `You cannot combine 'handleErrors' with the other error options` .
But I need the errcode for handle errors, how should I do?

[2018-10-10 02:42] sstubbs opened #873 "pgSetting: object needs to be of type string, number or boolean."
I'm submitting a ...

* [ ] bug report
* [X] feature request
* [ ] question

PostGraphile version:
4.0.1

When adding to pgSettings when running as schema only I am only able to add string, number or boolean. An array type would be very helpful for claims instead of manually converting value in and out of json.

[2018-10-10 02:57] sstubbs commented on #873
My mistake my thinking was that I could use these as a session variable of sorts seeing as I am setting role here but these are postgres specific settings.

[2018-10-10 02:57] #873 closed

[2018-10-10 03:07] sstubbs commented on #873
For anyone else who stumbles on this. settings that are not postgres settings like session variables you want to use need to have a . in i.e. jwt.claims. This is already in the documentation but I missed it.

[2018-10-10 15:18] maxdesiatov commented on #602
I'm finding GraphiQL static assets hanging with koa, but very intermittently. When I use [`koa-graphiql`](https://github.com/expo/koa-graphiql) as a replacement all is good, but it doesn't load schema docs generated by PostGraphile. Everything else (main `/graphql` endpoint) is working well. Maybe the fixes that were applied didn't touch GraphiQL parts at all?

[2018-10-10 17:48] benjie commented on #602
Are you able to figure out how to reproduce it? I think it’s an issue with `send` interacting with Koa. GraphiQL assets serving is changing soon anyway, so this might go away...

[2018-10-10 17:50] maxdesiatov commented on #602
it's stably reproducible for me, I just set PostGraphile middleware on `/graphiql` path and open it in Safari. Most of the time it hangs (just blank page and loading progress never ends), although when I hit "refresh" when it's hanging it loads ok.

[2018-10-10 20:16] benjie commented on #602
Any idea what resource is hanging? Is it the graphiql endpoint itself or the css/js? If you can reliably reproduce it then digging further in devtools would be great.

Are you using any koa middlewares before postgraphile? Does removing them solve/reduce the issue?

[2018-10-11 09:18] bfelbo opened #874 "Tutorial: Add tiny front-end example of how to query the API"
I'm submitting a feature request for you to add a bit of front-end code in e.g. node.js on how to query the database setup in the Postgraphile forum tutorial. I'm having some issues getting the frontend to work nicely with the backend and while the tutorial is really helpful, this would be a very welcome addition!

[2018-10-11 09:18] sfiros2003 opened #875 "GraphQLError: Schema is not configured for subscriptions"
Why getting this error? But everything seems as working.

1 error(s) in 160.33ms :: subscription { readPayload }
GraphQLError: Schema is not configured for subscriptions
    at getOperationRootType (/usr/local/lib/node_modules/postgraphql/node_modules/graphql/execution/execute.js:270:15)
    at executeOperation (/usr/local/lib/node_modules/postgraphql/node_modules/graphql/execution/execute.js:228:

[2018-10-11 09:33] benjie commented on #874
It's not finished yet, but this may help: https://github.com/graphile/examples - check the `client-react` folder.

Could you share what you have so far to help me understand what you're after? Cheers!

[2018-10-11 10:03] bfelbo commented on #874
Thanks, that looks great!

I was actually thinking something much simpler. Just another section in the same tutorial file with a few GraphQL queries/functions that are relevant for the forum example and can be copy-pasted into GraphiQL. Potentially a small introduction to fragments while you're at it. It seems like a lot of the people new to Postgraphile are also new to GraphQL and so while a full

[2018-10-11 10:09] sfiros2003 commented on #875
@benjie
Thank you, it was an issue with the db switching. Tried to connect to the db which won't connect without the vpn connection.

[2018-10-11 10:09] #875 closed

[2018-10-11 10:18] maxdesiatov commented on #602
Basically every second load of `/graphiql` in any browser stalls for me. Literally I'm going to `/graphiql` and it loads, I reload it and it stalls, I reload it again and it loads again.
Removing all other middleware doesn't make any difference. I'm on `"koa": "^2.5.3"` and `"postgraphile": "^4.0.1"`. Devtools screenshots attached.

Stalled one:
<img width="580" alt="screen shot 2018-10-11 at 11 1

[2018-10-11 11:36] benjie commented on #602
Cool; so it's definitely the resources. I think it's an interaction with `send`. I've already got a branch locally that removes `send` so I think this'll be fixed in 4.1.0 👍

[2018-10-11 12:39] benjie commented on #874
Oh, so like the examples gallery? https://www.graphile.org/postgraphile/examples/

[2018-10-11 12:43] benjie commented on #874
(That uses the schema from the examples repo rather than the forum example, currently. But we could add another gallery by the forum example.)

[2018-10-11 15:12] saerdnaer opened #876 "How to write a computed property functions which returns setof record OR null?"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x] question

PostGraphile version: 4.0

[code]

Or in other words: How can I change the GraphQL return type of `filterArticles` from `ArticlesConnection!` to `ArticlesConnection`

Current behavior:

[code]

Expected behavior:

[2018-10-12 09:54] benjie commented on #876
<details>

<summary>Current progress reported on discord</summary>

(Don't expect this to work!)

[code]

</details>

[2018-10-12 10:37] bfelbo commented on #874
Ah, yes, exactly! I missed the examples gallery. Adding a link to that (preferably with a gallery by the forum example) would be perfect.

[2018-10-12 10:55] benjie commented on #874
👍  Where are you viewing the forum example btw?

[2018-10-12 11:07] benjie commented on #868
I've reproduced this on the test database via:

[code]

Uncommenting the `#nodeId` no longer throws the error, but `createdAt` is still null and it should not be.

There definitely seems to be an issue with relations on mutation payloads.

[2018-10-12 12:00] benjie commented on #868
It only seems to happen if you request BOTH a postEdge AND the personByAuthorId. Pick one or the other and it works fine which is probably why it was never spotted...

[2018-10-12 12:07] benjie commented on #868
So basically the `personByAuthorId` and the `postEdge.node.personByAuthorId` seem to be entangled - whichever comes first wins and anything not set on the first one will not be requested on the second one.

[2018-10-12 13:03] benjie commented on #868
Ugh; can of worms.

[2018-10-12 14:01] benjie commented on #868
Ugh; can of cans of worms.

[2018-10-12 15:47] Rokshan2016 opened #877 "Postgres GraphQL Query Issue"
Hi ,

Recently I installed Graphile with Pastgres.
This is my table def :
module_t
name (pk)
icon
url
modifieed date
created date

When I open grapiQL I can see the schema mentioned something like this

createModuleT(input: CreateModuleTInput!): CreateModuleTPayload

Not understanding how to use it

Trying this

	mutation createModuleT($input: CreateModuleTInput!) {
  createModuleT(input:$input, )

[2018-10-12 16:07] benjie commented on #868
TODO: test for

[code]

[2018-10-12 16:23] benjie commented on #877
Hi @Rokshan2016, I think it would be a lot easier to help you over chat; please join our Discord: http://discord.gg/graphile

And include details of what "not working" means - what error are you getting?

Check out the create mutation in our example gallery as it might give you some inspiration:

https://www.graphile.org/postgraphile/examples/#Mutations__Create

Also read about how GraphQL works o

[2018-10-13 07:34] sfkeller opened #878 "Supporting hstore key-value data type"
I'm submitting a ...

* [ ] bug report
* [ x] feature request
* [ ] question

for PostGraphile any future version.

I'd suggest that Postgraphile supports the PostgreSQL **hstore** key-value data type with functions, operators etc.. Currently the attribute becomes of type text only.

Background is the OpenStreetMap database schema produced e.g. with tools like osm2pgsql or imposm,

[2018-10-13 08:54] benjie commented on #878
What functions, operators, etc would you like to see, and how would you like them exposed over GraphQL?

[2018-10-13 09:16] sfkeller commented on #878
Syntax in SQL (as I specified it long time ago for SQLite) would be:

select hstore('a=>1,b=>2'::varchar) -- hstore constructor
insert into mytable values(1, 'name', hstore('a=>1,b=>2'::varchar) )

select hstore_get_value('a=>1,b=>2'::hstore,'a'::varchar) -- given a hstore and key a, return value
select hstore_exist('a=>1,b=>2'::hstore,'a'::varchar) -- does key a exist in hstore?
select hstore_con

[2018-10-13 14:34] benjie commented on #878
It sounds like you’re looking for ways to filter by hatore; I think perhaps this request is better suited to the filter plugin?
https://github.com/graphile-contrib/postgraphile-plugin-connection-filter

[2018-10-14 20:39] timini commented on #461
@benjie can you tell us a little more about your `withPrepopulatedDb` tricks? I havnt figured a way to manage my migrations yet and just have all my db setup in .sql files. I need a way to create the test database to use these schema. Any tips?

[2018-10-14 20:58] benjie commented on #461
[code]

[2018-10-14 21:01] benjie commented on #461
[code]

[2018-10-14 21:06] benjie commented on #461
I drop/create/migrate the test db before running jest.

[2018-10-15 13:50] bgotthold-usgs commented on #634
Works great with the example above, however, as soon as I provide some custom headers, postgraphile is returning a 'Must provide a query string' error. The same headers are working fine with httpLink on the Apollo side.  Any insight?

[2018-10-15 14:05] benjie commented on #634
Can you send details of what the exact network request is that's being sent? If you're not sure how to do so, follow the instructions in Step 1 here:

https://www.graphile.org/postgraphile/debugging/#step-1-check-youre-requesting-what-you-think-youre-requesting

Please send screenshots containing as much detail as possible.

[2018-10-15 15:09] bgotthold-usgs commented on #634
Thanks for the quick response!
![screen shot 2018-10-15 at 9 03 15 am](https://user-images.githubusercontent.com/42218449/46959563-9416f780-d059-11e8-8f0e-e52904c2c1bd.png)

the same request works fine without custom headers

![screen shot 2018-10-15 at 9 07 38 am](https://user-images.githubusercontent.com/42218449/46959744-ff60c980-d059-11e8-82d2-16074a93d2d9.png)

[2018-10-15 15:20] benjie commented on #877
[semi-automated message] This issue seems to be a question rather than a bug, and there's been no response to the follow-up question(s) above so I'm closing it to keep things manageable. Please feel free to re-open the issue with a response to the question(s) above, or alternatively come and discuss it with us over on Discord: http://discord.gg/graphile

[2018-10-15 15:20] #877 closed

[2018-10-15 15:29] benjie commented on #876
Closing this for now, feel free to continue discussing below.

[2018-10-15 15:29] #876 closed

[2018-10-15 15:31] benjie commented on #872
Best bet is to look through the existing code; main path is:

Construct the `DEFAULT_HANDLE_ERRORS` function (which is the alternative to `handleErrors`):

https://github.com/graphile/postgraphile/blob/cc3c7d95b3a567aa58e32e1ff9485a6caf37569d/src/postgraphile/http/createPostGraphileHttpRequestHandler.ts#L180-L199

Which calls `extendedFormatError` passing  the relevant error fields. That then pull

[2018-10-15 15:31] benjie commented on #872
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2018-10-15 15:31] #872 closed

[2018-10-15 15:44] sjmcdowall commented on #634
Where is your Authorization header in the 2nd example ... that's not really a custom header..??

If you have turned on JWT processing, etc. somehow or in someway .. the lack or in this case, maybe the inclusion of the Auth header is causing the issue?

Anyway, it seems suspect.. :)

[2018-10-15 16:10] #560 closed

[2018-10-15 17:17] benjie commented on #634
The issue seems to be one of CORS:

![screenshot 2018-10-15 18 13 58](https://user-images.githubusercontent.com/129910/46966612-2218cf80-d0a6-11e8-8a7f-bd0ace91db8b.png)

Specifically the `email-address` header (which is not a standard header, and thus should be prefixed with an `x-`, but that's irrelevant) is not in the list of allowed headers, so the browser is preventing the CORS request taking

[2018-10-15 19:02] #868 closed

[2018-10-15 19:03] benjie commented on #849
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2018-10-15 19:03] #849 closed

[2018-10-15 19:17] benjie commented on #868
@tim-field Can you test with `postgraphile@next` and let me know if the issue is resolved?

[2018-10-16 15:40] benjamin-rood opened #881 "Improve configuration message returned by --simple-collections flag with invalid argument"
I'm submitting a ...

* [ ] bug report
* [x] feature request
* [ ] question

PostGraphile version: 4.0.1

#### Current behavior:

[code]

#### Suggested behavior:

Firstly, return the usage string as shown in the `--help` printout:
[code]

~~~Secondly, I would suggest that the default value for `--simple-collections` be either "both" or "only" (i.e. enable the functionality) as that seems a natura

[2018-10-16 15:45] benjie commented on #881
`--simple-collections` is deliberately opt-in only because GraphQL best practices recommend using cursor pagination, so we want to guide you along that path if we can.

[2018-10-16 16:36] benjamin-rood commented on #881
@benjie Cool. I would like to do this myself.

[2018-10-16 21:30] benjie commented on #881
Awesome 👏 I suspect the easiest way is to follow the similar error message here:

https://github.com/graphile/postgraphile/blob/master/src/postgraphile/cli.ts#L397

You can use `./scripts/dev -- --help` (The double hyphen is important) to run the build in development mode. Hit me up on chat if you need more guidance.

[2018-10-21 19:56] benjie commented on #720
https://github.com/graphql/graphiql/blob/master/package.json

GraphiQL doesn’t yet though 😔

[2018-10-21 20:04] itaied246 opened #882 "How can I integrate 3rd party authentication service?"
I'm submitting a
* [x] question

PostGraphile version: `4.0.1`

I want to try adding `postgraphile` into my project.
I'm currently using `firebase` to authenticate the users (generating and validating `jwt`).

How can I integrate authorization (security) in `postgraphile` and leverage my firebase authentication service?

[2018-10-21 22:40] james-ff commented on #720
There's always one =P.

I rest hope in this PR https://github.com/graphql/graphiql/pull/728.

[2018-10-22 10:39] benjie commented on #882
PostGraphile can consume JWT from other sources to use for authentication; we have a wide array of JWT configuration options - have a look on https://www.graphile.org/postgraphile/usage-cli/#cli-options

Then you use Row-Level Security in PostgreSQL to provide your authorization logic. Relevant documentation starting points:

- https://www.graphile.org/postgraphile/security/
- https://www.graphile

[2018-10-22 21:20] bgotthold-usgs commented on #634
@benjie Thanks for the response. It turns out the issue was defiantly one of CORS. I was sending access-control-allow-headers instead of request-headers. Weird that this did not raise any issues in non query-batching mode. For reference we are running PostGraphile as a library and using CORS middleware. Anyway batch mode is awesome!

[2018-10-23 04:37] tim-field commented on #868
@benjie  Looking good, thank you so much for working on this, sorry I took so long to see this your response.

[2018-10-25 15:28] benjie opened #886 "Readme renders badly on Docker Hub"

[2018-10-25 16:31] V1shvesh commented on #886
Hey @benjie!
I'd like to help you out, but this will be my first contribution to this project.

Can I help you out?

[2018-10-25 17:00] benjie commented on #886
Sure; that'd be great! Basically the issue is here:

https://hub.docker.com/r/graphile/postgraphile/

It seems Docker's markdown renderer doesn't support the raw HTML tags we're using. So they just need updating to use the markdown equivalent like the ones that are working. Here's the file to edit:

https://github.com/graphile/postgraphile/blob/master/README.md

Let me know if you need any help -

[2018-10-25 22:40] benjie commented on #886
If necessary we can host a PNG somewhere 👍

[2018-10-26 12:43] alexppxela opened #887 "Hook on GraphQLInputObjectType"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x] question

PostGraphile version: 4.0.1

I want to obfuscate my database bigserial ids to clients using hashids (https://hashids.org/). So I have built a hook on my output `GraphQLObjectType:fields:field` and now returned ids are string using the hashid implementation. I want my client to call mutations using this hashid instead of d

[2018-10-26 16:06] alexppxela commented on #887
I think I have found a solution mixing hooks and scalars. I have to work more on it to find a clean solution and will share my updates.

[2018-10-26 18:45] benjie commented on #887
Yeah, a custom scalar is the way to solve this 👍. We don’t have hooks on input types currently; I really want to add something but haven’t solved the issue in my head sufficiently yet.

[2018-10-28 07:44] benjie commented on #882
Hey @itaied246, did you solve your issue?

[2018-10-28 20:22] itaied246 opened #890 "folder structure and migrations"
[ X ] question

I'm just beginning using `postgraphile` and I was wondering how do you structure the files and folders of the project?
How does the migrations comes in as well?
How do you look at the current state of the db and navigate through all of the sql files?

[2018-10-29 00:01] benjie commented on #890
There’s a LOT of ways of doing this, and no particular right or wrong way. Personally I use simple up/down migrations and I inspect the state of the DB directly using psql, pgAdmin, or pgcli.

I’m in the process of building a boilerplate based on the approach I’ve been developing but it’s not ready to show yet. Hopefully it will be by the end of the week... if you’re super curious you can see the

[2018-10-29 00:04] #886 closed

[2018-10-29 06:08] itaied246 commented on #890
What do you think about subzero boilerplate?
Do you think it can be integrated with postgraphile?

https://github.com/subzerocloud/subzero-starter-kit

On Mon, Oct 29, 2018, 02:01 Benjie Gillam <notifications@github.com> wrote:

[2018-10-29 07:59] benjie commented on #890
You could certainly use large chunks of it 👍

[2018-10-29 08:04] itaied246 commented on #890
Ok I'll try it, thanks

[2018-10-29 08:04] #890 closed

[2018-10-30 21:46] itaied246 opened #891 "Async actions in pgSettings"
Hello,

Can I execute an async operation in `pgSettings`?
I need to validate the `Authorization` header of the request.
I'm using `firebase`, and it is an async operation.

How can I do it?

[2018-10-30 22:01] benjie commented on #891
Yes; just return a promise from `pgSettings`, or mark it as `async`:

[code]

[2018-10-30 22:01] #891 closed

[2018-10-30 22:03] #887 closed

[2018-10-30 22:06] benjie commented on #526
Should not be necessary in 4.1 (except for the watch mode)

[2018-10-30 22:06] #526 closed

[2018-10-31 08:44] alexppxela commented on #887
It works well replacing BigInt field id by the scalar below in hooks on
 - GraphQLInputObjectType:fields:field
 - GraphQLObjectType:fields:field

[code]

[2018-10-31 20:45] benjie commented on #887
Awesome 👍

[2018-10-31 21:14] benjie opened #896 "Before v4.1.0 release: check GraphQLErrors"
We should be setting things inside of `extensions` but ONLY if the user is using GraphQL v14 (?)

[2018-11-01 08:32] wmathes opened #897 "interface PostGraphileOptions.enableQueryBatching is a string?"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x] question

PostGraphile version:
* 4.0.1

Question:

Hey guys, not sure if its really intended or just a bug. The `PostGraphileOptions`-interface defines `enableQueryBatching` as `string`. Should it be bool or is there something coming up?

[2018-11-02 03:27] thewillhuang opened #898 "Access different db strings based on graphql query params"
I'm submitting a ...

* [ ] bug report
* [x] feature request
* [ ] question

for successfully being able to access different database shards based on some pre-defined graphql query parameters

[2018-11-02 08:29] benjie commented on #898
Could you give examples of how you want this to work?

[2018-11-02 16:01] benjie commented on #753
Support added in #894 and #899 and released as `postgraphile@next` - please test and let me know how you get on. Note you need to set the `graphqlRoute` to the FULL path; e.g.

[code]

[2018-11-02 16:49] thewillhuang commented on #898
say i input companyId, it maps through redis to get the shard to talk to another psql db

[2018-11-02 18:31] benjie commented on #898
Could you give full examples including the GraphQL queries you want to run and how you see them resolving / connecting to various databases? What you're asking at the moment seems quite ambiguous so please make it more concrete with thorough examples.

[2018-11-04 11:07] srghma commented on #363
@benjie @calebmer I have a question about current state of art

I'm using relay modern 1.7, postgraphile generates schema with `nodeId: ID! (global id), id: Int (row id)`

I have an error during rendering `Invariant Violation: RelayResponseNormalizer: Expected id of elements of field `nodes` to be strings`

1. Do I need to use `--classic-ids` flag and change table id field from `id` to `rowId`?
2.

[2018-11-04 15:05] benjie commented on #363
Unsure; I don't use Relay and any time I've tested with it I've always used `--classic-ids`. @chadfurman can you shed some light as you're more familiar with Relay than I?

[2018-11-06 04:00] wmathes commented on #897
thanks :)

[2018-11-07 10:10] Munksgaard commented on #387
Having support for union types in general, as in [this example](https://graphql.github.io/learn/schema/#union-types), would be great.  I'm not sure I have any further insights as to how you'd best express it in postgresql, but I'm just voicing my interest :-)

[2018-11-07 22:40] benjie commented on #744
You can now use PostGraphile directly with Apollo Server (which includes Apollo Engine), here’s a module to help:

https://github.com/graphile/postgraphile-apollo-server

[2018-11-07 22:40] #744 closed

[2018-11-07 22:48] benjie commented on #208
You can now use PostGraphile directly with Apollo Server 2.2.0+, here’s a module to help:

https://github.com/graphile/postgraphile-apollo-server

[2018-11-08 05:11] benjie commented on #898
Are the database schemas 100% identical?

[2018-11-09 02:07] thewillhuang commented on #898
yep!

[2018-11-09 19:09] stlbucket opened #900 "support multiple postgraphile instances in one process"
I'm submitting a ...

* [ ] bug report
* [ X] feature request
* [ ] question

PostGraphile version: @next

here is a repo showing my current attempted usage with a little db script:

https://github.com/stlbucket/postgraphile-multi

[code]

[code]

no errors are thrown, but only the graphql endpoint gets exposed - /dev-graphql doesn't seem to exist.

[2018-11-09 19:18] stlbucket commented on #900
playing with this some more, i can't get the graphql endpoint to change at all.   am i using that option incorrectly?   i've tried also moving it into the graphileBuildOptions but no luck

so i suppose it's possible this is just incorrect configuration?

[2018-11-10 15:44] benjie commented on #900
Yeah, the option is wrong; you should be using `graphqlRoute` as documented here: https://www.graphile.org/postgraphile/usage-library/

[2018-11-10 15:54] benjie commented on #898
Interesting. So... Theoretically you could [wrap the resolver](https://www.graphile.org/postgraphile/extending-raw/#wrapping-an-existing-resolver) and pass through a different `pgClient` on the `context` argument. You'd need to set up the new pgClient with all the relevant settings that were set on the default one, but that's basically what you'd need to do. It'd only work for the single query tre

[2018-11-10 15:55] benjie commented on #898
I'm going to close this because it's beyond the scope of PostGraphile at the moment (you might want to revisit in v5); but feel free to keep discussing below 👍

[2018-11-10 15:55] #898 closed

[2018-11-10 15:56] benjie commented on #900
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2018-11-10 15:56] #900 closed

[2018-11-10 16:39] thewillhuang commented on #898
roger, thank you!

[2018-11-10 19:58] stlbucket commented on #900
works like a charm.

[2018-11-10 20:10] stlbucket commented on #900
to be clear, i was looking at the CLI options by accident - not sure if that one changed at all.

also, the multiple endpoints works as well, so there is no longer any question on that.

[2018-11-10 23:56] tim-field opened #901 "Issues with relations on mutation payloads."
* [x] bug report

Minimal SQL file that can be loaded into a clean database:

[code]

Hi, this seems related to #868 .... sorry :/

Steps to reproduce:

Running library version. 4.1.0-rc.1
Create a mutation that calls "table functions" in the response payload

[code]

Current behavior:
cannot pass more than 100 arguments to a  @function
[failure-sql.log](https://github.com/graphile/postgraphile/fi

[2018-11-11 00:34] tim-field opened #902 "Routes with rowId's don't work after `4.1.0-alpha.1`"
I'm submitting a ...

* [x] bug report

I've got some routes that use rowId in the URL

`/schedules/671`

when I upgrade from  `4.1.0-alpha.1` to  `4.1.0-rc.0` these stop working
[code]

variables
[code]

I'm using [relay classics react  router relay](https://github.com/relay-tools/react-router-relay) which causes the rowId to be passed as a string.  Postgraphile <= 4.1.0-alpha.1 is fine with this

[2018-11-11 01:28] tim-field opened #903 "NumericToFloatPlugin fails on 4.1.0-rc0"
We need this plugin to convert "safe floats" to floats instead of having them appears a strings post the version 4 update ( provided by @benjie  )

This works well until 4.1.0-rc0

Note the console log in here, pre rc0 this logs with

[code]

post rc0 this logs with

[code]

[code]

[2018-11-11 02:30] tim-field commented on #902
:+1:

[2018-11-11 02:30] #902 closed

[2018-11-11 02:43] benjie commented on #903
The fix is to use the `build` hook instead, to run the plugin earlier: https://www.graphile.org/postgraphile/plugin-gallery/#Types__PgSmallNumericToFloatPlugin

But that this fix is needed is disappointing. I'm not sure what has caused this change.

[2018-11-11 02:59] tim-field commented on #903
:+1:

[2018-11-11 02:59] #903 closed

[2018-11-11 03:01] #901 closed

[2018-11-11 03:41] benjie commented on #902
It's typically better to pin all the `graphql`'s to the same version:

[code]

[2018-11-11 10:44] devtim123 commented on #444
Is there any example of a schema extension plugin?

[2018-11-11 15:56] benjie commented on #444
Here’s the docs on it: https://www.graphile.org/postgraphile/make-extend-schema-plugin/

There’s an example one for Stripe on my Patreon feed, I think.

There’s more to come on this front, I’m literally working on it 😁

[2018-11-11 15:57] benjie commented on #444
(But basically it works like graphql-tools except it plugs into the plugin system so they types you add are themselves extensible.)

[2018-11-12 11:03] sJJdGG opened #905 "How to enable --no-ignore-indexes in library usage?"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x] question

PostGraphile version: 4.1.0-rc.1

How is it possible to enable --no-ignore-indexes and/or --no-ignore-rbac when using postgraphile as a middleware?

[2018-11-12 13:57] srghma opened #906 "Status of @nonNull smart comment on computed fields"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x] question

PostGraphile version: 4.0.1

Summary:
Here https://www.graphile.org/postgraphile/why-nullable/#what-about-computed-fields it's said

Is this smart comment implemented already?

[2018-11-12 18:47] sJJdGG commented on #905
Thank you for the answer.
I was mostly curious about ignoreIndexes. Since i didn't find anything relatable about --no-ignore-indexes in docs I opened this issue. after your answer I double checked the docs and ignoreRBAC was already documented. But no documentation about ignoreIndexes. Also i checked the source code and right now there is missing ignoreIndexes property in interface PostGraphileOpt

[2018-11-12 22:34] benjie commented on #905
IgnoreIndexes is in 4.1 which isn’t out yet, hence the delay in docs; I’m leaving this issue open as a reminder to fix it.

As for exposing the comments, PRs are welcome 👍

[2018-11-13 12:10] benjie opened #908 "4.1.0 issue: GraphiQL not letting you toggle star?"
(Only tested with `--enhance-graphiql`)

[2018-11-15 03:14] bpb27 commented on #262
@calebmer @valorize has there been any update on this? i have a computed column that returns a `SETOF` so it's a bit more complicated, and wondering if there's any automated solution since this last arose?

[2018-11-15 17:14] eemeli commented on #753
Apologies for commenting on a closed issue, but `absoluteRoutes` does not quite completely fix the issue for me. I'm mounting Postgraphile on an express.js route on a server that's accessed through a sub-path on a reverse proxy. In total, that means that the path the client uses is `/api/route/graphql`, the "originalUrl" on the API server is `/route/graphql`, and within the route it's just `/graph

[2018-11-15 17:44] benjie commented on #753
Solid idea, much cleaner. I'm going to see if I can get this done before we release 4.1 so we don't have to support the `absoluteRoutes` option. (I'll make it throw, rather than silently disappear.)

[2018-11-16 21:15] jedwards1211 commented on #542
I'm working on an app (with a handwritten API) that allows admin users to grant individual app users or user groups permission to access specific devices.  I'm just curious, how would I structure such a permissions system in Postgraphile/Postgres RBAC?  Is there any way to set up such fine-grained permissions without making every one of my app users a database user?

[2018-11-17 01:45] benjie commented on #542
You only _need_ two database roles total: one to own the database, and an unprivileged one to perform user access. You do not need a database user per application user, that would be pretty unpleasant once you start getting into the hundreds of users!

Here’s an example of creating security policies for a simple forum:

https://github.com/graphile/examples/blob/master/db/700_forum.sql#L115

Here’s

[2018-11-17 01:49] benjie commented on #542
You may find this video informative: https://youtu.be/XDOrhTXd4pE

[2018-11-17 07:57] itaied246 opened #912 "Postgraphile hangs express from closing"
I'm submitting a

* [ x ] bug report
* [ x ] question

PostGraphile version:
Library: 4.0.1

I have designed my http server (`express`) to have `start` and `stop` functions for testing purposes.

[code]
This design is good for testing, since I can start and stop the server (and other components as well)
at the end of a test suite.

When I run a test that start the server, `jest` hang for 10 second

[2018-11-17 09:36] benjie commented on #912
Instead of passing a connection string as the first parameter, pass a pgPool instance. Then when you want to close it down, call pgPool.end()

https://www.graphile.org/postgraphile/testing-jest/

[2018-11-17 09:36] #912 closed

[2018-11-19 09:56] drapadubok opened #913 "Connection to redshift: unrecognized configuration parameter "server_version_num""
I'm submitting a ...

* [x] bug report
* [ ] feature request
* [ ] question

PostGraphile version: 4.0.1

Minimal SQL file that can be loaded into a clean database: can't yet get to the SQL part, failure is on startup.

[code]

Steps to reproduce:
`npm install -g postgraphile`
`postgraphile -c "postgres://<user>:<password>@<host>:5439/<db>?ssl=1" -s <schema>`

Current behavior:
[code]
Expected beh

[2018-11-19 10:06] benjie commented on #913
We use `server_version_num` to determine what version of PostgreSQL we're talking to; because we cannot use the same introspection query against PG11 as against PG9.6. This is one of the [built in settings](https://www.postgresql.org/docs/9.6/runtime-config-preset.html) in PostgreSQL, but it seems that redshift does not support it.

Can you try:

[code]

Replacing `current_database_name_here` with

[2018-11-19 11:36] drapadubok commented on #913
Thank you for the quick answer! Unfortunately, doesn't seem like Redshift supports the command: `ERROR:  SET/RESET commmand in ALTER DATABASE is not supported`.

[2018-11-19 12:42] benjie commented on #913
Okay; then I think we need to wrap this line of code in a try/catch:

https://github.com/graphile/graphile-engine/blob/61957931d236b78c0c8791420d052ae8af22aecf/packages/graphile-build-pg/src/plugins/PgIntrospectionPlugin.js#L227-L229

And fall back to 90600 if it errors. Are you able to try this?

[2018-11-19 13:20] benjie commented on #753
Proposal: add setting `externalUrlBase`; we should remove `absoluteUrls`.

- defaults to ''
- should not have a trailing slash
- is prepended onto any asset URLs
- e.g. `{graphiqlRoute: '/graphql', externalUrlBase: '/subdir'}` would expect that GraphQL is accessible via external URL `/subdir/graphql` (and this is where GraphiQL should send queries)
- e.g. `{graphqlRoute: '/graphql', externalUrlBas

[2018-11-19 13:20] benjie commented on #753
On fix, update: https://stackoverflow.com/a/52556025/141284

[2018-11-20 08:56] drapadubok commented on #913
Sure, I can give it a try, thank you! Let me take a look at the project and set it up, I'll try to make the PR :)

[2018-11-20 08:58] benjie commented on #913
Awesome; feel free to reach out for help 👍

[2018-11-20 10:11] mattbretl commented on #913
It looks like you can still use `VERSION()`. I haven't used Redshift, but I'm guessing it gives something similar to these:

PostgreSQL 9.5.13 on x86_64-pc-linux-gnu, comp ...
PostgreSQL 9.6.9 on x86_64-pc-linux-gnu, compi ...
PostgreSQL 10.0 on x86_64-pc-linux-gnu, compil ...
PostgreSQL 11.1 (Ubuntu 11.1-1.pgdg18.04+1) on ...
I'd suggest something like instead of hard-coding 90600:

[code]

[2018-11-20 10:19] drapadubok commented on #913
Alright! I get 80002 as a version this way, would that work with the introspection query?

[2018-11-20 10:54] mattbretl commented on #913
It will execute the introspection query. But depending on the differences in pg_catalog between PG 9.4 (see https://www.graphile.org/postgraphile/requirements/#postgresql-94-not-officially-supported-but-works) and Redshift-flavored 8.0.2, it might (probably will) throw. Only one way to find out.

[2018-11-20 11:19] drapadubok commented on #913
Exciting stuff :D But makes sense, I would expect Redshift users to be quite late to any graphql related party. If it fails I can try to take a look and see if I can fix it (I can also just run the query itself first), but in my PR I get errors from prettier that I am not sure how to fix: https://github.com/graphile/graphile-engine/pull/343
If you can give me any pointers - I'd be happy!

[2018-11-20 11:44] benjie commented on #913
PostgreSQL themselves do not support any versions below 9.4 any more:

https://www.postgresql.org/support/versioning/

PostgreSQL v11 will be supported until nearly the end of 2023!

[2018-11-20 15:42] vhf commented on #457
I had the same problem and google lead me here. This issue definitely helped me understand it was a permission problem, since my particular mistake was a bit different than what you could read here I'm writing it with the hope it'll help someone who'd follow the same path:

I had this exact same problem because of a confusion between `using` and `with check`:

[code]

[code]

[2018-11-21 03:09] bingzheaaa opened #915 "Hooks on auto-generation CRUD function"
I'm submitting a ...

* [ ] bug report
* [x] feature request
* [] question

PostGraphile version:4.0.1

in some auto-generation CRUD function i need to do some more work, like add push message

[2018-11-21 07:35] drapadubok commented on #913
Ok, I can see that Redshift doesn't provide a some of the tables which are queried in the introspection query (e.g. pg_roles), and when I try to run some parts of it, there might also be some syntactic differences (e.g. array[]). So some reworking would be needed to just make it work. What is the minimal data that is needed from such a query to enable the Postgraphile to work? Since Redshift is a

[2018-11-21 08:35] benjie commented on #915
Totally. You can do that already via [resolver wrapping](https://www.graphile.org/postgraphile/extending-raw/#wrapping-an-existing-resolver), but it's not as easy as it could be. I've got adding a helper for that on my todo list:

https://github.com/graphile/graphile-engine/issues/342

I'm closing this in favour of the above issue, but thanks for reporting 👍

[2018-11-21 08:35] #915 closed

[2018-11-21 08:38] benjie commented on #913
The introspection query now accepts arguments:

https://github.com/graphile/graphile-engine/blob/master/packages/graphile-build-pg/src/plugins/introspectionQuery.js

I think we can completely turn off the pg_role stuff if you don't specify `--no-ignore-rbac`. Similarly the pg_index stuff can be disabled unless `--no-ignore-indexes`. This might be the best way forward.

Ultimately the plan is to ma

[2018-11-21 11:17] drapadubok commented on #913
I should be able to, I think, as long as I understand what is the usage of the results of this query down the line, e.g. if I disable some parts, I might break something down the line that I don't know yet about. I will try to look into it, thank you!

[2018-11-21 12:19] benjie commented on #913
Just worry about the introspection query itself; I'll try and clean up the code to support it 👍

[2018-11-21 13:30] bingzheaaa opened #916 "default value for update Mutation"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x] question

PostGraphile version:4.0.1

could i set a default value for update Mutation args.
like:
mutation {
  	updateUserById(input: {userPatch:{name:"test"}, id:1}){
              user{id name updatetime}
       }
}

return field updatetime will be set currenttime.

[2018-11-21 13:50] benjie commented on #916
You can write a plugin that will do this; however I would advise against it. Instead I would use database triggers to achieve this goal, e.g.

https://github.com/graphile/bootstrap-react-apollo/blob/c4eb266f66a5287a535f57941ae1bce188035750/db/migrations/20181102_191809.app_private.functions.tg__timestamps.create-up.sql

https://github.com/graphile/bootstrap-react-apollo/blob/c4eb266f66a5287a535f57

[2018-11-21 13:51] benjie commented on #916
[semi-automated message] Thanks for your question; hopefully we're well on the way to helping you solve your issue. This doesn't currently seem to be a bug in the library so I'm going to close the issue, but please feel free to keep requesting help below and if it does turn out to be a bug we can definitely re-open it 👍

[2018-11-21 13:51] #916 closed

[2018-11-21 13:58] bingzheaaa commented on #916
First of all, thank you for your reply.
could you tell me how to  write a plugin?

[2018-11-21 15:00] benjie commented on #916
Sure; there's some documentation here: https://www.graphile.org/postgraphile/extending-raw/

I've also written a plugin that achieves close to your specific goal here:

https://github.com/graphile/graphile.github.io/blob/4e181a135ae23e8b6ed50abaf2f0a62bac337632/examples/plugins/0300_mutation_wrappers/OverrideArgValuePlugin.js

A more conventional plugin for setting a default would be this one (but

[2018-11-21 16:53] benjie commented on #913
It seems that Redshift does not have support for JSON:

https://docs.aws.amazon.com/redshift/latest/dg/c_unsupported-postgresql-datatypes.html

Without JSON, PostGraphile will not operate. Sadly, I think this means that we cannot support Redshift. I think the reason for this is that redshift forked from PostgreSQL too early; the minimum PostgreSQL version we work on is v9.4. Sorry @drapadubok!

@d

[2018-11-21 20:31] vincenzo opened #917 "Feature request: ability to add graphql-middlewares"
This is to request the ability to decorate the final executable schema with [graphql-middleware](https://github.com/prisma/graphql-middleware).

[2018-11-22 02:12] bingzheaaa commented on #916
thanks!

[2018-11-22 08:53] benjie commented on #913
You’re welcome 🙂

[2018-11-22 08:53] #913 closed

[2018-11-22 15:59] benjie commented on #906
https://github.com/graphile/graphile-engine/pull/352 This is introducing the `makeChangeNullabilityPlugin` too; which you can use to set certain fields nullable (`true`) or non-nullable (`false`); e.g.:

[code]

(But I prefer the smart comment approach.)

[2018-11-22 16:46] benjie commented on #917
Nope; moving this back to graphile-engine - it's a generic concern - let's add a new `finalize` hook that's called once the schema is generated for any badly behaved libraries that mutate a previously generated schema.

[2018-11-22 18:01] benjie commented on #916
4.1.0 will have a new `makeWrapResolversPlugin` you can use to more easily wrap resolvers; see some examples in the PR:

https://github.com/graphile/graphile-engine/pull/352

[2018-11-22 18:50] #905 closed

[2018-11-22 19:42] benjie commented on #753
All of this has been implemented in https://github.com/graphile/postgraphile/pull/919

[2018-11-22 19:57] #753 closed

[2018-11-22 21:11] benjie opened #921 "Consider adding Apollo-specific headers to allowed CORS headers list"
https://github.com/apollographql/apollo-server/blob/492fcf94e6fadd576b39074c533781f0370178bc/packages/apollo-engine-reporting/src/extension.ts#L22-L24

https://github.com/apollographql/apollo-link/blob/8e7f55882af459678d298c0ba0706e68eef998f0/packages/apollo-link-http/src/httpLink.ts#L67-L82

https://github.com/apollographql/apollo-link/blob/8e7f55882af459678d298c0ba0706e68eef998f0/packages/apollo

[2018-11-22 21:56] #908 closed

[2018-11-23 10:02] benjie commented on #881
@benjamin-rood Any update on this?

[2018-11-23 10:25] #869 closed, assigned to nobody

[2018-11-23 11:54] #896 closed

[2018-11-23 14:58] srghma opened #927 "consider using "set search_path from current" in examples/forum"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x] question

Hi, @benjie , I found you are using `set search_path from current` on almost all functions here

https://github.com/graphile/examples/blob/8751308ebd3a7a1350158e1eec164d3330d785d6/db/400_users.sql#L3

Why you do this and why not to do this in examples/forum/schema.sql because it's the first place where newbies go to? tnx

[2018-11-23 15:05] srghma commented on #927
Let me guess

You do this because the default postgres search_path is `"$user",public` (https://www.endpoint.com/blog/2012/11/15/postgresql-searchpath-behaviour)

thus, the first searched schema depends on the content of `session_user`

[2018-11-23 15:09] benjie commented on #927
The forum example is very old; the plan is to remove it once bootstrap-react-apollo is complete. I build PostGraphile schemas in quite a different way to how the forum example works.

Adding `set search_path from current` is an important clause if you think a user might be able to get direct access to your database. The reason is that they could change the search path to one that includes tables,

[2018-11-23 15:10] benjie commented on #927
By the way, if you want to raise a PR that adds that to all the functions, I'd merge it 👍

The example schema is also now located on the website: https://www.graphile.org/postgraphile/postgresql-schema-design/

[2018-11-23 15:10] #927 closed

[2018-11-23 17:11] benjie commented on #753
@eemeli This is now out in postgraphile@next; could you tell me if externalUrlBase does the trick please? https://github.com/graphile/postgraphile/releases/tag/v4.1.0-rc.2

[2018-11-24 07:52] eemeli commented on #753
Yes, rc.2 and `externalUrlBase` works for me. :)

[2018-11-24 10:08] benjie commented on #753
AWESOME 🎉  Thanks for getting back to me @eemeli

[2018-11-24 10:42] aoshi321 opened #928 "Override generated crud functions"
Hi

How do I Override any of the generated crud functions with my own custom function

thanks

[2018-11-24 13:40] benjie commented on #928
Hi @aoshi321, great question! I've created a example to show you how this might work using PostgreSQL functions:

https://github.com/graphile/small-examples/tree/master/examples/crud_replacements

It's also possible to perfectly replace built in CRUD mutations using the plugin architecture.

[2018-11-24 13:40] #928 closed

[2018-11-24 13:40] benjie commented on #928
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2018-11-25 13:54] saerdnaer commented on #736
Are there any updates on this idea? It would be nice to embed postgraphile directly e.g. in a stiching GraphQL gateway without http in-between gateway and postgraphile.

[2018-11-25 18:48] benjie commented on #736
@saerdnaer It seems like you're requesting something slightly different - i.e. schema stitching? Stitching PostGraphile with another schema should work fine; the problem most users face is that you need to provide the correct per-request things on the `context` you feed to the `graphql` function. Many of the servers do not support this, they expect `context` to only contain garbage-collectable val

[2018-11-26 12:18] srghma opened #929 "how to raise error from postgraphile with custom response status code"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x] question

PostGraphile version: 4.0.1

______________________________________________

I want to be able to signal client application that current user is not authenticated using 403 status code (because 401 status code is already used to signal that jwt is expired)
https://github.com/graphile/postgraphile/blob/39eb0449831c97c9c38d

[2018-11-26 12:33] benjie commented on #929
In my opinion, that's not really the GraphQL way to do things; the reason is that your query (or mutation) can contain multiple actions, and it's possible for some to succeed whilst others fail. This "partial success" feature is one of the founding principles of GraphQL. It's the reason that GraphQL is nullable by default, and rather than having just an error response, it has a list of errors and

[2018-11-26 12:40] srghma commented on #929
@benjie you haven't failed to convince me, but still please tell me a way to accomplish this

_______________

re `Node.js middleware that runs before the GraphQL is resolved and aborts if the user is not authenticated.`
- this doesn't work for me, I don't want to 403 ALL requests to graphql, I want to 403 them only if some of them call `current_user_id_required` function

[2018-11-26 12:54] benjie commented on #929
You can accomplish this using the `handleErrors` function; it's poorly documented but here's where it's called:

https://github.com/graphile/postgraphile/blob/d66537febb6a16d122e8bb272251f12285da5922/src/postgraphile/http/createPostGraphileHttpRequestHandler.ts#L719

As you can see, it's passed the list of errors generated from GraphQL, and the `req` and `res` objects. So you can do:

[code]

Note

[2018-11-26 13:55] benjamin-rood commented on #881
Ah! Sorry! Will work on it tonight or tomorrow.

[2018-11-26 13:56] benjie commented on #881
Awesome; thanks @benjamin-rood 👍

[2018-11-26 19:10] mattbretl commented on #91
I just released a plugin for this: https://github.com/graphile-contrib/pg-many-to-many

Requires postgraphile@^4.1.0-rc.2

[2018-11-26 19:19] benjie commented on #91
Superstar, @mattbretl! Please add it here (near the top!): https://www.graphile.org/postgraphile/community-plugins/

[2018-11-26 19:31] benjie commented on #404
Thanks @natejenkins; I've modified the issue description with your fixes 👍

[2018-11-26 21:20] natejenkins commented on #292
small correction, the command line flag is `--jwt-audience` not `jwt-audiences`, at least on version 4.0.1

[2018-11-27 20:21] srghma commented on #929
Tnx for help, i decided not to return 403 for all request, my use case (currentUser shouldn't be null, but it's null) is really client error, you was right

[2018-11-27 20:21] #929 closed

[2018-11-28 12:33] Munksgaard commented on #387
Here's what I recently experienced:

I have the following schema:

[code]

I then try to run a query:

[code]

I get the following result:

[code]

For this simple case, I sort of expected it to work.

[2018-11-28 13:37] benjie opened #930 ""Cannot read property 'keyAttributeNums' of undefined" error when using table inheritance"
I have the following schema:

[code]

I then try to run a query:

[code]

I get the following result:

[code]

For this simple case, I sort of expected it to work.

_Originally posted by @Munksgaard in https://github.com/graphile/postgraphile/issues/387#issuecomment-442431193_

[2018-11-28 17:19] micimize commented on #387
@Munksgaard [inheritance isn't integrated with unique constraints](https://www.postgresql.org/docs/11/tutorial-inheritance.html), including primary keys. So, `test.user_file` has no primary keys, which could be the underlying cause. I don't have this issue using a great deal amounts of inheritance, but all my relations have primary keys

[2018-11-28 17:34] Munksgaard commented on #387
@micimize Good catch! I'll try it out, but I suppose you're right. Out of curiosity, how would you treat the case above? Would a simple `create unique index on test.user_file (id)` work? Or does it need to be declared as a primary key?

[2018-11-29 00:31] benjie commented on #881
The link above is out of date; here’s an updated one. Can’t figure out how to permalink it on mobile :(

https://github.com/graphile/postgraphile/blob/master/src/postgraphile/cli.ts#L431

[2018-11-29 00:34] benjamin-rood commented on #881
Haha, thanks. I actually put my Sherlock Holmes hat on and deduced that already ;)

On Thu, 29 Nov 2018 at 2:31 AM Benjie Gillam < Benjie Gillam ( Benjie Gillam <notifications@github.com> ) > wrote:

[2018-11-29 16:02] micimize commented on #387
@Munksgaard I think this should work - it's roughly what I do:
[code]
You might also consider just using a through table like `user_file ( user_id, file_id )

[2018-12-02 04:58] cdaringe opened #933 "postgraphile performance degrades on simple sort with large dataset"
I'm submitting a ...

* [x] bug report
* [ ] feature request
* [ ] question

PostGraphile version: `4.1.0`

# problem

- postgraphile performance degrades on simple sort with large dataset

# current behavior

- with 1M items, a simple sort on an indexed column takes > 13 seconds.

# expected behavior

- performance that matches simpler sql, which returns < 1 second

# demo

- a repeatable example

[2018-12-02 10:48] benjie commented on #933
Protip: use `DEBUG="graphile-build-pg:sql"` for a much better formatted SQL debugger output!

I'm not getting the query times you are; for me, rather than >13s it comes in at

~ 1.7s for @latest
~ 4.1s for @next

This shows a performance regression in 4.1; most likely caused by the partial move to JSONB. I'll need to investigate this further before I release 4.1.

I put the JSON stuff in the wrong

[2018-12-02 15:12] benjie commented on #933
I've fixed the performance regression.

Solving the JSON performance issue for unindexed queries is not as simple as using `select * from table` as I initially thought above because that will break the applications of anyone who is using column-level SELECT grants (e.g. `grant select(id, name) on my_table to my_role;`). That's probably why I didn't do that previously. Just selecting the columns th

[2018-12-02 15:31] benjie commented on #933
Fixed in https://github.com/graphile/graphile-engine/pull/361

[2018-12-02 15:31] #933 closed

[2018-12-02 15:44] benjie commented on #930
I just span up this schema on both v4.0.1 and v4.1.0-rc.3 and it works fine on both:

[code]

[code]

Can you confirm what your setup is, @munksgaard?

[2018-12-02 15:44] #930 closed

[2018-12-02 15:48] benjie commented on #930
Here's where I've added the tests to graphile-engine: https://github.com/graphile/graphile-engine/pull/363

[2018-12-02 17:03] benjie commented on #933
This fix is out in postgraphile@next

[2018-12-02 19:44] benjie commented on #933
Whoops; only fixed it for ascending order, not descending order. Will push a new release later in the week.

[2018-12-02 20:12] Munksgaard commented on #930
@benjie Hmm, you're right that, that seems to work. There must've been something else wrong when I tried it. Thanks for adding the test though.

[2018-12-03 02:00] cdaringe commented on #933
🔥

done. not much, but a start

huh.  bummer.  I assumed PG would gracefully handle that.  if it does, even partially, perhaps the simpler query could be used with conditional post-processing?  not sure if that makes sense, or if that'd even greatly improve perf.

anyway, thanks for the quick response!

[2018-12-03 06:50] Munksgaard commented on #930
Thanks, I'll let you know if I figure it out :-)

[2018-12-03 11:36] benjie commented on #933
Thanks; all contributions gratefully received!

Sadly PG does not gracefully handle it:

[code]

`postgraphile@4.1.0-rc.5` is now out with the missing descending order fix.

[2018-12-07 15:45] jvice152 opened #938 "Updating a compsite type nulls other fields that are not defined in the mutation"
I'm submitting a ...

* [x ] bug report
* [ ] feature request
* [ ] question

PostGraphile version:

when updating fields under a composite type, it will null every field i have not defined...

Minimal SQL file that can be loaded into a clean database:

[code]

Steps to reproduce:

Current behavior:

i am running via npm, with the debug for sql on below is my create and update, only modifying the

[2018-12-07 15:48] jvice152 commented on #938
i see you are converting the entire object to json... perhaps a json delta where the value is not supplied. perhaps a merge instead of an entire blow away?

see: http://blog.bguiz.com/2017/json-merge-postgresql/

[2018-12-07 16:04] benjie commented on #938
Only the fields on the patch object itself are applied as a patch, the values specified in the patch (e.g. ints, strings, your composite type) are then used to replace the previous values. This behaviour is intentional.

Supporting patch on sub-fields is an interesting idea, but a custom or additional mutation might be a better way of defining the exact behaviour you want. What exactly is the use

[2018-12-07 17:38] jvice152 commented on #938
thanks for the quick response!

I would love to do away with the anemic model i have currently in regards to mutations, but the first step in this legacy migration is to allow generic crud operations on the entities without introducing too many variables to the migration. Also I wanted to encapsulate all of the child entities, which is why i made rowtypes/composite to types that i didnt treat as t

[2018-12-07 17:56] benjie commented on #938
Yeah; they definitely could be supported. Doing so would be a breaking change (and is not default behaviour I desire) but you could do it via a Graphile Engine flag. If you wanted to do so,

Here's where the type for a column is determined, you'd want to return something different if `isPgPatch` is true:

https://github.com/graphile/graphile-engine/blob/e5b1ba93ce550ba51da5e11cd644e3efdfc93cbd/pac

[2018-12-07 19:50] jvice152 commented on #938
you will have to forgive me, as i have just been playing with this engine as of this week. If i hear you correctly, option 1 & 2 (two being the preferred) will require a fork in either instance, and 3 is just explicitly creating the mutations?

sounds like i have to deal with composite types being treated as primitives until further notice

[2018-12-08 09:13] benjie commented on #938
(1) would be a pull request, or you can just replace an internal plugin which means you’re only “forking” one file, you would still use official postgraphile from npm to run your app;

(2) would be a small plugin (postgraphile is all about plugins to customise things for your needs) which means no need to fork, but I think it might not work, alas. Input types don’t have as powerful hooks as output

[2018-12-10 19:47] carueda opened #940 "Versioned docker images"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x] question

I've been testing PostGraphile for a few weeks now in an application that is still in prototype stage. As this is turning out to be very promising (great job team!) I started to wonder about your plans to also version the published docker images.   Thanks!

[2018-12-12 08:36] benjie commented on #933
I’ve not come up with a way to solve this for unindexed queries that is not a breaking change and that works for arbitrary databases without requiring significant work yet.

The current solution is to ensure your queries are indexed.

I’m thinking that selecting the PKs and then re-selecting the results after may be the solution, but that only works if a table has a PK; it’s also messier and more

[2018-12-12 13:14] benjie commented on #933
This could be a perfect use case for `ctid` though... That wouldn't require PKs/etc. Would be very PostgreSQL specific though...

[2018-12-12 17:09] cdaringe commented on #933
So the two main inhibitors are column select grants, and computed columns. I'd like to know a little more about why selecting individual columns as discussed in your original proposal breaks computed columns.  Please using introspection we could run a faster version of the query if that constraint straight wasn't detected?

[2018-12-14 09:46] benjie commented on #933
Computed columns are passed the full table record, e.g.

[code]

If we select just the specified columns, then we can't _later_ call the computed column.

[code]

I'm not keen to split the query logic based on introspection: it adds to the planning time, and more importantly it also doubles the number of code paths that need testing.

I'm still thinking `ctid` may be a good solution. It will only

[2018-12-14 16:38] cdaringe commented on #933
i suppose i could write a `fn` to exec a simplified version of the query that postgraphile generates then pass it back to postgraphile, but it's somewhat self-defeating to the value proposition of the library.  of course, i suppose i'm taking it to the limits.  thinking out loud.  i don't know, am i taking it to the limits? i do acknowledge that it's an incredibly difficult ask to match PG perf 1:

[2018-12-14 17:52] benjie commented on #933
Yeah, performance is definitely super important to us - and for the most part PostGraphile performance is incredibly good, you normally just have to be a little careful how you write your queries and ensure you add the relevant indexes.

Computed columns are also extremely important for database-driven development; without them you just have a basic CRUD store which is really missing the point of

[2018-12-14 18:47] cdaringe commented on #933
ya. totally.  in this case, i'm essentially talking about a pretty basic query.  `select * from <view> order by <a-maybe-indexed column>`, and we end up observing a significant perf pg divergence here at the 'phile layer.

i can't thank you enough for pg fn integrations :) 🎉 . very cool design.

i wan't to kindly push back on that. this only works in some cases where you can put indexes everywhere

[2018-12-14 20:59] benjie commented on #933
I wish I could drop support for column-level select privileges. Doing so would simplify things a LOT and make solving this performance issue a lot easier. It's even on the list of things we discourage:

Sadly a lot of people use it, and their reasons are generally sound. The alternatives (such as splitting tables on permissions boundaries and using one-to-one relations to join them) are not super

[2018-12-17 12:02] mathroc opened #941 "invalid tstzrange value formatting"
when getting the value of the lower bound of a tstzrange, I'm getting something like this : `"2018-12-17 09:48:12.69812+00"` instead of `2018-12-17T09:48:12.69812+00`

notice the extra quotes and the missing `T` between the date and time parts

I looked at the PgTypesPlugin but couldn't figure out what would be the way to solve that yet

ps: I did not try but I suspect there's the same problem wit

[2018-12-17 12:06] benjie commented on #941
Ahhhh very interesting. So this is because we rely on the `to_json` of timestamps putting them into ISO format within the DB. When we have a range we just get the range back (unprocessed), which we then parse and feed through the JS processing. In the case of dates, JS processing doesn't do anything _because_ the database already handled it. Except it didn't in this case... Hence the issue.

https

[2018-12-17 12:08] benjie commented on #941
Just processing the date in JS is risky because it depends on the timezone of the server/connection. Our best bet might be to explicitly set the timezone to UTC when we create a PostgreSQL connection, pull the date through, then process it in JS. (And hope that the user doesn't want to/need to override the timezone in pgSettings.) We've managed to avoid having to do these client settings so far.

[2018-12-17 12:44] sjmcdowall commented on #941
Isn't there some setting at the DB server level to the "default timezone" ?  I.e. doesn't one set the timezone (or can) at the server level?  Maybe the connection should set the TZ to whatever the server is at ?  If I am totally wrong -- then I think UTC is the best choice because these days it's certainly easy enough to switch to any other TZ desired ...

[2018-12-17 12:54] mathroc commented on #941
could we build the json in the query? with something like:

[code]

[2018-12-17 13:07] benjie commented on #941
Yes, we absolutely could do that. Smart 👍

[2018-12-19 09:03] ValeriaVG opened #942 "Add hint when a foreign key relation is skipped due to missing index"
I'm submitting a ...

* [ ] bug report
* [x] feature request
* [ ] question

PostGraphile version: 4.1.0
Pg version: 9.6.6

Minimal SQL file that can be loaded into a clean database:

[code]

Steps to reproduce:
[code]

Current behavior (generated schema):
[code]

Expected behavior:

[code]

UPD: After further thinking, I believe that instead of implementing support for that it's be better to see

[2018-12-19 10:48] benjie commented on #942
This is definitely not a bug - it is exactly what `ignoreIndexes: false` is supposed to do, because foreign keys don’t have indexes by default and using them without an index can be expensive. I think I agree that it should tell you it skipped it though... but we shouldn’t take it too far, e.g. telling you about every orderBy that’s been omitted due to lack of index would be overwhelming.

[2018-12-19 10:50] ValeriaVG commented on #942
@benjie totally agree. The warning should appear only in case the relation is skipped

[2018-12-19 16:46] benjie commented on #942
Turns out we already had this behind a DEBUG flag; I'm going to raise it to a perma-console.log and if people complain we can discuss ways to reduce the logging.

[2018-12-19 16:49] benjie commented on #940
For anyone following, this was discussed a little on Discord:

https://discordapp.com/channels/489127045289476126/489127045826215962/521789827046309907

Help from people more experienced on DockerHub than I would be very welcome.

[2018-12-19 16:52] benjie commented on #938
I'm closing this for now as "works as intended". If you're interested in implementing this feature (or sponsoring its development) then please get in touch 👍

[2018-12-19 16:52] #938 closed

[2018-12-19 17:38] benjie commented on #941
@mathroc If you're interested in taking this on, you should be able to do this in a standalone plugin (though it should definitely be merged into core!); e.g. this is part of a plugin that adds support for the hstore type:

https://github.com/graphile/graphile-engine/blob/7c712a9704642221438d93f6716cd04332d54ac3/packages/graphile-build-pg/src/plugins/PgTypesPlugin.js#L1012-L1022

The main things h

[2018-12-19 17:39] #942 closed

[2018-12-20 18:46] benjie commented on #938
I’d definitely be interested to hear your conclusion and reasoning; if you care to share you can email me benjie at graphile org.

[2018-12-21 08:57] JeetChaudhari commented on #92
@benjie Is there any way I can use subscriptions with apollo-server? I am using 'postgraphile-apollo-server' with nestjs framework, it works great for queries and mutations however I am not sure how to use subscriptions. I can write my own custom subscription but I would like to do it via postgraphile plugin.

[2018-12-21 09:04] benjie commented on #92
@JeetChaudhari I don't have enough experience with Apollo Server to know for sure; but have you tried creating a Subscription extension with makeExtendSchemaPlugin? Maybe it Just Works ™️?

https://www.graphile.org/postgraphile/make-extend-schema-plugin/

[code]

[2018-12-21 09:10] xorander00 commented on #92
@JeetChaudhari

My current approach is to utilize Apollo [schema stitching](https://www.apollographql.com/docs/graphql-tools/schema-stitching.html) with [link composition](https://www.apollographql.com/docs/link/composition.html).

I have a thin, root GraphQL server that stitches together other upstream APIs (both GraphQL & REST).  One of those servers is an Apollo GraphQL server that's dedicated

[2018-12-21 09:16] JeetChaudhari commented on #92
@benjie I tried but always I am getting the following error.

{
  "error": {
    "message": "Subscription field must return Async Iterable. Received: undefined"
  }
}

Maybe there is something wrong with my implementation. I will give it try with the example you provided and let you know.

@xorander00 Thank you for showing the approach. I would try to get this done through the plugin but if it wou

[2018-12-21 10:51] benjie commented on #92
Super happy it worked for you! You may want to remove the console.log, I just added that to help you debug 👍

[2018-12-22 01:42] DenisNeustroev opened #944 "How to rollback all mutations if only one of them falls?"
This is useful for applications with large client logic, they will be able to manipulate mutations as Lego cubes, without creating separate custom mutations just for the sake of combining them under one transaction.

[2018-12-22 02:39] benjie commented on #944
Sorry, this would not adhere to the GraphQL specification, so is not something that we plan to implement. There is no dependency between mutations (other than their serial nature) and it’s valid for one to fail but the others to succeed.

https://facebook.github.io/graphql/draft/#sec-Mutation
https://facebook.github.io/graphql/draft/#sec-Errors-and-Non-Nullability

One option within the GraphQL sp

[2018-12-22 02:39] #944 closed

[2018-12-22 03:38] langpavel commented on #944
I fully agree with @benjie
But you can pack multiple input types together into single mutation @DenisNeustroev
Then you can response once - with one type.
It will be atomic and you can get needed behaviour.

[2018-12-22 03:44] langpavel commented on #944
Oh, this is postgraphile.. you should write own function in postgres. You should do this for all atomic required non trivial operations

[2018-12-22 10:41] DenisNeustroev commented on #944
Thanks for the quick response! Your excellent library allowed us to remove more than 20 thousand lines of golang code.

Can you tell me if it’s possible to delete savepoints using a plugin or plugin+directives? If so, what plugin methods will help to do this?

[2018-12-22 15:42] benjie commented on #944
It’s not possible to delete them, but you can wrap them with further save points and rollback to those 😁

https://www.graphile.org/postgraphile/make-wrap-resolvers-plugin/

[2018-12-22 15:47] benjie commented on #944
(This will not work in version 5, because each mutation will use its own independent transaction.)

[2018-12-22 17:36] bfelbo opened #945 "Inconsistent documentation on named types for custom mutations"
It's amazing that postgraphile can now handle all sorts of functions. The documentation is updated at https://www.graphile.org/postgraphile/function-restrictions/, but not at https://www.graphile.org/postgraphile/custom-mutations/. You should probably update the latter as well to avoid any confusion :)

[2018-12-22 22:38] benjie commented on #945
Oooh, thanks for that, good spot 👍

[2018-12-23 13:13] JeetChaudhari opened #946 "How to query in mutation wrapper?"
This is not an issue but a question. I am trying to create mutation wrapper and I want to query DB depending on args.

[code]

Please help me implement this.

[2018-12-26 16:12] sdwvit opened #947 "Custom logger"
I'm submitting a feature request

PostGraphile version: 4.2.0

Hello, I would like to request a feature, which is custom logger instead of console.log.
If you look at createPostGraphileHttpRequestHandler.js, it uses standard console.log/error to print info about executed queries. Would be cool to have ability to provide custom logger to send logs elsewhere except for stdout (in my case - logstash)

[2018-12-26 17:06] benjie commented on #947
You should disable the default logging and instead add your own logging solution as middleware before mounting PostGraphile as an Express or similar middleware. There are hundreds of logging middlewares available for Express so I’m sure you can find one that suits your needs.

If this solution is not to your taste, could you expand on the type of logging you need?

[2018-12-26 22:52] sdwvit commented on #947
@benjie ok this works too, thanks. Would be nice to have a paragraph in docs which says what you just said.

[2018-12-27 00:13] benjie commented on #947
If you can, press the “suggest improvements to this page” link at the top of the relevant page and submit a PR - that’d be much appreciated 👍

[2018-12-27 00:13] #947 closed

[2018-12-28 18:16] stlbucket opened #948 "bigint in custom jwt doesn't work correctly"
I'm submitting a ...

* [x ] bug report
* [ ] feature request
* [ ] question

PostGraphile version: 4.1.0

i may have encountered a remnant of the bigint/string issue.   i am using the basic jwt auth from the documentation.  if i define my jwt like so:

[code]

the app_user_id value loses the last two digits.

i can just make the type text, and everything works fine as i'm casting to bigint when u

[2018-12-30 07:05] jeremyeng opened #949 "Issues integrating with gatsby-source-graphql"
I'm submitting a ...

* [x] bug report
* [ ] feature request
* [ ] question

PostGraphile version: 4.1.0

Steps to reproduce:

0. Create a Gatsby project and install the gatsby-source-graphql plugin
1. Run postgraphile through the CLI
2. In a Gatsby project, add the following to gatsby-config.js:
`{
      resolve: "gatsby-source-graphql",
      options: {
        typeName: "PostGraphile",

[2018-12-30 09:31] benjie commented on #949
This is an issue with gatsby-source-graphql; namely it does not rename the operation object types. Try using gatsby-source-pg instead, this works around the issue 😁

[2018-12-30 09:31] #949 closed

[2018-12-30 15:16] bfelbo opened #950 "Errors from Postgres creates UnresolvedPromises when using node middleware"
I'm submitting a ...

* [x] bug report (with known solution)
* [ ] feature request
* [ ] question

Seen with node middleware for Postgraphile version 4.0, 4.1 and 4.2.

**Current behavior:**

If an error is thrown by Postgres such as the one by the following function, it creates an UnresolvedPromise with no response to the client.

plpgsql function:
[code]

GraphQL query:
[code]

Node stack trace:

[2018-12-30 15:17] #950 closed

[2018-12-30 15:18] bfelbo commented on #950
This issue was due to an unmet dependency for pg by Postgraphile. It can be solved by running npm install --save pg or equivalent for yarn. Hopefully this'll save others the trouble I had of debugging to find the underlying issue.

[2018-12-31 01:38] benjie commented on #938
You probably want the filter plugin for that kind of behaviour.

[2018-12-31 03:35] srp commented on #938
If you're referring to _postgraphile-plugin-connection-filter_ it doesn't look like it's generating any filters for my composite field. That said, I was trying to use a composite as a poor man's substitute until _postgraphile-plugin-nested-mutations_ learns how to do updates. I should probably bite the bullet and figure out how to improve the later so I can model my data the right way to begin wit

[2019-01-01 20:37] benjie commented on #946
The `info` argument *is* `resolveInfo`; and `pgClient` is available in the resolver's context argument (this is different to the hook context - do NOT get them mixed up).

e.g.

[code]

[2019-01-01 20:37] benjie commented on #946
[semi-automated message] Thanks for your question; hopefully we're well on the way to helping you solve your issue. This doesn't currently seem to be a bug in the library so I'm going to close the issue, but please feel free to keep requesting help below and if it does turn out to be a bug we can definitely re-open it 👍

[2019-01-01 20:37] #946 closed

[2019-01-05 01:53] marshall007 opened #951 "Warn user when they pass `undefined` schema in library mode"
I'm submitting a ...

* [x] bug report
* [ ] feature request
* [ ] question

**PostGraphile version:** `v4.1.0`

**Steps to reproduce:**

[code]

**Current behavior:**

When using as a library (as demonstrated above), if the second argument to `postgraphile` is `undefined`, the server _appears_ to start successfully and responds to requests at `/graphql`, but does not serve the UI at `/graphiql`.

[2019-01-05 09:30] benjie commented on #951
Could you expand on “does not serve the UI”? Do you get an error?

PostGraphile will fall back to the “public” schema if no schema is passed, this is the desired behaviour. So you should see a (empty schema’d?) GraphiQL when you visit. Seeing no GraphiQL at all is definitely unexpected, hence the request to clarify. Feel free to attach screenshot.

[2019-01-07 18:16] marshall007 commented on #951
@benjie right, the GraphiQL UI is not served up at all in this case. Visiting `/graphiql` results in the standard Node HTTP 404 error:

[code]

I would also argue that while using the `public` schema is desirable default behavior via other configuration mechanisms, library usage where schema is the second parameter should probably at least warn, if not error, when the second parameter is `undefine

[2019-01-07 18:23] benjie commented on #951
I think I agree with you, IFF the third argument is specified. Definitely an error at least.

[2019-01-09 01:50] brynbeaudry opened #954 "Specify which tables and methods require Bearer Token at /graphql"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x ] question

PostGraphile version: 4.2.0

Amazing software guys! But I have a question about public vs private mutation and accessors, by entity. In other projects that use REST endpoints, you can leave the GET /photos/ endpoint public, and alternatively require a bearer token for POST /photos/.

I'm wondering how I can achieve somet

[2019-01-09 18:15] benjie commented on #954
Hi @brynbeaudry! In PostGraphile we normally restrict permissions using row-level security and role-based access control.

For an example of this in action using Koa and Passport.js, see:

https://github.com/graphile/examples/blob/master/server-koa2/middleware/installPassport.js
https://github.com/graphile/examples/blob/master/server-koa2/middleware/installPostGraphile.js

Here's an example of dec

[2019-01-09 18:15] benjie commented on #954
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2019-01-09 18:15] #954 closed

[2019-01-09 21:47] purge opened #956 "Limited GRANT on table causes function type detection to fail"
I'm submitting a ...

* [x] bug report
* [ ] feature request
* [ ] question

PostGraphile version:

4.2.0

Minimal SQL file that can be loaded into a clean database:

https://gist.github.com/purge/ae14aedfc76598bc2ffc3e647e0939af

Steps to reproduce:

*no ignore rbac* is required to fail

`postgraphile --no-ignore-rbac -c "postgres://test:test@/test_case"`

Current behavior:
shows warning

Expecte

[2019-01-09 22:59] benjie commented on #956
It seems we’re not generating the input types for this volatile function (custom mutation). We should though, because functions may need them. Good catch 👍

[2019-01-10 05:55] patsimon opened #957 "error: operator is not unique: smallint[] @> smallint[] only when starting via NPM script"
I'm submitting a ...

* [ x] bug report

PostGraphile version: 4.0.1

Minimal SQL file that can be loaded into a clean database:

[code]

Steps to reproduce:

When I run the following command on the command line... the servers starts up fine

`postgraphile -c postgres://username:password@pellefant.db.elephantsql.com:5432/dbname -a -j -o`

When I run the exact same command from within an npm start

[2019-01-10 08:37] benjie commented on #957
You’re running 4.2.0 via the npm script; my guess is you have 4.2.0 installed locally but 4.0.1 globally, hence the different behaviour. What version of postgres are you running? This looks like it might be an introspection query issue.

[2019-01-10 10:01] benjie commented on #956
Transferring to Graphile Engine repo

[2019-01-10 10:02] benjie commented on #941
As evidenced by the commits above, @mathroc is taking this on via: https://github.com/graphile/graphile-engine/pull/371

🙏 Thanks @mathroc!

[2019-01-10 14:14] #948 closed

[2019-01-11 13:33] benjie commented on #941
Fixed in the above PR

[2019-01-11 13:33] #941 closed

[2019-01-11 13:33] benjie commented on #945
Moving to the docs repo.

[2019-01-13 23:32] brynbeaudry commented on #954
Thank you so much for your help!
That completely answered my question! I clearly have lots of work to do
I've been perusing through, and I found this postgres function here:
app_private.link_or_register_user
https://github.com/graphile/examples/blob/master/server-koa2/middleware/installPassport.js
What would that function look like?

[2019-01-16 10:11] mlegenhausen opened #959 "Why is totalCount nullable?"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [x] question

PostGraphile version: 4.2.0

I have read the [why-nullable](https://www.graphile.org/postgraphile/why-nullable/) article from the website but haven't found any information why this field can be `null`?

[2019-01-16 11:05] patsimon opened #960 "Errors running build script"
I'm submitting a ...

* [ x] bug report
* [ ] feature request

I have just cloned the master branch (at fb17d62e652fc27cb852e93807cd9481104f539d) and am attempting to build it

After running

`npm install` and then `npm run build`

I get
[code]

npm version is  6.5.0
node version is v11.6.0

[2019-01-16 11:32] benjie commented on #960
The issue might be that we use `yarn` rather than `npm`. I recommend starting with a clean checkout of the repository and using `yarn`.

It's probably a good idea to follow the steps in the CONTRIBUTING guide:

https://github.com/graphile/postgraphile/blob/master/CONTRIBUTING.md

[2019-01-16 12:01] patsimon commented on #960
Yes, that works. Thank you for pointing me to the guide.

[2019-01-16 14:38] mlegenhausen commented on #959
@benjie thanks thats great :)

[2019-01-16 14:56] benjie commented on #960
👍 Sounds like the issue is solved

[2019-01-16 14:56] #960 closed

[2019-01-17 15:23] #951 closed

[2019-01-18 00:14] bfelbo opened #962 "Add a hook for custom logging of successful requests and errors"
I'm submitting a ...

* [ ] bug report
* [x] feature request
* [ ] question

PostGraphile version (library): 4.2

First of all, thanks for an amazing project! We're using postgraphile in production and loving it.

One issue we have is that we want to log whether a request was successfully processed or if it failed. For this purpose, we'd love to have hooks/callback functions that we can supply to

[2019-01-18 05:56] subuta opened #963 "ndex"
I'm submitting a ...

* [ ] bug report
* [ ] feature request
* [ ] question

PostGraphile version:

Minimal SQL file that can be loaded into a clean database:

[code]

Steps to reproduce:

Current behavior:

Expected behavior:

[2019-01-18 05:56] #963 closed

[2019-01-18 05:57] subuta commented on #963
Created issue by accident sorry ;)

[2019-01-18 14:04] benjamin-rood commented on #881
Hey @benjie Yes, I will hit you up in discord. Been in "holiday mode" until this week, need to understand how to compile postgraphile-core to check if the fix is right.

[2019-01-18 14:13] benjie commented on #881
Topical; see #core-development as @enisdenjo is currently working on core too.

[2019-01-18 17:51] hartraft commented on #12
I still have this error:

$ postgraphile --version
4.2.0

A fatal error occurred when building the initial schema, so the process will now exit. Error details:

error: operator is not unique: smallint[] @> smallint[]

[2019-01-18 20:04] marshall007 opened #964 "TS definitions for `@graphile/supporter`"
I'm submitting a ...

* [ ] bug report
* [x] feature request
* [ ] question

It would be nice if the `@graphile/supporter` plugin shipped with TypeScript definitions, including a module augmentation on `PostGraphileOptions` to include _Pro_ plugin options.

I think the declaration file would need to look something like this:

[code]