[2016-11-17 08:55] benjie commented on #235
I'm not recommending this (because I've not used it) but also worth checking out is:

https://github.com/oelmekki/pgrebase

[2016-11-17 13:19] chadfurman commented on #235
This is well and good for version control. Though I had hoped for a hierarchy of folders and SQL files.

SQL/users/functions.sql
SQL/users/schema.sql
SQL/auth/functions.sql
Etc.

Would be more maintainable IMHO since we're putting _everything_

Guess there's always room for PRs and new projects ;)

[2016-11-18 16:04] calebmer commented on #96
@javatask with the PostGraphQL 2.0 upgrade, this should be a lot easier, but would require a PR. All that would be involved is running [the introspection SQL query](https://github.com/calebmer/postgraphql/blob/ea3c94de6bbef483c70a3f15f3792b539f943b96/resources/introspection-query.sql) beforehand and construct a [`PgCatalog` from that](https://github.com/calebmer/postgraphql/blob/c752260666f2a9a2b9

[2016-11-18 16:25] javatask commented on #96
Thanks!
I'll try and will write article on medium

[2016-11-18 16:35] calebmer commented on #232
Feel free to join the [Gitter community](https://gitter.im/calebmer/postgraphql) to talk about this and more :+1:

[2016-11-19 00:15] kthornsbury opened #240 "Unhandled 'error' event when password authentication fails"
When I try to connect to my postgresql instance from the command line, I get the following error message, even though I can connect directly using psql. I've tried using the -c option when running postgraphql, but that doesn't seem to work either. Any help would be appreciated!

PostGraphQL server listening on port 5000 🚀

  ‣ Connected to Postgres instance postgres://localhost:5432
  ‣ Introspect

[2016-11-19 01:08] calebmer commented on #240
What are your environment variables that start with `PG*`?

[2016-11-19 01:25] kthornsbury commented on #240
There aren't any PG* environment variables set. Are there any that should be?

[2016-11-19 14:34] valorize commented on #232
Thank you for your insights and the recommendations here and in https://github.com/calebmer/postgraphql/issues/235

[2016-11-19 14:34] #232 closed

[2016-11-19 14:41] benjie commented on #240
It's possible that `psql` locally is using the peer authentication mode of postgres, whereas postgraphql is trying to use a network connection. See: https://www.postgresql.org/docs/9.5/static/auth-methods.html

Try using the same address for psql; for example:

[code]

You might also try explicit authentication (replace pg_user, pg_password and db_name with valid details):

[code]

[2016-11-19 19:44] JesperWe commented on #151
I'm just getting started evaluating your tool (which I think as a concept is pure genius!), but I immediately ran into this. In a real life application there will be many cases where a role should have access only to some properties of an object.

I might be naive, but why do you need the introspection in this case? Isn't it the `select *` that is the problem? If you instead did select the columns

[2016-11-19 20:27] chadfurman commented on #83
I would suggest this ticket is not closed until this functionality is built into the project.  @calebmer it seems that if the project offers JWT support and encourages row-level security, then the bundled implementation of GraphiQL should also support this functionality.

[2016-11-19 20:36] chadfurman commented on #83
However, installing this extension:

https://chrome.google.com/webstore/detail/modheader/idgpnmonknjnojddfkpgkljpfnnfcklj/related

Allows you to set a header:

`Authorization: Bearer "YOUR_JWT_HERE"`

[2016-11-21 15:44] bendiy commented on #151
I think there's two approaches to this.

1. The equivalent of a `SELECT *` where you ask for a resource and get all the columns/properties it has
2. The one @JesperWe suggests where the user is submitting a query for only columns they can view.

If a user asks for a full resource, but they are not able to view some of the columns, we either throw an error, or use introspection to give them only th

[2016-11-21 17:47] bendiy commented on #151
Also, based on http://graphql.org/learn/introspection/, what should a user get with limited column access when running:
[code]
All columns/properties or only those they have access to?
Can the properties they don't have access to be annotated in some way in the schema response?

[2016-11-21 18:35] JesperWe commented on #151
I understand that the introspection is needed for autocomplete and a 100% correct schema. But since it seems (according to the above discussion) to be a larger task, I proposed the more pragmatic (and hopefully less burdensome) approach.

Because for me, the current table level permissions don't cut it for production deployment. Take for example the accounts table: Any logged in user having access

[2016-11-22 13:32] valorize opened #246 "smallint and boolean not cast to correct type"
@calebmer and @benjie I dived into the, boolean is unkown type in function call, problem. I found out that node-postgres is converting all "simple" values to a string so 1 results in "1" and false results in "false". It is done in `pg/lib/utils.js -> prepareValue -> return val.toString()`. I guess that's why @calebmer added
[code]
into `postgraphql/src/postgres/inventory/transformValueIntoPgValue.

[2016-11-22 14:23] valorize commented on #246
I guess the problem with smallint is negligable. As you simply accept integer and convert it to smallint within your function

[2016-11-22 18:24] benjie commented on #246
@valorize Could you file steps to reproduce or link the issue to which you refer, please? I haven't had any issues with booleans in my own project (I don't use smallints). A minimal test-case schema dump and query or mutation that can be ran through graphiql would be grand 👍

[2016-11-22 18:48] kthornsbury commented on #240
Thanks @benjie, I tried again with the explicit authentication, and that seemed to work.

[2016-11-22 18:48] #240 closed

[2016-11-22 21:45] valorize commented on #246
I would like to extend the tests with a test-case but I am a bit overwhelmed by the amount. Do you know if there is a test which creates a function and then tries to query results via this function?

[2016-11-23 15:23] benjie commented on #246
Alas, I'm not at that level yet. But a small standalone schema (dump.sql) and a GraphQL mutation query to run against it might be a good way to start. Then we can just

[code]

and run the query to see the issue.

[2016-11-23 20:54] calebmer commented on #83
I agree, @chadfurman, I’ll reopen. This functionality was actually implemented by @ferdinandsalis, but I haven’t had the time to go in and merge it yet.

[2016-11-23 21:00] calebmer commented on #151
In order to work on this I’m going to need some money to take a week or so off work and implement support for this. I agree that this is a use-case we should definitely support. If anyone can fund the project for a week, or submit a PR send me a DM on Gitter or an email (public on my GitHub profile) and we can move forward :+1:

[2016-11-23 21:06] calebmer commented on #246
@valorize the `c.types_mutation` is used in the [`procedure-mutation.graphql`](https://github.com/calebmer/postgraphql/blob/ce84c191e7273b9ded49f0007777ad369f58f823/src/postgraphql/__tests__/fixtures/queries/procedure-mutation.graphql#L11) integration test. I understand how it may be a little hard to find :wink:

Feel free to reproduce the error with that function, or add another function in any o

[2016-11-24 09:57] valorize commented on #246
It's really odd. I can't reproduce the boolean error anymore. But instead I sometimes get:

[code]

I think it is a kind of race condition because when I execute the exact same query again it only says permission denied to relation xyz (have not given update rights forum_example_anonymous in graphiql). Anyway I will close this ticket until the boolean error reappears. Thanks for your support so fa

[2016-11-24 09:57] #246 closed

[2016-11-24 19:44] barbalex opened #248 "document how to do a mutation"
I may have missed it. But is there an example of how to

- update a field value
- create a new dataset
- delete a dataset

when using postgraphql?

I am new to this. Examples on querying abound and that is very simple. But I have now spent a lot of time trying to mutate and have not succeeded.

[2016-11-25 08:44] ferdinandsalis commented on #203
Is anyone looking into implementing this? If not I will try my best at this …

[2016-11-25 09:27] benjie commented on #248
Hi @barbalex, you're right - we should link to the GraphQL docs to help people get started with mutations and similar. This link should help quite a bit:

http://graphql.org/learn/queries/#mutations

Once you understand how mutations work in GraphQL the next step is to find out what mutations are available with your PostGraphQL schema; the easiest way to do this is to spin up PostGraphQL and then

[2016-11-25 09:32] benjie opened #249 "GraphiQL endpoint not working for me, unpkg.com not returning certain assets"
e.g. if you try and fetch https://unpkg.com/graphiql@0.7.8/graphiql.min.js it returns an empty response, whereas https://unpkg.com/graphiql@0.7.8/graphiql.js works just fine. They're a CDN... so I don't think our usage is outside the norm

https://unpkg.com/

![screenshot 2016-11-25 09 32 11](https://cloud.githubusercontent.com/assets/129910/20620525/0fe51252-b2f2-11e6-9c21-94d4372915ae.png)

[2016-11-25 09:33] benjie commented on #248
Have filed the unpkg.com issue as https://github.com/calebmer/postgraphql/issues/249; they claim to be a CDN so it totally should work...

[2016-11-25 09:39] barbalex commented on #248
@benjie Thanks for the answer. I did do that.

For a newbie this is a little overwhelming though, as there are a lot of concepts to grasp at once: Not only how this works in graphql but also how postgraphql builds the schema.

And looking at a graphiql endpoint mutation docs for a database with (in my case) 40 tables is a little like searching for a needle in a haystack.

I just felt that a simple

[2016-11-25 09:39] barbalex commented on #248
...and feel free to close this issue

[2016-11-25 09:53] barbalex opened #250 "regex to convert table and field names"
I am using https://github.com/kadirahq/lokka to fetch data from the graphql endpoint.

(Yep, I am using postgraphql without relay. Basically I am using the graphql server as an easy way to get an excellent api server out of the box. And the option to use relay later.)

This means I have to convert table names to postgraphql names (sorry for not using the correct expressions here - I am a graphql n

[2016-11-25 10:45] benjie commented on #248
@barbalex I see, so you want documentation on basic insert/update/delete for a "template" table - that does seem like an omission in the docs. We're planning on adding documentation around all of this as part of https://github.com/calebmer/postgraphql/issues/162 but no-one has got around to it yet. If you fancied having a shot at writing some documentation around mutations once you've grokked how

[2016-11-25 10:56] barbalex commented on #248
I will watch https://github.com/calebmer/postgraphql/issues/162 and see if I can manage that

[2016-11-25 10:58] benjie commented on #203
@ferdinandsalis As far as I know, no-one is. Doesn't seem to be any open branches about it:

https://github.com/calebmer/postgraphql/branches/active

[2016-11-25 11:42] benjie commented on #250
I think what you're looking for is [formatName.ts](https://github.com/calebmer/postgraphql/blob/1da6f51837b9cce897e12d728142235d69885700/src/graphql/utils/formatName.ts) which uses the `camelCase` method from the [`change-case` npm module](https://www.npmjs.com/package/change-case); but I'm not certain. Does that help?

[2016-11-25 11:47] barbalex commented on #250
yep, thanks a lot!

[2016-11-25 11:47] #250 closed

[2016-11-25 12:27] onlyjazz opened #251 "Throwing SyntaxError: Unexpected token { on postgraphql execution"
npm install -g postgraphql
pg running on 5432
postgraphql --help (fwiw - any command) throws syntax error because of an empty string in showErrorStack
[code]

[2016-11-25 12:51] onlyjazz commented on #251
actually the problem is that const is not a well-formed JSON object - since these are not key-value pairs

`cors: enableCors = false, classicIds = false, dynamicJson = false, disableDefaultMutations = false `

[2016-11-25 13:26] ferdinandsalis commented on #108
@calebmer what is the status of this?

[2016-11-25 13:28] ferdinandsalis commented on #249
I havent experience this yet …

[2016-11-25 14:34] calebmer commented on #249
The script looks fine to me too, however we really should bundle GraphiQL and React to avoid network issues in the future and allow GraphiQL to work offline. I have a branch that should do this which I just opened a PR for here: https://github.com/calebmer/postgraphql/pull/252

[2016-11-25 14:36] calebmer commented on #251
What version of Node.js are you running? PostGraphQL runs on Node.js 6+. It looks to me like your version of Node.js may not support destructuring. If you need to support an older version of Node.js let me know :+1:

[2016-11-25 16:33] benjie commented on #249
Weird, it's not just me it's failing for, but glad to hear it's not everyone. I've had a couple people in the UK confirm that https://unpkg.com/graphiql@0.7.8/graphiql.min.js just renders a blank page for them. (It's weird how the version without `.min` in it works fine but the min one fails - perhaps it's some kind of CloudFlare filtering?)

[2016-11-26 16:03] onlyjazz commented on #251
was running node 5.9.x - upgraded to node 6.9.1 on os/x - works now.

[2016-11-26 16:03] #251 closed

[2016-11-26 19:07] JesperWe opened #253 "Numeric data type confusion"
I have a plpgsql function defined as:

[code]
This is the Graphiql result:

![2016-11-26 19_58_52-clipboard](https://cloud.githubusercontent.com/assets/1643015/20642597/58724c52-b413-11e6-834b-f9c1ae229612.png)

So the autocomplete sees it as a Float!, but if I try to run the query with a float value it throws an `invalid input syntax for integer` error.

[2016-11-27 08:14] RivkaRoth opened #254 "Error: graphiql:45 Uncaught ReferenceError: GraphiQL is not defined(…)"
I did the following steps:
1. Installed node v 6.9.1 :
node -v
v6.9.1
2. Installed postgraphql: npm install -g postgraphql
3. Run postgraphql: postgraphql -c postgres://postgres@localhost:5432/myDb

It seems postgraphql is running:
PostGraphQL server listening on port 5000 �

  ‣ Connected to Postgres instance postgres://localhost:5432/myDb
  ‣ Introspected Postgres schema(s) public
  ‣ GraphQL en

[2016-11-27 08:24] RivkaRoth commented on #254
I'm working with windows 10.

[2016-11-27 14:48] calebmer commented on #108
@ferdinandsalis I can confirm this works, just make sure you have a version of GraphQL above `0.8.0` :+1:

Submit a PR to add tests and prevent regression, once that gets merged we can close this issue: https://github.com/calebmer/postgraphql/pull/255

[2016-11-27 15:11] #108 closed

[2016-11-27 15:13] benjie commented on #254
Duplicate of #249; are you outside the US, by any chance?

[2016-11-27 15:13] #254 closed

[2016-11-27 15:15] benjie commented on #249
Everyone I've asked in the UK (6 people so far) have had this URL fail; all the US people (or people with US VPNs ;) ) have loaded it successfully. Definitely seems to be some kind of CDN issue. Bad cache key on Cloudflare, maybe?

[2016-11-27 20:13] rojobuffalo opened #256 "Geometric types"
I need to be able to use the `point` and `box` Geometric types[1]. It looks like these currently default into being treated like strings.

[1]: https://www.postgresql.org/docs/9.4/static/datatype-geometric.html

[2016-11-27 20:56] rojobuffalo commented on #256
I'm able to get my use case to work by using `::box` and `::point`. I'm very new to PostgreSQL so I don't know if this is the right way to have this work or not. PostGraphQL still only recognizes them as strings. My schema calls them `point` and `box` and then explicitly handles text input to work like point and box. The procedure looks like this:
[code]

[2016-11-28 07:33] onlyjazz commented on #249
I have the same issue. Located in Israel.
Workaround?

`Uncaught ReferenceError: GraphiQL is not defined(…)
`

[2016-11-28 08:13] onlyjazz commented on #249
Well - it's kind of a hack - but if you edit
`build/postgraphql/http/renderGraphiQL.js:    <script src="//unpkg.com/graphiql@${graphiqlVersion}/graphiql.min.js"></script>`
and  change it to
`build/postgraphql/http/renderGraphiQL.js:    <script src="//unpkg.com/graphiql@${graphiqlVersion}/graphiql.js"></script>`

then graphiql end point works......

[2016-11-28 08:19] hardchor commented on #249
I use https://github.com/redound/graphql-ide (or https://github.com/skevy/graphiql-app). They work offline and also let you edit headers (for JWT auth)

[2016-11-28 08:41] onlyjazz commented on #249
Burkhard,

Good one.  Thanks

Danny

On 28 November 2016 at 10:19, Burkhard Reffeling <notifications@github.com>
wrote:

--
Accelerate product development: www.clearclinica.com
<https://mailtrack.io/trace/link/06dee2f3b457ea174572357f7adda06ef00c8be2?url=http%3A%2F%2Fwww.clearclinica.com&signature=481ff6506f24c95f>
Security & compliance specialists for biomed:   http://www.s
<https://mailtrack.io/

[2016-11-28 13:21] hanshenrik commented on #249
Having the same problem. I tried changing to use version 0.8.0 in `postgraphql/http/renderGraphiQL.js` (https://unpkg.com/graphiql@0.8.0/graphiql.min.js is not corrupt) and running `npm build` and `npm rebuild`, but I am unable to get the change out -- it keeps using version 0.7.8 when I run it with `postgraphql`. Is there something else that needs to be done in order to update it?

[2016-11-28 16:07] baloodevil opened #258 "Incorrect version number"
After installing with
`npm install postgraphql@2.3.0`
Then...
`postgraphql -V`
Gives...
`1.3.0`
There is no global installation of postgraphql.

Love the project and where it is headed, by the way.

[2016-11-28 16:23] baloodevil opened #259 "Different results when running from command line and as a library"
Runs fine with no errors from the command line with...
`postgraphql -d postgres://postgres:mypassword@127.0.0.1:5432/mydatabase`

But shows different behavior when run as a library with...
[code]
Then running with `node app.js`
The behavioral difference is that when it is introspecting, it throws an error if there is a table ending with `_condition` and another table with the same name, less 'cond

[2016-11-28 20:01] ajalger opened #260 "Getting a weird error: Cannot have two definitions for property 'stForce2d'."
I am getting a weird error after starting everything up using express. I am trying to connect to an external database.

`Error: Naming conflict when building object. Cannot have two definitions for property 'stForce2d'.`

Any clue on how to get out of this problem?

[2016-11-29 02:21] calebmer commented on #260
What does your schema look like? Also, what is the full stack trace of the error? Do you expect a column with this name to be in the API?

I'm thinking either you have two columns which convert to that name, or you have a procedure that conflicts with a column name?

[2016-11-29 02:23] calebmer commented on #259
I'd expect that error to happen, but I'm confused why it works in the CLI. Maybe your CLI version is pre 2.0 and your installed version is 2.0+?

Is renaming the `foo_condition` table an option?

[2016-11-29 02:24] calebmer commented on #258
You'll need to install with the `-g` flag like so: `npm install postgraphql@2.3.0 -g`.

And thanks by the way 😊

[2016-11-29 13:38] ferdinandsalis commented on #253
Thanks for reporting. This looks like a bug. I have added failing tests here https://github.com/calebmer/postgraphql/pull/257

[2016-11-29 17:10] ajalger commented on #260
I was just trying to connect to an external database. So, I didn't have the schema defined. I was just importing postgraphql and making a DB connection. The I was going to see what the output was. That's where I got the error.

[2016-11-29 17:47] calebmer commented on #260
That's helpful. Do you mind running [the introspection query](https://github.com/calebmer/postgraphql/blob/5b8b04349ad5902854b3e4ee57d92164245db355/resources/introspection-query.sql) and providing the result? Just change [this line](https://github.com/calebmer/postgraphql/blob/5b8b04349ad5902854b3e4ee57d92164245db355/resources/introspection-query.sql#L18) to `= 'my_schema_name'`. If you don't feel

[2016-11-29 19:21] benjie commented on #260
`st_force_2d` and `st_force2d` are two function in PostGIS that would both translate to the same PostGraphQL identifier; try using a schema other than `public` via the [`schemaName` option](https://github.com/calebmer/postgraphql/blob/master/docs/library.md) so that you only pull in functions and tables you deliberately want to expose rather than also including all the utility functions.

[2016-11-29 21:40] ajalger commented on #260
Yep @benjie that worked. Just changed the schemaName.

[2016-11-30 02:52] #258 closed

[2016-11-30 02:55] baloodevil commented on #259
Yep.  That was right, the CLI was using a previous version.  Renaming the table is an option.  Would be better without renaming, because it breaks a larger naming convention, but still doable.  Thanks Caleb.

[2016-11-30 02:55] #259 closed

[2016-11-30 08:15] benjie commented on #260
Excellent, glad to hear you're up and running!

[2016-11-30 08:15] #260 closed

[2016-11-30 17:13] bendiy commented on #151
@calebmer

That's a totally reasonable position. I can't make that commitment yet. Not using this in production. I'm still designing my schema/API. It would be _nice_ to have PostGraphQL work with it out of the box. I'll circle back to this when I'm ready. Time permitting, I'd be happy to submit a PR for this feature if I can get to it. No time estimate on that. I know it won't be _soon_.

[2016-12-01 14:05] philostler commented on #40
@calebmer Been following your documentation and everything worked really well. Great documentation, thanks for the huge effort that must have gone into it

[2016-12-01 20:58] #127 closed

[2016-12-01 21:16] tim-field opened #261 "Any procedure defined in RLS `with check` causes postgraphql to error"
I'm not able to have a procedure called in my RLS policies `with check` statement.   I assumed this was a Postgresql issue, but after setting up a little test case ( below ) I can see that this works fine outside of postgraphql.

In my postgres logs I see;

[code]

[code]

The above works in postgresql, but a mutation doing the same via postgraphql will fail

If I redefine my `with check` procedur

[2016-12-01 23:24] tim-field commented on #261
Sorry I need to do some more debugging my end on this, can't rule out that I'm doing something wrong yet, will close for now and reopen with more detail

[2016-12-01 23:24] #261 closed

[2016-12-02 14:37] valorize opened #262 "orderBy computed column possible?"
I have a computed column like:
[code]

Is it possible to order on a computed column?

[2016-12-02 16:10] mickdelaney commented on #249
same problem, located in UK

[2016-12-04 06:17] dex157 opened #264 "Set the expiry date for the jwt token"
Hi folks!

This project is simply stunning 🎉. Now I am learning how to use it and use it to build applications.

I had a few questions, the answers I could not find in the documentation, and I would be very happy if you helped me to deal with them 🙂

 Documents paid little attention to the entire authorization process.

1. The JWT token has `exp` field to set for 1 day, what would happend after th

[2016-12-04 19:58] benjie commented on #264
The [PG JWT spec](https://github.com/calebmer/postgraphql/blob/master/docs/pg-jwt-spec.md) may answer a few of your questions here, particularly number 3.

[2016-12-06 14:37] calebmer commented on #262
Yep! Using a procedure:

[code]

My syntax may be wrong, eyeballing it, but that’s the gist :wink:

[2016-12-06 14:39] calebmer commented on #249
Once we get another few rounds of review on https://github.com/calebmer/postgraphql/pull/252, this problem should get fixed :tada:

[2016-12-06 14:47] calebmer commented on #264
Thank you so much for your this issue, it’s very helpful to know where the documentation can be improved :wink:

I’ll try to write an article on this sometime soon including a refresh token example. As for now here’s some answers:

1. You got it, the token will be rejected effectively logging the user out requiring them to reauth for a new token.
2. If you add an `exp` attribute to your JWT type,

[2016-12-06 15:03] dex157 commented on #264
@calebmer, @benjie thank you for your answers, it's very helpful 😎

[2016-12-06 15:03] #264 closed

[2016-12-06 15:57] ferdinandsalis opened #265 "Performance of computed columns in connections"
I am lacking the proper terminology to express the problem correctly but here you go.

For every row in a table the computed column procedure is executed, hence every other row contributes significantly to the execution time of the query. I am just guessing here but could we maybe use `with` queries to 'inline' the queries 🙈

You can find a 'test case' here https://github.com/ferdinandsalis/comput

[2016-12-06 18:10] WestleyArgentum opened #266 "[SOLVED] relay errors when parsing postgraphql generated schema"
I've attached the schema, generated by postgraphql v2.0.0
[schema.txt](https://github.com/calebmer/postgraphql/files/634631/schema.txt) (really a .json file, but github won't let me upload it that way)

This is generated from a simple database with one table and no connections or anything. We can successfully load handwritten schemas into relay, and we can't figure out what's different about this

[2016-12-06 18:44] benjie commented on #265
For the query:

[code]

we could potentially solve it with a single SQL statement along the lines of:

[code]

and then combine value/computed value with Object.assign or similar. You could go further with explicit column lists, minimising encoding data that isn't used, e.g. something like:

[code]

(I'm not sure if the `to_json`s inside the `json_build_object`s are actually required, I suspect no

[2016-12-06 18:45] valorize commented on #262
I hoped for a more automatic solution. But will take that for now.

[2016-12-06 18:45] #262 closed

[2016-12-06 18:59] benjie commented on #266
Hi Westley,

It looks like you're using the raw relay plugin which does not support our `__id` field, expecting instead `id` (which is what we had in PostGraphQL v1). To solve it you can either turn on `classicIds` (which will rename any `id` fields you have to `rowId` which, I have found, is rather irritating). You need the modified relay plugin (which differs by just one line of code, as Relay w

[2016-12-06 19:02] benjie commented on #265
Also, if we were to do this we'd also be able to sort by computed columns as requested in #262 by @valorize:

[code]

(this would only work for computed columns that take no additional arguments, as the ones that take arguments cannot be expressed as static strings in our `orderBy` API currently)

[2016-12-06 20:46] WestleyArgentum commented on #266
Thanks a ton, that version of the plugin works perfectly, we can close this or (if you'd rather) leave it open as a reminder to add that note to the README. I'll try to remember and submit a PR if I get a free moment

[2016-12-08 04:46] tim-field commented on #253
I'm getting this as well when doing mutations that happen to contain non integer values :)
Any clues as to the cause of this ?

[2016-12-08 08:35] vitalcode commented on #83
See auth-graphiql (https://github.com/vitalcode/auth-graphiql) that wraps GraphiQL providing support for bearer token and arbitrary URL. Great for testing GraphQL services secured with OAuth 2.0.

[2016-12-08 08:53] mytototo opened #271 "Wrap a REST API"
Hi!

Using PostgraphQL as a library, is it possible to wrap a REST API as [described in this article](http://graphql.org/blog/rest-api-graphql-wrapper/)?

Sometimes the data I need do not come from my database but from an external API. It would be great to only use PostgraphQL for this use case. What do you think about it?

Thanks.

[2016-12-08 10:53] benjie commented on #271
Hi @mytototo, expanding PostGraphQL beyond just a postgres schema is on the todo list (see [Caleb's vision](https://github.com/calebmer/postgraphql/issues/87)). In the mean time, there's a couple ways I can think of achieving what you're after:

1. you could use [foreign data wrappers](https://wiki.postgresql.org/wiki/Foreign_data_wrappers) to call out to the REST API from within postgresql (I wou

[2016-12-08 11:10] mytototo commented on #271
Thanks for the tips and for the link @benjie. Do you know when this feature will be released-- approximately in 2017?

[2016-12-08 13:14] benjie commented on #265
So I spent an hour digging through how PostGraphQL works, thought it might be useful to share some of my scattered learnings. I'm a GraphQL newbie, so apologies if some of this is obvious.

We start in [src/postgraphql/schema/createPostGraphQLSchema](https://github.com/calebmer/postgraphql/blob/c43ab8d852b4f83704571287c64662b1a3e6d915/src/postgraphql/schema/createPostGraphQLSchema.ts#L101) which r

[2016-12-08 13:15] benjie commented on #265
What we optimally want to do is find the list of all the fields that are required for a particular row/collection and then run them all via one query, as above. It's not yet clear to me how to go about doing that.

[2016-12-08 13:20] ferdinandsalis commented on #265
@benjie thanks for sharing you learnings! This is very helpful to me.

[2016-12-08 13:37] benjie commented on #271
@mytototo, this is currently a small community project written primarily by Caleb in his spare time (and he's a busy person!); as such we can't give any estimates of when any features will be released. If you were in a position to fund development of the feature (or to add it yourself) then that could certainly change, but short of that it comes down to as-and-when someone has time to build it.

[2016-12-09 15:09] calebmer commented on #265
Exactly. This has been on my mind for a while, because it also means we could do away with `select *` and just select the columns we need. It actually wouldn’t be too hard to implement this on the GraphQL side, it just becomes complex if we want to integrate it in a more general way. Some of the complexities are as follows:

- If we don’t have all the columns, `isTypeOf` checks break which current

[2016-12-09 16:22] calebmer commented on #253
Should be fixed by https://github.com/calebmer/postgraphql/pull/272 :+1:

[2016-12-09 16:33] calebmer commented on #256
In order to implement this, all we need is a parser for the [geometric types](https://www.postgresql.org/docs/9.4/static/datatype-geometric.html). If someone wanted to write and publish this to `pg-geometric`, we could integrate fairly easily :+1:

This parsing could also be added directly to the `pg` package for better type parsing for the entire community.

[2016-12-11 16:17] benjie commented on #265
Excellent feedback @calebmer, thanks for helping us to understand.

Regarding the `isTypeOf` I think the type tag you suggest would be best - very easy to add that to the list of fields selected `select to_json(__local_0__) as value, 'perf.post' as type from ...` or mix it into the JSON object.

My API has some large JSON objects and arrays so your suggested modification which doesn't pipe the fet

[2016-12-12 03:17] paOol opened #273 "windows connection error?"
if I type
[code]
then i get a graphiql server at localhost:5000/graphiql.

however, if I try to run it from within koa
[code]

i get
[code]

why is the role my windows pc name? is there any error in my postgrahpql object?

[2016-12-12 05:23] lcjnil commented on #273
Your arguments passed to postgraphql is wrong( see https://github.com/calebmer/postgraphql/blob/master/docs/library.md).

the `pgConfig`, `schemaName` should be passed as arguments[0] and arguments[1].

:unamused: I was like you before, maybe @calebmer  should consider change the way the arguments passed

[2016-12-12 05:58] paOol commented on #273
@lcjnil are you on windows?
I am getting the same error when trying
[code]

[2016-12-12 06:09] paOol commented on #273
should note it works with `http` using the same exact arguments.

[code]

[2016-12-12 09:19] benjie commented on #273
@paOol Why are you passing postgraphql to itself via `postgraphql(postgraphql(...))`? It looks like the first call is not seeing any expected options and thus is connecting to the default database.

Try instead:

[code]

[2016-12-12 18:23] valorize commented on #265
I would be super happy with every performance boost. My requests currently take about 1360ms. For 20 items with some other nested items.

[2016-12-12 18:50] paOol commented on #273
got it working
[code]

[2016-12-12 18:50] #273 closed

[2016-12-14 17:25] visiperf opened #276 "postgres user not recognised as superuser i.e --watch not available"
Hello guys,

When launching postgraphql with a postgres superuser I get this warning followed by the abortion of the process. I am connecting using :

`postgraphql -c postgres://user:password@localhost:5432/db --watch`

Thanks in advanced for your help.

[2016-12-15 08:15] benjie commented on #276
@visiperf What version of postgres are you using? I think it needs to be at least 9.4; I'm running 9.6.

[2016-12-15 08:39] visiperf commented on #276
@benjie I am using PostgreSQL 9.3.5. I will try to upgrade to 9.6 and let you know. Thanks for the tip :)

[2016-12-15 10:02] chrisurlaub commented on #181
I just experienced a similar case: there was a conflict because I had a table named "queries" which produces this error:

`Error: Naming conflict when building object. Cannot have two definitions for property 'query'.`

Perhaps there should be at least a list with something like "reserved keywords/tablenames".

[2016-12-15 12:18] FGRibreau commented on #165
Hello @calebmer, any news on this?

I just started `postgraphql` on a database, had the first issue on `Naming conflict when building object. Cannot have two definitions for property 'stForce2d'.` then forced the schema to something else than public and had the `Schema must contain unique named types but contains multiple types named...` error.

[2016-12-15 14:12] calebmer commented on #165
Hi, @FGRibreau

This is a different issue, it looks like you have PostGIS installed in your `public` schema. Currently the way PostGIS names some of its functions (such as `stForce2d`) and dumps them in the `public` schema leads to naming conflicts. Try starting PostGraphQL with another schema like: `postgraphql --schema forum_example` 👍

[2016-12-15 14:13] benjie commented on #181
👍  Added a wiki page: https://github.com/calebmer/postgraphql/wiki/Reserved-Keywords-Tablenames

[2016-12-15 14:13] calebmer opened #277 "Cleanup PostGIS support"
There are some errors that occur whenever a user starts PostGraphQL in a schema that has PostGIS artifacts. Most noticeably the `stForce2d` (or whatever it’s called) function. We should probably hide PostGIS functions, or print a warning if we detect them.

This should be a pretty easy fix and would help a lot of people who are trying out the project 👍

[2016-12-15 14:17] benjie commented on #276
@visiperf I'm going to close this because I think it's solved - if not please feel free to re-open it 👍

[2016-12-15 14:17] #276 closed

[2016-12-15 14:27] calebmer commented on #76
I’m going to close this for now as there is no real clear confusion. PostGraphQL can definitely do a better job with errors, but we’re going to need a more focused discussion. Also, error handling in GraphQL in general is still a field with many unanswered questions.

[2016-12-15 14:27] #76 closed

[2016-12-15 14:28] calebmer commented on #129
We should have this with https://github.com/calebmer/postgraphql/pull/252 :+1:

[2016-12-15 14:28] #129 closed

[2016-12-15 14:29] calebmer commented on #203
Fixed by https://github.com/calebmer/postgraphql/pull/267. I’ll try to get a release out soon :+1:

[2016-12-15 14:40] calebmer commented on #203
Published in `2.4.0` :tada:

[2016-12-15 14:40] #203 closed

[2016-12-16 12:20] benjie commented on #277
(Ref #260)

[2016-12-16 15:14] n1kt0 opened #279 "Ability to specify CORS endpoints in CLI?"
Hi,
is there a possibility to specify CORS endpoints instead of standard "*"?

[2016-12-16 15:17] n1kt0 opened #280 "Security against code injection?"
Are there any measures against code injection attacks in postgraphql?

[2016-12-16 18:20] calebmer commented on #280
Yep! PostGraphQL is written in TypeScript, and so we leverage that fact to prevent SQL code injection *in the type system*. For SQL injection to even be possible, a developer must deliberately use `sql.raw`, something which will get caught in review. Some links:

- [Our SQL generator utility.](https://github.com/calebmer/postgraphql/blob/d1e1024a52db032461614147a6472ace4a10f61b/src/postgres/utils/

[2016-12-16 19:39] calebmer commented on #279
Not currently, but this would be a fairly simple thing to fix/add :blush:

[2016-12-17 01:54] artronics opened #282 "Creating a schema file on watch reload"
Hello everyone,
given `watchPg` is enabled, is there any way I can call a callback function on schema changes?

I need this to recreate a schema file for [babel-plugin-graphql](https://github.com/ooflorent/babel-plugin-graphql) on each call.

Currently I'm using [fetch-graphql-schema](https://www.npmjs.com/package/fetch-graphql-schema) to fetch schema.json and schema.graphql, however any time I ch

[2016-12-18 10:03] benjie opened #283 "One-to-one relationship instead returning a collection"
I've reproduced this on [`reproduce/one-to-one`](https://github.com/calebmer/postgraphql/tree/reproduce/one-to-one) branch (first commit is what the system generates, **second commit is an approximation of what I'd expect to see**); basically for the kitchen sink SQL:

[code]

Generates a method `personSecretsByPersonId(...)` on `Person` type:

[code]

Whereas because it's a `primary key` that `re

[2016-12-18 10:05] benjie commented on #283
Weirder, if you treat it as a collection in your GraphQL queries that's a validation error. So I think it is treated as a one-to-one on query but this is a bug in the interface exposed to it? I'm not sure - I'm a bit confused TBH.

[2016-12-18 10:09] benjie commented on #283
Scratch last comment - I blame babel/webpack caching. Deleting this and previous comment to tidy the issue

[2016-12-19 10:36] lcjnil opened #284 "Support overloading functions"
Hi, I found that postgraphql doesn't support [overloading functions](https://www.postgresql.org/docs/9.6/static/xfunc-overload.html)，the minimal reproduce case is

[code]

Please inform me if I  had missed that in document, or would you consider to put it on schedule?

[2016-12-20 10:17] benjie commented on #284
An easy temporary workaround for this is to define aliases for these functions; e.g.

[code]

My knowledge of GraphQL is still extremely superficial, but I think because of the type signatures in GraphQL (where each argument is named and typed) we can't represent overloaded functions that take different types as would be the case for generic overloaded functions. So if we were to support this inte

[2016-12-20 12:30] valorize commented on #235
I finally had time to look into the mentioned tools, as well as https://github.com/flyway/flyway.
Most tools available (like flyway) are migrations based *urg, migrations are so tedious*. With Sqitch you also have to kind of write migrations but easier because of the git support but with the overhead of verify statements *ouch*. And as @chadfurman vaguely mentioned pgrebase requires that you put e

[2016-12-20 16:20] chadfurman commented on #235
In the "version control" vein of this conversation, another option might be: http://www.liquibase.org/

However, I'm not sure that solves the issue of not being able to group procedures like one might group "controllers" in an MVC framework.  In the long-term, I just see functions being spread out across files or dumped in a "procedures" tab of pgadmin to be something which would be difficult to m

[2016-12-20 22:23] valorize opened #287 "Token handling on expired token"
When I use tokens the will expire at some time. In relay I'm fetching the expired error and unset the token, so I will get a response to my query. When 10 tokens expired I will get no response from postgraphql anymore. I have a guess what the problem could be but my PhpStorm ;) is not debugging quite well with all these async functions xD

First the output of my requests:
[code]

Ok now my guess:

[2016-12-21 04:33] lcjnil commented on #284
@benjie Thanks for your reply!

Your workaround does a good idea, but still hard to use. More to say, I am trying to wrapper a function to support both jwt.claims.* as well as token which is used in token-based authtication (not jwt), perhaps overloading function is the easiest way to do that, or I need to write wrappers like you.

Though, my knowledge to graphql is quite naive, and I can't figure

[2016-12-21 08:25] pyros2097 opened #288 "Improving Updates?"
Just read this article.
http://blog.2ndquadrant.com/postgresql-anti-patterns-read-modify-write-cycles/
And was thinking maybe updating numbers should be done like this set value = value + (new - old) and and would prevent those weird issues.

[2016-12-21 17:06] shauns opened #289 "Skipping some default mutations"
In relation to #182 -- is there any way to do this in a more granular fashion? I have a use case where the default behaviour is great, but at other times a manual migration is preferable, and I wouldn't want the default behaviour to leak out.

Happy to contribute if this isn't available and is in scope; could see why this sort of thing is a wontfix -- love the simplicity of the project.

[2016-12-21 17:20] calebmer commented on #289
Could you describe more of your use case and which mutations you'd like to enable/disable? You should be able to achieve granular control with the `GRANT` command. For example `GRANT`ing updates to your database role but not deletes.

`GRANT` documentation: https://www.postgresql.org/docs/9.6/static/sql-grant.html

[2016-12-21 17:35] shauns commented on #289
Ah -- so leaning on the database a bit more then? I'm still pretty early on with GraphQL, but my use case is that I have a table where I'd like to keep certain columns immutable after creation -- or at least until I have a procedure in place to deal with things changing. I think the pattern I'd like to avoid is exposing a really rich GraphQL schema and ending up with lots of granularity in the app

[2016-12-21 21:59] motleydev opened #290 "Usage with "condition" parameter"
Thanks to the reflection, we get access to first, last, offset, etc. I'm having a hard time understanding how to use the "condition" parameter. Is there a good example of this? Is it only for strict equality or can it be used for generic search like LIKE in postgres?

For example:

[code]

[2016-12-21 23:13] benjie commented on #288
@pyros2097 That's not a good pattern to have as default in a project like postgraphql - it can go wrong in hard to reason about ways. However, if this pattern is suitable for your app it's very easy to do in postgraphql - you just create an `increment` mutation, e.g.

[code]

Then you can just perform the `incrementFoo(delta: 2)` mutation.

[2016-12-21 23:15] benjie commented on #290
See also #47

[2016-12-22 05:49] pyros2097 commented on #288
Yeah seems good. Totally forgot about the mutation function. Thanks.

[2016-12-22 05:49] #288 closed

[2016-12-22 17:11] calebmer commented on #282
Yep, @ferdinandsalis has talked about this. I think this feature would be best baked directly into the library, I’m totally willing to merge PRs adding this feature 😊

(I’m also going to rename this issue to “creating a schema file on watch reload” if that’s ok with you)

[2016-12-22 17:13] calebmer commented on #284
I’m going to re-open this, because I do feel like it’s a space we can explore. I haven’t looked into this *too* much, but I get the feeling that if we have named arguments we may be able to intelligently create a GraphQL field for overloaded functions. It’s not a high priority though, so aliases are probably your best bet for now like @benjie suggests :blush:

[2016-12-22 17:17] calebmer commented on #290
`condition` only currently allows you to test equality 😖

See #47 for ongoing work to improve condition support. However, with procedures you can query however you would like without needing to wait for support in PostGraphQL. See the documentation on [advanced queries](https://github.com/calebmer/postgraphql/blob/master/docs/advanced-queries.md) and our [forum example tutorial](https://github.com

[2016-12-22 17:17] #290 closed

[2016-12-22 17:49] calebmer commented on #289
Yeah, try not granting the update permission for those tables then. PostGraphQL will then be unable to generate a rich update mutation. You can then use the [`CREATE FUNCTION`](https://www.postgresql.org/docs/current/static/sql-createfunction.html) command to create a function with `SECURITY DEFINER` configured to define a mutation that only updates the fields you explicitly allow :blush:

Check o

[2016-12-22 21:04] artronics commented on #282
👍 Great Thank you :)

[2016-12-23 14:16] gregpardo commented on #55
My version using latest 'createPostGraphQLSchema' and async/await... This is a modified version of whats found at https://github.com/lvarayut/relay-fullstack

[code]

[2016-12-24 12:15] valorize commented on #235
@chadfurman Could you elaborate what you mean by Graphene-powered API? Could nearly find nothing about Graphene.

[2016-12-24 19:52] chadfurman commented on #235
@valorize Oh, Graphene is just the Python implementation of GraphQL  http://graphene-python.org/

I only mean that, at the point where the functions etc are out-of-hand by simply existing within the database, it's probably time to consider building an API using GraphQL libs

[2016-12-26 11:32] FGRibreau opened #292 "Auth0 JWT gives a jwt audience invalid. expected: postgraphql"
Hello!

I'm experimenting around PostgraphQL for a new startup and it seems at the time being it requires clams.sub to be "postgraphql" while Auth0 gives `"sub": "auth0|70522e86-1fcf-415f-aeda-9325f3413adf"` (auth0|user_id), @calebmer I can't find a CLI parameter to change this, any idea to make PostgraphQL work with Auth0? :)

[code]

[2016-12-26 23:45] orta commented on #235
I think it is worth adding a link to this issue at the end of the tutorial  ( or a doc around this part of the workflow specifically. )  As the first thing I thought of was "well what do I do with this mass of queries now?" and started searching for issues before writing one just like this question.

[2016-12-27 16:17] calebmer commented on #292
We could just remove the `sub` requirement, or make it optional with a command line flag. I was thinking about this use case when I made that requirement in effect to defer the decision :blush:

In my experience of integrating Firebase auth with another authentication system, I would always have two tokens. One for Firebase, and one for the app’s auth system. However I’m sure we can come to a more

[2016-12-27 16:21] FGRibreau commented on #292
@calebmer it should work yes, because it's the last thing that is blocking me from using postgraphql on my project, everything else works well on postgrest (I will just have to change my stored function to handle both way to access to `.sub` (postgrest use `postgrest.claims.sub` while postgraphql is `jwt.claims.sub`) and thus give an REST api **and** a GraphQL api to my project which would be pure

[2016-12-27 16:40] ugiacoman commented on #292
Going to be implementing Auth0 + Postgraphql very soon. Would really appreciate the sub requirement to be optional 👍

[2016-12-27 20:30] FGRibreau commented on #292
I think we just need to make the `{ audience: 'postgraphql' }` optional in https://github.com/calebmer/postgraphql/blob/e72696de3d67f5d478c009f8be4c9b25fdb1e2ed/src/postgraphql/http/setupRequestPgClientTransaction.js#L39

[2016-12-27 23:52] ugiacoman commented on #292
As long the secret is verified, JWT should be pretty safe. May I ask, why the audience is being verified?

[2016-12-28 00:45] angelosarto commented on #292
I have been playing around with this as well and I have some observations/ideas.  I am not quite seeing the same issue with sub, rather I saw it with aud(ience).  I was able to work around this in auth0.

## Auth 0 steps:

1. enable the APIs beta feature of Auth0
2. "create API"
     1.  the Identifier field must be set to 'postgraphql' (because of the audience check currently in postgraphql.)

[2016-12-28 02:59] ugiacoman commented on #292
@angelosarto Thank you for this all this great information! Could you expand on the role? Conceptually, I was thinking that I would run into issues, but I thought that would be resolved via role level security policies. Not sure this is the appropriate place to discuss, but I'm on the gitter too.

[2016-12-28 03:56] calebmer commented on #292
Wow @angelosarto thanks so much. Would you be willing to write a documentation article once your thoughts are more clear and some solutions have been implemented.

Here's what I'm thinking right now. We allow users to specify the verification config [here](https://github.com/calebmer/postgraphql/blob/e72696de3d67f5d478c009f8be4c9b25fdb1e2ed/src/postgraphql/http/setupRequestPgClientTransaction.js#L

[2016-12-28 20:57] ugiacoman commented on #292
@calebmer Currently, if you use one of Postgraphql default generated queries, does it look for the role inside of the JWT or will it always use the role the connection was created with? Or is this what @angelosarto was referring to with the `secret` and `default-role`. To define the role you wish to use do you need to define your own functions? I'm thinking about use cases with the JS API.

[2016-12-29 02:45] ugiacoman commented on #292
@FGRibreau @calebmer Small update, just implemented this with the JS API and got the same error with aud. I can try my luck at a PR if you guys would like :)

[2016-12-29 16:49] angelosarto commented on #292
I can write up so example docs of the setup in Auth0.   I got it _mostly_ working but not adding the role.  (Maybe @ugiacoman can look below to see if we are doing the same thing)

The use case I was trying for was to allow users to post to auth0 to get a token and then turn around and use that token to call graphql api directly; [hopefully without building any services myself](http://threevirtues

[2016-12-29 21:11] ugiacoman commented on #292
Made a PR but had some issues, will look back into when I get a chance.

[2017-01-02 15:35] JesperWe commented on #92
Why do we need additional configs? Can't we discover the channels from the GraphQL subscriptions?

Let's say the client does something like

	subscription newMessages($toId: Int!) {
	  allMessages(condition: {toId:$toId, seen:false}, orderBy: CREATED_AT_ASC) {
		content
		seen
		fromId
		createdAt
	  }
	}

This would tell Postgraphql that there is a channel called `newMessages`, and that notify's

[2017-01-02 16:05] JesperWe commented on #92
There is a bit of discussion and some examples for inspiration here:
https://scaphold.io/blog/2016/11/09/build-realtime-apps-with-subs.html

[2017-01-02 16:18] JesperWe commented on #92
Also it could perhaps be beneficial to utilize a pre-made websocket implementation such as https://github.com/apollostack/subscriptions-transport-ws

[2017-01-04 19:23] cellis commented on #235
I've been evaluating this library, and it seems promising. But I hate the idea of not using great tools that are already available for schema design.

What my plan is, is to *not write SQL at all* for low level things like tables. Instead, i've settled on a simple solution that can scale into the future: use a GUI ( in my case, DataGrip ), to design tables, etc, and then on every schema deploy I g

[2017-01-04 20:17] chadfurman commented on #235
I've not used apgdiff and I don't understand the "in reverse" bit.

How would this work for changes where you need to move or restructure data?
Can you run custom sql if needed or does datagrip handle that nicely?

Versioning whole db dumps will also result in a very large repo.

Finally, this doesn't necessarily solve the trouble that comes from having
hundreds (thousands?) of stored procedures w

[2017-01-04 21:53] cellis commented on #235
@chadfurman

apgdiff simply outputs the necessary changes to get from the first schema to the second. If you have the `persons` table in development.sql and not in `production.sql`, and you run `apgdiff --ignore-start-with production.sql development.sql > upgrade.sql` the diff.sql will simply contain:

[code]

I don't think this is the place for sql, but rather application deployment tasks, which

[2017-01-05 01:28] cellis opened #298 "Error: error: function pg_catalog.pg_relation_is_updatable(oid, boolean) does not exist"
I'm trying to use this library with express but I keep getting this error:

[code]

I checked my database and, indeed, the `pg_catalog.pg_relation_is_updateable` routine doesn't appear in the list of routines. Is there any reason this is happening?

[2017-01-05 02:08] calebmer commented on #298
What version of Postgres are you using?

[2017-01-05 02:12] cellis commented on #298
I'm on 9.6.1

Sent from my iPhone

[2017-01-05 10:15] valorize commented on #235
@cellis thanks for mentioning `apgdiff`. It sounds great. @chadfurman Why do you think "Versioning whole db dumps will also result in a very large repo."? With git it will by minimal and not bigger than your sourcecode would be anyway. Do you want to version you db content as well?

[2017-01-05 11:02] valorize commented on #235
Basically we would put our functions, which belong to each other, into one file. Then we write a script with combines all the diffs into one big diff. Version it and apply it to the database. Or am I missing something? For this to work we need a git repo with at least two branches (production, development or master, next). One branch which we work on and has the current state and one which is on t

[2017-01-05 11:35] benjie commented on #298
It looks like pg_relation_is_updatable was added [here](https://github.com/postgres/postgres/commit/dc3eb5638349e74a6628130a5101ce866455f4a3) in 2013; I'm not sure why it wouldn't be showing up - perhaps it's hidden behind a build option for postgresql?

[2017-01-05 17:26] jinty opened #299 "Accessing HTTP request data from PostgreSQL"
More of a question than anything else.

I'm writing an application which needs an audit log of changes,
I would like to implement that using triggers but I need to record
info from the HTTP request like the IP address of the client.

Is there any built-in way of doing that? Can I write some kind of plugin to pass additional data to postgresql (i.e. in addition to the JWT data)?

[2017-01-05 17:53] kenota commented on #299
@jinty You can put ip into JWT claim, use it for validation and Postgraphql expose it in session via SET.

[2017-01-05 21:28] rentrop commented on #96
@javatask, @marclar any updates? Did you manage to do it?

[2017-01-05 21:36] cellis commented on #298
Yeah, I tried looking up this function, there's nothing on google. I assume postgraphql is using it to introspect and create relational types.

[2017-01-06 00:13] cellis commented on #298
I figured this out, I think it was related to having an older version of postgres 9.1 installed ( using brew AND postgres.app simultaneously may have had something to do with it? ). I reinstalled postgres.app and uninstalled the brew postgresql `brew uninstall postgresql`. The new postgres.app database `pg_catalog` has **2811** routines, including `pg_relation_is_updateable`, while the old one had

[2017-01-06 00:13] #298 closed

[2017-01-06 00:52] calebmer commented on #299
@kenota’s JWT idea sounds good, is there any reason you couldn’t use the [Node.js API](https://github.com/calebmer/postgraphql/blob/master/docs/library.md) and add a middleware?

I’ve also thought about refactoring JWT claims to live on `request.jwt.claims...` instead of `jwt.claims...` so that we could also have `request.headers...`, `request.url...`, etc.

[2017-01-06 04:34] cellis opened #300 "Expose hooks to enable extending the GraphQL schema"
Let's say I have a query and I need to call out to some api (either internal or external) to fulfill it? What's the best way to accomplish this? Does postgraphql expose resolve hooks? For some things, obviously I can precompute the data by saving it to postgres, but i can forsee problems where it wouldn't work.

[2017-01-06 13:28] rentrop opened #301 "postgraphql on AWS Lambda (Node v4.3.2)"
When trying to implement these suggestions: https://github.com/calebmer/postgraphql/issues/96#issuecomment-261568803 to make a [serverless](https://github.com/serverless/serverless) version of postgraphql run i encountered a version problem...

[AWS Lambda is currently running Node v4.3.2](http://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html) but as stated in:
https://github

[2017-01-06 14:33] benjie commented on #300
We don't currently support doing that through postgraphql, though if you understand the caveats you could try doing it through postgresql directly using foreign data wrappers. Definitely something that we have in mind through.

[2017-01-06 14:36] benjie commented on #301
@rentrop Likely it's a syntax issue so you could try compiling PostgraphQL to ES5 with Babel and running that on Lambda? I think @calebmer is open to supporting earlier versions of Node if there's a good use case for it (as this would be), but personally I'd like to see a proof-of-concept working before investing the time into making it a core feature - supporting multiple node versions is expensi

[2017-01-06 21:23] colophonemes opened #302 "Postgres BigInt overflowing GraphQL Int"
My db key generation function uses a `bigint` field type and generates Integers that are in the range `2^40` to `2^52` (i.e. below the Javascript `Number.MAX_SAFE_INTEGER` limit of `(2^53)-1`). However numbers of this size throw an error:

[code]

(Context for key generation: https://gist.github.com/colophonemes/42b4167632a96a78a985fd14b4b0c013)

Is there an easy way to work around this in PostGra

[2017-01-06 22:17] calebmer commented on #302
Would you be comfortable if we added our own custom type which was an integer for valid JavaScript integers, but then switch to strings for larger values?

[2017-01-06 22:29] colophonemes commented on #302
Yeah, that seems totally fine for my use case, although I guess it might lead to strange behaviour if people aren't expecting typecasting to be contingent on integer size.

[2017-01-07 14:17] benjie opened #303 "Relay does not (currently) support Json in getOptimisticResponse for a mutation"
We should add a note to the `dynamicJson` documentation to warn people of this.

https://github.com/facebook/relay/issues/368#issuecomment-143812146
https://github.com/facebook/relay/issues/91

[2017-01-07 14:18] benjie commented on #303
(Will be fixed by Relay 2, they reckon)

[2017-01-07 14:46] benjie commented on #303
Anyone looking for a dirty, ugly, scary, horrible hack around this:

<details>
  <summary>⚠ I accept no responsibility for your using this solution</summary>
  <details>
    <summary>🙈 I accept no responsibility for side-effects of seeing this code</summary>

[code]

This specifically works for a field I have called `configuration` which does not conflict with table names or other such things - us

[2017-01-08 00:14] thewillhuang commented on #301
since this project is built on typescript, is it not possible to have typescript target es5?

https://github.com/calebmer/postgraphql/blob/master/tsconfig.json#L6

[2017-01-08 03:28] thewillhuang commented on #301
made a PR https://github.com/calebmer/postgraphql/pull/304

[2017-01-08 05:50] thewillhuang commented on #301
tried targeting es5, went through some debugging, looks like the only way is to implement babel to do es6 --> es5, don't know if you guys would want to do that

[2017-01-08 12:12] rentrop commented on #301
**What i did manage to so so far:**

- Get the json-version of the [pgCaralog](https://github.com/calebmer/postgraphql/blob/ea3c94de6bbef483c70a3f15f3792b539f943b96/resources/introspection-query.sql)
- Use this [createPostGraphQLSchema](https://github.com/calebmer/postgraphql/blob/c752260666f2a9a2b9f5f40916bc1b2348b28f42/src/postgraphql/schema/createPostGraphQLSchema.ts#L19) and query postgres wit

[2017-01-08 18:15] calebmer commented on #301
Opened a PR to compile to ES5 and it looks like the Node.js v4 test suite passes https://github.com/calebmer/postgraphql/pull/305 :+1:

I didn’t really have a good reason before to build to ES5, but Node.js v4 support for AWS Lambda is a pretty get reason :blush:

[2017-01-09 10:45] jinty commented on #299
@kenota Almost, but not quite, that gives me the IP which requested the JWT token, not the IP which is currently querying postgraphql.

@calebmer: Putting all that data into current settings sounds like a reasonable solution. I wouldn't mix the raw data (i.e. HTTP headers) with processed data (i.e. jwt.claims). I also wonder about encoding though when you get some real nasty junk coming in with th

[2017-01-09 14:15] calebmer commented on #299
That hook is actually a very good idea. It could open a door to all kinds of interesting things. If you wanted to make a PR for this, I’d be down for merging it :blush:

Here are some files you might want to look at:

- https://github.com/calebmer/postgraphql/blob/2b245daace3e25b9eb6fd73e6c1a09ba0e408969/src/postgraphql/http/setupRequestPgClientTransaction.js
- https://github.com/calebmer/postgrap

[2017-01-09 14:37] rentrop commented on #301
Opend a PR to build schema from a prebuild PgCatalog

[2017-01-09 15:12] mgallagher opened #307 "Transitioning from "big framework"? e.g. Rails, Django"
The vast majority of my web development experience thus far has been through Django, where I've become used to the highly opinionated nature of it. Our main stack has been Django, the excellent [Django REST framework](http://www.django-rest-framework.org/), Postgres, and React / React Native on the frontend.

I'm very interested in GraphQL, and I'd love to give it a try, but as I go through the tu

[2017-01-09 22:25] rentrop commented on #301
Just published my first draft for a [serverless](https://github.com/serverless/serverless)/AWS implementation: https://github.com/rentrop/serverless-postgraphql

Querying via graphql seams to work properly. The only odd thing:
If i import the schema/data as decribed here: https://github.com/calebmer/postgraphql/tree/master/examples/forum#running
The AuthenticatePayload->JwtToken does not return th

[2017-01-10 02:47] calebmer commented on #301
@rentrop wow this is pretty awesome. I’d love to see if there is anything we could do to make this experience even easier.

As for the `AuthenticatePayload.jwtToken` thing, make sure to set the `jwtPgTypeIdentifier` option (documented [here](https://github.com/calebmer/postgraphql/blob/master/docs/library.md)). It is analagous to the CLI argument which is simply named, `--token`, that is explained

[2017-01-10 16:58] rentrop commented on #301
@calebmer Thanks. Just implemented it. Now it works as described in the tutorial!

[2017-01-10 22:32] #301 closed

[2017-01-11 14:23] jinty commented on #299
Do you mean the simple hook or the full-blown "tween" API?

Some of the nice things of "tweens" is that you:

    * have access to both the request and response
    * the ability to run code before and after the request is processed
    * keep some state while the response is generated via the function variables
    * can stack them

It's a very powerful api.

Looking at the code, it seems easy to

[2017-01-11 16:07] jinty commented on #299
I made a rough sketch of what the hook could look like:

https://github.com/jinty/postgraphql/commit/f0e7ce75ecd0c6d4c608abe065875509ee684654

I'll note that you could go further and move some of the existing bits into middleware:
   * postgres connection and transaction handling (wanna send read-only queries to a group of replicas?)
   * setupRequestPgClientTransaction
   * logging

[2017-01-12 13:17] JesperWe opened #309 "Queries fail when table has computed column function and INTERVAL column."
The computed column function does not even have to reference the `INTERVAL` column, it is sufficient that the table has a column of `INTERVAL` type for queries that demand the computed column to fail with:

[code]

Looks like Postgrahql is somehow converting the value of the interval column to a string before passing the row to the sql function.

[2017-01-12 14:32] benjie commented on #309
@JesperWe Relates to https://github.com/calebmer/postgraphql/issues/265#issuecomment-265736977 - the data is serialized from postgres to JS, and then fed back from JS into postgres again. Fixing #265 should mean that even if we have poor type support for certain columns (such as this) the issue won't be as catastrophic.

[2017-01-12 17:14] mgallagher opened #310 "Output executed Postgres queries?"
Forgive me if there's an answer for this somewhere, but it might be nice to have an option to show the SQL that gets sent to Postgres from PostGraphQL. Any idea how this might be done?

[2017-01-12 18:10] benjie commented on #310
We use the `debug` module, so you can run `export DEBUG="postgraphql:*"` (assuming bash shell) before running postgraphql to see various output. For postgres queries specifically you want `DEBUG=postgraphql:postgres`; but `DEBUG=postgraphql:postgres:explain` is also handy.

[2017-01-12 20:50] mgallagher commented on #310
Excellent. Thank you @benjie! This works perfectly :)

[2017-01-13 02:07] lcjnil commented on #310
@benjie this should be mentioned in document

[2017-01-13 08:52] benjie commented on #310
@lcjnil I totally agree. Pull requests are welcome 👍

[2017-01-14 15:32] kasbah opened #311 "Add support for `hstore` extension"
Just started playing around with postgraphql. It's really neat!

I noticed that [the hstore extension](https://www.postgresql.org/docs/current/static/hstore.html) isn't supported yet and any hstore values are returned as "[object Object]" strings. It's not biggie for me personally but thought I would propose it as an enhancement anyway.

[2017-01-16 06:50] idibidiart commented on #300
Very new to GraphQL so this may not make sense but I assume in all these types of SQL-to-GraphQL-Schema solutions that we get an actual GraphL schema generated statically and as such we should be able to extend that schema with new types and resolvers etc. Or does postgraphql implement its own graphql server that consumes the database schema directly and will ignore or throw in case the graphql sc

[2017-01-16 10:37] benjie opened #312 "Simple query causing massive memory usage (pushing over the half gigabyte level allowed by Heroku)"
This is an issue that I'm digging into - I'm tracking my findings here so I can ask for help later if necessary.

The minimal query to trigger this is:

[code]

[2017-01-16 10:45] benjie commented on #312
So I've downloaded the data from my staging environment and am running the dev version of PostGraphQL locally. I have 16GB of RAM whereas Heroku only gives 512MB so it's not a very fair comparison, and I have to monitor the memory very fast to see the issue.

In order to do so, I've set up this loop (OSX, so using gdate from coreutils):

[code]

This has given me quite a high resolution file expos

[2017-01-16 10:58] benjie commented on #312
![memory](https://cloud.githubusercontent.com/assets/129910/21980249/5eaba408-dbda-11e6-8616-7afbd0799782.png)

I ran the query six times; first with gaps of a few seconds between each one, finally in quick succession. The x-axis is time in milliseconds, y-axis is RSS memory usage in kilobytes.

As can be seen, this simple query is allocating a hell of a lot of RAM.

[2017-01-16 11:07] benjie commented on #312
I've now added `--inspect` to the ts-node command line and connected Chrome Canary as a debugger to the node process. I ran the query a few times to "warm up" the system; then used the "Record Allocation Profile" profiling tool for a single query execution to see where the RAM is being allocated:

![screenshot 2017-01-16 11 07 33](https://cloud.githubusercontent.com/assets/129910/21980656/056a040a

[2017-01-16 11:11] benjie commented on #312
Setting `DEBUG="*"` I get:

[code]

![screenshot 2017-01-16 11 10 27](https://cloud.githubusercontent.com/assets/129910/21980758/663d179a-dbdc-11e6-9331-5e5f69fc8bdd.png)

[2017-01-16 11:13] benjie commented on #312
The important part of that seems to be:

[code]
The commit (last line) didn't fire until 2 seconds after the explain?!

[2017-01-16 11:21] benjie commented on #312
Running a CPU profile over a single query yields:

![screenshot 2017-01-16 11 19 39](https://cloud.githubusercontent.com/assets/129910/21981084/b7dd229c-dbdd-11e6-9164-0dc6bd0f745d.png)

Quite a lot of this time is spent in the `pg` module itself.

[2017-01-16 11:33] benjie commented on #312
So running the second query returns 72MB of data.

[code]

So it seems that the issue here could be fixed along with #265: basically we're requesting data that we don't need, and if that data is large then it can cause massive performance/memory allocation issues.

[2017-01-16 11:45] calebmer commented on #312
This issue seems to match what you're hitting: https://github.com/brianc/node-postgres/issues/1103

How many fields are you selecting? This may be fixable by not using `*` and only getting the fields you need.

[2017-01-16 11:46] calebmer commented on #312
You posted the comment before I did 😉

I'm going to look into fixing this. It's high priority so I'll see what I can do.

[2017-01-16 11:56] benjie commented on #312
I've been looking into #265 for a while; it seems [this](https://github.com/graphql/graphql-js/issues/19#issuecomment-133759088) is a good starting point. Basically we want to remove the [`createPgProcedureObjectTypeGqlFieldEntry`](https://github.com/calebmer/postgraphql/blob/e72696de3d67f5d478c009f8be4c9b25fdb1e2ed/src/postgraphql/schema/procedures/createPgProcedureObjectTypeGqlFieldEntry.ts) wor

[2017-01-16 12:03] benjie commented on #312
@calebmer Why are we doing `row_to_json(...)` rather than merely returning `*` directly - were you expecting to add more "meta" columns later, or maybe it's for compatibility with the _hooks that send the data back to postgresql later?

[2017-01-16 12:05] benjie commented on #312
(Using `psql`, replacing `to_json(__local_0__)` with `__local_0__.*` cuts the query time from ~8 seconds to ~6.8, so it's only about 15% faster - I don't think that's worth making the code changes for.)

[2017-01-16 12:45] calebmer commented on #312
We use `row_to_json` for easier composite type support. `row_to_json` will turn composite types into nested objects which is convenient.

The first fix I want to implement is just selecting the columns that are requested when there are no procedures. So for now at least a procedure column will cause a de-opt as we revert to the `*` case. Of course in the future I want to implement the solution we

[2017-01-16 12:50] benjie commented on #312
I use computed columns heavily, but fortunately not in this one case. (I do have performance issues related to computed columns, but they're not as problematic as this one is.)

[2017-01-16 12:53] calebmer commented on #312
Ok. Computed columns are definitely something I really want to make fast as well given how great they are for the developer experience. Out of curiosity do you use a lot of connection computed columns? Those will be pretty tricky to optimize and may always require a de-opt.

[2017-01-16 12:57] benjie commented on #312
I'm going to keep taking notes here as I dig further into understanding the codebase (something I've been meaning to do for a while).

---

Using the awesome `ts-node --inspect` I've added a debugger statement at [the top of `readPage` in `PgPaginatorOrderingAttributes`](https://github.com/calebmer/postgraphql/blob/a7b72a9f61ea5dd5078556615af5d1077c069b6d/src/postgres/inventory/paginator/PgPaginat

[2017-01-16 12:59] benjie commented on #312
Digging deeper into the `info` object, we can see the fields that are being requested on `sketchIntegrationEventRunsBySketchId`; ultimately our `{edges: {node: { __id}}}` path:

![screenshot 2017-01-16 12 57 31](https://cloud.githubusercontent.com/assets/129910/21983935/8175b774-dbeb-11e6-9569-1a908a52e37e.png)

So this is probably what fieldASTs has become?

[2017-01-16 13:00] benjie commented on #312
Confirmed: in v0.8.0 fieldASTs was renamed to fieldNodes:

https://github.com/graphql/graphql-js/releases

[2017-01-16 13:02] calebmer commented on #312
Awesome :+1:

I will note the approach I’m taking here. Because the GraphQL and Postgres parts of the codebase are kept separate (and intentionally so) I’m going to add a optimizations object which the GraphQL adapter can pass through the interface. The optimizations object will contain all of the fields selected in GraphQL. My current designs for an optimizations object depend on the changes in h

[2017-01-16 13:05] benjie commented on #312
Looks like resolve takes 4 arguments: `source`, `args`, `context` and `info`; and it's `info.fieldNodes` that we need.

[2017-01-16 13:06] benjie commented on #312
Good question, I shall investigate...

[2017-01-16 13:12] benjie commented on #312
New query, with an inline and an external fragment and a relation lookup:

[code]

It seems it does not lookup the fragments for you, you'll need to resolve them yourself:

![screenshot 2017-01-16 13 11 54](https://cloud.githubusercontent.com/assets/129910/21984356/6c505bb8-dbed-11e6-88ad-f408e0f44c6f.png)

[2017-01-16 13:15] benjie commented on #312
Looks like `operation` is the entire query, whereas `fieldNodes` is specifically just the current thing that's being resolved.

[2017-01-16 17:44] calebmer commented on #312
Unfortunately I timed out on this. I’m not sure when I’m going to get the chance to work on it again. In order to solve some of the major issues like this one I’m going to need more community support. Either fiscally or in code contributions.

[2017-01-18 12:24] sudheerj opened #313 "GraphQL Schema generation"
When we try to integrate GraphQL with PostgresQL then we found postgraphql as best option.After running the examples folder forum project then we ended up with few questions.How GraphQL schema will be generated? Where GraphQL Schema/queries will be stored? How we can integrate this postgraphQL in a complete front end -backend runnable application?

Note: We are successfully able to integrate with

[2017-01-19 00:21] sudheerj commented on #47
I'am looking forward about this mongo like filtering feature.For example MongoDB/Mongoose provides JSON filter object with all possible kind of operators.

[2017-01-19 07:20] kenota commented on #313
You should be able to get schema by using graphql introspection abilities.
That is how GraphiQl is able to do autocomplete and provide documentation
in right tab.

On 19 Jan 2017 04:46, "Dedoig" <notifications@github.com> wrote:

I actually had the same question. Is there a simple way to get the complete
GraphQL schema that was figured out by postgraphql as, say, a single file?

Am most impressed

[2017-01-19 07:36] sudheerj commented on #313
Thanks Kenota for the response. Yeah it is based on graphql introspection abilities but I'am not sure where it stored GraphQL Schema(as a file etc) to get more control on the schema.

I'am looking for complex filter features enhancements as well.
https://github.com/calebmer/postgraphql/issues/47

[2017-01-19 13:16] angelosarto opened #314 "Function that takes array of Timestamp cannot be called?"
Perhaps I am calling this wrong but it seems like a function with an array of timestamps cannot be called as it is unclear if this should map to a text array or an array of timestamps.

Minimal example:
[code]
Outputs "Hello World in both cases

Calling them from graphql
[code]

Calling the one with the array however
[code]

[2017-01-19 15:07] benjie commented on #314
Interesting; could you turn on debugging with `export DEBUG="postgraphql:*"` and tell us what SQL statements are executed?

[2017-01-19 23:22] angelosarto commented on #314
It gives some output, but not too much see below:

[code]

[2017-01-20 14:59] calebmer commented on #313
Check out the GraphQL-js [`introspectionQuery`](https://github.com/graphql/graphql-js/blob/5cf4cef688e115e08d9f53efba07bea174ec4446/src/utilities/introspectionQuery.js#L14-L106) to see the query that is recommended to get the schema PostGraphQL generates. I’d happily accept a PR that will automatically generate this schema in a JSON file for you on PostGraphQL startup, or whenever an update from t

[2017-01-20 16:26] calebmer commented on #314
@angelosarto it looks like the Postgres query information is missing from the logs. Perhaps try just `DEBUG="postgraphql:postgres"`?

I think the fix we need to implement is add Postgres type information to the queries we send to the database. So:

[code]

Would become:

[code]

…or we may be able to get away with:

[code]

To hint the type to Postgres.

[2017-01-20 23:41] angelosarto commented on #314
Tried with `DEBUG="postgraphql:postgres"`

got this output:
[code]

I also tried with a couple of other types - with INTEGER[] and TEXT[] it works, but I also found it doesn't work with NUMERIC[] as it tries to coerce them all to ints. So we may need to cast each item see below:

SQL (ignore that the field is named _timestamp, got lazy on that copypasta :)
[code]

graphql mutation query (wouldn't

[2017-01-20 23:50] angelosarto commented on #314
Oh, and a quick post as a workaround in case someone needs one:

If you need an array that is not an int or  text - declare your function to accept TEXT arrays instead and unnest and cast like this:

[code]

[2017-01-23 18:01] calebmer commented on #314
Ok cool. It looks like my proposed solution should fix this case then. I’d be happy to merge a PR which explicitly casts inputs 😊

[2017-01-24 08:03] martinheidegger opened #316 "Redefinition of same Relation by introspection data"
When trying to run postgraphql against my db it exits with:

[code]

Not sure what exactly causes it but I am pretty sure that this is not intended, is following line really a good idea? Wouldn't it be better to check for non-equality of the relation: I.e. if the same relation already exists, no problem but if someone tries to add a relation that is syntactically different: problem?!
https://githu

[2017-01-24 12:46] benjie commented on #316
@martinheidegger Could you provide a minimal schema that reproduces the issue?

[2017-01-24 13:34] Kurren123 opened #318 "Limit rows returned for specific users?"
Hi there

I have two database roles, Users and Admins. How can I limit the size of query results returned by graphQL by (e.g.) 100 rows for Users, but not limit the results for Admins?

Thank you for any suggestions,

Kurren

[2017-01-24 15:24] benjie commented on #303
The hack above does not work if a key in the JSON contains a space.

[2017-01-24 16:43] benjie commented on #318
Hi @Kurren123, postgraphql doesn't implement any features like this in itself; but here's a couple of ways you might achieve it:

1. put some kind of GraphQL query validation service in front of postgraphql so that it can validate which queries area allowed and which are not before sending them on to postgraphql and postgres
2. add custom functions in Postgres that look at the current user's acces

[2017-01-24 21:28] Kurren123 commented on #318
Hi @benjie . Thank you for your reply. If I go with 2 or 3, how can I prevent a malicious client from selecting millions of rows?

[2017-01-25 14:28] benjie commented on #318
One way is to not allow access to query the tables directly, instead requiring the user to go through your custom mutations. Another is to use built in postgres features such as statement timeout, to bolster your defence.

However I'd strongly encourage you to go with option 1  though there's not any good ready-to-use solutions out there for this yet, as far as I know. I recommend this post on Sta

[2017-01-25 15:46] guigrpa commented on #224
@calebmer I know this is closed, but I've got some additional input that might be of interest.

I have implemented a procedure in PG that allows filtering records not just by the fields in the initial table (say, `post`) but by other related tables as well (`person`, `comment`). Most of its functionality is extracted in a single polymorphic function, so that the code that is repeated *per table* i

[2017-01-25 16:51] calebmer commented on #224
@guigrpa that’s a really interesting idea. I hadn’t thought about that. I’d love to support this case perhaps if a function’s name starts with `graphql_connection_*`. If anyone wants to implement this functionality I’d happily merge a PR 👍

[2017-01-25 22:59] guigrpa commented on #224
@calebmer I'd love to have a go at this, even though it might be quite hard to dive into such a complex project.

I would propose the following API (let's assume the initial table is `person`):

[code]

Such a function would be exposed as `findPeople` in the GraphQL schema. All of its arguments would be extracted from the GraphQL query, with the first 4 ones corresponding to the Relay specs for co

[2017-01-26 08:32] skhro87 opened #321 "Error: Name "__id" must not begin with "__", which is reserved by GraphQL introspection."
I have tried a lot of things but always get this error message when trying to connect with postgraphql to a postgres instance.

$postgraphql -c postgres://postgres:postgres@localhost:5432/postgres -s kitchen_sink

PostGraphQL server listening on port 5000 🚀

  ‣ Connected to Postgres instance postgres://localhost:5432/postgres
  ‣ Introspected Postgres schema(s) kitchen_sink
  ‣ GraphQL endpoint s

[2017-01-26 08:45] benjie commented on #224
*Aside*: if you're new to the codebase, here are a few links that might help you get some understanding faster:

https://github.com/calebmer/postgraphql/blob/master/src/README.md

https://github.com/calebmer/postgraphql/wiki/Code:-how-are-things-like-barByFooId-built%3F

https://github.com/calebmer/postgraphql/issues/265#issuecomment-265736977

[2017-01-26 08:46] benjie commented on #321
This relates to the newly released graphql 0.9.0 which broke our dependencies - see https://github.com/calebmer/postgraphql/pull/319

Potential solutions: downgrade to graphql < 0.9 or try running postgraphql with `--classic-ids`

[2017-01-26 08:50] skhro87 commented on #321
ahhh! thanks a lot, it works with `--classic-ids` !

[2017-01-26 08:54] benjie commented on #321
I'm leaving this open for others who find the same issue in the coming days until we get a fix out.

[2017-01-26 10:14] guigrpa commented on #224
@benjie Thanks!

[2017-01-26 13:50] angelosarto opened #323 "Hiding objects from schema generation."
I may have missed this, but is there a way to hide objects from appearing in the schema?

I tried revoking privelages on individual tables, but I imagine the schema generation is taking place through reading postgress schemas.

Any hints?

[2017-01-26 14:01] benjie commented on #323
@angelosarto There's no blacklist functionality yet, but how I do it is moving things that I wish to be accessible into a specific schema for postgraphql.

[2017-01-26 14:29] Kurren123 commented on #318
Thank you for your answer, much appreciated. I think we can close this issue 😄

[2017-01-26 16:30] benjie commented on #318
@Kurren123 Do let us know if you build your own or find a solution, I think this area of GraphQL is still pretty cutting edge.

[2017-01-26 16:30] #318 closed

[2017-01-26 23:22] angelosarto commented on #323
This is actually a great answer and will do exactly what I need.

Plus, since you can specify multiple schemas to introspect it is possible to have this arrangement.

Server                                  |Parameters
-|-
graphql_external_unauth    |--schema unauth_api
graphql_external_auth        |--schema unauth_api auth_api
graphql_internal                  |--schema unauth_api auth_api privat

[2017-01-26 23:22] #323 closed

[2017-01-28 01:32] tonyhschu opened #325 "How to expose a stored procedure with an arbitrary return type?"
I have a stored procedure that generates an array of counts (effectively bins of a histogram) given a column in a table. It returns a table with four columns (bucket, count, min, max), like this
[code]
I can call it and it returns the right things. I granted `execute` permission to the role I'm using with postgraphql. Yet this function doesn't show up at all when I try it out in the `graphiql` int

[2017-01-28 12:20] benjie commented on #325
Hi @tonyhschu; it looks like you're creating the function in a schema called `schema` - for the forum_example you need to create it in `forum_example`, e.g.:

[code]

[2017-01-28 15:09] calebmer commented on #323
@angelosarto that’s a pretty cool use case 😊

[2017-01-28 15:13] calebmer commented on #325
@tonyhschu also PostGraphQL does not currently support the `table(bucket integer, count bigint, min double precision, max double precision)` syntax because in this case, you have an anonymous type. To make it work you could create a named Postgres composite type and return a `setof` that which should work 😊

So:

[code]

…and then change the return type to:

[code]

This should work 😊

[2017-01-28 19:36] calebmer commented on #302
There’s a PR open to fix this https://github.com/calebmer/postgraphql/pull/328. It’s a breaking change so I wanted to wait for the `3.x` release which should be happening soon now 😊

[2017-01-28 21:13] #316 closed

[2017-01-29 19:44] colophonemes commented on #302
Awesome, love your work!

[2017-01-29 19:44] #302 closed

[2017-01-30 07:02] martinheidegger opened #330 "graphiQL broken?"
The html output of `/graphiql` Does not output any JavaScript code and shows an empty page:

https://github.com/calebmer/postgraphql/blob/939a91ed20fc183bcd0fc8367a7b6af891e6a2de/src/postgraphql/graphiql/public/index.html

[2017-01-30 11:28] martinheidegger opened #332 "Support logging in as postgres user"
By default all requests are done using the user specified when starting postgraphql. In my case I would like to be able to have the default user only be a "public" user while any write operation would need a login. As far as I could tell this is not yet supported... Right?

[2017-01-30 12:07] benjie commented on #332
I use the JWT functionality to change the database role and set various config settings. (If you go this route, I highly recommend using PG9.6+ so you get the second option `missing_ok` of [current_setting(name, missing_ok)](https://www.postgresql.org/docs/9.6/static/functions-admin.html).)

Read more about it in [Caleb's PG JWT spec](https://github.com/calebmer/postgraphql/blob/master/docs/pg-jwt

[2017-01-30 12:23] martinheidegger commented on #332
Actually that is missing my point a little 😅  When starting the `postgraphql` server it uses a user/password to access the data. The default user should not allowed to do anything except figure out the database structure. For any operation the user would need to call a `login(user, password)` API that sets up a new database connection with said credentials.

[2017-01-30 16:34] calebmer commented on #330
That file is built with `create-react-app` which injects a script tag 😊

What environment are you currently working in? I don’t think that refactor has been published. You should be able to start a `create-react-app` server with `./scripts/dev` in development mode.

[2017-01-30 16:43] benjie commented on #332
Sorry, I should have prefixed my comment with "This isn't exactly what you've asked for, but..."!

The functionality is similar, in that you can use postgresql roles and the default role has different (lower) privileges. The major difference is that the default user needs to be able to switch to be one of the other users via `SET LOCAL ROLE` (like `su`) and for that I think the user needs to be gr

[2017-01-30 17:30] tonyhschu commented on #325
Great! This worked. Thank you so much. The modified schema looks like this:

[code]

When queried like this:

[code]

Returns something like:

[code]

[2017-01-30 17:30] #325 closed

[2017-01-31 05:42] zusamann opened #335 "How to have custom authorization, authentication and logging"
Hi, thanks for this great tool!

I was looking to use it as a microservice in my stack to provide a gql api. But it seems to be a bit opinionated in the way it works. Which is not a bad thing.

Just wanted to know how to get a hold of some of the abstractions or how to build them myself, in order to make postgraphql work consistently with the rest of my set of micro services.

For authorization an

[2017-01-31 09:09] benjie commented on #335
Regarding authentication, I mount postgraphql as an express middleware, and prefix it with a middleware which generates a JWT given the current session data:

[code]

https://github.com/calebmer/postgraphql/blob/master/docs/pg-jwt-spec.md

[2017-01-31 09:37] martinheidegger commented on #330
As mentioned in #334 it seems like scripts/dev works at my computer now (don't have the logs of when it broke) so development works. Sorry for taking your time.

[2017-01-31 09:37] #330 closed

[2017-01-31 10:38] zusamann commented on #335
Yes, that would take care of authorization and authentication with hooks that fire before a request is made. Can conceptualize it like so:

[code]

I guess the logging and profiling can both happen similarly with a before and an after hook.

But then any way to override the included default logging, or make it optional rather?

[2017-01-31 10:45] zusamann commented on #335
Actually I did find an option that you can pass to stop the logging.

https://github.com/calebmer/postgraphql/blob/master/docs/library.md#postgraphqlpgconfig-schemaname--public-options
[code]

So essentially, as I understand, postgraphql can be used like any other express middleware.

[2017-01-31 15:34] calebmer commented on #332
You may also be looking for the `pgDefaultRole` option which allows you to specify the role when no token is provided 😊

This option is demonstrated in the [forum example tutorial](https://github.com/calebmer/postgraphql/blob/master/examples/forum/TUTORIAL.md) with the `forum_example_anonymous` role.

[2017-01-31 23:07] tomberek commented on #271
@mytototo : i've done a translation for postgREST to comply with https://github.com/marmelab/admin-on-rest version of REST, though I'd also like to see if we can work together with something like: https://github.com/sarkistlt/graphql-auto-generating-cms

[2017-01-31 23:08] tomberek commented on #87
I've played a bit with https://github.com/sarkistlt/graphql-auto-generating-cms and https://github.com/marmelab/admin-on-rest for generation of a CMS. The main issues slowing this down is naming conventions.

[2017-02-01 17:30] #335 closed

[2017-02-03 13:59] Levino commented on #292
So I read this issue with great interest. Any updates on the matter?

[2017-02-03 14:23] ugiacoman commented on #292
Haven't gotten a chance to makes the changes necessary. The PR fixes the issue, but doesn't pass the tests. I'll take another look this weekend, see if I can fix it.

[2017-02-03 17:27] rhelenagh opened #341 "is it possible to limit or exclude tables for use in mutations"
Hello, I have a question is it possible to limit or exclude tables for use in mutations. I would appreciate a small example. Congratulations on the project, very good !. :-)

[2017-02-04 00:28] benjie commented on #265
I believe I've implemented the optimal solution in #340; there's still work to be done before it can be merged but the foundations are mostly there.

[2017-02-04 16:44] benjie commented on #265
@valorize Are you able to try my latest stuff in #342 to see if it solves your 1360ms issue?

Checkout master, install everything, then do `DEBUG="" ./scripts/dev -c postgresql://localhost/YOUR_DATABASE_NAME --schema YOUR_SCHEMA_NAME` and run your query in graphiql (run it a few times so you can break in V8 a bit, and take the lowest runtime (ignoring the introspection query that might run when gr

[2017-02-05 12:04] valorize opened #343 "tsc compile error / does not compile correct directory"
FYI I just pulled next to incorporate the changes from @benjie regarding https://github.com/calebmer/postgraphql/issues/265

My directory structure was as follows:
[code]

When I then ran npm run build in postgraphql I got several compile errors regarding my node_modules in my_project.

Fix was to move postgraphql to an folder where no tsconfig or node_modules where in parent folders present. Stra

[2017-02-05 12:04] #343 closed

[2017-02-05 13:55] calebmer commented on #341
Yep! The mutations should be hidden if you did not grant insert, update, or delete privileges to the Postgres user you connected with 😊

So if you use a connection string of `postgres://postgraphql_user@localhost:5432`, and you:

[code]

…but you do not grant insert, update, or delete privileges with:

[code]

Then those mutations should be hidden in the schema.

For more information about the `GR

[2017-02-05 14:03] ugiacoman commented on #292
Not going to get a chance this weekend but soon :)

[2017-02-05 14:45] valorize opened #344 "Document or link scripts/dev or bash parameters"
I'm not sure where to put it but I think we should link the differing parameters names when postgraph is executed by ./scripts/dev and not by express or the like.

[code]

Maybe at the end of?: https://github.com/calebmer/postgraphql/blob/master/docs/library.md

[2017-02-05 15:05] calebmer commented on #344
Good idea. I created a new documentation article https://github.com/calebmer/postgraphql/pull/345 👍

[2017-02-05 20:53] #344 closed

[2017-02-06 18:21] zusamann opened #346 "Mount postgraphql middleware on a path"
Hi, I was trying to mount postgraphql to a specific url.

Here is how it works by default:
[code]

This is what I wanted:
[code]
So I tried this as well:
[code]

Any way I can make this work?

[2017-02-06 18:37] zusamann commented on #346
Additionally I have tried using postgraphql as an express subapp. But that hasn't solved my problem either.

[code]

[2017-02-06 19:06] benjie commented on #346
@zusamann I believe you've effectively mounted postgraphql at `/gql/gql` using that. Instead use the postgraphql middleware directly.

[2017-02-06 19:10] zusamann commented on #346
@benjie not really, I've tried all the various configurations of `graphqlRoute` and as I commented above, I tried using it directly as well. And in that case it would post to `/graphql`. When using `/gql` it would correctly post to `/gql` but with a 404.

Do you think if I post the above code in a repo, you could check it out?

[2017-02-06 20:07] rhelenagh commented on #341
Geil, great thanks for your information!

[2017-02-06 21:57] benjie commented on #346
When you use `express.use('/url', ...)` express automatically modifies the path that it feeds into the sub-app. However it does not re-write the URLs that the sub-app produces. I fear that your issues come from using `express.use('/gql', ...)`; it sounds like what you want is:

[code]

Here's the relevant file to read if you're interested:

https://github.com/calebmer/postgraphql/blob/master/src/p

[2017-02-06 21:58] benjie commented on #346
I just noticed that your examples above have typos:

[code]

should be

[code]

[2017-02-07 05:22] zusamann commented on #346
@benjie you are right my initial examples did have a typo. And not mounting the subapp on an explicit path does work.
[code]

As for the intended functionality I was looking for (authentication on the path `/gql`) I guess I can put an auth middleware on the path `/gql` before the `postgraphql` middleware.

Thank you for your response.
----

One last think I wanted to ask, is authorizing post reque

[2017-02-07 05:56] zusamann commented on #346
Ok I have an easy solution which works across all endpoints uniformly (which is what I wanted), not sure if it's the preferred way though.

[code]

[code]

[2017-02-07 05:59] zusamann commented on #346
I tried the solution below, which doesn't really work. The graphiql UI is authed fine, but the post queries that graphiql throws back do not have any auth token in them.

[code]

[code]

[2017-02-07 11:53] jinty commented on #299
Thinking out loud, otherwise i forget this stuff:

I had another run at this and have seen that recent work has added withPostGraphQLContext (https://github.com/calebmer/postgraphql/commit/1145689054f7f7a6a5542ec34aa3827af3bc572a) which is great :) a way to implement this would be a hook to override withPostGraphQLContext.

It also makes things a little complex as there seems to be no way (by desi

[2017-02-07 12:50] benjie commented on #346
Here's what I use, perhaps it's of use:

[code]

[2017-02-07 12:58] benjie commented on #299
I was looking at the isolation levels myself; I think our queries ought to have `repeatable read` level at least so that the different queries that run together to produce the result don't suffer from race conditions.

I'm using withPostGraphQLContext for server-side execution of GraphQL queries (for isomorphic Relay); but extending it so you could pass in pre/post hooks (e.g. via the options obje

[2017-02-07 13:02] zusamann commented on #346
Okay thanks, I'll close this issue now since my initial problem has been solved.

[2017-02-07 13:02] #346 closed

[2017-02-07 15:06] rentrop opened #349 "Is it possible to do subquery LIMIT via GraphQL"
In the postgres doku on [Controlling Text Search](https://www.postgresql.org/docs/9.6/static/textsearch-controls.html#docComments) the last example explains how to use `ts_headline` as follows:

[code]

Is it possible to do this `LIMIT 10` aka `first: 10` in postgraphql?
In the doku they point out that `ts_headline` is slow as its working on the original __body__ instead of the `ts_vector` __ti__.

[2017-02-07 16:38] jinty commented on #299
On Tue, Feb 07, 2017 at 04:58:32AM -0800, Benjie Gillam wrote:

I'm pretty sure that the right answer is "it depends on the situation"
and probably the best is to defer to the server default in most cases.

However it is polite to communicate to the database if you know have a
READ ONLY transaction. That allows the DB to optimize in ways it
otherwise wouldn't be able to. However, postgres does rai

[2017-02-07 19:22] benjie commented on #349
You can add additional arguments to your function that apply the limit; if you return a set then you can't name them `first` but you could do `rowLimit` or similar?

[2017-02-07 19:31] benjie commented on #299
Interesting. I don't have time to fully evaluate right now; hopefully Caleb can give some feedback otherwise ping again in a weeks time.

[2017-02-07 21:56] rentrop commented on #349
Year that is true. But then you also have to to the pagination yourself, right?

[2017-02-08 00:17] calebmer commented on #341
If you have any more questions, please feel free to leave a comment or reopen this issue 😊

[2017-02-08 00:17] #341 closed

[2017-02-08 00:37] calebmer commented on #299
READ ONLY transaction. That allows the DB to optimize in ways it
otherwise wouldn't be able to. However, postgres does raise an error if
something does try to write.

I didn’t know we could have read-only transactions, that’s awesome!

That’s something I’d be willing to try incorporating into PostGraphQL itself, as you wrote in your pseudo-code example we would just make sure that the operation is

[2017-02-08 00:44] calebmer commented on #349
Interesting, yeah, you’d be limited to only paginating `rowLimit` rows, right?

Three questions:

1. Is there a way to flatten the query? I guess not, right, because `ts_headline` would then run on everything. See if `explain analyze` has any insight on this as it may be optimized.
2. If the `limit` is removed does Postgres optimize with the limit PostGraphQL provides?
3. Is there a reason you can

[2017-02-08 12:54] benjie opened #350 "DEBUG="postgraphql*" causes mutation functions to be executed twice"
Because it includes `postgraphql:postgres:explain` which calls `explain analyze select...` which actually runs the function. Perhaps we should wrap the explain statement in begin/rollback?

Lost 30 minutes to this.

[2017-02-09 08:39] benjie commented on #299
Would be good to start the transactions with both:

`BEGIN TRANSACTION ISOLATION LEVEL REPEATABLE READ READ [ONLY/WRITE];`

[2017-02-09 09:08] jinty commented on #299
On Tue, Feb 07, 2017 at 04:37:38PM -0800, Caleb Meredith wrote:

Great, I'll make a separate issue just for this.

This is something I don't need right now. I just mentioned it because I
have needed to implement it in the past on another web frameworks for
scalability.

In the past I've had to catch database serialization errors and retry up
to N times.

Audit logs are commonly implemented with tr

[2017-02-09 09:12] jinty commented on #299
On Thu, Feb 09, 2017 at 12:39:05AM -0800, Benjie Gillam wrote:

I'd be afraid of enforcing the isolation level. What is needed can vary
quite a bit depending on the situation.

However, setting READ ONLY is always a good idea if you know that no
data should be modified.

--
Brian Sutherland

[2017-02-09 09:24] benjie commented on #299
The reason I'm suggesting repeatable read is because postgraphql can run quite a few SQL queries (certainly on `master` anyway!) which opens the risk of race conditions with two simultaneous mutations. But since we do the entire GraphQL execution within a transaction if it were to throw an error whilst GraphQL draws the result it **could** rollback the transaction instead of setting the isolation

[2017-02-09 13:28] jinty commented on #299
On Thu, Feb 09, 2017 at 01:24:13AM -0800, Benjie Gillam wrote:

What do you mean by error? If there is an error on the postgres level
within a transaction then "commit" actually does a rollback. I would
hope that with any JS level error the transaction were explicitly rolled
back.

Repeatable Read probably imposes a performance penalty and the postgres
docs say:
    "Applications using this level

[2017-02-09 15:27] benjie commented on #299
For example if there's a nested relation but the underlying data is removed before the second query executes causing GraphQL to throw on a NotNull constraint

I don't think this is currently the case:

https://github.com/calebmer/postgraphql/blob/2f25ce8a9567e956f6dac55c237a1bf2e9e38003/src/postgraphql/withPostGraphQLContext.ts#L73

[2017-02-09 15:58] jinty commented on #299
On Thu, Feb 09, 2017 at 07:27:59AM -0800, Benjie Gillam wrote:

Ah, I see. Then it becomes a question of what level of errors justifies
the pain of moving to a higher isolation level if you have a situation
where data is inserted and deleted frequently.

That's scary

/me hopes that mutations are always executed in one SQL statement.

--
Brian Sutherland

[2017-02-09 16:17] benjie commented on #299
All mutations are one SQL statement currently, yes.

[2017-02-09 16:17] benjie commented on #299
(But the queries on their results are not.)

[2017-02-09 16:31] jinty commented on #299
On Thu, Feb 09, 2017 at 08:17:27AM -0800, Benjie Gillam wrote:

The bigger fear is having half a mutation enter the database because
some JS code errors and the transaction is committed regardless. You're
probably safe from that.

Though I would argue that the safest way is to always rollback and send
a HTTP 500 on any unhanded error.

--
Brian Sutherland

[2017-02-09 19:04] colophonemes opened #351 "Add note to the documentation to explain Heroku doesn't allow `CREATE ROLE`"
It looks like Heroku Postgres doesn't allow you to create roles. Is there a workaround for this given that's the basis of PostGraphQL's security model?

If not, it might be a good thing to note in the docs that Heroku isn't a hosting option, given there are a number of links to Heroku's Postgres documentation.

[2017-02-09 19:58] benjie commented on #351
You are correct. I use Heroku for my hosting, but I use Amazon RDS for my database; you can still feed the URL in the same way (via `DATABASE_URL`) and everything works just fine.

[2017-02-09 20:06] colophonemes commented on #351
Yeah, I figured that was the case, but thanks for making it explicit 👍

[2017-02-11 14:39] calebmer commented on #350
Oh, interesting. We should only be explaining `SELECT`s (see: https://github.com/calebmer/postgraphql/blob/master/src/postgraphql/withPostGraphQLContext.ts#L204).

We could do a rollback, but perhaps there’s a better way? For example only doing `explain` and not `explain analyse`. Or just removing that feature entirely.

[2017-02-11 15:44] #282 closed

[2017-02-11 16:09] calebmer commented on #249
Should be fixed in `3.0.0` 🎉

[2017-02-11 16:09] #249 closed

[2017-02-11 16:17] calebmer commented on #321
Fixed in `3.0.0`.

[2017-02-11 16:17] #321 closed

[2017-02-11 16:18] calebmer commented on #313
A feature for auto-exporting the schema was added in [`3.0.0`](https://github.com/calebmer/postgraphql/releases/tag/v3.0.0) thanks to @MaienM :tada:

[2017-02-11 16:18] #313 closed

[2017-02-11 16:19] calebmer commented on #266
A feature for auto-exporting the schema was added in [`3.0.0`](https://github.com/calebmer/postgraphql/releases/tag/v3.0.0) thanks to @MaienM. We also aren’t using the name `__id` anymore so this issue should be solved :tada:

[2017-02-11 16:19] #266 closed

[2017-02-11 16:20] calebmer commented on #55
A feature for auto-exporting the schema was added in [`3.0.0`](https://github.com/calebmer/postgraphql/releases/tag/v3.0.0) thanks to @MaienM :tada:

[2017-02-11 21:37] benjie commented on #350
Ah - it was with a procedure, which does do a select!

https://github.com/calebmer/postgraphql/blob/master/src/postgraphql/schema/procedures/createPgProcedureMutationGqlFieldEntry.ts#L113

[2017-02-13 12:46] zorec opened #353 "Unrecognized configuration parameter "jwt.claims.person_id""
I encountered the error when I was going through the step by step tutorial. It occurs during the execution of this function `forum_example.current_person()` in PostgreSQL:
[code]

In the GraphiQL, the current user query fails despite the successful authentication:
[code]
[code]
The following result is returned:
[code]

Afterward, I cloned the forum example from the repository to check that I didn'

[2017-02-13 14:59] benjie commented on #353
The documentation suggests that `alter table X enable row level security;` should work on Postgres 9.5+; your client is for 9.6.2 but what is the version of the server you are connecting to?

https://www.postgresql.org/docs/9.6/static/ddl-rowsecurity.html

As for the unrecognised configuration parameter, that's probably from calling `current_setting(...)` for a field that doesn't exist; you should

[2017-02-13 16:39] calebmer commented on #350
Ah, interesting! 😊

Yeah. I’m all for removing the `explain analyse`s. I never liked how they were included with `postgraphql*`, and since queries are reported anyway getting an explain is always as easy as copy-pasting.

[2017-02-13 16:52] calebmer commented on #353
In order for:

[code]

to work, and therefore:

[code]

as well, you will need to pass the JWT token you get (when `--token forum_example.jwt_token` is set) as an `Authorization` header to PostGraphQL 😊

This will effectively run:

[code]

In the database which will enable the `forum_example.current_person` procedure to work 👍

Make sure to run the [`SET`](https://www.postgresql.org/docs/9.6/stati

[2017-02-13 18:46] zorec commented on #353
@benjie You are right. My Postgres server version (9.4.8) has no support for row-level security.

Setting the default key works with an integer (empty string causes `invalid input syntax for integer`),
but the default is only for users without a token. I assumed that the value will be (automatically) set after a user authenticated at least in GraphiQL. That is not true based on the requests, then

[2017-02-13 18:46] #353 closed

[2017-02-14 08:18] slaskis commented on #50
I'd love to see support for this using an environment variable such as `SECURE_KEYS`.

This way when hosting on a service like Heroku we could have rolling secure secrets up and running by just enabling this addon: https://devcenter.heroku.com/articles/securekey#provisioning-the-add-on

[2017-02-14 16:37] benjie opened #355 "Trigger functions should not be added to GraphQL schema"

[2017-02-16 12:55] kenota opened #356 "PostGraphQL fails to start when there is composite type with custom domain as argument and return type in function"
**Postgraphql version**
3.0.0

**Postgres Version**
PostgreSQL 9.6.1 on x86_64-pc-linux-gnu, compiled by gcc (Debian 4.9.2-10) 4.9.2, 64-bit

**Bug description**
When postgraphql is started against schema having following things:
* Some table
* Custom domain which is alias for array of records of that table
* Composite type which contains variable of that custom domain
* A function which takes arg

[2017-02-16 13:36] benjie commented on #356
@kenota Thanks for the report; please could you post the results of the introspection query for this schema?

https://github.com/calebmer/postgraphql/blob/master/resources/introspection-query.sql

[2017-02-16 13:46] kenota commented on #356
@benjie Please see attached file. Weirdly enough, quick grep/search shows that it has only 1 entry with name files_array

[introspection.txt](https://github.com/calebmer/postgraphql/files/780265/introspection.txt)

[2017-02-16 14:04] benjie commented on #356
Indeed; I have to defer to Caleb on this then - sorry!

[2017-02-16 14:06] kenota commented on #356
Additional observation, following schema does not reproduce the issue (note removed argument from the function signature):
[code]

Also feel free to change the issue title, I was not sure how to formulate this :)

[2017-02-16 14:25] sstubbs commented on #92
I am very interested in this and would be willing to pay someone for their time on it. Connecting a web socket server and implementing that logic certainly seems counter productive with how cleanly Apollo client works with react.

[2017-02-16 14:26] kenota commented on #356
More investigation: I was able to significantly reduce schema which reproduces the issue. The problem seems to happen also when you just declare function which returns array of records of certain table:

[code]

In this schema, error is following:
`Error: Schema must contain unique named types but contains multiple types named "MyTbl".`

[2017-02-16 14:26] sstubbs commented on #92
Looks like Apollo client also now supports subscriptions https://dev-blog.apollodata.com/graphql-subscriptions-in-apollo-client-9a2457f015fb

[2017-02-16 14:43] skhro87 commented on #356
I just spent ~4 hours being confused by that after upgrading to 3.0.0.

It seems like a spelling bug with singular/plural of the table names:

This is working:

`
BEGIN;
CREATE SCHEMA bug_test;
SET SEARCH_PATH TO 'bug_test';

CREATE TABLE my_tbls (
  id serial PRIMARY KEY
);

CREATE FUNCTION test2() RETURNS my_tbls[] AS $$
SELECT NULL::my_tbls[]
$$ LANGUAGE SQL IMMUTABLE;
COMMIT;
 `

Notice the pl

[2017-02-16 14:46] skhro87 commented on #356
I just checked version 2.6.0 and it's the same...

[2017-02-17 00:08] calebmer commented on #356
Is this bug in `2.5.1`? I believe there was a major types refactor in `2.6.0` and `3.0.0` 😣

There also might be a couple issues here that have the same effect.

[2017-02-17 02:12] skhro87 commented on #356
Here's some more details:

2.5.1 fails
2.5.0 fails
...
even 2.0.0 fails

all with the same
[code]

I haven't tested before 2.0.0

I think this is quite a major bug because even on the front page the very first schema example creates a table with singular name "Post" which will be affected by this bug

[code]

[code]

Without looking at the code, here's what likely is the problem:
The "Post" is one

[2017-02-17 03:28] skhro87 commented on #356
```VIEWS``` and ```ENUM``` and custom types appear to work using them as array in singular version, so basically it the bug just affects _functions that us arrays of tables with plural names_

[2017-02-17 10:19] pyros2097 opened #357 "Add note to the README explaining `?ssl=1` connection string requirement"
I'm trying to connect to my database hosted by https://aiven.io/ but getting some configuration error do you know what it could be
[code]
Its connecting fine using psql cli. So why isn't postgraphql connecting? Don't you set ssl to true? That seems to be the problem.

[2017-02-17 10:51] benjie commented on #357
@pyros2097 The error states "SSL off" but it looks like your connection URL wants SSL; it seems that the postgres query string library doesn't support `sslmode=require` instead requiring `ssl=1`; my connection string looks like:

`postgresql://username:password@example.com/dbname?sslmode=require&ssl=1`

[2017-02-17 10:58] pyros2097 commented on #357
Yes it worked thanks @benjie :) :+1:

[2017-02-17 11:05] aabluedragon opened #358 "Postgres `numeric` overflowing pgql js `number`"
Currently postgraphql "treats" `numeric` as javascript's `number`.

[PG Docs](https://www.postgresql.org/docs/9.6/static/datatype-numeric.html) mention the following storage size for numeric:
Storage size: variable (User specified precision exact)
Range: up to 131072 digits before the decimal point; up to 16383 digits after the decimal point

JS number type seems to have a more fixed length (53 bi

[2017-02-17 12:01] benjie commented on #357
Reopening as a task.

[2017-02-17 12:09] benjie commented on #332
Our current implementation for this enables connection pooling; if we were to implement direct Postgres user login then we'd not be able to use this. Further we'd be opening the database to root logins, which may need some additional protections (though Postgres can handle these itself by only granting login from the IP associated with the PostGraphQL server to certain users).

I'd be open to a PR

[2017-02-17 12:53] 5argon opened #359 "Confusion about authentication in TUTORIAL.md"
I have followed the entire tutorial to the point that I know `authenticate` will create the JWT to user, and PostgraphQL will use the JWT that is embedded in HTTP request’s Authorization header.

From what I understand `authenticate` would be available for query with GraphQL via reflection as well, so that is how client will get the JWT string (Do a GraphQL query with your ID and Password). Could

[2017-02-17 13:21] benjie commented on #359
Here's what I use for an express stack, perhaps it's of use?

[code]

(I use regular session management, and then convert that to a JWT token for PostGraphQL.)

[2017-02-17 17:52] aabluedragon commented on #359
@5argon

Here's a standalone example:
[code]

If you're using `apollo-data`'s client for your browser side code, look into the methods `networkInterface.use` and `applyMiddleware`, otherwise the above example should work out for you.

Notice we're using the http `fetch` API, some browsers may require [a polyfill](https://github.com/github/fetch).

[2017-02-19 13:20] pyros2097 opened #360 "Expose defaultQuery and other options in graphiql?"
Whenever me or any developer opens graphiql I want to list all queries and mutations that are possible to him, so its easier to test the api immediately. I generally have a .md file that lists all the mutations to seed the database so this will be helpful in this case also which I will use  to populate the default query.

Or else since postgraphql already knows all the queries and mutations can it

[2017-02-19 13:46] Trupal00p opened #361 "Nested Mutations [plugin available]"
I think it would be helpful to have a syntax to update multiple tables with a single mutation. I like the approach described here: [https://blog.graph.cool/improving-dx-with-nested-mutations-af7711113d6#.em6lzrp2y](https://blog.graph.cool/improving-dx-with-nested-mutations-af7711113d6#.em6lzrp2y)

Basically transforming this: (where "Author" is a separate table)

[code]

into this:

[code]

would

[2017-02-20 02:11] gsogol opened #362 "Support Questions"
Starting a large project and curious about some of these questions:

1) how does native jsonb support work? Are the fields mapped differently somehow? Any gotchas?

2) is graphql-js a dependency so we can always get there latest community updates or does this project user a fork or its own implementation?

3) is there an easy way to use es6/es7 syntax? Any pointers to custom schemas/queries with e

[2017-02-20 05:34] 5argon opened #363 "Is it still Relay-compliant that Node's id is "nodeId" instead of "id" ?"
From http://facebook.github.io/relay/graphql/objectidentification.htm it indicates that the introspection should return

[code]

But when I tested PostgraphQL it returns :

[code]

So I am wondering if Relay still functioning correctly despite this? (cache, optimistic update, etc.)

[2017-02-20 05:36] 5argon commented on #359
Thank you everyone. I have learned many things!

[2017-02-20 05:36] #359 closed

[2017-02-20 07:11] cbandy opened #364 "Emit the actual listen port during startup"
When starting PostGraphQL as a child process, I'd like to communicate with it over any available TCP port. I can invoke it with `-p0` to choose such a port, but from outside the process, it's not easy to find which port was used.

[code]

I would love it if this line printed [`address().port`](https://nodejs.org/api/net.html#net_server_address) of `http.Server` instead.

[2017-02-20 13:44] benjie commented on #363
Look into `--classic-ids`; this change is to make it so the common `id` field for database tables doesn't conflict with the Relay one (which was `__id` until recently).

[2017-02-20 16:45] calebmer commented on #356
Thanks for the detailed information @skhro87. I think this is a good first bug for anyone interested in contributing to PostGraphQL and I’d happily merge a bugfix 👍

The bug is probably happening somewhere around here: https://github.com/calebmer/postgraphql/blob/54879f694b3918d256fedf84071703ea4dd5ec10/src/postgraphql/schema/procedures/createPgProcedureQueryGqlFieldEntry.ts

[2017-02-20 16:46] calebmer commented on #358
Yeah. This is really unfortunate given we just made a breaking change for big integers 😣

For now, it’s probably a good idea to specify which number type you specifically want 👍

[2017-02-20 16:50] calebmer commented on #332
I’m a little confused why a default role with `pgDefaultRole` would not be sufficient in this case? I agree that not having a default role can be a big problem, but we do have a default role feature.

[2017-02-20 16:50] calebmer commented on #332
And I should probably add a default role that is exclusive from the user used to connect to Postgres 😊

[2017-02-20 16:52] calebmer commented on #360
In the top right corner of any instance of GraphiQL is a documentation explorer 😊

For example see the SWAPI GraphiQL instance: http://graphql.org/swapi-graphql

From that you can explore the GraphQL API. Perhaps PostGraphQL should open the documentation explorer by default on large screens? I’d be happy to merge a PR that implements this.

I’m going to close, but let me know if I’m missing someth

[2017-02-20 16:52] #360 closed

[2017-02-20 16:56] calebmer commented on #361
I’m interested to know what kind of mutation you are envisioning here. Would:

[code]

Update or insert `author`?

I’d love to see a feature like this, but I would want to make sure we have a clear proposal for how we would implement nested mutations 😊

[2017-02-20 17:03] calebmer commented on #362
JSON and JSONB support just emits the JSON string in the response. If you want the JSON object and not just the string you can pass the `--dynamic-json` flag. In GraphQL all JSON fields will have a custom scalar `Json` type 😊

Yep! We even have a version range that is more flexible then what is the default for `0.x` packages https://github.com/calebmer/postgraphql/blob/54879f694b3918d256fedf840717

[2017-02-20 17:03] #362 closed

[2017-02-20 17:05] calebmer commented on #364
I’d love to merge a PR adding this feature 😊

It should be a simple one line change here: https://github.com/calebmer/postgraphql/blob/54879f694b3918d256fedf84071703ea4dd5ec10/src/postgraphql/cli.ts#L126

[2017-02-20 17:07] calebmer commented on #363
Perhaps we should consider making `--classic-ids` the default again now? 🤔

But yeah, `--classic-ids` is required for Relay 1 support. I’ll close. Let me know if you have any more questions for us 😊

[2017-02-20 17:07] #363 closed

[2017-02-20 17:33] Trupal00p commented on #361
I think ideally I'd like to see it "replace" whatever is currently in the database. Using the primary key on the other table to determine if it exists or not.  It's probably most useful in cases of one-to-many relationships.

To illustrate, say your tables are set up like this

Table "Posts":

ID | Title | Description
--- | --- | ---
1 | Really Interesting Post | The description of the really inte

[2017-02-20 18:31] benjie commented on #332
@calebmer Martin's looking for a fresh database connection logged in using the users *database* credentials; we use application-level credentials. In the event of an SQL injection attack in our current system, the user could trigger `set "jwt.claims.user_id" to '1';` or similar and become any user they like. If, instead, it was a fresh database connection logged in using the user provided credenti

[2017-02-20 18:34] benjie commented on #362
I'm running PostGraphQL on RDS in production; and my code's written in ES2015+ 👍

[2017-02-20 19:56] Trupal00p commented on #361
I think it provides additional capability in the case of an insert with an auto-incrementing ID.

Let's say I'm inserting a new post and a new author associated with that post. First, I need to run the createPost mutation to create the post (so I can get the new ID) then I need to run a second mutation (with the newly created ID) on a second network request to create the associated author.

Allowi

[2017-02-20 20:23] ugiacoman commented on #292
@Levino @angelosarto @FGRibreau  Created a new PR without the `roles` object support. Passes all tests!

[2017-02-21 15:31] EyMaddis opened #368 "Server crashes when watch is used by non-super user"
Hi,
when running PostGraphQL with `pgWatch` enabled, but without access to a super user, the server will not start and crash instead.

[code]

My guess is that there is automatic rollback missing.

Related question: which permissions are required to this to work?

[2017-02-21 19:20] calebmer commented on #332
@benjie thanks for the clarification. I’m pretty confident that PostGraphQL is strong against any SQL injection attack attempts given how we construct SQL. If we really wanted to remove the chance of introducing an accidental SQL injection attack then we could even remove: https://github.com/calebmer/postgraphql/blob/fe84f9def87092c203d24ded4d1fdc2a949d94a5/src/postgres/utils/sql.ts#L12

I do thin

[2017-02-21 19:24] calebmer commented on #361
Yep. I can see how that can be useful. What about introducing a new feature to our GraphQL runtime that allowed mutation fields to become variables? For example:

[code]

I’ve seen the need for a GraphQL feature like this in a few different places. Would something like this adequately solve the problem?

[2017-02-21 19:30] #364 closed

[2017-02-21 19:42] calebmer commented on #368
Only super users can create event triggers which is what we need for watch mode: https://www.postgresql.org/docs/9.6/static/sql-createeventtrigger.html

If you don’t want to run PostGraphQL as a superuser and development, but still want watch mode just run this SQL file: https://github.com/calebmer/postgraphql/blob/master/resources/watch-fixtures.sql

But yes, we definitely should not crash if we

[2017-02-21 23:25] benjie commented on #332
I'm confident too, but security is all about layers and controlling what would happen if one layer is compromised; for example it might be a bug in node-pg that opens the connection to an SQL injection attack.

[2017-02-22 02:29] martinheidegger commented on #332
What @benjie talks about was my initial concern, I also first thought about the doing it on a connection level but since learned that [postgres supports users/session](https://www.postgresql.org/docs/8.1/static/sql-set-session-authorization.html). But also, I learned that Postgraphql [uses the defaultRole](https://github.com/calebmer/postgraphql/blob/939a91ed20fc183bcd0fc8367a7b6af891e6a2de/src/po

[2017-02-23 00:09] EyMaddis commented on #368
Not that I know of, I just used PostGraphQL as a library and set it up to another path.

I noticed another thing. I tried running the `watch-fixtures.sql` before and it failed because my development PostgreSQL version (9.4) failed because `$libdir/plpgsql` was not found. This might have been the error that caused the crash, since I tried starting PostgraphQL with a superuser.
I since updated my in

[2017-02-23 10:51] kenota opened #372 "Changing the limit for POST body size"
I am using postgraphql exposed Postgres function to process quite a bit amount of data (not storing binary files in db, use case is providing array of objects to db to process), and I have encountered following error reply when doing POST:

`{"errors":[{"message":"request entity too large"}]}`

It seems that I am hitting default limit of express post body parsing middleware which can be easily cha

[2017-02-24 11:06] 5argon opened #373 "Relay transform error ``Maximum call stack size exceeded``"
I have tried a simple PostgreSQL database with a table called `Employee`. In GraphiQL it seems fine, (I can do `query{ allEmployees { edges { node { ...` to get all Employees)  but when I tried integrating this with Relay I get this error. (probably on the transpiring step)

`Error: Relay transform error ``Maximum call stack size exceeded`` in file /Users/***/UserManager.js. Try updating your Grap

[2017-02-24 12:26] EyMaddis opened #375 "Unexpected error behaviour, because of failing transactions"
Hi,
when writing a query composition and one of the queries has an error, the error of one part will break the transaction for another.
I used the forum example from this repository to test this.
In the following query, I will receive all posts (as expected), but will also force an error by using `currentPerson` without any JWT Token:
[code]

This query will result in a partial result of posts, no

[2017-02-24 18:04] valorize commented on #373
I've only worked with https://github.com/relay-tools/react-router-relay and the Relay.RootContainer. But could you try following:
[code]

or
[code]

[2017-02-25 12:48] benjie commented on #373
You may need to clear out the babel cache - kill everything and then remove the `node_modules/.cache` folder and your `~/.babel.json` file and try again.

[2017-02-26 13:34] aabluedragon opened #376 "Support foreign key joins in views (nested queries)."
Support nested column joins (foreign key) in views as well (not only on tables).

e.g
[code]

Seems that now it's only possible to get the values as their are, not their related nested entities by FK.

[2017-02-26 18:54] benjie commented on #376
Views don't have foreign keys, so we can't do the necessary reflection to determine those relations automatically 😞

[2017-02-26 22:09] aabluedragon commented on #376
Wouldn't it be possible to infer the required data by inspecting the view's origin column and table, and see the foreign key in the origin table?

for example, given the following view
[code]

PostGraphQL can iterate each column in the view, and check it's origin table (`FROM` clause) column for a foreign key, when a FK is found for a view column in the origin table, it may register the relation a

[2017-02-26 22:23] benjie commented on #376
Can you point to any example OSS project that does this? It would be a good source for inspiration. I think that without an incredibly large amount of work it'd only work for the simplest of views, as soon as you start using sub queries, common table expressions, function calls and so on it'd get a lot more complex. And half supporting it but then removing it when the view evolves is going to be a

[2017-02-26 22:34] aabluedragon commented on #376
I'm not aware or any other project that does this, however I do think it's worthwhile to support that only for bare mirror columns (not for calculated columns or subquery columns).

In many cases I would like to expose "mirror" views to PostGraphQL instead of the origin table to provide another layer of separation between what's exposed and what's hidden from the API, also suggested during a [disc

[2017-02-27 12:00] mlegenhausen commented on #292
Here is a (ugly) workaround to change the `audience` until the pull request lands in the repository.

[code]

[2017-02-27 13:14] 5argon commented on #373
@benjie Thank you, with this I am able to 100% reproduce the error, but haven't found the solution yet.

I have made a very simple `Human` table in a `test` schema. The `Human` table only contains a field `name`. The error appears when I set `name` as a primary key. (On my main program's data, the error disappears too when I removed the table's primary key and related foreign keys)

Is this means

[2017-02-27 15:26] 5argon commented on #373
Hey! I managed to get it working with PKs + FKs! I just enabled `classicIds` option and it solves everything!

I saw you talk about this is a Relay 1 support so I assume the latest version of `react-relay` is already Relay 2, which is not the case. Anyway, thank you all for the supports!

[2017-02-27 15:26] #373 closed

[2017-02-27 16:06] danvk commented on #300
It would be great to have some hooks which make this possible. It's the difference between postgraphql being an all-or-nothing solution and one which can fit into a larger system.

@zamiang and my use case: we have a database which contains our own data as well as user IDs from an external service which exposes a REST API. We'd like to expose a unified GraphQL API over both services. To fill in da

[2017-02-27 18:17] benjie commented on #300
I'm afraid I can't give any solid advice on that; I've just added a couple tiny REST APIs where necessary for my requirements. You might try reading up on merging GraphQL APIs (I've no idea if this will be successful or not):

https://www.google.co.uk/search?q=combine+graphql+schemas&oq=combine+graphql+schemas

https://gist.github.com/icebob/553c1f9f1a9478d828bcb7a08d06790a

https://gist.github.co

[2017-02-27 18:51] cellis commented on #300
I've written about this at https://medium.com/@awesboss/the-ultimate-graphql-solution-af3a8afbf85#.vm9c0w6kr. So, here's my advice for postgraphql users: you'll need to use a different library to write your API stuff, ideally [graphql compose](https://github.com/nodkz/graphql-compose). For the custom API stuff see here: https://github.com/nodkz/graphql-compose/issues/32. Then, if you're using rela

[2017-02-28 09:58] tejasmanohar opened #378 "How does this compare to PostgREST?"
In the README, you mention that this was inspired by PostgREST, but you don't talk much about how this project compares. Would you mind expanding here? That sort of information is very useful for prospects :)

[2017-02-28 10:07] tejasmanohar commented on #378
O hI see it's graphql vs rest

[2017-02-28 10:07] #378 closed

[2017-03-02 01:08] colophonemes commented on #299
+1 for being able to access request data

For what it's worth, I'd be happy with this living in the user session (per @calebmer's suggestion to add `request.headers`. For my use case, I'd like to just be able to call request info from within a stored procedure, e.g.

[code]

[2017-03-02 09:01] benjie commented on #299
A hack to accomplish that would be modifying the JWT that's passed through, then reading it off of the `jwt.claim` namespace. But yes, there should be a better way (you can acheive it with `withPostGraphQLContext` by intercepting the pgClient instance and running the `select set_config(..., true)` yourself, but that involves taking over the entire HTTP handling yourself).

[2017-03-02 09:10] sourabhkheterpal commented on #82
@calebmer :  I want to start postgraphql server in background.
so i am using this code in ecosystem.config .js as you suggested:
[code]
In above code i have extra added `--token canny.jwt_token --cors` .
i have schema name **canny** and using JWT Token **canny.jwt_token** for this but it give me error while i start it with pm2.
**Error**:
[code]

but when i run below command its works fine but i h

[2017-03-02 10:25] benjie commented on #82
In `args` above you have `postgres://$DB_USER:$DB_PASS@localhost:5432/database`; but in the command line you replace `database` with `canny_dev`

[2017-03-02 10:31] sourabhkheterpal commented on #82
@benjie: I just give reference. I have replaced `database` with `canny_dev` while trying this code . `canny_dev` is my DB name.

[2017-03-02 10:35] benjie commented on #82
Well, not sure how much I can help if you don't provide the actually config; but it might be that you're lacking `-c` before the database URL right at the beginning of `args`

[2017-03-02 10:56] sourabhkheterpal commented on #82
@benjie : Thanks. yes i have skipped `-c` with this option its works. but for this i have to pass direct DB_USER and DB_PASS in above url. Its not take it from `env` config.
Error:
`error: role "$DB_USER" does not exist`

Thanks again.

[2017-03-02 17:32] danielbuechele opened #380 "Slow performance when using orderBy"
I have table of articles with about 100k rows. When I sort this table using `orderBy: PUBLICATION_DATE_DESC` the response is pretty slow. Without the `orderBy` it's fast.
I started debugging it:
`SELECT * FROM articles ORDER BY publication_date DESC LIMIT 10` is super fast. The query generated by PostGraphQL looks like this and is slow.
[code]
Once I remove `to_json` or the ordering it's fast agai

[2017-03-02 17:52] danielbuechele opened #381 "Default value for first argument"
Currently, if there is no `first` argument set, all items are queried on a connection. In my case this crashes the browser using GraphiQL. Is there a a way to set a default value, so you don't accidentally query **all** items of a connection?

[2017-03-02 18:56] colophonemes commented on #299
OK, that could work, although I'd still like to initiate the mutations client-side. Is there a way to combine the two approaches? I'd imagine something like the following:

- extract the GraphQL query from the request
- create a `pg_pool` object, run the `set_config` command directly on the DB
- pass the same pool object to `withPostGraphQLContext` and then pass the request query to the callback

[2017-03-02 19:57] benjie commented on #380
@danielbuechele Please submit an `explain analyze select...` and durations (run each one 5 times and give the lowest result) for the four queries:

1. `select * from articles limit 10;`
2. `select * from articles order by publication_date desc limit 10;`
3. `select to_json(articles) from articles limit 10;`
4. `select to_json(articles) from articles order by publication_date desc limit 10;`

I sus

[2017-03-02 20:06] benjie commented on #299
withPostGraphQLContext does have access to the pgClient:

https://github.com/calebmer/postgraphql/blob/a88a9836722c5d42c7cae93fe901c095d7c704f6/src/postgraphql/withPostGraphQLContext.ts#L65-L68

You effectively want to replace what the HTTP node is doing; namely:

https://github.com/calebmer/postgraphql/blob/a88a9836722c5d42c7cae93fe901c095d7c704f6/src/postgraphql/http/createPostGraphQLHttpRequest

[2017-03-02 20:07] benjie commented on #381
No, but you could either replace it with an SQL function that does its own limits or you could implement validation on the incoming queries that will throw an error if no `first` or `last` argument is presented.

[2017-03-03 01:12] colophonemes commented on #299
OK, will give that a go, or failing that submit a pull request! Many thanks for the pointers, much appreciated.

[2017-03-03 08:49] danielbuechele commented on #380
Really appreciate your help:

1. `select * from articles limit 10;`
[code]

2. `select * from articles order by publication_date desc limit 10`
[code]

3. `select to_json(articles) from articles limit 10;`
[code]

4. `select to_json(articles) from articles order by publication_date desc limit 10;`
[code]

[2017-03-03 08:59] danielbuechele commented on #380
Creating an index on publication_date fixed the problem.

[2017-03-03 09:01] danielbuechele commented on #381
For the latter solution I would need to traverse the AST of the GraphQL-request and check all fields, if they are connection and whether a `first`/`last` is set, right?
Would you think it makes sense to add this to PostGraphQL itself?

[2017-03-03 09:07] benjie commented on #381
Have a look at the GraphQL-js validation rules:

https://github.com/graphql/graphql-js/tree/master/src/validation/rules

[2017-03-03 09:08] #381 closed

[2017-03-03 09:11] benjie commented on #380
**WOW**; what the hell?! That's an **incredible** difference.

I... I'm way out of my depth on this. I would expect `T_4 = T_2 + (T_3 - T_1)`; i.e. I'd expect the search time and the serialization time to be the two variables; but 1.6 seconds for that last query is... Unexpected.

[2017-03-03 09:17] benjie commented on #380
Yeah, I've reproduced this locally - I think you're correct in that it's running to_json on everything before filtering.

[2017-03-03 09:18] benjie commented on #380
Evidence for this: `explain analyze select to_json(articles) from articles;` takes the same amount of time as `explain analyze select to_json(articles) from articles order by publication_date desc limit 10;`

[2017-03-03 11:08] valorize commented on #235
I did it now without git. I have three files: testing.sql -> development.sql -> production.sql
first you split a sql dump into files like in the following picture (I used ! as the smallest ascii and zZ as biggest (I tried $ which is ASCII 245 but mac osx does not sort according ascii code it seems)):
![image](https://cloud.githubusercontent.com/assets/22564188/23548483/02cb384a-0008-11e7-92f6-5916

[2017-03-03 17:25] cellis commented on #235
@valorize this is great. I would love it if you packaged it as an open source tool of it's own!

[2017-03-03 17:41] chadfurman commented on #235
Yeah, absolutely a great idea here :D

Splitting the SQL files in the directory and only combining them when writing to the DB etc is smart.  No need to even version the big chunk, right?  Just build it from the dev files, unless you want to version a dist folder for whatever reason?

I'm guessing apgdiff is handling all the migratoins in a way that lets us avoid losing data?  Pretty cute :)

[2017-03-03 19:46] estaub opened #385 "[enhancement] Aliasing undesirable field names, redux"
This is related to https://github.com/calebmer/postgraphql/issues/34, but (AFAICT) is not addressed at all by https://github.com/calebmer/postgraphql/issues/42 .

Desirable column name conventions are not necessarily desirable GraphQL field name conventions. Human domain knowledge can lead to much simpler and more obvious field names than those required to disambiguate all possible cases.

In my c

[2017-03-03 21:18] troelsh commented on #385
While i do appreciate the problem you face ( i have a similar one ) i think that we have went down a wrong path in the first place putting any kind of meaning into table or column names. In my own case my problem comes from a naming convention from a ORM i created that used the table naming for reflection on the database.

So i have stuff like this a_u_user = A for Admin module, U for user and use

[2017-03-03 22:56] cellis commented on #235
@chadfurman, commenting here for posterity. So remember how I said I prefer to separate _data deployments_ from _schema deployments_? I stand by that, however I would like to add that this does make it a bit harder to do rollbacks of data deployments. For instance if you change a column from decimal to integer, you may want to write a data migration to update all rows for that column *before* perf

[2017-03-03 23:26] mgallagher commented on #376
Before I tried playing around with this project, I saw this bit from the README:

From that, I assumed that views were fine to use in PostGraphQL. Indeed they work if you don't need to span relationships, but this is GraphQL we're talking about 😆

It's worth noting that PostgREST supports joins in views. In fact, @calebmer [helped improve view relation detection](https://github.com/begriffs/postgr

[2017-03-04 04:35] estaub commented on #385
@troelsh I don't see it that way.  In my usage, there are other considerations, e.g., mappings from the data source names to the database names, with competing requirements.  I have no control over the data source names.  Also, I'd expect that there are a lot of cases where people want to add a GraphQL API with a pre-existing database, where a whole schema remake is prohibitive because of a large

[2017-03-04 16:36] estaub commented on #385
Appears to be at least partially addressed by the work in https://github.com/calebmer/postgraphql/pull/338 .  Closed till that's clearer.

[2017-03-04 16:36] #385 closed

[2017-03-05 02:49] calebmer commented on #332
@martinheidegger I’d be interested in seeing what that looks like, and it seems like a very reasonable security feature to implement.

[2017-03-05 02:54] calebmer commented on #368
This should fix it, I’ll try to get it in a release soon: https://github.com/calebmer/postgraphql/pull/371

[2017-03-05 02:58] calebmer commented on #372
We may want to discuss raising the default, otherwise I’m totally open to adding this option 👍

It looks like @guyemerson referenced this PR in a commit to his fork: https://github.com/guyemerson/postgraphql/commit/abbc8006719869e338f113277bcf3ea53443b086. That change looks good, although we may want to change the variable name.

[2017-03-05 03:00] calebmer commented on #375
Very interesting. I’ve thought about this before, but I wasn’t sure how often it would happen 😊

This may be an easy fix. We could modify `client.query` to set a `savepoint` before each query and then `rollback` to that savepoint if there is an error. @benjie do you know if there are performance implications to placing a lot of savepoints?

[2017-03-05 03:02] calebmer commented on #375
If it isn’t too expensive to place many savepoints this is something we could merge.  For more context on the Postgres feature see: [`SAVEPOINT`](https://www.postgresql.org/docs/9.6/static/sql-savepoint.html).

I feel like I have seen an article somewhere which urges libraries to insert savepoints before each statement to handle errors, but I can’t remember where…

[2017-03-05 03:15] #368 closed

[2017-03-05 03:17] calebmer commented on #300
So we do have hooks internally to extend the schema. It’s actually how we implement procedures 😊. See: https://github.com/calebmer/postgraphql/blob/61fe4550751aa45c07783a6ae17fdcd01b73f956/src/postgraphql/schema/createPostGraphQLSchema.ts#L124-L139

I think a very good first step towards this goal would be exposing these hooks experimentally to everyone! We can move from there as people start exte

[2017-03-05 03:26] calebmer commented on #380
Do you think we should only allow you to order on columns that have an index? Or perhaps add a deprecation warning (using GraphQL enum deprecations) to orderings without an index?

[2017-03-05 03:55] calebmer commented on #376
Yep, @mgallagher found it. I actually implemented this for PostgREST and it was one of my first major contributions to open source 😊 (https://github.com/begriffs/postgrest/pull/353). I, like @mgallagher was very interested in this style of database construction using views as proxies to the underlying tables.

I’d be interested to see someone try and implement this in PostGraphQL. The approach I u

[2017-03-05 04:55] cellis commented on #300
@calebmer As it stands, the lack of hooks is the only thing preventing quite a few people using this library. Exposing them and then deprecating in the next version would be much better than not. Perhaps I will open a PR, but no promises, as I've already signed up to do quite a few other graphql libraries ;).

[2017-03-05 05:03] calebmer commented on #307
When I first saw this issue I left it alone because I wanted to give other people a chance to comment, but that meant I just ended up forgetting about it 😣

I don’t have much experience with a Rails or Django which might make me a little less qualified to answer, but I at least want to get the discussion going. The largest frameworks I’ve worked with in my career extensively are Wordpress and Mete

[2017-03-05 12:55] benjie commented on #300
👍

[2017-03-05 14:28] benjie commented on #375
I'm not aware of any significant performance issues with savepoints; I think they allocate a small amount of memory, but you'd probably be creating and releasing them rapidly enough that it won't be an issue.

Also with #342 the number of savepoints required would be significantly reduced.

[2017-03-05 14:45] benjie commented on #380
I've been thinking that we should only allow ordering by columns with an indexes for a few weeks now (I keep seeing the ability to order by my JSON fields which is unexpected!); I would definitely support deprecating them now and removing them from the next major version.

One caveat to this is that someone may have a compound index (e.g. `(user_id, thing_id)`) where they want to allow sorting by

[2017-03-05 14:54] benjie opened #386 "Only allow sorting by columns that are indexed"
Not doing so has significant performance penalties (much more than you would expect, due to our use of `to_json(row)`) as seen in #380

Caleb:

Benjie:

[2017-03-05 14:55] benjie commented on #380
Please continue discussion in #386

[2017-03-06 11:24] EyMaddis commented on #375
Or you could just ignore "expected issues"?
Are you trying to rollback only a specific command and handle the rest?
I think that it is actually quite great that multiple mutations in a query are group into an transaction. That behavior would break if I understood the plan to use savepoints correctly, doesn't it?

[2017-03-06 15:54] calebmer commented on #375
We’d only use savepoints in queries in not in mutations. If a mutation fails the entire document should fail as well. We could enhance the client perhaps in https://github.com/calebmer/postgraphql/blob/master/src/postgraphql/withPostGraphQLContext.ts where we would also accept an `isMutation` option? (I don’t really like duplicating the information)

Alternatively we could enhance in a schema leve

[2017-03-07 10:32] EyMaddis opened #387 "Table inheritance / interfaces"
Is there a way to model [interfaces](https://medium.com/the-graphqlhub/graphql-tour-interfaces-and-unions-7dd5be35de0d#.c4hzu9enw) using PostgraphQl?

I guess that this would require to map any metadata to a table which could be a problem.

---

See potential solution: https://github.com/graphile/postgraphile/issues/387#issuecomment-567097800

[2017-03-07 16:39] calebmer commented on #387
Not currently, but we could do something with [Postgres table inheritance](https://www.postgresql.org/docs/9.6/static/ddl-inherit.html). What is your use case?

[2017-03-07 17:15] EyMaddis commented on #387
I think the search example from this post is quite good:
https://medium.com/the-graphqlhub/graphql-tour-interfaces-and-unions-7dd5be35de0d#.c4hzu9enw

As I understand it write now, I would need to write a postgres function which returns either a specific type of a table or declare a custom type which only contains the properties for that specific result set.
The latter of which would lead to a lot

[2017-03-07 17:26] EyMaddis commented on #386
Maybe the old discussion would be more suitable for this, but wouldn't it also have an effect to remove the `to_json` call all together and doing any kind of json serialization on the node js server?
I think that this is a perfect use case for node and would (even if only slightly) improve performance of the database, because it would have do less?
Apparently this might also increase performance i

[2017-03-07 21:25] benjie commented on #386
That presumably won't solve computed column performance with the same index issue, so I think it's worth discussing JSON in a different issue. (It would also be a basically independent body of work so it makes sense to discuss separately)

[2017-03-07 22:29] calebmer commented on #387
The tables you inherit from you’d want to generate queries, but you wouldn’t want mutations. So just `GRANT SELECT`, but not inserts, updates, or deletes 😉

If we were to do this we would need to find a way to represent a union or an interface in Postgres. I’m not sure how that would be done.

The way I generally design my schema is I have a single table which has a `type` enum and then has some f

[2017-03-07 22:31] calebmer commented on #386
The reason why I decided to use `to_json` (at least initially) was because that is the best way to get any compound types in a JSON format. However, the codebase has changed a lot since I made that decision so it’s probably a good one to reevaluate.

[2017-03-08 08:00] mlegenhausen opened #388 "graphql does not pick up the default value of an enum type"
Following minimal schema given

[code]

Following access grants `ed_anonymous` is the default user.

[code]

When I now execute the following mutation

[code]

with input

[code]

I get the following error

[code]

Even writing all enum values in uppercase to match the autogenerated value does not solve this problem.

This was previously discussed in #382.

[2017-03-08 12:55] benjie commented on #387
Maybe something like:

[code]

?

[2017-03-08 15:11] EyMaddis commented on #387
I think with that approach the make clear which types the union combines.
Suppose you have two tables: `Person` and `Organization` a union should look something like this:
`postgraphql_union__Person__Organization`.

[2017-03-08 15:39] calebmer commented on #387
I think @benjie’s proposal would be a fine thing to explore if anyone is interested in building out the implementation. That was what I imagined unions would probably have to look like.

[2017-03-08 15:42] benjie commented on #387
@EyMaddis The reason I didn't do that is because I wanted you to be able to extend the union later with the minimum of effort.

[2017-03-08 15:44] EyMaddis commented on #387
But how can postgraphql know which type the union combines?

[2017-03-08 16:15] calebmer commented on #387
@EyMaddis we can introspect the attributes on the type 😊

Every attribute represents a different type in the union. PostGraphQL would then only resolve the first non-null attribute it finds expecting all of the other attributes to be null.

[2017-03-08 16:19] EyMaddis commented on #387
@calebmer ah, alright, got it.
I think I like that, but it would be kind of awkward when writing the functions, wouldn't it?
Probably something like a switch-case where the type defines which attribute to put the data to.

[2017-03-08 20:05] cbjarnson opened #389 "Use of postgraphql on digital ocean"
This is kind of a newby question. I am trying to make an app to try this postgraphql thing out before trying it with a larger project. I am trying to use it by having it create an api for a web app( built with React and Apollo to work with GraphQL) and an ios and android app (built with React and Apollo). The app is a simple app for people to manage their collection of mini trains.
![app](https://

[2017-03-09 14:11] calebmer commented on #389
The process is very similar (if not identical) to deploying a Node.js app to Digital Ocean 😊

This is a good tutorial outlining the process in general for Node.js: https://www.digitalocean.com/community/tutorials/how-to-set-up-a-node-js-application-for-production-on-ubuntu-16-04

Here’s an issue where some users share their experiencing using PM2 with PostGraphQL in production: https://github.com/

[2017-03-09 14:11] #389 closed

[2017-03-09 20:44] valorize commented on #235
@cellis would you recommend to use following with apgdiff?
[code]

[2017-03-10 02:01] estaub commented on #84
For anyone else who struggles to understand... the CORS headers are now disabled by default, and enabled on the command line by `--cors`.

[2017-03-10 11:59] niksubramanian opened #390 "3.0.0: error on custom functions"
First of all, great library, thanks for all of the great work.

There seems to be an error that started occurring in the 3.0.0 branch related to custom functions.

How to reproduce this issue:
## 1. create the tables, functions and populate the database
[code]

## 2. Execute a query in GraphiQL:
[code]

## 3.A: The 3.0.0 branches' output:
[code]

## 3.B: The 2.6.0 branches' output:
[code]

Any ide

[2017-03-10 18:27] cellis commented on #235
@valorize I'm not sure how transactions work in postgres w/r/t *schema* changes. So I don't know what the above would do.

[2017-03-11 19:22] Trupal00p commented on #390
Thanks for reporting this, just ran into it today.  For others who stumble upon this issue, I'm currently working around it by returning a list of results with the "setof" modifier instead of a single row variable.

[2017-03-12 08:58] benjie commented on #235
Postgres supports transactions for DDL commands; I would definitely wrap migrations in a transaction. If it's possible to run more than one migration in this system then I would wrap them all in a single transaction, personally, rather than one per migration.

[2017-03-12 17:17] valorize commented on #235
As wished I put some more effort into the scripts to support options etc. and put them into a repo (https://github.com/valorize/postgres-schema-updater). I was not able to publish it into an npm package as `npm ERR! addLocal Could not install /.../postgres-schema-updater/example`

[2017-03-13 13:45] ungerik commented on #87
I think before having a complete CMS that is autogenerated, it would be benefitial to collect the generic front end components (for instance: autogenerate a table with delete/add entry buttons) that would be the building blocks of a CMS.

This way PostGraphQL users are not locked into one flavour of CMS but are free to build their own out of the components.

[2017-03-14 16:03] TimJMartin opened #392 "Passing value to stored function"
Hi

I am just getting starting with GraphQL and Postgraphql so apologies for a novice question.

I have 12 tables, each have their own primary key, whilst they also have another value which models the one-to-many relationship. So looking at the documentation I wrote a stored function to return a set of results. However, how do I pass a value into that.

For example

[code]

Because it is a one-to-

[2017-03-14 18:33] calebmer commented on #392
Take a look at the docs on procedures which show all of the different types of procedures PostGraphQL supports: https://github.com/calebmer/postgraphql/blob/master/docs/procedures.md

Does that help? If not could we see the SQL for the table and procedure you are using 😊

[2017-03-14 18:59] TimJMartin commented on #392
So this is my stored function

[code]

I have looked over that page and couldn't see a suitable example.

So I need to search my posts table using the primary key, but then use the ID from that response to query my comments table.

Hope that makes sense?

Unfortunately it is not my data so am stuck with the data model just trying to get a good working example of GraphQL in action

[2017-03-15 14:53] danielbuechele opened #393 "Performance problem: to_json"
I am experiencing performance problems with row level security and the `to_json` function. The issue may be related to #380. Here's my setup: I have a table `articles` with about 100k rows, and two roles (`root` and `viewer`). `root` is allowed to query all articles, `viewer` only the ones that are published. Therefore I enabled row level security and added this policy:
[code]

When querying as `v

[2017-03-15 15:11] benjie commented on #393
Create an index on `publication_date` and the problem should go away, I hope?

[2017-03-15 15:28] danielbuechele commented on #393
There is an index on it:
[code]
Is something wrong with that?

[2017-03-15 17:21] danielbuechele commented on #393
Ok, I could solve the problem by increasing `SET work_mem = '500MB';`.
Now the performance is okay when executing the SQL query directly. But, there is still a problem when using PostGraphQL.

This is the log from Postgres...
[code]
...which looks good. When executing the two SQL-statements one by one, each is fast. However, when using Postgres, it takes several seconds before the `statement: comm

[2017-03-15 19:44] benjie commented on #393
Definitely looks like the index isn't used; have you done a `VACUUM ANALYZE articles;` recently?

[2017-03-15 19:51] benjie commented on #386
See also #393

[2017-03-15 21:22] benjie commented on #380
For anyone interested, here's a bunch of performance experiments I did on a table with 839k rows based on my own theories and some put forward by the lovely people in #postgresql on irc.freenode.net (notably `YS` and `average` 🙏 ):

https://gist.github.com/benjie/02df5fdbd7ee8315712fff83007f3cd1

As we can see, if we're not using an index the next best thing is the CTE.

[2017-03-15 21:35] benjie commented on #380
(And for anyone wondering what the hell PostQUEL is: https://www.postgresql.org/docs/9.6/static/history.html)

[2017-03-15 21:52] benjie opened #394 "💅 Logo wanted 🙏"
Hey lovely community, we need a logo! Can anyone help us out? I propose that requirements at this stage are:

- Free (as in beer and speech)
- Licensed in a way compatible with the [PostGraphQL license](https://github.com/calebmer/postgraphql/blob/master/LICENSE) that also allows us to modify it, scale it, redistribute it, print it on T-Shirts to sell, etc (I'm not sure how this would work best -

[2017-03-16 00:56] Tolli81 commented on #376
As I was assuming the same as @mgallagher about relations of views being supported, this triggered my interest. :)

[code]

Taking a closer look, there's a lot more info in the `ev_action` column, which as per https://www.postgresql.org/docs/9.6/static/catalog-pg-rewrite.html is a query tree:
[code]

So for any given view, by figuring out target table(s) + columns, one might find all keys for said

[2017-03-16 08:26] benjie opened #395 "Add this link to developer docs"
https://dev-blog.apollodata.com/the-anatomy-of-a-graphql-query-6dffa9e9e747#.rudwmm9ef

[2017-03-16 08:41] benjie commented on #376
Nice one @tolli81; dig in!

[2017-03-16 08:48] benjie commented on #376
Sounds like you want to filter to where rulename = '_RETURN'

I was expecting to have to do this figuring out based on the raw SQL of the query (as Caleb did in PostgREST); finding out that PostgreSQL makes it available in this format from a catalog is excellent news!

[2017-03-16 09:02] Tolli81 commented on #376
I'll start poking around tonight.

I realized once in bed last night that what I described last night only goes halfway though, as we probably need to gather this info for all the views, and then figure out relations. That way, for my example in my case, a foreign key from table `public.competitions` to `public.tournaments` would be disovered from view `graphql.competitions` to view `graphql.tourn

[2017-03-16 09:28] danielbuechele commented on #380
Using CTE works for me. However I had to modify the syntax a little:
[code]
I imagine it shouldn't be to hard to implement CTEs. Or are there any pitfalls? If you point me in the right direction, I can look into creating a PR.

[2017-03-16 09:30] danielbuechele commented on #393
I just run `VACUUM ANALYZE articles;` but it didn't change anything.

[2017-03-16 09:39] benjie commented on #380
@danielbuechele If you have a look through #342 you'll see the various places SQL is used to build queries. I think the main ones that would concern you for this are the ones in PgPaginator\*

I'm not sure what the schedule is for #342, I still need to get some time with @calebmer to work on making it merge-able, but I've been using it in production for the last month. It's likely to cause conflic

[2017-03-16 09:40] benjie commented on #380
(search for 'select' to find the relevant queries)

[2017-03-16 10:26] danielbuechele commented on #380
I wasn't able to build the branch from #342 but I created a PR on master.

[2017-03-16 19:06] calebmer commented on #392
@TimJMartin

That function should be query-able as:

[code]

If you wanted to use that function as a computed column you could define it as:

[code]

…and query like this:

[code]

[2017-03-16 19:10] calebmer commented on #395
Opened a PR https://github.com/calebmer/postgraphql/pull/397 😊

[2017-03-16 19:19] calebmer commented on #376
@Tolli81 you don’t need to worry about RLS for this. It’s a different (but conquerable) issue with using views 😊

This is awesome news! What I did in PostgREST which you could mimic with a better underlying detection mechanism is that I detected key “synonyms.” So what columns in views were synonymous with the columns/keys in a table. After finding synonyms you can “raise” up all of the relations,

[2017-03-16 21:47] Tolli81 commented on #376
Thanks for that info @calebmer.  I've started the parsing already, hope to move this forward somewhat over the next few days.

[2017-03-17 01:58] cbandy commented on #393
For a closer comparison, maybe try
[code]
N.B. `select a` versus `select *`

[2017-03-17 06:15] 5argon commented on #394
Hi, I tried create one based on GraphQL's logo. Let me know if you are interested in it.
<img width="337" alt="screenshot 2017-03-17 13 12 27" src="https://cloud.githubusercontent.com/assets/5653276/24031121/66a08c24-0b13-11e7-995b-ebebd7863913.png">

[2017-03-17 08:42] #395 closed

[2017-03-17 08:46] benjie commented on #393
@danielbuechele I'm not sure if the results I found looking into a similar issue are useful to you (sorry, it's a lot of query plans for subtly different queries and it not very readable due to being too wide): https://gist.github.com/benjie/02df5fdbd7ee8315712fff83007f3cd1

[2017-03-17 08:58] benjie commented on #394
@5argon Thanks!

I'd love to have more community participation so I've added details to the initial post on voting/etc.

@calebmer When do you think the logo "competition" should close?

[2017-03-17 09:39] danielbuechele commented on #393
As out of nowhere now indexes are used in my queries. At least when no policy is applied. When a row-level-security policy is applied the index is not used anymore. Not sure if there is a way to make postgres use the index even when the policy is used.

But even in the case of row-level-security and no index being used, there are two scenarios. The current implementation needs a lot of memory and

[2017-03-17 11:01] kenota commented on #393
Just wanted to add my 5 cents here: I have also observed same problem when was doing prototyping with PostgraphQL and had table with 100k+ generated rows. Very similar symptoms, once row-level security is enabled and condition is used, seq scan start ruling the world.

I even experimented by creating a sql function and using in row level check, same problem - seq scan. ***BUT*** if I run effective

[2017-03-17 11:09] benjie commented on #393
Certainly sounds like it. I think the performance issues in the gist I posted above are also PostgreSQL query planner issues (it should filter the rows before formatting the data, like it does for the indexed version). I'm running 9.6.2 and still have these issues, but 10.0.0 is just around the corner - it's possible some might be addressed? We should probably post something to the postgres mailin

[2017-03-17 15:55] TimJMartin commented on #392
@calebmer that works brilliantly. The only thing I couldn't get to work was have (post post) it kept saying post was not a type, so just had a single variable as the tablename

[2017-03-17 15:55] #392 closed

[2017-03-18 02:30] SDSWanderer opened #400 "Custom hook for process query results"
I use this awesome project + graphiql to provide extended interface for admins. It's completely what we need, but it's a little bit tricky to mask some sensitive fields in responses like that:
![screen shot 2017-03-18 at 2 39 49 am](https://cloud.githubusercontent.com/assets/1102227/24068182/deef1db2-0b90-11e7-9771-db596813bed1.png)

I implement this by using low-level interface functions `createP

[2017-03-18 02:35] SDSWanderer commented on #400
I think I can implement it and submit pr, but first I need to make sure if authors not mind to include this functionality.

[2017-03-18 09:00] benjie commented on #400
Do you mind sharing your current solution? If you don't want to divulge publicly you can DM me a private gist on gitter?

[2017-03-18 18:20] SDSWanderer commented on #400
@benjie no problem, it's pretty trivial and based on this library documentation.

This is definition of my middleware, execGraphQL
[code]

And this is how I use it:
[code]

So, I want to use `postgraphql` middleware like that:
[code]
Or
[code]

[2017-03-21 15:21] EyMaddis opened #401 "Is there a way to remove id from creation mutations?"
I currently use an id generator (default value of primary key), but the request has to supply a client generated `id` field.

Is there some convention which removes the ID from the creation (and update) inputs?

[2017-03-21 18:45] EyMaddis opened #402 "It's impossible to use the same name for functions as generated names from PostGraphQL"
This might not at first sound like a bug, but the following error occurs if I have a `create-user` function defined in Postgres while **not granting any CREATE permission**.
The PostgraphQL user only has `SELECT` permission (and should have `UPDATE` later on).

[code]

[2017-03-21 22:41] benjie commented on #400
Thanks for sharing, that makes it a lot clearer what you're intending. I'm happy this solution works for you, but I don't think we want this specific solution in PostGraphQL core - the correct way to do it would be to replace the resolver for those fields within the generated GraphQL schema itself. I'm not sure off-hand how you'd go about doing that (it would most likely require changes to PostGra

[2017-03-21 22:52] benjie commented on #401
Not currently, but exposing some hooks so these fields could be skipped would be very (VERY) welcome.

[2017-03-21 23:25] SDSWanderer commented on #400
@benjie yeah, I noticed that project ideology in providing a schema-driven development, but why you think the correct way is internal changes for allow replacing resolvers? It will be much more easy to implement and flexible for users if you allow to use `postgraphql()` as non-final resolver in middlewares chain. Currently it's impossible because its calling `res.end()`. So, if you provide some op

[2017-03-22 13:09] benjie commented on #400
I was thinking along the lines of a `wrapResolver` hook, so that the current resolvers would be wrapped via; e.g. the following pseudocode:

[code]

I think this is a much more natural interface than browsing the result data after the fact because it doesn't add any overhead to requests that don't use those fields and it doesn't require you to parse the query to know which fields are being used so

[2017-03-22 15:43] theodorosploumis commented on #394
I could create a logo if you like or at least make this one more elegant. It seems to have some color combination issues.

Thanks.

[2017-03-22 18:31] benjie commented on #394
@theodorosploumis More choice is always good, another submission would be welcome 👍  There was a logo from @valorize submitted on gitter also:

https://gitter.im/calebmer/postgraphql?at=58d027475917e26076b67fec

[2017-03-22 19:52] valorize commented on #394
I could also image something like  the first half of a database symbol (http://iact.iact.netdna-cdn.com/wp-content/uploads/2014/06/relational-database-460x200.jpg), than postgraphql and then the second half of the graphql symbol

[2017-03-22 22:10] theodorosploumis commented on #394
Here are my proposals. I will add them on separate issues to allow voting/hands etc.

I like much No 1a! All of theme are based (except from the PostgreSQL and GraphQL official logos) on "reflection", connection and are of square shape.

Notice that using the official GraphQL logo color (`#e535ab`) cannot play together with the PostgreSQL color (`#336791`) due to color conflicts. Thus I did not pr

[2017-03-22 22:11] theodorosploumis commented on #394
![logo_tplcom_1](https://cloud.githubusercontent.com/assets/1315321/24223000/e51e9904-0f5c-11e7-9725-c77632335039.png)

[2017-03-22 22:11] theodorosploumis commented on #394
![logo_tplcom_2](https://cloud.githubusercontent.com/assets/1315321/24223001/e520bcd4-0f5c-11e7-9340-5eb1e4d92b75.png)

[2017-03-23 10:06] benjie commented on #394
I'm a little concerned about using PostgreSQL's trademark in our logo (same for GraphQL).

[2017-03-23 10:23] theodorosploumis commented on #394
This is a good point to consider.

The PosgreSQL logo can be reused under CC BY-SA 2.5 (see https://www.postgresql.org/community/propaganda/) and GraphQL under BSD (see https://commons.wikimedia.org/wiki/File:GraphQL_Logo.svg).

My designs only affect the PostgreSQL logo the rest do not match the GraphQL in any way. We could have a custom "elephant" for the PostgreSQL part but this would not promo

[2017-03-23 10:40] EyMaddis commented on #394
Maybe a graph structure could be colored such that the letters PG are formed. (just an idea)

[2017-03-23 13:19] angelosarto opened #404 "JWT Token Verification using RS256"
I was having some problems getting token verification working if the token was signed using RS256 instead of HS256.

In RS256 you need to pass in the public key in PEM format.   My issues was that the PEM format is strict both in terms of encoding (base64) AND  line breaking.

1.  Download your pem file it should like this
[code]
1. Your PEM file needs to have a line break after BEGIN CERTIFICATE-

[2017-03-23 13:20] #404 closed

[2017-03-23 13:30] benjie commented on #404
@angelosarto Nice auto-close to give documentation for others who may struggle in future 👍

[2017-03-23 19:37] theodorosploumis commented on #394
Here is a proposal without any logo conflicts. Just the initial letters and the structure concept.

![proposal_no3](https://cloud.githubusercontent.com/assets/1315321/24266786/bd063292-1010-11e7-81f9-1a8babad17f9.png)

[2017-03-23 19:58] benjie commented on #394
I really like these! What would it look like if 3c was a regular hexagon?

[2017-03-23 20:15] theodorosploumis commented on #394
![hexagon_logo](https://cloud.githubusercontent.com/assets/1315321/24268323/12935e7e-1016-11e7-9f2d-9f1085bc0444.png)
Somehow like this.

[2017-03-24 06:37] cbandy opened #405 "Version 3.0.1 not tagged"
I see I have version 3.0.1 installed, but can't find such a tag here in the repository.

[2017-03-24 07:40] cbandy opened #406 "Error: cannot determine type of empty array"
When I call the following mutation with an empty array, I get an error from postgres about an untyped array.

[code]

[code]

[code]

Using an array literal works well in `psql`:

[code]

When I call the mutation with a non-empty array, I can see the generated query is

[code]

Is it possible for `postgraphql` to use `pg` to serialize arrays?

(I'm willing, though perhaps not able, to contribute a

[2017-03-24 14:07] benjie commented on #406
May be better to fall back to literal `'{}'` instead of `array[]` when empty?

[2017-03-25 02:20] EyMaddis commented on #355
As a workaround, it should be possible to great a second database schema that PostGraphQL does not have access to and put the trigger functions there.

[2017-03-25 02:36] EyMaddis commented on #390
It is crashing at this line:
https://github.com/calebmer/postgraphql/blob/ade728ed8f8e3ecdc5fdad7d770c67aa573578eb/src/postgres/inventory/type/PgClassType.ts#L59

The `value` is not a `Map` and therefore does not have a `.get()` function.
I changed it to a simple

[code]

I guess that the value *should* be a map, but fails somewhere in the stack.
Stacktrace:

[code]

Either it was never a Map or i

[2017-03-25 04:12] cbandy commented on #406
@benjie good idea. I've opened a PR using this approach.

[2017-03-25 12:18] theodorosploumis commented on #394
And here are some new logos, based on the same concept. I prefer No 4b mostly.

![proposals_v4](https://cloud.githubusercontent.com/assets/1315321/24322108/e2ecb552-1165-11e7-9f21-1b6d9d27f73f.png)

[2017-03-25 18:42] calebmer commented on #402
Could you make a quick reproduction for this error? Also, does it happen with `disableDefaultMutations`? This definitely should not happen!

[2017-03-25 18:44] calebmer commented on #401
Is this just a style thing so a nullable `id` field would not be available in the create mutation, or is this functionality blocking something you are trying to do? If it’s just a style thing I like the idea of just creating a procedure for creates and updates and disabling the default ones by not granting those permissions.

[2017-03-25 18:50] calebmer commented on #400
Would this be fixed if we had proper support for column level selection grants? For instance in Postgres you could run the following:

[code]

…and the user would get an error when trying to select `col4`.

[2017-03-25 19:16] calebmer commented on #404
It’s really awesome to know RS256 works without any other modifications! Does signing work fine?

[2017-03-25 19:21] calebmer commented on #405
Thanks for pointing this out! I forgot to push the commit where I changed the version to `3.0.1`. Its been fixed: https://github.com/calebmer/postgraphql/commit/a98babb8d2b39e7b69152438e82fd41e4842eb77

[2017-03-25 19:21] #405 closed

[2017-03-25 19:23] calebmer commented on #355
That’s what I generally like to do as well @EyMaddis. I generally call it `private` or something similar. However, it shouldn’t be hard to stop trigger functions from showing up. Out of curiosity what is the return type of trigger functions when they show up in GraphQL? 😊

[2017-03-25 19:37] calebmer commented on #394
Thank you so much everyone for your proposals and collaboration!

@theodorosploumis I’m liking the look of 3a. What if we did the top half blue and the bottom half pink instead of a checker box? Also, what if we explore some other fonts? Finally, what if the four corners were not squares, but resembled puzzle pieces? Hammering in the metaphor that everything just fits together 😉

@5argon I like yo

[2017-03-25 20:05] calebmer commented on #394
I just moved PostGraphQL to its own GitHub organization (this is why I wanted a logo 😊). In order to have some kind of image I set the avatar to an elephant emoji from http://emojione.com/. I _do not_ like this as a long term solution. I just wanted some image to represent the organization while we work on a more formal logo here 😊

[2017-03-25 22:16] SDSWanderer commented on #400
@benjie you right, for my case this solution not work. Thank's for this query sample! I'm still think proposed functionality will improve that project, it's really general feature, e.g here the same thing: graphql/express-graphql#36. But, it looks like postgraphql
is not very suitable for my case, and I need something else (mb this one https://github.com/mickhansen/graphql-sequelize ?) so feel fre

[2017-03-25 22:54] benjie commented on #401
For me, I have some not-null fields I'd like to remove from the schema (they're set in triggers using the same permissions so making them available to the user is unnecessary and, since they're not-null and thus must be specified, a little annoying)

[2017-03-25 23:10] benjie commented on #355
Pass, I just noticed one trigger accidentally slipped through to the wrong schema so thought I'd make a note it oughtn't appear :)

[2017-03-25 23:19] benjie commented on #400
@SDSWanderer Another alternative could be to create and query a view instead. I'm going to close the issue for now, but feel free to continue discussing it and we may re-open if there is more demand for a feature like this.

[2017-03-25 23:19] #400 closed

[2017-03-26 18:50] calebmer commented on #390
There’s a fix for this here: https://github.com/postgraphql/postgraphql/pull/409

Let me know if that works 👍

@EyMaddis the value should always be a map. The issue was in a recent refactor that I did I forgot to convert the database value (an object) into a map 😣

The fix is in the PR.

[2017-03-26 19:11] calebmer commented on #401
Can we grant creates and updates on specific columns? If so could we use that information to hide fields from the schema?

[2017-03-26 19:16] #390 closed

[2017-03-26 19:18] benjie commented on #401
My issue is that the trigger that sets those fields does so by looking up other fields using the same role's RLS protections. So those columns should be writable by that role, they just shouldn't be exposed to the end-user. Though I could create another role that inherits the one role and extends its privileges to these two columns I'd rather Keep It Simple.

[2017-03-26 19:23] #406 closed

[2017-03-26 19:34] calebmer commented on #372
Released in 3.1.0 🎉

[2017-03-26 19:34] #372 closed

[2017-03-26 19:35] calebmer commented on #406
Fixed in 3.1.0 🎉

[2017-03-26 19:35] calebmer commented on #390
Fixed in 3.1.0 🎉

[2017-03-26 20:52] EyMaddis commented on #401
A generic approach could be to provide several callback functions which can manipulate the introspection, GraphQL schema generation, queries, and payloads.
This could be extremely powerful for advanced use cases.

I am aware that this is going a bit against the "everything is inferred by Postgres" stream, but that would be something that could prove very versatile.
This is especially relevant for

[2017-03-26 21:59] EyMaddis commented on #402
@calebmer
It does not happen with `disableDefaultMutations`.

Right now I seem to have a way larger issue. PostGraphQL seems to generate the mutation anyway, even tough it shouldn't have any permissions.

I did the following:
1. create new database
2.
[code]
Please note that I created these as another user, so the owner of the table is *not* `pgql`.

3. changed the login user for PostGraphQL to `p

[2017-03-27 06:18] langpavel opened #411 "Blacklist/wishlist"
I know, you should care about permissions in postgres directly. But introducing blacklists can prevent some issues with conflicts. It should be good to report this in log as notice level in development but definitely this can workaround some human talks.

It can open next level-mapping of generated name to customized one. This can be used as transition thing too.

[2017-03-27 06:31] mlegenhausen opened #412 "ngSettings instead of ngOptions in Release Notes for 3.1.0"
@calebmer there is a typo in the release notes for 3.1.0. You wrote `ngOptions` instead of `ngSettings`.

Thanks for Version 3.1.0 😄

[2017-03-27 08:56] benjie commented on #411
Hi @langpavel, what is it you wish to blacklist - is it the `role`?

[2017-03-27 08:58] benjie commented on #412
Thanks for the report @mlegenhausen; this is now fixed 👍

(Also there was a typo in your reporting of the bug - you wrote `ngOptions`/`ngSettings` instead of `pg*` 😂 )

[2017-03-27 08:58] #412 closed

[2017-03-27 09:00] mlegenhausen commented on #412
Oh to much `*g` prefixes in my live :satisfied: but I was consistent in the whole issue :wink:

[2017-03-27 10:47] benjie commented on #350
Fixed by #354

[2017-03-27 10:47] #350 closed

[2017-03-27 18:15] calebmer commented on #401
As I mentioned in https://github.com/postgraphql/postgraphql/issues/300#issuecomment-284202022 there are already some rudimentary hooks which I’d be comfortable exposing experimentally as people determine what degree of extension they want/need.

[2017-03-27 18:18] calebmer commented on #402
This is our current method of detecting whether or not something is insertable/updatable/deletable: https://github.com/postgraphql/postgraphql/blob/722eb0d01c8dff87daeaeec844be67211a7290dd/resources/introspection-query.sql#L93-L95

What are the values of these columns in your introspection? I’m trying to find out where the error lies. If it’s in PostGraphQL, our detection query, or in Postgres.

[2017-03-28 08:03] EyMaddis commented on #402
@calebmer the value is 00011100

[2017-03-28 21:20] theodorosploumis commented on #394
Here are some new combinations. Puzzle doesn't seem to work well at least for small size logo. And that because of the letters included. Some other fonts work better but the major issue is the color combination (that causes color issues).

![proposal_v5](https://cloud.githubusercontent.com/assets/1315321/24427917/5636656a-1415-11e7-9943-4d83c5293417.png)

[2017-03-28 21:20] theodorosploumis commented on #394
![proposal_v6](https://cloud.githubusercontent.com/assets/1315321/24427957/7c7913b2-1415-11e7-8923-8cae7aabc0b7.png)

[2017-03-28 21:20] theodorosploumis commented on #394
![proposal_v7](https://cloud.githubusercontent.com/assets/1315321/24427964/85211d52-1415-11e7-8c86-34320354c00e.png)

[2017-03-28 21:20] theodorosploumis commented on #394
![proposal_v8](https://cloud.githubusercontent.com/assets/1315321/24427970/8c6a6b18-1415-11e7-8a40-0d4993c16bd3.png)

[2017-03-29 01:38] chadfurman commented on #92
Slightly unrelated, but also related slightly is the current lack of ability to send emails without having to manually setup a microservice which subscribes to Postgres events.

An alternative could be having PostgraphQL calling out to hooked files...

[2017-03-29 04:08] 0x6368656174 opened #415 "Support `GRANT (column) ON [TABLE]`"
I need the ability to restrict access at the column level. PostgreSQL allows you to do this using `GRANT (column) ON [TABLE]`. But PostGraphQL does not allow this feature to be used, due to the fact that it chooses immediately the whole line, not the columns:

[code]

And for `GRANT (column) ON [TABLE]` it is necessary that the query be of the form:

[code]

@benjie  made a patch that fixes this p

[2017-03-29 08:09] benjie commented on #415
@0x6368656174 #342 builds upon #340 and adds a lot more power (and a number of fixes/tweaks), so it's still open. You can use it now if you like - I do.

[2017-03-29 08:16] fabiancook opened #416 "Roles on functions - Possible misunderstanding"
I have created this schema:

https://gist.github.com/fabiancook/d68f083cf6950444932ca6799df10160

I am running this using

`DEBUG=* postgraphql --connection postgres://role_example_postgraphql:role_example_postgraphql@localhost:5432/database --schema role_example --default-role role_example_unauthenticated --secret secret --token role_example.token`

I expect that you require the role `role_exampl

[2017-03-29 09:13] valorize commented on #394
My favorites so far are: 3a/5a, 4c, 7b.

[2017-03-29 09:22] danielbuechele opened #417 "Procedure with enum arrays"
I created a procedure accepting an array of enums as argument, like this:
[code]
which creates a GraphQL field that can be queried like this:
[code]

However, this fails in SQL, saying function `searchArticles(text[])` does not exists. The problem seems to be, that the array of enums is translated to a text array. Probably because in JavaScript the argument creates an array `['VIDEO','PHOTO']`, be

[2017-03-29 09:29] valorize commented on #394
I've taken the liberty of taking @theodorosploumis glyphs and combined them to:
![postgraphql](https://cloud.githubusercontent.com/assets/22564188/24447941/e7c900b6-1472-11e7-90c4-4a4073d703f6.jpg)

[2017-03-29 16:54] benjie commented on #394
I think my favourite at the moment is 5a, but I also really like @5argon's updated image.

[2017-03-30 06:06] langpavel commented on #411
Hi @benjie
I want blacklist (or whitelist) every object which can be reflected by postgraphql.
There are some hardly resolvable issues with name clashing which can be resolved only by changing database.

[2017-03-30 08:50] benjie commented on #411
I'd recommend using schemas to avoid that issue, however you could do it by hacking the introspection query:

https://github.com/postgraphql/postgraphql/blob/1145689054f7f7a6a5542ec34aa3827af3bc572a/resources/introspection-query.sql

Alternatively you could doctor the PgCatalog and feed it back in, based on the work in this PR:

https://github.com/postgraphql/postgraphql/pull/306

[2017-03-30 15:27] kenips commented on #416
By default functions created by an admin has execution privileges granted to the public, see: https://www.postgresql.org/docs/current/static/sql-alterdefaultprivileges.html. Specifically, use this line to remove this default after you create your schema:

[code]

[2017-03-30 17:13] kenips opened #420 "Question: how to call an external API?"
Hey guys, I've started migrating more business logic into pg and so far has been great. I'm now at a point that I need to call an external API (twilio in this case, and email soon) so I'm wondering what the best way is to call an external API when using postgraphql?

I've looked into doing this in postgres but seems like the road is rough. If I need to stay on RDS then a lot of the custom extensio

[2017-03-30 17:33] benjie commented on #420
Currently there's two ways I'd recommend:

If you need immediate feedback, then add a REST or alternate endpoint. Sorry.

If you don't need immediate feedback; then you can use triggers/etc to push a row to a queue table, then using `NOTIFY/LISTEN` along with Pg 9.5's [`SELECT ... SKIP LOCKED`](https://blog.2ndquadrant.com/what-is-select-skip-locked-for-in-postgresql-9-5/) you can implement an ext

[2017-03-30 17:35] #416 closed

[2017-03-30 21:11] niksubramanian commented on #394
My humble attempt.
![postgraphql-ex1](https://cloud.githubusercontent.com/assets/17026660/24526352/24e4a73a-159e-11e7-82ec-eaa9b05b2d3e.png)

[2017-03-30 21:14] EyMaddis commented on #394
@niksubramanian The pattern is too small on the elephant head, IMHO. But overall I really like it, especially the typography is nice.

[2017-03-30 21:18] fabiancook commented on #416
Thanks!

[2017-03-30 21:44] niksubramanian commented on #394
And a final one, inspired by origami:
![postgraphql-ex2](https://cloud.githubusercontent.com/assets/17026660/24527497/abbc3cf6-15a2-11e7-849c-a9dddd9934ff.png)

[2017-03-30 21:44] niksubramanian commented on #394
thanks for the comment @EyMaddis - agreed! Not sure I still have the courage to redo it completely though ;)

[2017-03-31 21:31] kamarajuPrathi opened #421 "How to restrict clients read,write access"
If i have a table example

there are default methods which come as readExample, updateExample , deleteExample

and the client as access it using http://abc.com/graphql/query and do modification to that data .

How do i restrict the user ?

[2017-03-31 23:36] kimballmortensen commented on #394
I'm new to GitHub but am a designer who's trying to get more into UI / tech brand identity projects.

Here's my attempt... Would love any feedback!

![postgraphql-logosend8](https://cloud.githubusercontent.com/assets/12931577/24572728/97265420-1638-11e7-8ab9-c083c343073a.jpg)

[2017-04-01 16:21] valorize commented on #394
@kimballmortensen could you make the elephant blue? Maybe with something around #0067b9?

[2017-04-01 19:30] calebmer commented on #417
Another, simpler option would be to add type casting here: https://github.com/postgraphql/postgraphql/blob/master/src/postgres/inventory/type/PgEnumType.ts#L33 or here: https://github.com/postgraphql/postgraphql/blob/master/src/postgres/inventory/type/PgListType.ts#L40

So that it generates either:

[code]

…or:

[code]

Please feel free to submit a PR adding this casting! The former is easier and

[2017-04-01 19:31] calebmer commented on #411
I didn’t think about manually mutating `PgCatalog`, or creating your own with a custom introspection query. That’s an interesting and powerful idea.

@langpavel if you try that please let us know how it turns out 👍

[2017-04-01 19:33] calebmer commented on #420
Adding the experimental hooks discussed in https://github.com/postgraphql/postgraphql/issues/300 should be fairly easy if you want to give it a show. I’ll close for now though, both the REST endpoint and `NOTIFY`/`LISTEN` are how I would recommend you add external calls as well while we work on hooks 👍

[2017-04-01 19:33] #420 closed

[2017-04-01 19:39] calebmer commented on #421
By using the Postgres [`GRANT`](https://www.postgresql.org/docs/9.6/static/sql-grant.html) command you can choose who gets to use which commands. By using the [`CREATE POLICY`](https://www.postgresql.org/docs/9.6/static/sql-createpolicy.html) command you can choose which users get to see what data on a row level.

If you haven’t already, make sure to check out our [Postgres schema design tutorial]

[2017-04-01 19:47] calebmer commented on #394
I really love the colors in the second one from @niksubramanian. That purple looks great 😊

Let’s leave this open for another week and then we can choose which logo we want to use.

[2017-04-01 19:47] kamarajuPrathi commented on #421
I am not asking about the db grant levels . If the graphql api if exposed as a http request . Then how would restrict these methods is what my question was .

[2017-04-01 19:48] calebmer commented on #421
So how to exclude `updateExample` and `deleteExample` from the GraphQL API, or how to throw an error when someone tries to use them?

[2017-04-01 19:51] kamarajuPrathi commented on #421
@calebmer exactly

[2017-04-01 19:54] calebmer commented on #421
Which one 😊?

To exclude `updateExample` and `deleteExample` you can use `GRANT`s on the user you connect to Postgres with (although that may be broken https://github.com/postgraphql/postgraphql/issues/402), or you can use `--disable-default-mutations`.

To throw an error when some tries to use them then you can use `GRANT`s on the roles you specify in your JWTs or through row level security.

[2017-04-01 19:57] kamarajuPrathi commented on #421
To exclude uodateExample and deleteExample from grapqlapi

[2017-04-01 20:00] kamarajuPrathi commented on #421
If user has just access to your grapqlapi api . How will postgres grants come in to place

[2017-04-02 04:45] danscan opened #422 "Feature Discussion: Advanced Query Predicates in `condition` input."
I thought it might be nice to have support for "advanced" predicates in the `condition` query arg.  For example, `ilike`, `>`, `<`, `not`, etc.

In a pet project a while back I did something like this (_though not with Postgres, and not as nice as this project_ 😄 ), which [can be seen here](https://github.com/danscan/datomic-graphql/blob/master/src/graphQLSchema/utils/getQueryInputArgsForSchemaTyp

[2017-04-02 06:08] danscan commented on #422
Hmmm, after more playing, I think that adding the `condition` argument to query fields for set-returning functions could go a long way, and would be much simpler.

[2017-04-02 18:40] langpavel commented on #411
Actually I tried something similar some weeks ago but it is easier to filter out introspection query because of too tight internal logic.

[2017-04-03 07:59] benjie commented on #422
See also #47, #324 and #337

[2017-04-03 14:26] calebmer commented on #421
You can’t exclude mutations on a user by user basis. You can throw an error if users who are not allowed to access the mutations try, but GraphQL recommends that you only have one schema for all users.

I believe the `GRANT`s to enable/disable mutations is currently not working. Could you provide the schema you tried so I can see if this is a bug? Follow along with https://github.com/postgraphql/p

[2017-04-03 14:27] calebmer commented on #411
Does modifying the introspection query and/or its results work for you?

[2017-04-03 14:29] calebmer commented on #422
This is definitely something we want! We are just waiting for a really good proposal at the moment 😊

In the meantime we do allow you to define whatever query you want using Postgres procedures: https://github.com/postgraphql/postgraphql/blob/master/docs/advanced-queries.md

[2017-04-03 18:59] chris-guidry opened #424 "Relay transform error ``Maximum call stack size exceeded``"
First question: Is there a Relay/React example available for Postgraphql? I haven't found one, but I think it would be very helpful.

I reviewed a similar issue to mine (#373), but his resolution was to change PK's, and it doesn't seem relevant to my issue. Also, I tried @benjie's suggestion to clear the cache, but that didn't work either.

I have followed the Facebook Relay examples, and updated

[2017-04-03 20:46] kamarajuPrathi commented on #421
Your Solution would work if i  am trying to have the user information in the same schema . If i have an external user who is authenticated and authorized user to use the api and not allow to do mutations , how would i handle such scenarios

[2017-04-04 11:10] EyMaddis opened #425 "Hide functions that the user does not have access to in introspection"
Hi,
the introspection query currently always delivers all functions that exist in the watched schema.
Using functions will return a permission denied error for the relation/function.
It would be awesome if the introspection would only return all the functions that the user can actually access (select/execute for queries and update/insert/execute for mutations).

In our setup, we have a "public" Gr

[2017-04-04 16:09] benjie commented on #424
Are you using `--classic-ids`?

[code]

[2017-04-04 16:46] chris-guidry commented on #424
I'm using PostGraphQL with Express so the options are declared in my app.js file using a variable. I updated the variable to set the classicIds to true, but it still didn't work. Also, I'm using react-relay v0.10.0. Should I upgrade that?

[code]

[2017-04-04 20:48] chris-guidry commented on #424
I was able to get the data to load by creating a Postgres function and calling it in Relay (see below). However, I'm wondering if there is a better way that I should write the GraphQL/Relay statements so that I can use the schema that's already generated by PostGraphQL instead of creating a function? There will be several instances where I essentially need to generate something like:
[code]

Postg

[2017-04-04 21:05] benjie commented on #424
When I used to use Relay (before moving to Apollo) I could use all the regular things, but to make it work initially was a huge pain. Most of the issues seemed to be related to Babel's compiling/caching of the (stale, often) GraphQL schema. It required a lot of killing node, clearing the babel caches, then starting node back up again. Good luck!

[2017-04-05 12:55] chris-guidry commented on #424
It turns out that I can use allVariables instead of a custom function. I just needed to include the "first" parameter:
[code]

[2017-04-05 12:55] #424 closed

[2017-04-05 12:57] angelosarto commented on #394
@niksubramanian This looks really good.  I also tried it on a black background and it looks really nice on a dark background IMO.

The only suggestion I would have here would be to see if you could reduce the number of colors in the elephant head, the head may need less colors for simplification.  What got me thinking of this is what would you suggest for use in something like the Favicon.ico - Ma

[2017-04-05 17:55] kimballmortensen commented on #394
Hey gents,

I implemented the blue as requested. I also tried to make the elephant look a little "tuskier" like the original postgres ele. Here's one:
![postgraphql-newsend2](https://cloud.githubusercontent.com/assets/12931577/24719364/b404eab8-19f6-11e7-86ea-ba47a0e441cf.jpg)

[2017-04-05 17:57] kimballmortensen commented on #394
I got some feedback that perhaps for a logo a more minimal approach might be more effective. The last version does seem a little busy.. This lead to the following concepts: (I'll put them in separate posts so I can better gauge which concept more people prefer via Likes)

![postgraphql-newsend3](https://cloud.githubusercontent.com/assets/12931577/24719444/04f7dfa2-19f7-11e7-883b-4c51dbd08fe1.jpg)

[2017-04-05 17:58] kimballmortensen commented on #394
This was an early version, but I feel like it's worth posting to gauge response...

![postgraphql-logosend](https://cloud.githubusercontent.com/assets/12931577/24719485/31233b12-19f7-11e7-998f-e98ae305e9e9.jpg)

[2017-04-05 18:00] kimballmortensen commented on #394
This last one seems like more of an illustration, but I'll post it anyway incase ppl happen to love it. ;)
![postgraphql-logosend3](https://cloud.githubusercontent.com/assets/12931577/24719596/807a4548-19f7-11e7-8c36-ea8e78859980.jpg)

[2017-04-05 18:49] theodorosploumis commented on #394
Just a notice here that we are supposed not to use the original logos of PostgreSQL and GraphQL, see  https://github.com/postgraphql/postgraphql/issues/394#issuecomment-288671867 and after that.

[2017-04-05 20:53] angelosarto opened #426 "--jwt-secret and -e command line options"
Has anyone else tried the new command line options using the package on npm?

As far as I can tell the new options aren't working.  The package appears to be the correct version and the new options are in the help file:
[code]

However running it doesn't seem to work, if you supply the deprecated `--secret` option it works ok:
[code]

However, changing this to the short form `-e` or to the new lon

[2017-04-06 00:08] jrandeniya opened #427 "Dynamically setting connection string"
Is it possible for a URL param to determine which database to connect to when using PostGraphQL as a library? This is what I tried but doesn't work; it just hangs when trying to visit `localhost:3000/user/graphiql`. If you visit `localhost:3000/user/graphql` it throws the expected 'Only POSTrequests are allowed' error.

[code]

[2017-04-06 01:23] hkgill commented on #427
+1

[2017-04-06 05:38] sciutand opened #428 "Custom Mutation/Query"
Let's say I want to create a signupWithFacebook mutation or loginWithFacebook query that receives a facebook token. These can't/shouldn't be implemented as db level procedures since they need to query the facebook api to validate the token. How would I go about implementing something like that?

[2017-04-06 11:53] valorize commented on #394
Why shouldn't we? At least the BSD license allows to reuse and modify the logo as long as the initial copyright notice is left intact, right?

[2017-04-06 12:13] 5argon commented on #394
I like the one that an elephant that looks like a pokeball. If you combined it with typography like the one that POST is in bold it might looks really good.

[2017-04-06 16:53] kimballmortensen commented on #394
Typically copyright laws allow reuse as long as the original is modified at least 20%. I think this argument could be made for either logo. That said, I'm happy to make more changes if needed.

Thanks for the feedback!

[2017-04-07 04:35] mgallagher commented on #428
So there are a few approaches to interacting with the world outside the database.

1) [LISTEN / NOTIFY](https://www.postgresql.org/docs/9.6/static/libpq-notify.html) - you can have a script running in the background listening for when these mutations occur.

2) Write your mutation functions in something like [Python](https://www.postgresql.org/docs/9.6/static/plpython.html) or [JavaScript](https:/