[2017-08-21 01:43] #561 closed

[2017-08-22 11:40] lifeiscontent opened #562 "Use Passport instead of JWT"
Hey @benjie,

I was wondering if there was a possibility of using passport instead of jwt for postgraphql?

http://cryto.net/~joepie91/blog/2016/06/13/stop-using-jwt-for-sessions/

I saw that there's a JWTPlugin here: https://github.com/graphile/graphile-build/blob/master/packages/graphile-build-pg/src/plugins/PgJWTPlugin.js

But when reading it, at first glance is pretty cryptic. Would love to ge

[2017-08-22 12:06] benjie commented on #562
You can just use `pgSettings` in the library version to get values from the request, e.g.

[code]

[2017-08-22 12:14] pyramation commented on #562
so in this scenario, you want to set `jwt.claims.user_id`, even if we're getting that information from a session, for example,

[code]

In this case, `jwt.claims.user_id` is just a key with a value of user id, but we wouldn't actually use jwt

[2017-08-22 12:16] ikari-pl commented on #465
I also have a function that gets ignored that returns a inline-defined `TABLE(id int, data text...)` rather than an existing table model or a simple field. Is this supported?
If a function is deliberately ignored by the library, it should be logged as a warning...

[2017-08-22 13:46] benjie commented on #562
Yes, though you can call it whatever you want:

[code]

so long as you match it with the relevant SQL:

[code]

[2017-08-22 13:54] benjie commented on #465
Yes, currently dynamic types are not supported. We recently added a small amount of documentation around this:

https://www.graphile.org/postgraphile/custom-queries/

https://github.com/postgraphql/postgraphql/blob/master/TROUBLESHOOTING.md#stored-procedure--function-not-appearing

---

A PR that adds a warning when a function isn't used would be considered.

Here's the code for computed columns:

[2017-08-22 15:10] pyramation commented on #562
ok that's perfect! So `current_setting()` will basically get whatever info you want, only during that request, then it is reset.

[2017-08-22 15:28] benjie commented on #562
Correct 👍

[2017-08-22 15:29] benjie commented on #562
(It *must* have at least one dot `.` in, otherwise it tries to override core postgres settings.)

[2017-08-23 08:53] JKing-B16 commented on #119
It would be very nice if there was an ORDERBYS that supported an ARRAY, because sometimes I need to sort on multiple columns.

[2017-08-23 09:34] benjie commented on #119
This is already supported in the core query builder in v4; we just don't have anything exposing it to GraphQL yet. If you wanted to look at implementing it,

this plugin adds the 'orderBy' argument to connections:

https://github.com/graphile/graphile-build/blob/master/packages/graphile-build-pg/src/plugins/PgConnectionArgOrderBy.js

this plugin adds the primary key orderBy value to the enum:

htt

[2017-08-23 12:13] pyramation commented on #562
and then just ignore `jwtPgTypeIdentifier`, `jwtSecret` when initializing? Or should these mechanisms be reimplemented?

[2017-08-23 12:27] benjie commented on #562
Simply don't specify them - they're optional.

[2017-08-23 16:44] EyMaddis opened #563 "[v4] Regression: permission denied on function leads to data:null in response"
Hi,
I found a regression when comparing v3 to v4, here is my test setup.

I blocked `DELETE` for tables, blocking `deleteUserById` and blocked execute for the function `removeUserById`.
The following tests are identical, except for the line highlighted with `FIXME`.

The first test case does break with v3 with `AssertionError: expected { removeUserById: null } to deeply equal null`, which is the b

[2017-08-23 17:23] benjie commented on #563
Could you provide a minimal `pg_dump` (schema and data), `postgraphql` command line and GraphQL query that can be used to reproduce this please?

[2017-08-24 08:23] benjie commented on #563
Here's my attempt to reproduce the issue; but `data` still contains `deletedTypeById` as you'd expect: https://github.com/graphile/graphile-build/pull/59

Are you using the very latest v4?

[2017-08-25 02:52] chadfurman opened #564 "Graphile build crashes when schema and table name are the same"
[code]

Causes mutations to stop showing up in graphiql

[2017-08-25 10:17] benjie commented on #564
I cannot reproduce this with the information given; I used the schema you specified (which worked) and also renamed the table to `room.room` and it still worked.

Can you provide more accurate steps to reproduce?

<details>
<summary>Click to see the data I used to try and reproduce it:</summary>

Schema:

[code]

CLI:

[code]

Query (performed through GraphiQL):

[code]

Result:

[code]

</details

[2017-08-25 16:13] lifeiscontent commented on #562
@benjie which version of postgraphql does pgSettings take a function?

[2017-08-25 16:31] benjie commented on #562
I've just published v3.5.0 which includes this functionality. I'd encourage you to use postgraphql@next instead though!

[2017-08-26 05:57] lifeiscontent commented on #562
@benjie cool, its all working now, just 1 note.

I had to write my code like this

[code]

because for some reason postgraph was turning both undefined and null into string representations of themselves. E.g. "undefined", "null"

[2017-08-26 06:26] ansarizafar opened #565 "Schema only usage without configuration"
Thanks for amazing work.
I am using Postgraphile as a library and I also want to execute a query on the server without having to go through HTTP. My question is why it is to provide a pool and other configuration, why not Postgraphile just expose excuteQuery/excuteMutation functions as all other configurations are already set.

[2017-08-26 06:39] benjie commented on #562
👍 Please file it as a bug.

[2017-08-26 06:49] benjie commented on #565
We provide the tooling (such as withPostGraphQLContext and createPostGraphQLSchema) so that you may execute queries using "graphql" itself. By doing this we allow you to make optimisations, should you so desire, e.g. Skipping the verification phase and jumping straight to execute. And of course running queries on your schema with "graphql" function is the standard way throughout the GraphQL ecosys

[2017-08-26 07:22] ansarizafar commented on #565
Thanks for the info but this means graphql schema / connection pool will be created twice. It would be great If Postgraphile can at least expose schema/connection pool if not higher order query execute function.

[2017-08-26 12:11] lifeiscontent opened #566 "Bug: pgSettings turn value types into strings"
given the following pgSettings:

[code]

I expect the following:

when `req.ctx.session.user_id === null` to set `user.user_id` to
  expected: `""` or `null`
  actual: `"null"`

when `req.ctx.session.user_id === undefined` to set `user.user_id` to
  expected: `""` or `null`
  actual: `"undefined"`

[2017-08-26 13:56] benjie commented on #566
Suggestion: strings and numbers should be passed through, null/undefined should be dropped, and everything else should throw an error.

[2017-08-26 15:02] benjie commented on #565
You can pass in a shared pool to both so the pool needn't be created twice, I don't think the schema being generated twice is a huge deal - it's only done at server startup and it doesn't consume much memory but I'm open to a PR that would allow passing the schema in to the postgraphql middleware function if it's simple enough.

[2017-08-26 15:10] lifeiscontent opened #567 "how to implement a viewer for postgraphql endpoint"
Hey @benjie I recently came across an article about authentication and using the viewer object in a graphql endpoint to deal with authorization / authentication by token.

How would I go about creating a viewer in postgraphql? Is there a way to extend the graphql endpoint by passing in an additional part of a schema or how would this work?

[2017-08-26 15:12] lifeiscontent commented on #566
@benjie if I was to make a PR for this, which branch or repo should I work in?

[2017-08-26 16:01] benjie commented on #567
I'm on a bus right now, but does this help? https://www.graphile.org/postgraphile/extending/ (replace postgraphile with postgraphql@next in your head)

[2017-08-26 16:02] benjie commented on #566
Master; I'll then merge into v3 and v4

[2017-08-26 16:06] benjie commented on #566
Specifically you want to extract this line and add slightly more logic:

https://github.com/postgraphql/postgraphql/blob/master/src/postgraphql/http/createPostGraphQLHttpRequestHandler.js#L404

[2017-08-26 18:05] ansarizafar commented on #565
Postgrapgile has made a developer's life very easy. Ideally, I would still request a query execute function exported from Postgraphile.

[2017-08-27 04:17] chadfurman commented on #91
:+1: for computed columns.  You're defining the many-to-many _in_ graph.cool, just with a wysiwyg.  Therefore, we have to define the many-to-many in postgraphql, and the way we do that is with a computed column.  Computed column procedures also gives us much more flexibility.

[2017-08-27 05:36] lifeiscontent commented on #567
@benjie is there a way to use append plugins using Postgres as a middleware?

[2017-08-29 03:41] newswim commented on #47
I really like graph.cool's [query parameter syntax](https://blog.graph.cool/designing-powerful-apis-with-graphql-query-parameters-8c44a04658a9), which is also a little reminiscent of Mongo's query operators and uses the `filter` arg:

[code]

@benjie, is your quick-and-dirty plugin available on branch or will I need to cobble that together? My team kind of hit a wall today when we realized the nee

[2017-08-29 07:22] benjie commented on #47
The plugin is available in full above, to load it see:

https://www.graphile.org/postgraphile/extending/#loading-additional-plugins

This works with postgraphql@next (v4) which is the same as postgraphile.

[2017-08-29 10:56] lifeiscontent commented on #562
@benjie how do you specify the proper role once a user is logged in?

[code]

if this shouldn't be a concern of pgSettings, then there is a bug because ROLE is set to anonymous_user.

[2017-08-29 11:04] benjie commented on #562
`role` is overridden after pgSettings is applied:

https://github.com/postgraphql/postgraphql/blob/85e630a9de530b5f141241ab62d2b6974cc6fbd4/src/postgraphql/withPostGraphQLContext.ts#L164-L174

But only if `pgDefaultRole` is set:

https://github.com/postgraphql/postgraphql/blob/85e630a9de530b5f141241ab62d2b6974cc6fbd4/src/postgraphql/withPostGraphQLContext.ts#L114

or there's a role claim in the JW

[2017-08-29 11:15] lifeiscontent commented on #562
@benjie I just tried to use the following:

[code]

but still doesn't work. Any ideas?

[2017-08-29 11:50] pyramation commented on #562
FWIW, I also tried `jwt.claims.role` and also doesn't work

[2017-08-29 12:02] benjie commented on #562
Ensure `pgDefaultRole` setting is **not** set.

Ensure `jwtSecret` is **not** set.

Add another configuration variable and ensure that is coming through.

If these don't solve it, then I'm going to need more context - e.g. exactly how you're calling it, which version of PostGraphQL you're using, how you are confirming that the role is not being set, etc.

Also be aware that currently this function

[2017-08-29 12:09] webmobiles opened #568 "need apollo server with this package?"
i'm trying to use server and client apollo to manage a lot of functions like cache, pagination, etc.

With this package i don't need more apollo server ?
can I integrate this package with apollo client?

[2017-08-29 12:15] benjie commented on #568
You can use Apollo client with PostGraphQL 👍

PostGraphQL is the entire server. Apollo Server is not needed.

[2017-08-29 12:21] #568 closed

[2017-08-29 12:39] pyramation commented on #562
that helped to get the query through!

I dug into it more, and since we are using the graphiql tool, requests are not getting the bearer set in the authorization headers. @lifeiscontent

[2017-08-29 12:43] pyramation commented on #562
so for clarification, this doesn't actually change roles in postgres?

so then if I understand it, effectively, we are logging in with the credentials built in the `postgres://user:pass@host:port/db`, so what's the purpose of the role in jwt?

[2017-08-29 13:06] benjie commented on #562
No, that was not my meaning. The GraphQL context is the 4th argument to the `graphql(...)` function; we set it here:

https://github.com/postgraphql/postgraphql/blob/779a643898418bc732473025182710f2d5b843ef/src/postgraphql/withPostGraphQLContext.ts#L74-L77

What I'm saying is the `pgRole` there is stale (it does not show updates from pgSettings) however I think that is only used in one place:

htt

[2017-08-29 13:07] benjie commented on #562
For the avoidance of doubt: the `role` in pgSettings / JWT **does** change the `role` setting in the PostgreSQL transaction.

[2017-08-29 13:10] benjie opened #569 "pgRole on GraphQL context is stale if updated from pgSettings"
This causes a misleading console message.

https://github.com/postgraphql/postgraphql/blob/85e630a9de530b5f141241ab62d2b6974cc6fbd4/src/postgraphql/withPostGraphQLContext.ts#L164-L174

https://github.com/postgraphql/postgraphql/blob/85e630a9de530b5f141241ab62d2b6974cc6fbd4/src/postgraphql/http/createPostGraphQLHttpRequestHandler.js#L447-L448

[2017-08-29 13:56] ansarizafar commented on #562
In that case How can we change role setting in the PostgreSQL transaction, If we are using passportjs or facebook login on our site

[2017-08-29 13:59] benjie commented on #562
1. Provide `role` via `pgSettings` callback
2. Do **NOT** provide `pgDefaultRole`
3. Do **NOT** provide `jwtSecret`
4. ...
5. Profit

[2017-08-29 14:00] EyMaddis commented on #563
@benjie I also tried the latest version.

The error only happens with missing grants:

[code]

[code]

[code]

[2017-08-30 11:48] Ypiskare commented on #545
Hi, Benjie

I cleaned up my postgres instance. So I have only one database opfr_karelia
with schema rsdoc_pfr. There are no other databases and schemas with  same
object names.
But when I run the command :
*postgraphql --connection
postgres://rsdoc:rsdoc@10.0.13.3:5432/opfr_karelia
<http://rsdoc:rsdoc@10.0.13.3:5432/opfr_karelia> --schema rsdoc_pfr --cors
--host 10.0.13.3 --port 5000*
I still get

[2017-08-30 12:07] benjie commented on #545
Please provide your postgraphql version number with `postgraphql --version`

Also, when posting code please do so via the GitHub interface rather than via email as it does not come through nicely on the issue otherwise.

You may want to try running with the DEBUG option set:

[code]

[2017-08-30 12:09] Ypiskare commented on #545
postgraphql --version
**4.0.0-alpha2.14**

[2017-08-30 12:55] Ypiskare commented on #545
**The output with DEBUG options is:**

Wed, 30 Aug 2017 12:53:55 GMT graphile-builder [build]: Running...
Wed, 30 Aug 2017 12:53:55 GMT graphile-builder   [build]:   Executing 'StandardTypesPlugin/build/anonymous'
Wed, 30 Aug 2017 12:53:55 GMT graphile-builder   [build]:   'StandardTypesPlugin/build/anonymous' complete
Wed, 30 Aug 2017 12:53:55 GMT graphile-builder   [build]:   Executing 'NodePlug

[2017-08-30 13:18] benjie commented on #545
It looks to me like there's two things called "Contact" - maybe a view and a table?

[2017-08-30 13:46] Ypiskare commented on #545
There is no such view "contact". But there is table "contact**s**" just after "contact_type" table by alphabet. My be it's becouse of plural form of word contact?

[2017-08-30 13:57] benjie commented on #545
If there's a table called "contact" and another called "contacts" that would cause it, yes. This is solve-able using the inflector but there's no documentation on this yet I'm afraid.

[2017-08-30 13:58] benjie commented on #545
Note that "Contact" is the name of the things after going through the inflector (which singularizes, adds the capital, etc)

[2017-08-30 14:07] Ypiskare commented on #545
What is inflector? It's not clear for me how to resolve the problem...

[2017-08-30 15:11] Ypiskare commented on #545
I renamed "contacts" to other name and postgraphql is worked now. But it's not a good solution as there is number of applications that use the name "contacts". So the problem still stay the problem... Please, help to find the right way.

[2017-08-30 15:44] benjie commented on #545
The inflector builds the names of the fields: https://github.com/graphile/graphile-build/blob/master/packages/graphile-build-pg/src/inflections.js

The name "contacts" works fine in other applications. In your application, specifically, there appears to be two fields that boil down to the same name "Contact" and they're clashing.

[2017-08-30 15:58] Ypiskare commented on #545
I don't completely understand how to work without the renaming the table "contacts". Let's continue tomorrow...

[2017-08-30 16:33] arnold-graf commented on #92
Has anybody tried to build some sort of proof of concept? Do you people prefer the solution based on NOTIFY or logical decoding? I’m a big fan of this general idea, it would make this project really versatile for all sorts of use-cases.

[2017-08-30 21:31] newswim commented on #562
We're currently using a hand-rolled JWT library and are setting a private key with `jwtSecret`, but I'm not sure what/how to set `jwtPgTypeIdentifier`. The docs seem to indicate using the form "my.schema".[jwtType], but I do not know what this composite type is supposed to be, or how to determine it.

This is using `postgraphql@next`, and it looks like the function that getst he token type is usin

[2017-08-30 22:24] benjie commented on #562
JwtPgTypeIdentifier is the fully qualified name of a type; for example if you had "create type myschema.myjwttypename as (name text, user_id int)" the type identifier would be "myschema.myjwttypename". This works in v4 as it did in v3 as far as I'm aware.

[2017-08-31 08:15] newswim commented on #562
Ah. It looks like we're not actually creating this type anywhere.

[2017-08-31 08:22] Ypiskare commented on #545
Hi, Benjie
I have no idea how to resolve the bag with a plural table names (as contact and contacts).
Сan you fix this error?

Regards,
Yury

[2017-08-31 10:48] benjie commented on #562
I've extended the documentation on this generating JWTs, perhaps it helps:

https://www.graphile.org/postgraphile/security/#generating-jwts

(Code is untested)

[2017-08-31 11:33] Ypiskare commented on #545
I'm an absolute beginner. I think that I could correct the inflector. But it will take me a long time to do this. When and in which release will you be able to fix the bug?

[2017-08-31 11:48] benjie commented on #545
Hopefully in the next three months, if you need it more urgently than that I can point you to our [professional services offering](https://www.graphile.org/support/).

This as not a bug - it's a deliberate feature to make the generated GraphQL API follow best practices (singular naming of types). You're requesting a feature which is an escape-hatch for when you wish to override this because you ha

[2017-08-31 13:13] Ypiskare commented on #545
Similarly named tables - does not mean the same names. I have a table named "contact" and a table named "contacts". I am sure that a similar situation will also be encountered by other users. OK, I'll wait for the fixes in the next releases
Earlier we also said that a similar error can occur if there are two different schemes with the same table names. I will check this and report the result.

[2017-08-31 13:30] benjie commented on #545
To be extra clear: I will NOT be "fixing" this. The default behaviour will remain the same. However I will allow you to override the inflectors so that similarly named tables can be given different names within the GraphQL schema - you will need to write an alternative inflector to do this naming.

Yes, at the moment the PostgreSQL schema name is not factored into the naming by the inflector so ta

[2017-08-31 13:35] Ypiskare commented on #545
Please, give me some idea how to write inflector

[2017-08-31 21:58] simplesteph commented on #92
Would love to see this happening. I'm working on a realtime POC from Postgres -> wherever and getting subscription would really be a killer feature

[2017-08-31 23:09] yeedle opened #570 "postgresql enum that starts with number causes error"
One of the values of an enum in my postgresql database starts with a number (e.g. `CREATE TYPE seasons AS enum ('3 weeks', '5 weeks', '12 weeks')`. When trying to connect to this database with postgraphql, I get the following error:

[code]

Is changing my postgresql enum the only way to get around this issue? (that would be quite the hassle).

[2017-08-31 23:14] chadfurman commented on #92
Given the stated limitations of NOTIFY/LISTEN, especially the need to scale out to multiple databases, it might be wise to implement this as @jmealo described.  That said, it would likely be best as a "Subscriptions" graphile-build plugin and this could be disabled if desired.

[2017-09-01 06:11] benjie commented on #92
My current plan is actually to use both. The standard CRUD events would be logical decoding, but you'd also be able to use listen/notify to trigger custom events. These custom events cannot be auto-detected so my plan is to just have a generic API for them. I've also considered letting the client hook into this generic API so it can trigger events too; I've not 100% figured the security requiremen

[2017-09-01 06:14] benjie commented on #92
(Also I plan to require redis as the pub/sub mechanism and to effectively relay notifications though that from the DB listen/notify; would this cause anyone issues? I was thinking if a redis server was not specified we'd simply disable subscriptions. This also allows for us to add caching and cache-eviction in the future.)

[2017-09-01 06:16] benjie commented on #570
This is solved in postgraphql@next by prefixing with an underscore; see #506 for more info on `@next`

[2017-09-01 11:05] ansarizafar commented on #92
I would prefer a solution without a Redis server. Systems with fewer dependencies are always better.

[2017-09-01 11:58] MrLoh commented on #92
I think it is a good idea to use Redis, as it is the standard for GraphQL subscriptions right now and works well for custom servers. Trying to run without Redis or something similar will potentially make it very hard to scale such a soltuion.

[2017-09-01 14:39] jmealo commented on #92
@MrLoh: @ansarizafar: @benjie: @chadfurman: @simplesteph: @arnold-graf: @JesperWe  @RpprRoger: Would you be interested in forming a working group regrading real-time event streaming from PostgreSQL [admittedly, I'd like this to be "frontend" agnostic, meaning it will work with postgraphql, postgrest, or your own APIs]?

@ansarizafar: I went the Lapidus/Socket.io (tiny side car service) route and a

[2017-09-01 14:48] jmealo commented on #92
@MrLoh: @benjie:

If you do an internal subrequest in NGINX it doesn't have the overhead of a network connection. Managing pub/sub, auth and sessions from within NGINX really helps keep latency and resource usage down.

- https://github.com/slact/nchan (redis is optional for persistence/scaling)
- https://github.com/pintsized/ledge (this comes with qless and allows you to run background workers fo

[2017-09-01 17:14] anibalaguirreconsultora opened #571 "Error on query table with a hstore type field"
I am getting the error `Expected string. Not 'object'` when doing a simple query on table that has an hstore type field

[code]
[code]
[code]

[2017-09-01 21:04] parris commented on #83
We've been using [Graphql IDE](https://github.com/redound/graphql-ide), which is basically a more powerful version of graphiql, and it lets you add headers to every request. Might also be safer the use than exposing graphiql publicly.

[2017-09-01 21:54] newswim commented on #562
I'll test it out and let you know, looks great though!! 🙏

[2017-09-02 08:43] benjie commented on #83
Are you aware of anything that makes GraphiQL inherently unsafe to expose publicly or is it just a case of requiring more effort/knowledge to attack (run your own GraphiQL) and/or increased attack surface area?

[2017-09-02 08:47] benjie commented on #571
I'm not sure we have explicit support for hstore yet; which version of PostGraphQL are you running?

There's an issue for this for v4 here:

https://github.com/graphile/graphile-build/issues/4

Which references #311.

In v4 this support can be added via a plugin.

[2017-09-02 08:47] benjie commented on #571
(The plugin does not yet exist, to be clear.)

[2017-09-02 17:16] chadfurman commented on #83
GraphiQL exposes the full API with complete comments etc.  Being able to hide all the comments and documentation on the API in production is important.

Having GraphiQL enabled in production is simply bad form.

On a dev machine, i.e. locally, I'd not be concerned about it myself.

[2017-09-02 20:20] benjie commented on #83
I think there's might be a misunderstanding on what GraphiQL does - all the information you mention is exposed by GraphQL itself directly, GraphiQL simply runs a GraphQL introspection query so it knows what to display. Turning GraphiQL off does not prevent this introspection query from running - you just need to run your own local copy of GraphiQL to execute it.

Here's the GraphQL introspection q

[2017-09-03 00:08] chadfurman commented on #83
:+1: removing comment fields with a plugin sounds like a great plan.

Yes, there are cases where you want to expose your API documentation.  Facebook etc have a public API designed to be used by third-parties.  This is not always the case, and I would say in the majority of cases this is not true.

Could you elaborate on persisted queries?  You've mentioned them a couple of times and I'm not sure

[2017-09-03 09:34] benjie commented on #83
I've hacked together support for a client's app using my forks:

https://github.com/benjie/persistgraphql-webpack-plugin
https://github.com/benjie/persistgraphql

Which instead of numbering the queries instead hashes them.

You can then mod your network layer to send instead of the query the query hash; then on the server you can prefix the graphql endpoint with a middleware which overwrites the q

[2017-09-04 15:58] anibalaguirreconsultora commented on #571
running version 3.5.0
error stack below

[code]
[code]

[2017-09-04 19:07] benjie commented on #571
I believe we simply do not have hstore support - a pull request adding it would be welcome (but you'd be better off adding it to v4 via a plugin: `npm install -g postgraphql@next`; see #506

[2017-09-05 00:29] chadfurman opened #572 "Any plans for request throttling?"
Most of the time a single IP address should not be hitting the API more than 100 times a minute.  Anything more than that would be nice to discard.  Likely a follow-up to being able to access the IP within a plugin.

https://github.com/postgraphql/postgraphql/issues/299  HTTP Request in postgraph
https://github.com/postgraphql/postgraphql/pull/460  Exposing headers
https://github.com/postgraphql/p

[2017-09-05 00:34] chadfurman commented on #501
@benjie "Maybe it's passed in from the library settings" -- can you elaborate?

"Passed down via the GraphQL context" -- could you show an example of pulling this into a mock plugin quick?

"you could use this for example to do postgraphqlEventListener.emit('set-cookie', 'foo=bar') which could be interpreted by your application to set a cookie."  --  When you say "interpreted by your application t

[2017-09-05 02:52] gijo-varghese opened #573 "GraphQL subscriptions?"
First of all thanks for the amazing project

Does Postgraphl support subscriptions? I couldn't find any doc about it. If it's not added in Postgraphql can I use Posgraphql + custom coded subscriptions together?

Can we write custom mutations? For example, if a new user is added to the database I want to send him an email.

In future, we'll have master-slave infra for our database for horizontal sc

[2017-09-05 07:47] benjie commented on #572
I think this specific functionality would be better implemented via a separate concern - e.g. at the proxy or webserver layer (nginx) or if necessary you can achieve it via an express middleware (there's so many to choose from!)

I do not want to extend the projects scope to include throttling out of the box since it can so easily be implemented at a higher tier - it's just one more thing to maint

[2017-09-05 08:43] benjie commented on #299
This is now possible via [`pgSettings`](https://www.graphile.org/postgraphile/usage-library/#pgsettings-function)

[code]

[2017-09-05 08:43] #299 closed

[2017-09-05 09:17] benjie commented on #573
The current discussion around Subscriptions is in #92.

Yes, in v4 (which is going to move from `alpha` to `beta` status soon) - see https://www.graphile.org/postgraphile/extending/#wrapping-an-existing-resolver

We don't have this functionality yet, but it wouldn't be much work to add. Priority at the moment is to get v4 out.

---

To keep things manageable I'm going to close this issue as I thin

[2017-09-05 09:17] #573 closed

[2017-09-05 09:31] benjie commented on #501
I mean something like this:

[code]

This would not be possible via a plugin as the context exists outside of the GraphQL schema. It would be a mod to withPostGraphQLContext:

https://github.com/postgraphql/postgraphql/blob/b507e04de0e54f2ae203633803bd8efbce30e3db/src/postgraphql/withPostGraphQLContext.ts#L74-L77

But once that mod is in place, you could then fire it from an arbitrary resolve meth

[2017-09-05 09:38] benjie commented on #92
I'm definitely interested in using a shared solution rather than reinventing the wheel! At the moment I don't have time to join a working group on this though - my priority at the moment is to get v4 out.

[2017-09-05 10:05] SeenaLibin opened #574 "Writing logs to an external file"
Hi,
How can i write the logs in postgraphql console to an external file

[2017-09-05 10:08] benjie commented on #574
Are you asking for something more than the following?

[code]

[2017-09-05 10:20] SeenaLibin commented on #574
@benjie
When postgraphql is up and we are running queries we can see the queries in console like

I want to write these logs to a external file and my postgraphql version is 3.2.0

[2017-09-05 10:24] SeenaLibin commented on #574
@benjie
I tried the above solution and it works perfect. Thanks a lot

[2017-09-05 10:24] #574 closed

[2017-09-05 16:34] amaurymartiny opened #575 "Using PostGIS with postgraphql"
Is this library compatible with PostGIS?

Running postgraphql@next, I can generate the graphql schema of a pg database with PostGIS installed.

However, I cannot manage to find how to get for example the result of this query via GraphQL:

[code]

assuming I have a table called territories with a column named polygon.

[2017-09-05 16:41] benjie commented on #575
We don't have explicit support for PostGIS, but it might work implicitly.

First port of call would be to implement it as a computed column:

https://www.graphile.org/postgraphile/computed-columns/

If that works but you want it to work everywhere without having to add loads of computed columns, this is where I would use a plugin to add an extra field for every column of type `polygon` (or whateve

[2017-09-06 06:15] knqyf263 opened #576 ""disableDefaultMutations" disable all mutations?"
Thank you for this awesome tool!

In my case, there are a lot of tables, but I use only a few mutations.
It seems that `disableDefaultMutations` disable all mutations.

Can I use default mutations only on some tables?

I created a function by myself, but I don't know how to use `PersonPatch` as an argument.
The following function creates `PersonInput` as the second argument.
[code]

I want `Person

[2017-09-06 08:18] benjie commented on #576
Currently it's all-or-nothing I'm afraid.

As far as I am aware there is no way to do this currently; it's an interesting issue though - not one I had considered. Perhaps we could add a naming convention so if the name ends in "_patch" or "Patch" we use the patch type?

[code]

**Would love to get some feedback from other people on this.**

[2017-09-06 08:27] knqyf263 commented on #576
@benjie Thank you for the reply!

I think this is a good idea.

Or, if possible, we could use `enableDefaultMutations` option.

[code]

The mutations for tables other than `table_a` and `table_b`  will be disabled.

[2017-09-06 08:39] benjie commented on #576
There's two feature requests here. I'd be happy to accept PRs to v4 that enabled these functionalities.

### 1. allow custom queries/mutations to use the patch type (perhaps with a naming convention)

For this, I think the code would go around here:

https://github.com/graphile/graphile-build/blob/6d7b4a3e4bf48bee76b952274f0a03a1be03a528/packages/graphile-build-pg/src/plugins/makeProcField.js#L92

[2017-09-06 08:40] benjie commented on #576
I'd love there to be a better solution for the patch thing than a naming convention though; so if anyone has any ideas please do speak up 👍

(e.g. we could add a "magic comment" to the function that changed its behaviour)

[2017-09-06 08:48] knqyf263 commented on #576
@benjie Thank you for listing.
I need these features, so I will try implement No.2.
If it works, I will send PR!

[2017-09-06 09:02] benjie commented on #576
You'll also need to:

Parse the option here:

https://github.com/postgraphql/postgraphql/blob/benjie/graphql-build/src/postgraphql/cli.ts#L49

Add it to the config object here:

https://github.com/postgraphql/postgraphql/blob/benjie/graphql-build/src/postgraphql/cli.ts#L178

Which gets sent through to postgraphile-core. You then pass that through to the plugins by passing through the option here:

[2017-09-06 16:57] gilbert opened #577 "Disable auto camel casing?"
I have a postgres column `created_at`, but postgraphql is auto-converting it to `createdAt`. Because this is a legacy application, I need the column to remain in the `created_at` format. Is there a way to tell postgraphql to leave the column names as-is?

[2017-09-06 16:59] amaurymartiny commented on #575
Thanks for the explanations. I would go for the plugin way.

Three questions:

1. First idea is to add an extra field as you said, and it's done [in this gist](https://gist.github.com/amaurymartiny/f67e251067e2f4308b2ed56c8d5a6155) as the `polygonAs` field. However, even after reading the docs and the code of some of the other plugins, I still didn't figure out how to resolve by calling my custom

[2017-09-06 20:58] benjie commented on #575
Hey; great start! So in v4 you wouldn't implement it with a `resolve` method because that would require an entire query to the DB just to do that one field (though you could do it that way and it would work it would be very inefficient). Instead we have a QueryBuilder that builds our queries for us, so we register the field with the [look-ahead](https://www.graphile.org/graphile-build/look-ahead/)

[2017-09-06 21:03] benjie commented on #577
Almost! With version 4 you will have a *lot* of control over how things are named if you so desire. You can implement your own inflector based on our standard inflector:

https://github.com/graphile/graphile-build/blob/master/packages/graphile-build-pg/src/inflections.js

I've not yet got around to hooking the inflector up so that it's configurable from postgraphql - at the moment we only let you

[2017-09-06 21:05] chadfurman commented on #501
Yes!  Thank you @benjie :dancing_men:

[2017-09-06 21:05] benjie commented on #577
You can track this issue I just created:

https://github.com/graphile/graphile-build/issues/62

[2017-09-06 21:06] chadfurman commented on #83
@benjie makes sense.  Modding the network layer to transmit query hashes dynamically is an interesting approach

[2017-09-06 21:07] benjie commented on #501
We should be collecting things like this on the wiki I guess...

[2017-09-06 21:07] chadfurman commented on #572
Makes sense :+1:

[2017-09-06 21:10] chadfurman commented on #438
Really cool.  So you don't need to make the function strict in the schema, postgraphile will make it "strict" at the API level because the arg doesn't have a dafault

[2017-09-06 22:43] benjie commented on #438
Yes, so long as you opt in to that functionality. All we need is someone to add `pgStrictFunctions: strictFunctions` here-ish (PR welcome):

https://github.com/graphile/graphile-build/blob/master/packages/postgraphile-core/src/index.js#L87

(plus the dereference) and then you can enable it from PostGraphQL in library mode. (You can do it currently via `graphqlBuildOptions` but that's a bit of a ha

[2017-09-06 23:34] chadfurman opened #578 "UUID v1 is somewhat predictable"
https://www.graphile.org/postgraphile/postgresql-schema-design/#postgres-roles

We suggest v1mc in the docs, though as you can see here uuid1 is much less random than uuid4
https://www.sohamkamani.com/blog/2016/10/05/uuid1-vs-uuid4/

[2017-09-07 00:48] knqyf263 commented on #576
@benjie I am sorry for the basic question.
Should I work on the `benjie/graphql-build`?
For graphile-build, work on `master`?

[2017-09-07 07:22] benjie commented on #576
Yes 👍

[2017-09-07 07:31] benjie commented on #578
Yes, this is why we chose UUID v1. It's extremely expensive for postgres to write an id that is smaller than an existing id because it has to split the pages - this reduces write performance significantly. Because UUIDv1 is prefixed with the date stamp it is (generally) an increasing value and thus fairly safe to use as the PK unless you're expecting hundreds or thousands of inserts per second (an

[2017-09-07 07:34] benjie commented on #578
https://www.google.co.uk/amp/www.starkandwayne.com/blog/uuid-primary-keys-in-postgresql/amp/

[2017-09-07 10:17] revolunet commented on #550
having the same issue with :

 -  "pg": "^6.4.2",
 - "postgraphile": "^4.0.0-alpha2.12"

not sure how to resolve that

[2017-09-07 10:20] revolunet commented on #550
using postgraphql@next instead of postgraphile solves the issue !

should we play with postgraphile or postgraphql ?

[2017-09-07 10:25] benjie commented on #550
Please use `postgraphql@next` for now. `postgraphile` tends to lag because I don't spend the time to keep publishing - I only originally published it to reserve the package on npm so no :trollface: would steal it!

[2017-09-07 10:26] benjie commented on #550
In fact...

/me adds a deprecation message.

[2017-09-07 10:53] revolunet commented on #550
ok thanks !

[2017-09-07 20:14] flux627 opened #579 "Using GraphQL Schema to generate Postgres migrations"
We are in early stages for planning the architecture for our startup, and I am evaluating this as an option. Something that occurred to me while reading this:

https://www.graphile.org/postgraphile/postgresql-schema-design/

Since there is such a close relationship to how schemas are defined in Postgres and how they map to the generated GraphQL schema, it seems to me that it would be a big simplif

[2017-09-07 21:01] flipxfx commented on #150
+1 for Hapi integration :)

[2017-09-07 21:40] benjie commented on #579
This is something I've thought about a bit (in fact I have pages of notes on it... migrations are definitely a pain point!) but there's a lot of complexity in it - e.g. Changing the data type of a column or renaming a column vs deleting and recreating the column. We'd also need companion code for function bodies/etc. Another thing that's problematic is complex indexes; I've considered doing them w

[2017-09-07 21:47] benjie commented on #150
The schema generation is separate in v4; so it would be cool to see a "postgraphql-hapi" module that uses postgraphile-core under the hood. The hapi module would be responsible for handling the request lifecycle, setting up the postgres connection (including setting the various settings from JWTs etc) and then handing off to the GraphQL schema generated by postgraphile-core for schema introspectio

[2017-09-07 22:36] flux627 commented on #579
Thanks for the response. I agree that it would be best to be part of a separate repo at least at first (just like South was with Django). The reason why it could be beneficial to be part of this main repo would be to more easily coordinate compatibility / feature changes, but I can also understand how that may be an unwanted burden.

I'd imagine one would be able to utilize a lot of the thinking t

[2017-09-07 23:19] chadfurman commented on #92
What's the quickest path to have subscription support?  Websockets in a plugin?

[2017-09-07 23:28] chadfurman commented on #92
This looks quite relevant: https://github.com/socketio/socket.io-redis

[2017-09-08 00:19] chadfurman commented on #92
we'd also want to make sure the session token is carried over:  https://stackoverflow.com/questions/4753957/socket-io-authentication

Which means we'd likely want to send our auth token as a cookie.  Might as well make it HttpOnly and SameOrigin while we're at it (if not by default, then with flags).  There's a ticket for exactly this:

https://github.com/postgraphql/postgraphql/issues/501

I'm wo

[2017-09-08 06:48] benjie commented on #579
Awesome; I'd love a tool like this 👍

[2017-09-08 07:00] benjie commented on #92
You can use socket.handshake.headers to extract the authorization header; websockets send standard HTTP headers as part of the negotiation before upgrading to websocket protocol. Cookies come with their own set of CSRF and similar issues, so if we go that way we will need to ensure those issues are addressed.

(Not that JWTs aren't problematic! But I'm planning to deprecate them in v4 and replace

[2017-09-08 08:09] chadfurman commented on #578
@benjie some of the comments to that article mention a couple of points:
1) Postgres doesn't have clustered indexes, so it's actually not a concern (https://www.postgresql.org/message-id/20151222124018.bee10b60b3d9b58d7b3a1839%40potentialtech.com)
2) There is a CLUSTER command, but it's a one-time sort and so not relevant: https://www.postgresql.org/message-id/30034.1472566554%40sss.pgh.pa.us
3) i

[2017-09-08 08:15] chadfurman commented on #92
Cookies do not add risk of CSRF *if implemented correctly*.  Using SameOrigin policies and putting your API on a subdomain, for example.  Moreover, HttpOnly cookies protect the JWT from XSS attacks.

Also, double-submit tokens that the API generates and the client submits twice -- once in the body of the request, and once in the HttpOnly, SameOrigin signed cookie that the API set.  This means that

[2017-09-08 08:44] benjie commented on #578
Interesting, thanks for researching this!

Personally I don't buy that the whole point of UUID is to not have sequential guessable identifiers - the reason UUIDv1 ids include the mac address is to make sure they don't class with other machines acting in good faith; it's not to protect against nefarious actors. UUIDv4 on the other hand is intended to give a truly random non-guessable identifier.

I

[2017-09-08 08:54] benjie commented on #92
It's not uncommon to run APIs on a separate subdomain (or even domain) and allow multiple parties to interact with them; this is in-part why we have the `--cors` option in PostGraphQL. Fortunately with the new `pgSettings` we can let the user implement the authentication solution that works for them (e.g. SameOrigin). So long as the subscription features hook into this (which they should be able t

[2017-09-08 15:36] chadfurman commented on #578
I'm going to go with uuid v4, myself. Thank you for the talk on this. Will leave this open for you to finish as you see fit.

[2017-09-08 15:38] chadfurman commented on #564
I could have been on old code, perhaps. Closing this light of being unable to reproduce

[2017-09-08 15:42] benjie commented on #578
Closing as it's open on the website repo

[2017-09-08 15:42] #578 closed

[2017-09-08 15:42] benjie commented on #564
👍

[2017-09-08 15:42] #564 closed

[2017-09-08 19:18] chris-guidry opened #580 "Cannot detect function argument array dimensionality in Postgres... Discussion thread"
I am working on a process to download data from a device (roughly 40,000 records at a time), and then upload that data to the database. I'd like to combine the data into an array which would be sent to the database all at once versus calling the database 40K times. Also, I'd like for that array to be as small as possible.

With that goal in mind, I created a Postgres function like this:
[code]
The

[2017-09-08 21:13] freiit opened #581 "Table with only one non mandatory field can't be created"
My table

    create table s.resource (
      id               uuid primary key default uuid_generate_v1mc()
    );

my query

    mutation {
      createResource(input:{ resource:{ }}) {
        resource  {
          id
        }
      }
    }

result in

    {
      "errors": [
        {
          "message": "syntax error at or near \")\"",
          "locations": [
            {
              "l

[2017-09-08 21:38] benjie commented on #580
Please can you confirm if this happens on both v3 (`postgraphql@latest`) and v4 (`postgraphql@next`)?

Providing a minimal SQL schema that reproduces the issue and the GraphQL query you execute in GraphiQL that produces the error will make it a lot faster for me to debug too 👍

[2017-09-08 21:41] benjie commented on #581
That's definitely a bug. Can you confirm if this is v3 (`postgraphql@latest`) or v4 (`postgraphql@next`) that has this issue? (Or both?)

I'm guessing the reason is it's attempting to execute something like `INSERT INTO foo () VALUES ()` whereas it should be executing `INSERT INTO foo DEFAULT VALUES` I think... It's not something I've ever had to do personally.

[2017-09-09 01:53] chris-guidry commented on #580
Hi @benjie,

I am currently running version 3.1.0. For version 4, I would need to setup a new environment since I'm not ready to upgrade.

I believe the issue lies with how the function's input parameter is being interpreted. It seems like it's treating this data type: `decimal(14,3)[]**[]**`, as this: `decimal(14,3)[]`, which would explain why it's expecting Float values within the array rather t

[2017-09-09 07:54] benjie commented on #580
You should be able to try out v4 locally without breaking your setup by just running:

[code]

Npx will download and run postgraphql v4 and then throw it away afterwards.

[2017-09-09 18:54] chris-guidry commented on #580
I tested in v4 and encountered the same error.

The npx package is very helpful. Thanks for the tip.

[2017-09-11 07:54] benjie commented on #580
Reproduced with schema:

[code]

[2017-09-11 08:10] benjie commented on #580
Interestingly when you inspect it with `psql` you get a single-dimension array too:

[code]

[2017-09-11 08:18] benjie commented on #580
Of course, I totally forgot that Postgres ignores both array sizes and number of dimensions:

e.g. if you dump the schema you get:

[code]

Since pg_dump itself cannot tell that you created it as a 2D array PostGraphQL has no chance. Your best bet might be to use JSON input instead?

[2017-09-11 08:23] benjie commented on #580
I've put failing tests in this branch:

https://github.com/graphile/graphile-build/tree/fix-580

I don't know how to make them pass. Maybe a naming convention for function arguments? e.g. `widgets_2d numeric[][]`? (But something much less likely to cause conflicts.)

[2017-09-11 08:23] benjie commented on #580
Opening this issue up to discussion - anyone with ideas please contribute!

[2017-09-11 09:54] freiit commented on #581
I'm working directly from the git repository, master branch (`docker build ...`).
Please let me know which branch creates the newest version of @next. Then I give it another shot on that branch.

[2017-09-11 10:16] benjie commented on #581
v4's currently in issue #506 - branch is `benjie/graphql-build`

[2017-09-11 11:14] jamsheer-thottathil opened #582 "Access resources without token after enabled token based authorization"
I have enabled token based authorization in postgraphql by using  --secret and its working fine.
But if I miss the 'Authorization' header in the request it will work same as a none token based execution.
Is it expected?

[2017-09-11 11:23] benjie commented on #582
It sounds like you might not have implemented any security in your database schema? Have a read of this:

https://www.graphile.org/postgraphile/security/

and this:

https://www.graphile.org/postgraphile/postgresql-schema-design/#authentication-and-authorization

[2017-09-11 12:39] freiit commented on #582
`--secret` only specifies the key to the signature of the jwt. The token itself is not encrypted. You can create jwt token yourself for example with https://jwt.io.
The postGraphQL-service must allow access to the database without token, otherwise you can't call the jwt creation functions.
With roles and/or an account_id (or whatever) and row level security on db level you can restrict actions.

[2017-09-11 13:20] freiit commented on #581
Tried with the current version of benjie/graphql-build OR master and receive this:

[code]
I do not have any issues with versions I build a few days ago.
How can I debug further?

[2017-09-11 13:47] chris-guidry commented on #580
@benjie I appreciate your efforts to figure out how to handle dimensional arrays. I had not tried inspecting the function within Postgres, but now I see that the metadata for the function does not include the second dimension of the array so there is no way for PostgraphQL to detect it. I like the idea of adding a suffix to the parameter name that would indicate 2d, 3d, etc. To avoid naming confli

[2017-09-11 14:15] benjie commented on #581
Sorry; I just broke that moving PostGraphQL concerns out of `graphql-build-pg` and into `postgraphile-core` instead. Upgrade to the latest `postgraphql@next` for the fix.

[2017-09-11 14:37] freiit commented on #581
Unfortunately that just changed the error message:
[code]
Anything I can do about that?

[2017-09-11 14:42] benjie commented on #581
That implies you've got two things that boil down to being called "Locale" by PostGraphQL - might be e.g. `locale` and `locales`, or maybe a view and table with similar/same names?

And *YES* you can do something about that! The version I literally just released allows you to override the inflector! I've not documented it yet; but basically...

Here's the default inflectors:

https://github.com/gr

[2017-09-11 14:45] benjie commented on #581
So you could do, e.g.

[code]

[2017-09-11 18:10] freiit commented on #581
Thanks, found the issue.

I have a type called `s.locale` and a column name in a table called `locale`. That doesn't work in v4, and maybe it's a bug?

You should be able to recreate the behavior by doing this
[code]
Then the server will not start up.

[2017-09-11 18:21] freiit opened #583 "Neither UUID nor Uuid works in v4 with `--dynamic-json` flag"
I tested with the current branch of benjie/graphql-build.

It says under "breaking changes" that Uuid is now all in uppercase, but if I use this in a query or mutation, I get the error `message: 'Unknown type "UUID". Did you mean "ID"?'` Unfortunately leaving `Uuid` doesn't work either: `message: 'Unknown type "Uuid"`.

If I look with graphiql into the docs, I see the former `Uuid` as type `String

[2017-09-11 18:46] freiit commented on #581
About the original issue. Its working fine in v4. So somebody can tag this issue as "fixed in v4". Thanks :-)

[2017-09-11 18:51] benjie commented on #583
We have UUID in our tests, so this isn't a universal issue, you must be triggering some kind of bug...?

Test schema schema:

https://github.com/graphile/graphile-build/blob/master/packages/postgraphile-core/__tests__/kitchen-sink-schema.sql#L57

Snapshot showing it working:

https://github.com/graphile/graphile-build/blob/master/packages/postgraphile-core/__tests__/integration/__snapshots__/schem

[2017-09-11 18:52] benjie commented on #583
(`UUID` will only exist in your schema if it is used by something (a table column, a function argument, etc) - if you don't have one in your schema then you won't be able to use it in queries.)

[2017-09-11 19:01] benjie commented on #581
I don't believe your diagnosis of the issue is correct - the column is not the issue. I suspect that you have a table or view called locale/locales and also the enum?

Failed to reproduce with:

[code]

Query works:

[code]

[2017-09-11 19:16] freiit commented on #581
That is strange. Renaming my `type locale` to `xlocale` fixed the issue. I have all sql in a single place and it does not contain the words `locale`or `locales` anywhere else...

I investigate again.

[2017-09-11 19:19] benjie commented on #581
Yeah, it's clear that `type locale` is clashing with something - I just don't think it's the column (try renaming the column).

[2017-09-12 09:54] freiit commented on #583
I tried to create a minimal schema:
[code]
This results in that schema: https://gist.github.com/freiit/aa12258e8df01e4bb013e38570ed0569

myid is a `String!`, not a `UUID!`.

Tested with a fresh 9.6 postgres db and a freshly compiled version of the benjie/graphql-build branch.

[2017-09-12 10:03] freiit commented on #581
I retried to create the "locale" issue with a fresh database and can't reproduce it. So I close that topic. Doesn't change anything on the state of this issue, as it was actually a different topic.

[2017-09-12 10:03] benjie commented on #583
Maybe there's something wrong with the way the code is being built? It's not really something I can debug from here since it works for me with the released version on `npm` which is built from the latest commit on the `benjie/graphql-build` branch:

![screenshot 2017-09-12 10 59 48](https://user-images.githubusercontent.com/129910/30320087-84fd1e62-97a9-11e7-8779-56c19ca35796.png)

This is using y

[2017-09-12 10:04] benjie commented on #583
Do the tests pass for you? Run `npm test` - if they don't pass that may give an indication as to something being wrong with your setup - you can compare with travis: https://travis-ci.org/postgraphql/postgraphql/builds/274177299

[2017-09-12 10:06] benjie commented on #581
Okay. Let me know if you come across the issue again. I'm going to close this as "fixed in v4" to keep things manageable.

[2017-09-12 10:06] #581 closed

[2017-09-12 10:48] chadfurman commented on #583
Are you generating your schema with postgraphql / postgraphile?  I assume you are.

I also don't have this issue.  My UUID columns in my database are coming out as UUIDs.  For example:
[code]

I'm on 4.0.0-alpha2.16

[2017-09-12 10:49] chadfurman commented on #583
@freiit ^

[2017-09-12 10:51] benjie commented on #583
I think @freiit's issue is related to building from source as opposed to using the compiled versions published to `npm`.

[2017-09-12 11:14] freiit commented on #583
Guys, I started to doubt my test skills. For the protocol, I can reproduce the bug with the current `postgres@next` and all tests run through, when I use the `benjie/graphql-build` branch and `npm test` (with variable `TEST_PG_URL` set).

The missing piece is the parameter `--dynamic-json`. If you start your server with it, it does not show `UUID!`, but `String!`.

Can someone please confirm?

[2017-09-12 11:22] benjie commented on #583
Can confirm - bug in `--dynamic-json` 👍

[2017-09-12 11:47] benjie commented on #583
Published fix; confirmed working for me 👍

[2017-09-12 11:52] freiit commented on #583
..that was a fast fix! Can confirm. Works now. Thanx. :+1:

[2017-09-12 11:52] #583 closed

[2017-09-13 11:14] mattbretl commented on #47
Here's my first shot at a v4 plugin:

[code]

This adds a new `filter:` arg and does not change the existing `condition:` arg.  I believe I've implemented everything in @benjie 's proposal [above](#issuecomment-323295327), with the exception of logical operators (and/or/not).

If anyone wants to try this out, you can save the code above as PgConnectionArgFilter.js and use the --append-plugins opti

[2017-09-13 11:27] freiit commented on #47
This is super cool and I was actually looking for this already :+1:
What do you think if you name the operators according to the query selector from mongodb? https://docs.mongodb.com/manual/reference/operator/query/#query-selectors
They seem to be a sort of standard these days...

I don't have time to try this out now, but have a look next week.

[2017-09-13 11:31] benjie commented on #47
This looks really promising! 🎉

Please change lines such as:

[code]

to:

[code]

This way additional plugins can extend these filters e.g. to add full text search or whatever.

Personally I'd split this into multiple plugins so that "equality" is in the base plugin and other features can be added additively so people can pick and choose which filters they want. The `null` filter could be added t

[2017-09-13 11:33] benjie commented on #47
(In general GraphQL API's tend to use more verbose/descriptive field names rather than short abbreviated ones, so I support using `greaterThanOrEqualTo:` over `gte:`; GraphQL tools can help auto-complete these for you so it shouldn't be much more effort for the programmer and it's easier to read.)

[2017-09-13 14:37] benjie commented on #569
Further we should not overwrite a role set in pgSettings with the one from pgDefaultRole.

https://github.com/postgraphql/postgraphql/blob/0d1c04bc780164d4349bc3c5b71b99a10f1c4728/src/postgraphql/withPostGraphQLContext.ts#L164-L174

[2017-09-14 10:35] EyMaddis opened #584 "[v4] null values ignored when creating objects"
Hi,
it is impossible to use `null` values when creating new objects, as it will be filtered out in the SQL insert.

I already created a [breaking test PR in graphile-build](https://github.com/graphile/graphile-build/pull/71).

[code]

will result in something like this (adapted by hand, maybe not perfect):

[code]
Note the absence of "nullable_field".

This introduced a breaking change when switch

[2017-09-14 10:37] benjie commented on #584
I guess we're doing a value check rather than a key check; though I'm not sure if the GraphQL specification actually differentiates between these two cases.

[2017-09-14 10:38] EyMaddis commented on #584
@benjie it does: https://github.com/facebook/graphql/pull/83

[2017-09-14 14:33] pencilcheck commented on #256
I'm also encountering this issue now, wondering what is the current workaround? Has there been any changes?

Also based on the post, what would be the value format of the string be when updating a point type attribute?

[2017-09-14 14:37] benjie commented on #256
https://github.com/graphile/graphile-build/blob/master/packages/graphile-build-pg/src/plugins/PgTypesPlugin.js

This plugin currently registers all the types we support explicitly. It should be feasible to write another plugin that adds support for additional types, but I'm afraid there's no documentation around it currently.

Regarding the string format, you should look this up in the relevant do

[2017-09-14 14:40] pencilcheck commented on #256
Thanks for the swift response. The plugin system in v4 looks very promising for extensibility.

When you mean relevant documentation, do you mean this?
https://www.postgresql.org/docs/9.4/static/datatype-geometric.html

If so, does it mean if I pass "(3, 4)" as string and postgraphql should automatically store it and cast into a point value?

[2017-09-14 14:45] benjie commented on #256
Try it; see what happens! PostGraphQL won't convert it to a point value, but PostgreSQL might.

[2017-09-14 14:52] pencilcheck commented on #256
Just tested, it seems to work!

[2017-09-14 21:00] chris-guidry commented on #491
I ran into this same issue and found that creating a type and using, `RETURNS setof my_type` worked as well.

[2017-09-14 21:05] chris-guidry opened #585 "Function With Parameters Gets Classified as a Mutation Instead of a Query"
I have some functions that return select queries based on input parameters and don't "mutate" any data. I would think these could/should be available as queries, but PostGraph treats them as mutations. Is there some way to modify such a function to show up as a query?

[2017-09-15 03:09] benjie commented on #585
You need to mark the function as stable which informs postgres that it doesn't change anything.

https://www.graphile.org/postgraphile/custom-queries/

[2017-09-15 06:42] chadfurman commented on #92
The goal here is to have postgraphile generate "subscription" graphql schema as well as to create and maintain the subscription channel.  Moreover, we need a way for a trigger in the database to emit an event to the browser clients.

For super-simple custom subscriptions, I'd be fine with pushing a simple eventName down a pipe and letting the client-side poll for what it needs after that  Certainl

[2017-09-15 07:43] benjie commented on #92
Yeah, that's where I plan to start, just generic subscription infra with a field name like "subscribe" that you can pass a string key to, and optionally a "publish" mutation that does the reverse for peer-to-peer pub/sub.

I'm not sure how to limit the subscription messages to only the people who are meant to be able to see them; I was thinking running the subscription name through a postgres func

[2017-09-15 13:32] chris-guidry commented on #585
Ah, great, thank you @benjie!

[2017-09-15 13:32] #585 closed

[2017-09-16 12:34] chadfurman commented on #92
I like the table idea, which might also be able to help through RLS

I also feel a postgres function to "direct" the message (on publish) would be useful. Something custom so I can say, "msg came from user 2 who is in room 3 so everyone in room 3 gets this message" or "msg came from admin, allow it." vs "non-admin said 'start' but is not authorized"

[2017-09-16 12:35] chadfurman commented on #92
I guess I'm thinking more.like a postgres event emitter that clients can subscribe to, rather than p2p

[2017-09-16 22:50] jmealo commented on #92
Do you want to allow clients to subscribe and then check if they're allowed to subscribe OR do you want to have the subscriptions implicit?

Implicit subscriptions meaning "this student in Math-07 gets all Math-07 course messages, messages directed to themselves, messages for the Class of 2018, messages for their campus".

Instead of writing code to check ACL against incoming subscriptions, write

[2017-09-17 07:13] benjie commented on #92
Keep in mind that PostGraphQL knows nothing of your user system/etc so any system we implement has to be generic enough that it fits almost all use cases whilst still being efficient/performant.

I'd like to see concrete examples in terms of GraphQL subscription queries and the SQL calls they trigger/events they listen for of the different things you outline; for example how do you see implicit su

[2017-09-17 13:50] chadfurman commented on #92
@jmealo implicit subscriptions sound super ~sexy~ cool.  @benjie In postgraphile, would it make sense to support a "subscriptions" schema (with a cli flag to rename it).  The tables in the schema could be exposed as subscriptions, and the RLS policies on those tables would determine which users would be notified when a new event is "inserted" into the table (as well as which users could insert eve

[2017-09-17 14:27] benjie commented on #92
Chad, how do you imagine us leveraging the RLS policies at event time? Concrete examples would be useful - are you suggesting writing to the table for the event and then for each subscriber reading from the table to determine if they can see the event or not; or do you have a more efficient implementation in mind?

[2017-09-17 15:02] chadfurman commented on #92
@benjie  Good catch. I was thinking write -> trigger read -> trigger delete.  Wasn't thinking about efficiency.

I took a step back this time and re-read http://graphql.org/blog/subscriptions-in-graphql-and-relay/

They're using [event-based subscriptions](http://graphql.org/blog/subscriptions-in-graphql-and-relay/#event-based-subscriptions) (i.e. explicit) because [live queries](http://graphql.or

[2017-09-17 15:35] chadfurman commented on #92
This might help in terms of mentalization: https://embeddedtek.blogspot.com/2015/06/real-time-web-interface-to-mqtt-using.html

[2017-09-17 16:00] chadfurman commented on #401
@benjie this is now 100% possible in v4 right?  You'd just hook "GraphQLObject:fields" (or whatever it's called) and pop off the ones you don't want from the CreateThingInput yes?

[2017-09-17 16:03] chadfurman commented on #546
@abegong not sure what version of postgraphql are / were on, however 9.4 is currently marked as the minimum required version for https://github.com/postgraphql/postgraphql/pull/506  -- I think this ticket is old and could be closed.

[2017-09-17 16:07] chadfurman commented on #92
This looks like the place to continue the auth discussion:  https://github.com/postgraphql/postgraphql/issues/40

[2017-09-17 19:16] benjie commented on #546
https://www.graphile.org/postgraphile/requirements/

Officially we only support --watch on 9.6+ - it's seen as a "nice to have" so we're okay with making people run PostgreSQL versions from the last 2 years to get it 🙂

[2017-09-17 19:16] #546 closed

[2017-09-17 19:19] benjie commented on #401
https://www.graphile.org/postgraphile/extending/#removing-things-from-the-schema

It's currently possible but the DX around it is non-optimal so I'm going to keep this issue open as a reminder to make it easier.

This is going to be an easier way of doing this kind of thing, but I'm not sure if this exact use case is covered yet:

https://github.com/graphile/graphile-build/pull/73

[2017-09-17 21:51] benjie commented on #92
I'm not too worried right now about the specific technology for handling the pub/sub (listen/notify, redis, mqtt, rabbitmq, etc) I'll probably make this part pluggable, there'll be one "source of truth" and the others (if any) will syndicate into/out of it.

I'm not too worried now about how the events will be triggered (e.g. In custom PostgreSQL events probably via NOTIFY in a hook that syndicate

[2017-09-18 05:13] chadfurman commented on #577
@benjie this is closed now because of https://github.com/graphile/graphile-build/issues/62 correct?

[2017-09-18 05:16] chadfurman commented on #563
@EyMaddis in v3, are you saying the `data` field isn't there?

If we change this at this point, it's a breaking change.  Some people might be relying on the combination of errors and data:null to indicate specific failure reasons.

[2017-09-18 05:17] chadfurman commented on #485
@benjie we should document the way to return error messages to the UI from the DB

[2017-09-18 07:50] mathroc commented on #92
Hi,

I like, option 2 the best because it seems to always do the right thing from a user perspective, where other options either send unexpected event (1), send events that are not expected anymore (3) or does not send events that were not authorized but now are (4)

not for option 2, maybe the implementation could decide also have a filter function to be called on subscription (to avoid registeri

[2017-09-18 08:49] benjie commented on #485
Yes; feel free to open a separate issue for that, and help with it would be very welcome!

[2017-09-18 08:51] benjie commented on #577
I'm going to leave it open until there's documentation around it (I'm still treating it as alpha quality until then, and reserving the right to make small changes); but thanks for checking 👍

[2017-09-18 08:53] benjie commented on #577
This is what counts for documentation currently:

https://github.com/postgraphql/postgraphql/pull/506#issuecomment-328831456

[2017-09-18 09:00] benjie commented on #563
If the behaviour between v3 and v4 differs then the v3 behaviour wins unless there's a good reason to change it. Every version bump of v4 alpha should be seen as a major bump - it's an alpha. Once it's at general availability we will be making schema changes breaking changes but we're not there yet.

I've not decided which behaviour is the correct behaviour in this issue yet, haven't had time to l

[2017-09-18 09:39] benjie commented on #92
Thanks for your feedback 👍

One issue with your proposed simpler function is that it's going to require a function call for each event for each subscriber to that event; so if you had 100 events per second and 100 subscribers per event that'd be 10,000 function calls (each one issuing an SQL query) per second, as opposed to just 100 in my proposed function. A more efficient SQL query might be:

[c

[2017-09-18 11:16] mathroc commented on #92
yes calling the function for every subscriber comes with a performance hit, I’m suggesting only adding it for convenience but still having the function you proposed. maybe the little gain is not worth the performance implication and the added maintenance burden

[2017-09-18 15:00] cschroeter opened #586 "Default value "now()" is not applied on create, column set to null"
Given the following schema:

[code]

If I add a user like this

[code]

a valid user with an id, name and timestamp has been created.
But If i use graphiql with this mutation

[code]

the createdAt field is null.

[2017-09-18 15:11] benjie commented on #586
Can you confirm which value of PostGraphQL you're using? Specifically I'm interested to know if the issue occurs in both `@latest` and `@next` or only one. You can run the specific versions via `npx` without messing up your environment; e.g.

[code]

[code]

[2017-09-18 15:33] cschroeter commented on #586
Works with @next not with @latest :)

[2017-09-18 15:36] benjie commented on #586
I'm probably not going to fix it then; but if you wish to open a PR to fix this in v3 please do.

More information on `postgraphql@next` is available in #506; it's still in alpha currently but is already quite widely used and seems stable (though new versions might bring small breaking changes until it goes on general release).

[2017-09-18 15:38] cschroeter commented on #586
Thanks for the fast response. I am fine with using @next version.
Keep up the good work. It is an amazing library !

[2017-09-18 16:38] benjie commented on #586
👍  Closing as fixed in v4.

[2017-09-18 16:38] #586 closed

[2017-09-18 16:55] EyMaddis commented on #563
@chadfurman in v3 it returns `{ data: { removeUserById: null }}` in v4 that is: `{ data: null }`.

@benjie I would say that the v3 way is the correct one, as I could also query other information within one request. This either breaks with this behavior (did not verify this) or you have to use always check if `data` exists...

[2017-09-18 17:16] benjie commented on #563
I suspect what has happened here is that I've marked it as "non null" and thus GraphQL has cascaded the null upstream to the root, which is **definitely** not what we want.

However; what I'd expect is to be able to get `{ data: { removeUserById: { clientMutationId: "...", result: null } } }` so I'm not sure either v3 or v4 are correct. I'm going to have to read the Relay mutations specification a

[2017-09-18 18:19] chadfurman commented on #485
Which is the repo for the docs again?  is it https://github.com/graphile/graphile.github.io for both postgraphile / graphile?

[2017-09-18 19:41] benjie commented on #485
That's correct 👍

[2017-09-18 19:45] chadfurman commented on #485
@benjie done

[2017-09-19 11:07] #584 closed

[2017-09-21 00:58] pencilcheck commented on #47
Haven't fully tested the code but added DateFilter
https://gist.github.com/pencilcheck/cb71850937c0341a9b06a7f8fdee14fd

[2017-09-21 14:03] edqallen opened #587 "Documentation / Example for "Wrapping an existing resolver""
I have a system using postgraphile as a library in an express application and so far things are working pretty well, but I'm hitting a snag.  I want to do some input validation for mutations within express -- not via triggers/constraints/etc within pg.  My thought was to do this via a plugin as documented here: https://www.graphile.org/postgraphile/extending/#wrapping-an-existing-resolver

However

[2017-09-21 23:35] benjie commented on #587
My apologies for being lazy in the docs and using the stage three object spread syntax - it's not officially in the language yet (hopefully it'll be in ES2018) so I should have done that with Object.assign instead.

https://github.com/tc39/proposal-object-rest-spread/blob/master/README.md

Nonetheless, I be

[2017-09-21 23:39] benjie commented on #587
Ugh, mobile...

Nonetheless I believe you can use the syntax on Node v8.5+

Failing that you could transpile your code with Babel or switch to using Object.assign for spreading and maybe something like lodash's "omit" to get an object with some keys omitted.

[2017-09-22 15:49] benjie commented on #563
So I read the mutations spec and it doesn't really account for errors. I'm not sure what `clientMutationId` is for, nor how it's handled if an error occurs and hence it ends up missing. I think it might be an artifact of how Relay classic worked anyway, so I'm not sure how important it is.

I've changed mutation payloads back to nullable which should solve this.

[2017-09-22 16:08] #563 closed

[2017-09-22 16:36] pyramation opened #588 "dynamic introspection and/or multiple graphql schema groups in memory"
I have a use case for serving more than one graphql endpoint, for example, currently I'm serving from `localhost:5000/graphql` to do graphql queries, and I have to know which schemas I want to serve ahead of time, starting the node process in order to do so. If I need to serve a 2nd API from the same database, I have to create a 2nd node process, which makes scalability possible but more costly $$

[2017-09-22 16:52] benjie commented on #588
Have a look at this issue; feel free to ask follow-up questions.

https://github.com/postgraphql/postgraphql/issues/427

[2017-09-22 19:56] benjie commented on #508
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2017-09-22 19:56] #508 closed

[2017-09-22 20:01] benjie commented on #490
v4 inflectors are now exposed, I've not documented them properly yet, but you can use them:

https://github.com/postgraphql/postgraphql/pull/506#issuecomment-328831456

[2017-09-22 20:05] benjie commented on #438
@chadfurman Have you been using this functionality? Does it work? I've not got any tests in place for it yet.

[2017-09-22 20:13] benjie commented on #393
There are RLS performance issues in Postgres 9.5 and 9.6 which are solved in Postgres 10 - I'm quite excited for its release!

One of the PostGraphQL users has also stated that a very large query they run now takes 1/4 of the time to execute and 1/10 of the RAM with v4; so our performance improvements are also promising. Would love to get some more stats on this from others.

[2017-09-22 20:26] chadfurman commented on #438
@benjie I've been making all my functions with parameters "strict" -- I have not tested this functionality yet.  Assign me this ticket and I'll report back on my findings.  If everything goes well, I'll add something to the docs, as well.

[2017-09-22 20:30] mattbretl commented on #47
I just started a new repo for this effort:
https://github.com/mattbretl/postgraphile-filter-plugins

Improvements:
- [x] Support `and` and `or` logical operators.
- [x] Support additional types: Date, Time
- [x] Support additional operators: isDistinct, isDistinctFrom
- [x] Allow Mongo-style operator names by toggling a const at the top of the plugin.. I don't plan to use these personally, but I d

[2017-09-22 20:58] benjie commented on #47
Rather than using `const useShortNames = false;` you can/should make it a plugin option, e.g.:

[code]

See: https://www.graphile.org/graphile-build/plugins/#plugin-arguments

This statement makes me happy 😁

Looks good from a quick scan 👍 You could expose an index.js which automatically composes these plugins, assuming they can just be appended to the list? That would make it easier to consume. Y

[2017-09-23 07:55] mattbretl commented on #47
Your improvement exposes the option to `buildSchema(plugins, options)`, but as far as as I can tell, the options passed when calling `postgraphql` don't pass through to `buildSchema`.  What am I missing?

[2017-09-23 10:40] benjie commented on #47
postgraphile-core acts as a gateway, you can use graphqlBuildOptions to pass through additional options (this will be renamed soon)

https://github.com/graphile/graphile-build/blob/master/packages/postgraphile-core/src/index.js

[2017-09-23 11:07] mattbretl commented on #47
👍 Updated the repo

[2017-09-23 12:25] pyramation commented on #588
thanks @benjie. I apologize for not finding this one!

[2017-09-23 13:22] benjie commented on #588
Reopening this as a documentation issue 👍

[2017-09-23 17:21] arpowers commented on #92
I like option #1, solely because it's simplest and most intuitive. The other considerations seem a bit like premature optimization.

As you state in option 1, no specific information will be accessible without privs. so it's a working solution.

Do that and add a filter for edge cases and people that over engineer everything.  😉

[2017-09-23 17:23] arpowers commented on #92
Simple always wins! It's 80% the reason for the success of this project :)

[2017-09-23 18:28] chadfurman commented on #92
I like 2 and 4.  Rather than passing in a list of subscribers, you have a subscription table and a filter query (not RLS).  The filter-query selects from the subscriptions table the users who are permitted to be subscribed

Then, we can have two subscription types -- RLS (slow) and non-RLS (performant, less secure).  non-RLS subscriptions would be best run as a special "subscription" role that has

[2017-09-23 18:32] chadfurman commented on #587
@edqallen I'm working on an example boilerplate here:  https://github.com/chadfurman/rpg-boilerplate

I'm using some other things which might be confusing (i.e. react, relay, etc), however the webpack config in the frontend/config folder might be useful to you.

I'll be adding in documentation and testing/debugging it today.

[2017-09-24 00:55] pencilcheck commented on #351
Looks like the ticket was for documentation.

Let me copy and paste my comment here so everyone knows:

------------------------

Even though heroku doesn't allow create role, but it doesn't limit anything else (e.g. grants).

I have a workaround. Heroku actually allows you to create new credentials (roles) but only through their heroku API
https://devcenter.heroku.com/articles/heroku-postgresql-c

[2017-09-24 03:34] chadfurman commented on #587
Update: Example is in place.  I've included a plugin here: https://github.com/chadfurman/rpg-boilerplate/blob/master/api/src/plugins/PluginName.js

You can use this boilerplate to test out additional plugins, as well!

@benjie I suggest we close this ticket, and we can re-open it if he needs us?

[2017-09-24 07:50] benjie commented on #587
I think the issue relates more to the use of ES2018 syntax in the docs, which still requires solving.

[2017-09-27 15:11] edqallen commented on #587
I haven't forgotten or abandoned this issue, I just haven't had time until now to look at your responses in detail.  We are currently using node 6 for our server, since that is the current LTS version.  It sounds like that is what's preventing the existing examples from working, and may prevent @chadfurman 's from working as well?

My goal here is simply to provide some data validation before the

[2017-09-27 16:55] edqallen opened #590 "Input validation in the middleware (additional scope required in `fieldWithHooks` call)"
After getting the example working thanks to #587 and searching here, I'm hitting a bump when trying to implement custom input validation in the middleware.  For various reasons, we would prefer not to do this in PG.  Ideally I'd like to be able to just intercept any update or create mutation and get a handle on the table/class name the mutation is targeting, and all the fields being sent in the pa

[2017-09-27 18:14] benjie commented on #590
Sorry I cannot go into detail in this today, I can try and give some pointers though. When you hook up your override you have access to the Context object (the third argument passed to your hook) and within that is a field called “scope” which contains a field called “pgIntrospection” (or something like that, scan through the existing plugins for the correct name) which represents the entity (most

[2017-09-27 18:18] benjie commented on #590
Actually it seems the fieldWithHooks call doesn’t add any context so it’s going to be harder to auto-detect. I’d consider a PR that adds pgIntrospection and isPgCreateField to the fieldWithHooks call so you can hook this more easily.

https://github.com/graphile/graphile-build/blob/master/packages/graphile-build-pg/src/plugins/PgMutationCreatePlugin.js

[2017-09-27 19:23] johndpope opened #592 "is it possible to create a database from graphql schema?"
I'm using this
https://github.com/graphcool/graphql-cli
and have a corresponding  .graphql file from a valid end point.

[2017-09-27 19:25] chadfurman commented on #587
Node 6 will require a transpiler for ES6 features.

Client-side data validation is outside the scope of PostgraphQL -- however, if you're using the RPG Boilerplate (which uses docker containers and bundles node 8.5), then please open a ticket in that repo and we can discuss.

In general, if you don't want to use constraints and checks on fields in your DB (you probably should -- database-level dat

[2017-09-27 19:28] chadfurman commented on #587
I see you've started a discussion over in #590 about input validation.

@benjie https://github.com/graphile/graphile.github.io/issues/22  ticket created for docs w.r.t. ES2018

[2017-09-27 19:41] benjie commented on #592
We don't have any tools to provide this functionality currently; handling migrations may also be a challenge. Interested to see what people come up with though!

[2017-09-27 19:42] benjie commented on #587
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2017-09-27 19:42] #587 closed

[2017-09-27 23:26] chadfurman commented on #592
I would say that the hardest part of migrations will be separating out the types in the schema and resolving their dependencies.  At that point, put each block of SQL in its own file (see https://github.com/chadfurman/rpg-boilerplate/tree/9c56226eafb391471756ed71a24f7b7d07bdb9c0/db/deploy)

And this would be a one-off thing (right?) so no need to track changes over time.  Future changes that affec

[2017-09-28 00:34] johndpope commented on #592
I wonder  if
 providing you had the schema and graphql is all about exposing models via API
 - you could then simply start polling all models for data - and start populating database.
it's sketchy - but would be interesting to see how far it could go.

[2017-09-28 00:40] pencilcheck opened #593 "Filter by computed columns?"
I can't see the filter for the computed columns I wrote, I wonder if this is even designed to be possible?

[2017-09-28 01:59] chadfurman commented on #593
Could you give an example with SQL / code?

[2017-09-28 02:58] chadfurman commented on #92
relay modern just updated their subscription spec: https://facebook.github.io/relay/docs/subscriptions.html

[2017-09-28 05:19] benjie commented on #593
Currently we do not support filtering by computed columns in core, but it would Not be a complex plugin to add support I think.

[2017-09-28 07:12] magom001 commented on #586
Hi, I have the same issue. Using postgraphql 3.5.0 as a middleware. Column create_at default now() empty value when creating new rows from postgraphql.

[2017-09-28 07:26] itaied246 opened #594 "How to execute complex filter queries?"
I have installed and launched `postgraphql` from `npm` and open `graphiql`.

I have a simple database schema,
but I couldn't find a way to execute complex filters like:

Querying `todos` from the last hour

[code]

Querying tables with a certain number of legs:

[code]

Is it possible to filter like that or all of the queries are simple equality and I have to create stored procedures for this?

[2017-09-28 07:48] mattbretl commented on #594
I recently released this:  https://github.com/mattbretl/postgraphile-filter-plugins

If you have any questions or feature requests, feel free to open a new issue there.

[2017-09-28 08:47] benjie commented on #586
I'd be happy to merge a PR that fixes this for v3. If you're happy running a late alpha, you can also try v4 with `npm install postgraphql@next` (see #506) but beware that (subtle) schema changes are still possible at this stage.

[2017-09-28 08:51] benjie commented on #594
(@mattbretl's plugin is for v4 of PostGraphQL which you can install via `npm install -g postgraphql@next` - see #506 for more info.)

Stored procedures are the only built-in way to do this currently (and are the only way to do this in v3 fullstop) but v4 allows extensions via plugins - check out @mattbretl's one above which looks like it should solve your needs, or at least provide a base!

[2017-09-28 09:33] magom001 commented on #586
Sorry, Benjie! Just figured it out. Removed postgraphql from dependencies and installed postgraphile. Now it works like a charm.

[2017-09-28 12:58] pencilcheck commented on #523
Currently I use multer and multer-s3 combo and create a upload file endpoint in backend, then I update the result to the graphql server

[2017-09-28 13:02] pencilcheck commented on #593
@chadfurman add any computed columns (e.g. stored procedure), and try to open graphiql and look into any function that provides $condition parameter and see if you can find the computed column you created. If you can find it that would be awesome. I currently can't.

[2017-09-28 13:03] pencilcheck commented on #593
@benjie What would you recommend I can look into to get started on writing this plugin?

[2017-09-28 13:24] edqallen commented on #587
Closing is fine by me.  @chadfurman I do want to do the validation server side, just not in the PG server.  We don't really want to use anything more complex than simple constraint checks on the PG side since maintaining and testing them is somewhat difficult, adding or modifying them requires a db migration, and the node server scales easier than the pg server.  Some of our use cases involve calc

[2017-09-28 15:14] benjie commented on #432
Raising the priority of this because I've hit it again; and v4 would be the perfect time to introduce a breaking change for the better.

[2017-09-28 15:23] benjie commented on #593
@pencilcheck I'm afraid the documentation is still emerging; but I'd start here:

https://www.graphile.org/postgraphile/extending/

And also with the plugin that adds `condition:` to connection args:

https://github.com/graphile/graphile-build/blob/master/packages/graphile-build-pg/src/plugins/PgConnectionArgCondition.js

And also with @mattbretl's plugin that adds more advanced filtering:

https:

[2017-09-28 16:27] edqallen commented on #590
@benjie I'm looking through and poking at the code you mentioned but it's not really clear to me what I should be doing.  I don't really have any experience in this sort of JS development, as until a week or two ago my experience was limited to purely client-side stuff with jquery et al.

Adding another parameter around line 232 (after the `getDataFromParsedResolveInfoFragment` block) doesn't caus

[2017-09-28 18:41] benjie commented on #590
So basically, the field with hooks call:

https://github.com/graphile/graphile-build/blob/d2da24040a6a352679b5985b4829634f32396e7a/packages/graphile-build-pg/src/plugins/PgMutationCreatePlugin.js#L135-L140

...

https://github.com/graphile/graphile-build/blob/d2da24040a6a352679b5985b4829634f32396e7a/packages/graphile-build-pg/src/plugins/PgMutationCreatePlugin.js#L220-L223

Only uses the call sign

[2017-09-29 15:06] johndpope commented on #592
I updated this swift code which introspects an endpoint then spits out a bunch of files based off schema. The original code had some coderot - and had to rebuild a chunk.  Not sure your fluency in swift / but  I threw up the sample generated code

graphql-code-gen  url=http://YOURGRAPHQLENDPOINT
https://github.com/johndpope/graphql-swift-codegen/tree/binary-examples/examples

there's also this lib

[2017-09-29 18:23] chadfurman commented on #592
GraphQL would handle relationships nicely -- everything is typed and so figuring out where types are used and how might be easier by looking at arrays for one-to-many, and UUIDs for many-to-one.  Not sure about other use-cases.

 In terms of inheritance, I'm not sure how that applies in a relational database topology -- could you elaborate?

[2017-09-29 21:03] benjie commented on #592
I really want to implement inheritance in PostGraphQL using PG table inheritance. It’s on my near- to mid-term todo list.

[2017-10-01 08:36] knqyf263 commented on #576
@benjie I'm sorry to be late due to my long business trip.

First, I tested `graphile-build`.

[code]

Then, I tried to run `scripts/dev`, but I got the following error.

[code]

I tried to find the cause, but I couldn't.
Please let me know if you know the cause of this error.
Thanks.

[2017-10-01 08:52] ansarizafar commented on #488
Could you please further explain following points with an example.

[2017-10-01 11:32] benjie commented on #488
Raise it as an issue against graphile.github.io repo and I’ll write an article about it at some point.

[2017-10-01 11:37] benjie commented on #576
It’s probably that there are multiple different instances of the pg module in use - PostGraphQL and postgraphile-core need to use the exact same pg module.

[2017-10-02 02:32] ortonomy commented on #248
@fasiha -- this is sooo good

[2017-10-02 03:13] chadfurman commented on #375
:+1: for missing_okay.  For other exceptions I'd like to run many queries and get the results where I can see them / the queries work, and to get `null` and `errors` for fields that give problems.  Same would be true for computed columns

[2017-10-02 07:27] benjie commented on #375
I think GraphQL sees the fields in the root selection set of a GraphQL mutation document as independent, so I’ve wrapped each of them in savepoints. If you believe this is incorrect behaviour speak now! https://github.com/graphile/graphile-build/pull/59

[2017-10-02 08:33] ortonomy opened #596 "Method for hiding auto-introspected functions (graphql and graphiql)"
I have designed a postgres schema for an application I'm building, and used the wonderful postgraphql tutorial as a basis for the user registration and login.

This includes separating out the ``user_account`` table into a ``private`` schema (for password_hash, email), a ``user`` table for other details (real name, username, etc.) and a function that can be executed by the ``anon`` user like the i

[2017-10-02 08:36] benjie commented on #596
You want `--disable-default-mutations`

https://www.graphile.org/postgraphile/usage-cli/

[2017-10-02 08:41] ortonomy commented on #596
@benjie -- damn that was fast! Thank you for the response.

I've just updated my initial question with this:

If I wanted to keep some of the default mutations -- would this be a practical solution?

[2017-10-02 08:56] benjie commented on #596
Ref #595

[2017-10-02 15:32] pyramation commented on #491
When using `postgraph@next`, I'm running into this error. I tried to create a table, and this works, however, it feels extremely superfluous to have a table that never is used to store any data, so I'd like to try and use a type. I tried to create a type, and am running into the issue even if the type is defined. Any clues?

[code]

[2017-10-02 15:59] benjie commented on #491
The error's here:

https://github.com/graphile/graphile-build/blob/d2da24040a6a352679b5985b4829634f32396e7a/packages/graphile-build-pg/src/plugins/makeProcField.js#L130

Looks like you've got a `RETURNS SETOF mytype` function? We can't find a connection with the relevant name:

https://github.com/graphile/graphile-build/blob/d2da24040a6a352679b5985b4829634f32396e7a/packages/graphile-build-pg/src/p

[2017-10-02 16:01] benjie commented on #491
(Oops, didn't mean to send that)

Which should have come from here:

https://github.com/graphile/graphile-build/blob/d2da24040a6a352679b5985b4829634f32396e7a/packages/graphile-build-pg/src/plugins/PgTablesPlugin.js#L253-L297

Have a poke around at the conditions and see what you're hitting up against. This is a bug though, most likely. Please provide a minimal pg_dump and `postgraphql` call (eithe

[2017-10-02 21:40] chadfurman commented on #491
It's also important to make sure the type is in the same schema

[2017-10-03 04:30] veebuv commented on #47
Thanks for this update @mattbretl , could you give an example on how you'd do this request from the front end, we keep getting blocked with "argument filter has invalid value" - at the moment we're doing requests as

exampleRequest(filter: {
  equalTo: {
    jobs: {
      rate: 27
    }
  }
})

[2017-10-03 07:30] benjie commented on #47
I think it’s the other way around: filter { rate { equalTo: 27 }} ?

[2017-10-03 08:04] mattbretl commented on #47
@benjie's example should work, assuming it fits your schema.  Did you intend to nest 'rate' under 'jobs'?  At the moment, the plugin doesn't support querying on nested (related) fields.

Also, please make sure you're using the latest master from https://github.com/mattbretl/postgraphile-filter-plugins..  I committed a few fixes last week.

[2017-10-03 08:35] veebuv commented on #47
@benjie @mattbretl thank you so much for your feedback!

It should be filter { rate { equalTo: 27 }} my apologies for the nesting.

Yes we pulled down the latest from master and started with the index file - we're getting a Uuid issue, but i'm assuming so thats a problem pertaining to our end

Thanks nonetheless!

[2017-10-03 08:56] benjie commented on #47
Do feel free to raise that as a separate issue if you can't get to the bottom of it 👍

[2017-10-03 09:12] veebuv commented on #47
Absolutely will do @benjie , thanks for the support and feedback! This has saved my team weeks of work!

[2017-10-03 13:53] veebuv commented on #47
@benjie Turns out theres been a change from Uuid to UUID which was crashing our app when we upgraded to v4! :)

[2017-10-03 14:09] filtudo opened #597 ""Postgres client on context is of the incorrect type."error"
Hello,

I have a issue using using withPostGraphQLContext.

Everything works fine if i comment out the part that checks that the instance of client matches pg.Client:
https://github.com/postgraphql/postgraphql/blob/1da6f51837b9cce897e12d728142235d69885700/src/postgres/inventory/pgClientFromContext.ts#L21

Im currently creating a new pool with new pg.Pool(config); but i also tried with the library

[2017-10-03 14:55] chadfurman commented on #92
More fuel for the fire: http://antirez.com/news/114

[2017-10-03 15:42] peay opened #598 "Aliases for table names"
To roll out schema changes, I am experimenting with deploying a new version of certain tables (say, with a `_v2` suffix) and testing a bit the API before making it available.

To this end, I've been looking for a way to "alias" table names: being able to refer in queries to `objectName`, and have some internal mapping in PostgraphQL that says whether `objectName` is table `object_name_v1` or `obje

[2017-10-03 17:36] jmealo commented on #92
@chadfurman: great find. I was able to get generic WAL messages support into JSONCDC: https://github.com/posix4e/jsoncdc

You can send the PostgreSQL WAL messages into Redis while publishing them to NATS (and possibly HTTP) all using text-based protocols which make it possible to use shared memory or do verify few allocations.

I was doing this in LuaJIT because the FFI to RapidJSON* blows Node.js

[2017-10-03 18:47] benjie commented on #47
That is mentioned in the breaking changes in #506; if someone fancied writing them up as an article on graphile.org that'd be welcome - probably easier to reference!

[2017-10-03 18:48] benjie commented on #597
I'm guessing you're using pg@7.x; PostGraphQL only supports pg@6.x at this time.

[2017-10-03 18:49] benjie commented on #597
Ref #550

[2017-10-03 18:52] benjie commented on #598
If you simply mean renaming the tables you can do so using the v4 inflector. It's not "official" yet and may undergo breaking changes before the final v4 release, but it should be enough to scratch your itch.

https://github.com/postgraphql/postgraphql/pull/506#issuecomment-328831456

[2017-10-03 21:51] chadfurman commented on #92
@jmealo will jsoncdc work with Amazon RDS?  If so, I'd love to use it.  If not, I'll need to find something else.  I'm thinking it probably won't work as it's not listed as a compatible extension: https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_PostgreSQL.html

[2017-10-03 22:42] chadfurman commented on #594
@benjie we need to collect community extensions and projects in a central spot -- I came up with this for now: https://github.com/graphile/graphile.github.io/issues/24

[2017-10-03 22:45] chadfurman commented on #587
yes, server-side validation with the v4 plugin system sounds like what you need :)

[2017-10-03 22:47] chadfurman commented on #432
barsByFooId will work, though, right?  It just returns a collection with only one element?

And is it a breaking change because it introduces a new function name?

[2017-10-03 22:48] chadfurman commented on #593
@pencilcheck thank you, I wasn't sure exactly what you were saying and I appreciate the clarification

[2017-10-04 01:46] jmealo commented on #92
@chadfurman: It's not currently supported. I put in a request on 9/27 for support to be added to Core RDS. Aurora doesn't currently support outbound replication (so no logical decoding). I've been very mindful in the past to try to support managed services but I'm concerned this could become a problem over time as it's becoming somewhat limiting.

[2017-10-04 06:00] peay commented on #598
This looks pretty great, thanks, will give it a try!

Do you already have a timeline in mind for when this could graduate into an official release?

[2017-10-04 08:27] benjie commented on #594
Works for me 👍

[2017-10-04 08:32] benjie commented on #432
It's a breaking change because if we detect the relation to be one-to-one we'd be removing the false one-to-many relationship that's currently present and using the one-to-one instead.

I think we can detect it quite easily: if the reference is on a primary or unique key then it's one-to-one.

We might be able to add some command-line flags to retain the previous behaviour, but that adds more work

[2017-10-04 08:39] benjie commented on #598
Not at the moment, sorry :(

[2017-10-04 16:27] JacobAMason opened #599 "Log levels"
Postgraphql seems to print out stuff to the terminal on every request it responds to. Is there a way to set the log level such that only errors are printed out?
I'm also fine with stdout/err manipulation to do this, if it's possible.

[2017-10-04 21:15] benjie commented on #599
The `disableQueryLog` option will disable the query log entirely:

https://www.graphile.org/postgraphile/usage-library/#api-postgraphilepgconfig-schemaname-options

https://github.com/postgraphql/postgraphql/blob/779a643898418bc732473025182710f2d5b843ef/src/postgraphql/http/createPostGraphQLHttpRequestHandler.js#L439-L449

We don't currently have an option to just output this when errors occur; I'

[2017-10-05 17:50] epeli opened #600 "How to connect using unix domain socket?"
I can connect to my database with psql with

    psql postgresql:///mydb?host=/var/run/postgresql

But how can I do that with postgraphql?

Doing

    postgraphql -c postgresql:///mydb?host=/var/run/postgresql

crashes with

[code]

[2017-10-05 19:04] benjie commented on #600
I couldn't find any documentation on that; but the tests for `pg-connection-string` suggest you can try something like:

`socket:/var/run/postgresql?db=mydb`

See:

https://github.com/iceddev/pg-connection-string/blob/13687353c9ecc4b2ea736ee0784a6a158a40a951/test/parse.js#L41-L46

Please let me know how you get on; if it works we ought to add it to the docs.

[2017-10-05 19:26] epeli commented on #600
Works! Thanks!

[2017-10-06 12:48] pyramation commented on #491
so I tried to create a reproducible test case. I just finished putting together an entire repo ready to share and then all tests pass in basic scenarios 😂

Is it possible that it is not defined yet as a result of a dependency resolution issue? For example, does graphile/postgraphql just take introspection results as ordered and create the graphql types/schemas? or do you do some type of introspect

[2017-10-06 13:08] benjie commented on #491
Sharing the shape of the function and the shape of the types it references would be valuable - we don't need the function body (replace it with `select null`). Also you can rename the function and the types:

[code]

I suspect the schemas you use are important here.

[2017-10-06 14:35] pyramation commented on #491
If I literally take the exact functions out of the codebase, keeping the shape identical with the actual code, the isolated case passes. So something outside of the particular schema/types is tripping up the system. We may need to coordinate a pg dump of some sort to find out what's happening

[2017-10-06 15:48] benjie commented on #491
If you do a full pg_dump and restore to a fresh DB, does it still happen? You have me intrigued. Even if it turns out to not be a bug, please share because I'd love to provide a hint to users who get the same issue. But I'm still thinking it's a bug.

[2017-10-06 16:24] pyramation commented on #491
Currently I have another app reading the exact same database and it has no issues. So there's something in the node or environment of this particular project causing issue bc introspection from a clean postgraph install on same creds works. Still digging... ;)

[2017-10-06 16:31] chris-guidry commented on #491
@pyramation have you checked to see if there are multiple instances of the function? I have run into issues after changing the input parameters where I end up with two functions that have the same name, but different input parameters and PostGraphQL doesn't let me use either one.

Also, does the other app have different permissions? It could be that it's not seeing the same objects and thus avoidi

[2017-10-06 18:28] newswim commented on #592
It looks like this is in fact possible, check out these projects:

[Gestalt](https://github.com/charlieschwabacher/gestalt) - A language extending IDL for declaring object relationships.
[Gestalt-Postgres](https://github.com/charlieschwabacher/gestalt/tree/master/packages/gestalt-postgres) - "The only database adapter (so far) for Gestalt. gestalt-postgres _generates a SQL schema_ and queries base

[2017-10-06 20:40] pyramation commented on #491
OK, so thanks to @benjie 's advice to check yarn vs npm, etc., I was able to clear my yarn cache, and after hitting this https://github.com/postgraphql/postgraphql/issues/550 issue, I pinned my `pg` to 6.4.0 and it works now!

[2017-10-06 21:18] benjie commented on #491
🎉

[2017-10-06 23:14] benjie commented on #592
I had forgotten I had a look a couple months ago; really neat stuff. It’s both the schema builder and the executor, so I’m not sure if it’d make sense to integrate it directly with PostGraphQL - better to use it standalone if it serves your needs. It’s a GraphQL-first project which is really cool, though the trade off is it’s harder to use PostgreSQL’s advanced features.

I don’t see any reason wh

[2017-10-09 15:36] benjie opened #602 "Proposal: deprecate Koa support in v4"
I've heard that our Koa support is a bit iffy, and we currently have no-one maintaining it, so I'm proposing that we remove Koa support and instead recommend people use `koa-connect` or similar. Native Koa support would be better, but with no-one to maintain it, it's a burden.

If anyone wants to step up to maintain the native Koa support in PostGraphQL please do so soon! Otherwise v4 is the perfe

[2017-10-09 20:59] ghost opened #603 "Foreign key and inheritancy"
For example:

[code]

This query works:
[code]

while this one don't:
[code]

[2017-10-09 23:13] benjie commented on #603
We don't currently support inheritance at all; however I have plans to build interfaces around it. There's a lot to do before I get around to that though. A PR adding support would be welcome!

[code]

[2017-10-11 09:18] SinHouse commented on #361
Hi, It seems than now the graphql specs allow to do nested mutations using a @relation new directive in a schema like this:
[code]
Nested mutation example:
[code]
More info:

- [Original article](https://blog.graph.cool/improving-dx-with-nested-mutations-698c508339ca)
- [Relay API example](https://www.graph.cool/docs/reference/relay-api/nested-create-mutations-ma6eijae7a/)
- [Simple API examples](

[2017-10-11 12:01] chadfurman commented on #361
I would say any spec-compliant feature is interesting to graphile-build (and Postgraphile / PostgraphQL by extension)

That said, and priority aside, @benjie will have to chime in on the possibility.

[2017-10-11 12:16] benjie commented on #361
I believe this can be achieved via a plugin, though we might not have all the hooks in place to enable it currently. I can't see myself looking at this in the next 6 months though; so if anyone else wants to take it on feel free!

[2017-10-12 21:23] angelosarto commented on #526
I took a look at this today and I can see the issue - this might be fixed by simply changing the homepage element in package.json to "./" as I think this will change how the relative paths are built in index.html.

secondly, the http request processor will need to modify to look for indexOf instead of startsWith in createPostGraphQLHttpRequestHandler.js

I can see if I can put together a PR that w

[2017-10-12 23:50] bradleyayers commented on #550
What actually needs to be done to add support for pg 7?

[2017-10-13 08:02] benjie commented on #550
Don't know; it could just be updating the versions across all the package.jsons. I've not looked into it or any breaking changes yet. Have a read of the v7 changelog and let us know! 👍

[2017-10-13 08:04] benjie commented on #526
Thanks for looking into this @angelosarto. One comment on your proposal: looking for `indexOf` is quite dangerous - then it could appear anywhere in the query string e.g. `/unrelated/path/_postgraphql` - the check would need to be a lot safer to get merged.

[2017-10-14 18:19] angelosarto commented on #526
@benjie Ill have to think about it a bit deeper; if its coming in through a proxy we might not know the leading characters.  We know it will be  {PREFIX} + /_postgraphql/graphiql/ + {ASSET}  https://github.com/postgraphql/postgraphql/blob/85e630a9de530b5f141241ab62d2b6974cc6fbd4/src/postgraphql/http/createPostGraphQLHttpRequestHandler.js#L173

Maybe we need to add proxy-prefix as a config paramete

[2017-10-23 13:41] johnchristopherjones opened #604 "Option --body-size-limit not respected for non-JSON payloads"
This appears to be a regression on #372:

[code]

```{input: {articlePatch: {content: "[102400 bytes]"}, id: "8a93eafc-9189-45be-98de-cc618fca3427"}}```

results in:

[code]

[2017-10-23 13:42] benjie commented on #604
What version of PostGraphQL are you using?

[2017-10-23 13:44] johnchristopherjones commented on #604
Postgraphile 4.0.0-alpha2.20 and Postgraphql 3.2.0 both appear to exhibit this behavior.

The error isn't being emitted by Postgraphql/Postgraphile itself except in the response when `--show-error-stack` is used.

[2017-10-23 13:51] benjie commented on #604
Does using `--body-size-limit` instead of `--bodySizeLimit` fix the issue?

https://www.graphile.org/postgraphile/usage-cli/

[2017-10-23 13:53] johnchristopherjones commented on #604
Ah, no, I was actually using `--body-size-limit` and misreported that.  The option `--bodySizeLimit` correctly returns the error that it's an unknown option.  I was paging through the source to try to figure it out so the camelCase got stuck in my head.

[2017-10-23 13:57] johnchristopherjones commented on #604
Uhm.  Okay I'm embarrassed.  I've tracked this down to a different typo in my command line after swatting at this for far too long.  Thank you for the the quick response, but this was user error.

[2017-10-23 13:57] benjie commented on #604
Are you able to add a breakpoint here:

https://github.com/postgraphql/postgraphql/blob/c19626a62802f600c19010bbccaf2951f61a256c/src/postgraphql/http/createPostGraphQLHttpRequestHandler.js#L101-L102

And inspect the value of `options.bodySizeLimit` there?

(Or just edit the file in `node_modules` and console.dir it)

If it's valid then maybe it's an issue with your input syntax; see:

https://gith

[2017-10-23 13:58] benjie commented on #604
Ah; okay! 👍

[2017-10-23 15:15] johnchristopherjones commented on #604
Okay, this wasn't me just chasing my tale entirely.

I wasn't having any problem in GraphiQL but my client app was still giving me the error.

I was using form data to submit the query and variables, like so:

[code]

I have some software that was doing things this way surreptitiously and backed my way into what it was doing.

Surprisingly, this worked without any other error, but it apparently ca

[2017-10-23 15:22] benjie commented on #604
A PR adding the `limit` option to the urlencoded and/or text body parsers (if valid) would be welcome 👍

https://github.com/postgraphql/postgraphql/blob/c19626a62802f600c19010bbccaf2951f61a256c/src/postgraphql/http/createPostGraphQLHttpRequestHandler.js#L100-L107

[2017-10-23 17:05] johnchristopherjones commented on #604
I’ll look into it this week.

[2017-10-24 01:31] chadfurman commented on #599
Where do errors actually log to?  Is it possible to not include errors in the server response, but still log them?

[2017-10-24 01:33] chadfurman commented on #375
@benjie this is closed now yes?

[2017-10-24 01:35] chadfurman commented on #303
Not sure I've experienced any issue with JSON in Relay Modern.  I don't really even understand the problem.

For example:

[code]

seems to work fine.

[2017-10-24 01:39] chadfurman commented on #235
I've settled on using `sqitch rework` and prefixing all files with `table_tableName_rls` etc:
function_
role_
schema_
type_
...

table_tableName
table_tableName_rls
table_tableName_rbac
table_tableName_data
...

and then just reworking.  If you rework something, put the _full new_ create statement in a comment.

i.e. altering a table to add a new column_id field?
[code]

and functions are all `cre

[2017-10-24 12:39] benjie commented on #303
Yeah; I'm going to close this as a Relay Classic (deprecated) issue.

[2017-10-24 12:39] #303 closed

[2017-10-24 12:42] benjie commented on #599
We don't actually log the errors AFAIK; a PR for that would be welcome also (or maybe a hook so we can post them into [Rollbar](https://app.codesponsor.io/link/GvWU8mAin34aDjbdv9ze278R/postgraphql/postgraphql)/etc)

The whole logging thing could do with a complete overhaul really.

[2017-10-24 12:46] benjie commented on #375
Well, if summary fails now then the entire root-level field will fail... I'm not sure if that's an acceptable solution. It kind of goes against GraphQL's "nullable by default, failures happen" mentality, so I'm not super happy with it, but equally I'm not sure how to balance error capture with performance.

[2017-10-25 04:54] cellis commented on #235
@chadfurman admittedly, i've also been trying sqitch out, because even though the method I suggested upthread ( and @valorize implemented ) is what I would ultimately *love*, there are some shortcomings which you're by now surely aware with `apgdiff` that aren't easy to rectify.

That said, I'm curious why you've decided to prefix types to objects. You're further along this path than I so would lo

[2017-10-25 04:58] cellis commented on #235
Also, while we're on this topic, I would be remiss if I didn't mention that I also looked at [Standalone Migrations](https://github.com/thuss/standalone-migrations), but for now will give sqitch a shot and look to see if there's ways I can try to contribute to `apgdiff` in the meantime, as it seems to support postgraphql-esque schemas with the source, but not the latest release (2.4).

[2017-10-25 12:32] opravil-jan commented on #92
Hello,
what is state of subscriptions now? I'm making decision to use postgraphql or not. Can I use subscription now or not. Thank you

[2017-10-25 12:37] benjie commented on #92
We do not currently have subscriptions; as far as I know no-one has started writing the code for subscriptions. I plan to start working on them once v4 is released - it's top of my priorities post release - I've done a fair amount of research and have a plan in my head but nothing's concrete yet.

[2017-10-25 17:00] chadfurman commented on #235
@cellis prefixing objects with types (and not migration numbers) works amazing with sqitch rework.  Your deploy directory is much easier to navigate and new migrations just pop right in their spot.  Want to see where that column function for user preference is?  table_profile_column_userPreferences.sql  etc

What's important is that any rework that alters a type or table etc contain, in comments,

[2017-10-25 18:47] benjie commented on #235
(I advise that you factor schema name into the paths too if you have more than one public schema)

[2017-10-25 19:07] magom001 commented on #92
Hi Benjie!

Have you decided what mechanisms to use? Would it be postgres triggers?

[2017-10-25 19:18] benjie commented on #92
Probably Logical Decoding, but first I need to find out how well supported it is on the hosting environments the users use. If you want to contribute your environment, please fill out this survey:

https://benjie10.typeform.com/to/ALL9df

[2017-10-25 19:19] benjie commented on #92
(I also plan to support LISTEN/NOTIFY which you can fire through triggers; but that will be less customised)

[2017-10-25 19:37] chadfurman commented on #235
I have multiple schemas -- ideally, I'd be able to group these files by schema name in a sub-folder.  This is ultra-low on my priority list, however.

It makes sense in retrospect to be like... schemaName_function_functionName .sql

[2017-10-26 07:30] magom001 commented on #92
Hi Benjie! Just started digging into logical decoding. I think LISTEN/NOTIFY would be a good place to start for a basic functionality. I am writing a warehouse management app and I basically need to notify clients to refresh the stock when somebody inserts data into the db. So the algorithm is quite simple: data inserted -> trigger -> notify -> listener triggers refetch on the client side. As far

[2017-10-26 08:31] benjie commented on #92
Yep; listen/notify will be the first thing I implement but it'll effectively just have `query` on the payload:

[code]

(If anyone can think of a better name for `listen`/`channel` above, please let me know. Maybe something more like `genericSubscribe`?)

But we want the CrUD events to also trigger custom events, such as:

[code]

These would probably also accept filters so you can be informed onl

[2017-10-27 05:43] ortonomy opened #605 "Write a custom function like a postgraphql introspected CRUD function"
What I've done so far:
1. Followed the tutorial to create a split user record: one in a ``..._private`` schema and one in a ``anonuser`` and ``appuser`` accessible schema.
2. Followed the tutorial to create a ``register_user`` function.

What I want to do:
I want to create the remaining CRUD functions for ``updateUser`` and ``deleteUser`` BUT I want them to have the same signatures / functionality

[2017-10-27 06:27] benjie commented on #605
This is not currently possible in SQL; in fact it’s not currently possible to use the Patch type in custom SQL mutations at all, let alone matching the payload. Also the nodeId is implemented in JS so again it’s not currently possible to use it in a custom mutation.

Hopefully one day this will be possible; it will probably be achieved using smart comments on the function to change its interprette

[2017-10-27 06:44] ortonomy commented on #605
@benjie -- well thanks for the clarification, at least.

So the approach would be to just a custom mutation that takes (id + all fields) with STRICT setting, so front-end supplies all values, either unchanged / updated, and update the entire row?

[2017-10-27 07:54] benjie commented on #605
Here's a few ways you could do it:

1. Create a new patch type with only the fields you care about: `create type user_patch2 as (name text, dob date); create function update_user(id int, user_patch user_patch 2) ...`
2. Accept the fields explicitly `create function update_user(id int, name text, dob date)`
3. Use the default mutations combined with triggers and/or RLS policies (this'll require mor

[2017-10-27 12:33] benjie commented on #47
I've just opened up the wiki and created a page for community plugins - if you're aware of any others please post them on the wiki!

https://github.com/postgraphql/postgraphql/wiki/v4-plugins

[2017-10-29 23:25] pencilcheck opened #607 "Print the notice log within postgres stored procedures (plv8 as well) into postgraphql response log"
Is it possible to do that? it would be nice for debugging purposes.

Cheers

[2017-10-29 23:35] wenzowski opened #608 "export setupPgClientTransaction()"
Sometimes (eg. in tests) it's helpful to be able to use our own `pgClient` instance and transaction context instead of the one generated by `pgPool.connect()` in `withPostGraphQLContext()`. Can we export [`setupPgClientTransaction`](https://github.com/postgraphql/postgraphql/blob/master/src/postgraphql/withPostGraphQLContext.ts#L96) please?

[2017-10-29 23:40] pencilcheck commented on #438
It seems to be working for me, I have a strict function, have some parameters with default values, and in the graphiql inspector it marks the required argument correctly.

[2017-10-30 08:08] benjie commented on #607
Yep; you just need to do `pgClient.on('notice', msg => ... )` after you grab a client from the pool.

PR welcome 👍

[2017-10-30 08:13] benjie commented on #608
You could just pass a custom pgPool into `withPostGraphQLContext`

[code]

Note that a standard pg Client and a client from a pool are NOT identical - they handle errors differently for a start, which means that using a regular client (as opposed to a pgPool client) within async/await can result in promises never resolving when an error occurs. You can work around this, but it's a chore.

If this

[2017-10-30 08:13] benjie commented on #438
Great, thanks @pencilcheck

[2017-10-30 21:37] wenzowski commented on #608
Gotcha, that's really important to know.

In the test example, I'm beginning a pg transaction, migrating up using an external library, running graphql tests within this transaction context, then rolling back the transaction. This is one of the strengths of postgres: parallel transactions allow a pristine database environment for each test by provisioning one connection per test.

Since the current

[2017-10-30 21:42] wenzowski commented on #602
Are there open issues we can link here? I haven't come across problems yet

[2017-10-30 22:23] wenzowski commented on #608
Hmm, I think I've experienced this behaviour, external to postgraphql. Perhaps I should rewrite my migrations system to support [`pg-pool`](https://github.com/brianc/node-pg-pool) in place of [`generic-pool`](https://github.com/coopernurse/node-pool)...

[2017-10-31 06:33] brandonwoo opened #610 "postgraphql production ready? v4.0 release date?"
I am considering using postgraphql for a new project. May I know what is the estimated production ready date of v4.0?
Also, are there any projects in production using postgraphql v3 or v4 right now? Could not find information on projects using postgraphql in an actual production environment.

[2017-10-31 08:37] benjie commented on #610
The [survey](https://benjie10.typeform.com/to/ALL9df) is still open (hint hint!), but preliminary results (out of 40 responses) suggest there are at least 13 companies using PostGraphQL in production (all but one of whom mount it as an express middleware, and all but 1 of whom have fewer than 10 software developers). I'm also working with a few companies who will have PostGraphQL in production soo

[2017-10-31 08:37] #610 closed

[2017-10-31 08:59] benjie commented on #602
@alexFaunt perhaps you can chime in here?

[2017-10-31 09:04] benjie commented on #608
Yeah; I've hit it a number of times over the last couple years. I now only use pgPool when using async/await, even if I only need one client.

I was wanting to tweak this myself actually; I want to be able to replace the `begin` with `begin isolation level serializable` and the `commit` with a `rollback` for tests also. I'd be open to a `beginStatement` and `commitStatement` option that can be pas

[2017-10-31 09:43] alexFaunt commented on #602
When i tried it with Koa I had a few issues, but wrapping with koa-connect everything worked fine.

To be honest, I can't remember what went wrong, so it may have been me miss-using it, if I get a chance I can start from scratch again to see if I hit issues - time permitting though!

Either way the koa support that is currently in the lib doesn't interfere with koa-connect so no urgent reason to r

[2017-10-31 17:02] peay opened #611 "Queries keep running even if client has closed connection"
Currently, it seems that queries to PostgreSQL keep running to completion no matter what.

In particular, even if the client has closed his connection to the built-in webserver, the query is not being canceled. Aborting queries in this case would be very useful to avoid overloading PostgreSQL with queries whose results will be thrown away anyway.

[2017-10-31 17:13] johnbendi commented on #502
Sorry for the long silence. I have been away for a while. Will test the changes and revert asap. Thanks for checking this issue out.

[2017-10-31 17:40] Hesulan opened #612 "Non-nullable tstzrange throws error instead of using default value"
### Example table
[code]
### Example query
[code]
### Example query variables
[code]

### Expected result
A new record should be created using the default value for "test_period".

### Actual result
[code]

### On a related note...
`TimezoneTimestampRangeBoundInput` requires both `value` and `inclusive`, but PostgreSQL defines default exclusivity values for each range type (`tstzrange` defaults to

[2017-10-31 19:58] benjie commented on #612
What's `postgraphql --version` ?

[2017-10-31 19:59] benjie commented on #612
I have a feeling this is fixed in v4.

[2017-10-31 20:02] benjie commented on #611
Probably want to use [`on-finished`](https://www.npmjs.com/package/on-finished) for this, but maintaining support for all our supported servers (e.g. Koa) may be a challenge.

[2017-10-31 20:54] Hesulan commented on #612
@benjie Yep! You were right, just tried it with v4 and it worked. Thanks!

P.S.: My related note about ranges allowing `null` seems unchanged. I'm not sure if that's even handled by PostGraphQL directly, just thought I should mention it because that's the main way that PostgreSQL range types represent "infinity".

[2017-10-31 20:54] #612 closed

[2017-10-31 23:43] benjie commented on #612
I believe value is nullable in v4 for this reason? If not can you give a code example of exactly how v4 is wrong? Thanks 🙏

[2017-11-01 15:26] Hesulan commented on #612
@benjie Ah, it seems the "value" property is still non-nullable in v4 (`DatetimeRangeInputBound { value: Datetime!, interval: Datetime! }`), but both the "start" and "end" bounds *themselves* are now optional (`DatetimeRangeInput { start: DatetimeRangeInputBound, end: DatetimeRangeInputBound }`). Since `null` bounds are always non-inclusive, excluding it has the same result as passing an explicit

[2017-11-01 15:51] benjie commented on #612
Ah yes, I knew there was some subtlety here. I decided that the difference between including infinity and excluding infinity was such an edge case that it would be better to not worry about it (since you can't express infinity through GraphQL anyway the point seemed moot). So in PostGraphile ranges can be unbounded but we don't differentiate between `[-Infinity, 0)` and `(-Infinity, 0)`

[2017-11-01 18:36] Hesulan commented on #612
It's definitely an edge case, but it might be worth noting that PostgreSQL actually considers `Infinity` a *bounded* range:
[code]

I checked and PostGraphQL does allow `{"value":"infinity", ...}`, though as you said it doesn't actually handle it differently. I would still recommend making "value" nullable, if only to keep input and output consistent.

Anyway, thanks for the help! Still getting th

[2017-11-01 19:25] benjie commented on #612
Yeah; I had to decide between:

And:

The former models the data represented in PostgreSQL better, but the latter is much less surprising for a human in my opinion so I went with that. If there's sufficient demand to change it then I'm definitely open to doing so, this is just the decision I made at the time.

[2017-11-02 06:28] cellis commented on #235
@chadfurman I tried sqitch, and ultimately decided on not using it. It seemed really heavy handed for me right now and overall very difficult to integrate and leverage my current node.js config setup. Instead I've settled on using [db-migrate](https://github.com/db-migrate/node-db-migrate) which is a nodejs based project a la [standalone-migrations](https://github.com/thuss/standalone-migrations).

[2017-11-02 08:37] benjie commented on #235
I also use db-migrate, normally in SQL mode. Sometimes I want to be a bit more interesting, so I write my own up/down code (e.g. to run multiple SQL files in one migration to make rolling back easier) and because I prefer modern JS, I wrote:

https://github.com/benjie/db-migrate-plugin-babel

[2017-11-02 09:23] dvdrozdov opened #614 "Users with multiple role membership -- security system architecture"
We are considering Postgraphile usage in our project and there are at least two very different ways of organizing security in Postgres: "all users as database users" or  "check everything via RLS". Which one is better?

**System description**

On the application level we have:
tables: `t1, t2, ..., tN`
roles: `user, manager, admin, ...`
users: `user1, user2, ..., userN` (up to 10k users)

Roles ar

[2017-11-02 13:58] Hesulan commented on #611
Just a quick thought: This would be great to see, but should definitely be optional, if only to avoid breaking edge-cases or unusual setups. In *theory*, a cancelled `get` request or `select` statement shouldn't have side-effects, but in practice I've seen it happen far too often...

[2017-11-02 14:03] benjie commented on #611
We do everything within a single transaction so if you cancel mid way it'll be rolled back (thanks to ACID compliance) and the net result will only be a couple of sequences increased or similar.

That said, with people writing their own plugins in v4 this becomes more of an issue. I definitely support making this an option rather than default behaviour 👍

[2017-11-03 18:00] ThomasWeiser opened #615 "GraphiQL auto completion failures with v3.5.1"
GraphiQL's automatic completion (with ctrl-space) doesn't work on all edit-locations of a query.

Example, assuming a table `document`:
[code]
Completion fails e.g. at `id`, while it still works on the outer nesting levels.

It worked flawlessly in v3.5.0 (as well as it does in v4.0.0-alpha2.22).

[2017-11-04 10:03] benjie commented on #615
I can reproduce this with a clean checkout, for me it will complete the `allFoos` and the `edges` under it, but not `node` or anything under `node`.

I'm assuming this is because v3 doesn't use a lockfile whereas v4 does and thus a minor update to one of the libraries has caused problems.

I don't have time to look into this, but if you want to do so:

[code]

^ This should get you up and running

[2017-11-04 10:04] benjie commented on #615
(Note `npm run dev` adds a lot of default stuff to your command line, you may want to modify the `--exec` line in `scripts/dev` locally)

[2017-11-04 11:36] benjie commented on #602
Can confirm that postgraphql does not work great with Koa (e.g. on error you get

[code]
); koa-connect seems to solve this.

[2017-11-04 16:11] ThomasWeiser commented on #615
Benjie, thanks for your assistance! Found that the bug results from multiple versions of package `graphql` pulled in.

[code]

It's probably related to [this pending change](https://github.com/graphql/codemirror-graphql/pull/235) in `graphql/codemirror-graphql`.

I tried to fix this in #616 / #617.

[2017-11-04 16:17] Trupal00p opened #618 "Error with custom composite type as parameter in function"
I'm getting this error when I use a custom composite type as a parameter in an sql function.

```malformed record literal: "somefilter"```

Here is the custom type and the function in my database schema:

[code]

Here is the graphql query I'm sending that causes the error:

[code]

The really weird thing is if I modify the query to add parenthesis to the filter, the error goes away and the query w

[2017-11-04 21:48] benjie commented on #615
Thanks for figuring this out; I’ll take a look tomorrow if I get a chance 👍

[2017-11-04 21:52] benjie commented on #618
Please confirm “postgraphql --version” and whether this still happens with the latest version.

[2017-11-05 13:25] Trupal00p commented on #618
Original error occurred with 3.5.0.

I just upgraded to 3.5.1 and got the same error.

[2017-11-05 19:32] benjie commented on #618
I think this is fixed in postgraphql@next; would you mind confirming? See #506

[2017-11-06 07:51] dvdrozdov commented on #614
This issue was discussed on [Gitter](https://gitter.im/postgraphql/postgraphql) and the conclusion was to test if Postgres can inline RLS queries into the main query:

I tested this scenario and it seems that even Postgres 10.0 isn't smart enough to inline such queries:
[code]

Notes:
* I couldn't make Postgres inline an RLS checking function with even EXISTS(SELECT 1) inside;
* Such permission ch

[2017-11-06 07:55] dmattsson opened #619 "Table & Replace function yields "Error: Schema must contain unique named""
I have a table and a function to replace all values of a project within the table. Code below. When trying to get postgraphql started for this I get this error: Error: Schema must contain unique named types but contains multiple types named "RevenueYear".

Am I doing something wrong or is this a bug? Any feedback greatly appreciated

[code]

[code]

[2017-11-06 09:40] benjie commented on #619
So that error means that two things are boiling down to the same name: "RevenueYear". Without your whole schema I can't tell you what they are but look for things named:

- revenue_year
- revenue_years
- "revenueYear"
- "revenueYears"
- "RevenueYear"
- "RevenueYears"
- etc

Likely there is more than one of them, and the conversion of them to GraphQL is causing a clash.

What version of PostGraphQL

[2017-11-06 10:11] dmattsson commented on #619
I use version 3.2.0.

When I drop the function it works (keep the table) it works, so it seems related to the function I posted above.

PS) (I corrected a slight error in my post - it said create table vb.project_revenue_year, not create table vb.revenue_year)

[2017-11-06 10:24] benjie commented on #619
So that function references `vb.revenue_year` (both in the argument list and the return type); is that table already exposed?

Ooo, I wonder if it's because it's an array - do you use `vb.revenue_year[]` anywhere else? We've recently squashed a whole load of array-of-compound-types bugs in v4 - maybe give that a try? `npm install -g postgraphql@next` (see #506 for breaking changes).

[2017-11-06 14:43] Trupal00p commented on #618
Upgraded to 4.0.0-alpha2.22, issue still present.

[2017-11-06 15:04] benjie commented on #618
Please provide a minimal test case that reproduces this (an SQL file I can import into a clean database and a `postgraphql` command line) and I'll look into it.

[2017-11-06 17:31] Trupal00p commented on #618
Here's a minimal schema to recreate the issue:
[code]

Here's a graphql query that throws the error:
[code]

Thank you for your work and stewardship on this awesome tool!

[2017-11-06 17:38] benjie commented on #618
v3.5.1 definitely does:

![screenshot 2017-11-06 17 38 18](https://user-images.githubusercontent.com/129910/32455152-504c93e6-c319-11e7-87a5-38c0f848e0fe.png)

[2017-11-06 17:39] benjie commented on #618
I'm afraid I'm unlikely to solve this issue in v3 as my work is focussed on getting v4 ready for release. If you want to raise a PR to fix this in v3 that'd be welcome, but failing that I recommend you use v4 for now 👍

[2017-11-06 17:56] Trupal00p commented on #618
Ah yes, you are right.  Looks like I had it installed globally and locally (woops!) so the upgrade didn't take when I tested.

Don't worry about fixing v3, definitely not worth it.

[2017-11-06 20:19] dmattsson commented on #619
I tried to upgrade to v4 and it solved the problem. Thanks a lot @benjie!

[2017-11-06 20:19] #619 closed

[2017-11-06 20:24] wenzowski commented on #602
Guess I hadn't managed to hit an unhandled error. Moved over to koa-connect

[2017-11-07 09:04] benjie commented on #614
Interesting article on inlining constraints in general:

https://wiki.postgresql.org/wiki/Inlining_of_SQL_functions#Inlining_conditions_for_scalar_functions

Note however that these may have changed since 9.5, and they don't apply specifically to RLS policies.

The following are also a good read if you want to understand what sort of decisions are going on under the hood, and why things are the wa

[2017-11-08 21:29] trabur opened #621 "set uuid column to null"
I'm submitting a ...
- [ ] bug report
- [ ] feature request
- [x] question

PostGraphQL version:
3.5.0

Is it possible to set a "Uuid" column to null? When I try to set the value to null I get, "Variable \"$primaryAddressId\" got invalid value null.\nExpected \"Uuid!\", found null."...

[code]

Variables
[code]

Result:
[code]

It seams like my only option is to set it to "00000000-0000-0000-0000-

[2017-11-09 09:03] benjie commented on #621
Your query explicitly states that the variable `$primaryAddressId` must be a non-null Uuid:

[code]

If you remove that `!` then the query will accept a null Uuid (assuming the variable is only used where a nullable ID is valid).

[2017-11-09 16:22] zopf opened #622 "Functions that return composite types containing table types cause schema error"
Note: I tested this in `4.0.0-alpha2.22` and it works as expected.  I wanted to just document this bug in the 3.x.x versions in case others came across it and needed guidance, but it seems to be already fixed in 4.x.x.

I'm submitting a ...
- [x] bug report
- [ ] feature request
- [ ] question

PostGraphQL version:

3.5.1

Minimal SQL file that can be loaded into a clean database:
[code]

Steps to

[2017-11-09 16:37] benjie commented on #621
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2017-11-09 16:37] #621 closed

[2017-11-10 04:32] mamtalakhani opened #623 "Time out for post graphql server"
Can you plz let me know where to set the timeout for postgraphql server.

[2017-11-10 07:43] benjie commented on #623
What timeout are you looking for?

[2017-11-10 08:21] mamtalakhani commented on #623
We have a query which runs for a few minutes in Postgres. When the same query is written in GraphiQL,the server responds with 504 Gateway timeout exactly after 1.5 min. We would like to change the 1.5 min timeout variable.

[2017-11-10 08:32] benjie commented on #623
I'm not aware of this limit (that isn't to say it doesn't exist). The error "Gateway Timeout" implies that you have something between the PostGraphQL server and the client (aka a "Gateway") and that that is causing the connection to time out. On Heroku this period is 30 seconds.

[2017-11-13 15:32] timwis opened #624 "Forum example may have security issue"
I could be wrong here, but I think the forum example's row-level security settings allow someone to `update` their `post` to change its `author_id` to someone else, thereby posting on their behalf.

[code]

should be something like (with @benjie's input from gitter)
[code]

I'm rather inexperienced with row-level security, though, so I could be wrong here. Just want to point it out in case I'm rig

[2017-11-13 15:52] benjie commented on #624
I don't think that's necessary in this case (emphasis mine):

i.e. if `WITH CHECK` is omitted then the `USING` clause will also apply to `WITH CHECK`.

[2017-11-14 07:04] parris commented on #602
Note - we are using this with koa without issue -
https://github.com/fervorous/fervor/blob/master/src/server/server.js#L35

[2017-11-14 23:25] wenzowski opened #625 "allow options to be passed to jwt.verify()"
I'm submitting a ...
- [ ] bug report
- [x] feature request
- [ ] question

PostGraphQL version:

4.0.0-alpha2.22

There's currently no way to pass options to `jwt.verify()` as the options object is a hardcoded `{audience: jwtAudiences}` and it would be ideal to be able to spread important configuration options into that...options like`{clockTolerance: 1}`.

[2017-11-15 08:30] benjie commented on #625
That should be fairly easy to add:

Pass through the new setting from the `options` variable here:

https://github.com/postgraphql/postgraphql/blob/273ae4b0ae40d50bcc6c2874711ced3beb683aa0/src/postgraphql/http/createPostGraphQLHttpRequestHandler.js#L404-L411

e.g.

[code]

destructure it here:

https://github.com/postgraphql/postgraphql/blob/273ae4b0ae40d50bcc6c2874711ced3beb683aa0/src/postgraphql

[2017-11-15 10:50] timwis commented on #624
Cool, thanks!

[2017-11-15 10:50] #624 closed

[2017-11-16 07:03] Tritpi opened #626 "Customising GraphQL names for types/collection fields/etc"
Is there a way to customize the GraphQL generated schema so that the way in which the tables can be accessed can be changed. Currently, in the GraphiQL interface the table names of tables in the underlying Postgres DB get the word 'all' prefixed. Can this be customized such that the user gets to access the table name exactly the way it is in the DB. Also, can the schema be modified such that the n

[2017-11-16 07:39] baohuynh27 commented on #626
Yes

5

Vào 16-11-2017 14:04, "Tritpi" <notifications@github.com> đã viết:

[2017-11-16 07:43] Tritpi commented on #626
Can you please elaborate on how this can be done with an example.

[2017-11-16 07:58] benjie commented on #626
Check out the inflector in v4:

https://github.com/postgraphql/postgraphql/pull/506#issuecomment-328831456

For the other fields check out our extending docs:

https://www.graphile.org/postgraphile/extending/

[2017-11-17 00:54] achea opened #627 "Make fields on supertype usable for subtype?"
Hello all, I have a supertype/subtype schema configured with a shared primary key where the shared metadata (like author id, created date, etc) lives in the supertype and the unique fields live in the subtypes.
 What's the recommended method to make the supertype's metadata fields visible to the subtype so that they can be recognized by postgraphile and used in filters and conditions for requests

[2017-11-17 04:35] benjie commented on #627
You could mean a number of things, please provide an SQL snippet indicating what you are doing.

[2017-11-17 06:41] achea commented on #627
Right.  Here's a minimal example (based loosely on the excellent forum_example):

[code]
The queries that Postgraphile creates has `allItems` allowed to be ordered by `author_id`/etc, but I'd really like `allBlogs` to be ordered/filtered by `author_id`/etc as well.  I think I want to generate something like this:

[code]
or maybe a representation of a query like this (not sure if this query works,

[2017-11-17 10:34] benjie commented on #627
Okay, so your request has a few parts.

First, the `primary key references` thing is a limitation I have felt myself: https://github.com/postgraphql/postgraphql/issues/432

I definitely plan to build that feature at some point, but haven't had time yet.

Second you want to filter based on a different table that shares the same ID; this also has been discussed before (I can't find the issue for it

[2017-11-17 10:48] dvdrozdov commented on #614
Very interesting links, thanks!

However, I think now that we shouldn't rely on RLS, as inlining is more magic than science, and postgres security barriers (whether in views, functions or via RLS) are optimization barriers as well. Moreover, complicated RLS subqueries make query plans much harder to read.

BTW, problems with inlining can be bypassed by including a security checking query into the

[2017-11-17 12:38] enisdenjo opened #628 ""Cannot read property 'get' of null" in mutation"
I am facing a problem upon calling a **mutation**. It is specific to this exact mutation, all other mutations work as expected.

PostGraphQL version: 3.5.0

The table structures:
[code]

The SQL function:
[code]

then I run the mutation through GraphQL:
[code]
with **variables** set correctly.

The response looks like this:
[code]

Besides the error in data retrieval, the document row is also not

[2017-11-17 13:29] #628 closed

[2017-11-17 13:45] benjie commented on #628
Thanks for sharing - this will help others who face similar issues and google it.

[2017-11-17 17:40] johnchristopherjones opened #629 "Forum tutorial does not use missing_ok parameter in current_setting"
The forum tutorial explains how to set up row-level security using `current_setting`.  However, `current_setting` throws an exception unless the `missing_ok` option (psql >= 9.6) is provided.  People who follow the tutorial will no longer be able to perform queries on the affect tables without first manually setting the `jwt` locals, even as superusers.

Instead, the `create policy` steps that inc

[2017-11-17 18:01] benjie commented on #629
It might be better to add the following to the schema, as otherwise people using Postgres 9.5 or lower will not be able to run the example:

[code]

[2017-11-17 18:16] johnchristopherjones commented on #629
1.  I didn’t know you could make it permanent that way.  That would also work, though a similar statement would be needed if any additional JWT claims that are checked via RLS.  Maybe that’s okay.  It also seems trickier if person_id is a uuid and nullable.
2.  Should Postgres <= 9.5 really be a concern, given that [graphile only officially supports Postgres 9.6+](https://www.graphile.org/postgrap

[2017-11-18 03:09] wenzowski opened #630 "numeric overflow"
I'm submitting a ...
- [x] bug report
- [ ] feature request
- [ ] question

PostGraphQL version:
`4.0.0-alpha2.22`

Minimal SQL file that can be loaded into a clean database:
[code]

Steps to reproduce:
[code]
[code]
[code]

### Current behavior:
String is cast to floating point presumably through `Number.parseFloat()` before being passed to the `numeric` column. This is surprising given [`numeric

[2017-11-18 03:43] wenzowski opened #631 "input should not require number generated always as identity"
I'm submitting a ...
- [x] bug report
- [ ] feature request
- [ ] question

PostGraphQL version:
`4.0.0-alpha2.22`

PostgreSQL version:
`psql (PostgreSQL) 10.0` for [identity columns](https://blog.2ndquadrant.com/postgresql-10-identity-columns/)

Minimal SQL file that can be loaded into a clean database:
[code]

### Current behavior:
[code]
This is surprising because [postgres docs say](https://ww

[2017-11-18 04:32] jmparsons opened #632 "load schema and type cast from file instead of introspection"
I'm submitting a ...
- [ ] bug report
- [x] feature request
- [x] question

PostGraphQL version:

ANY

My database is accessed by lambda and in order to keep the execution time down I want to package the schema.

This is costly per endpoint of course because it introspects on each call - I'm using the query within node with pg context passed in:

[code]

I'd like to pre-build the schema and someho

[2017-11-18 09:05] benjie commented on #630
Numerics should be strings; this is likely a bug in https://github.com/graphile/graphile-build/blob/master/packages/graphile-build-pg/src/plugins/PgTypesPlugin.js

In fact, yes, it's this line:

https://github.com/graphile/graphile-build/blob/master/packages/graphile-build-pg/src/plugins/PgTypesPlugin.js#L234

Basically if we detect it as anything with [pg type category](https://www.postgresql.org

[2017-11-18 09:16] benjie commented on #629
PostGraphile currently supports PG 9.4+. I'd be open (if not keen!) to bump that to 9.5 now that PG10 is out, but I think 9.6 is too recent for many people.

With the example schemas we want people to be able to run them on what they already have so they can get an immediate taste of PostGraphile, so using ugly workarounds like the `do $$` above is better than requiring something that will not wor

[2017-11-18 09:29] benjie commented on #631
This... This is a pain. You're 100% right; but we haven't added any specific PG10 support to PostGraphile yet. The identity stuff adds the `attidentity` column to [pg_attribute](https://www.postgresql.org/docs/10/static/catalog-pg-attribute.html) which we could totally factor into our decision making; however we can't simply add that to the introspection query because it will not run on PG<10.

So

[2017-11-18 09:31] benjie commented on #631
I can't quite decide if this is a bug or not. Since it's on an input type, removing the not-null at a later date would not be a breaking change. So I'm going to stick with 'enhancement'

[2017-11-18 09:47] wenzowski commented on #631
For the `GENERATED BY DEFAULT` case, I completely agree. It's the `GENERATED ALWAYS` that I was thinking makes it a bug instead of an enhancement–having the field available on the input type breaks expectations since any input value is discarded. I would expect anyone working with identity to understand that; someone working with the pure graphql schema...not so much.

Appreciate your detailed res

[2017-11-18 09:55] wenzowski commented on #630
For the smaller types I would imagine we could rely on pg to throw `ERROR: integer out of range` on input overflow?

[2017-11-18 09:57] benjie commented on #632
There's some support for this in v3 where you can pass a `PgCatalog` object into postgraphql and it will use that rather then running introspection; but I cannot remember the incantation to get the PgCatalog out of postgraphql in the first place.

v4 does not yet have support for this, but you can track progress via https://github.com/graphile/graphile-build/issues/118

[2017-11-18 09:58] benjie commented on #630
[code]

Looks like it.

[2017-11-18 10:01] benjie commented on #631
Yeah; #506 is the alpha. This issue is with `graphile-build`; once a new graphile-build release goes out I add it to #506 and publish the new postgraphql@next/postgraphile

[2017-11-19 06:47] achea commented on #627
Thanks for outlining the issues!  I thought about my data requirements a bit more and I think views for each subtype is probably the way for me to go, at the cost of another network request for referenced items (I also will have an `itemref references item(id)` for the subtypes).  Because of the `itemref`, table inheritance is less suitable for my use case.  Ideally, I want graphql inheritance to

[2017-11-19 18:58] jmealo commented on #92
@benjie: @chadfurman: Sorry for dropping off this for so long. I finally dusted it off. Since my aspirations are pretty lofty I'd like to bow out on this ticket and offer you my vision for using PostgreSQL as an application server (zero coding, use the database, get instant pub/sub, work queue, rest and graphql with edge-based template binding with the option of static site or redis cache populati

[2017-11-20 10:11] Tritpi opened #633 "Can the PostGraphQL endpoint be used to create a SOAP request"
Can the PostGraphQL endpoint that is served at  http://localhost:5000/graphql be used to generate a SOAP request such that the query to be made can be passed in the parameters in the SOAP request and the data that comes back in the GraphiQL interface will come as an xml.

[2017-11-20 10:15] benjie commented on #92
Exciting! If you don't already have a PostgreSQL work queue, here's one I've been working on with a simple node worker (idea is you can implement the worker in any backend, or even multiple backends that each work different job types):

https://gist.github.com/benjie/839740697f5a1c46ee8da98a1efac218

Good luck with Topsy!

[2017-11-20 10:27] benjie commented on #633
This is outside the scope of the project; but you should be able to insert a middleware in front of PostGraphQL (or *any* GraphQL server, this is not specific to PostGraphQL) that does SOAP <--> GraphQL conversion using GraphQL's built in introspection.

[2017-11-20 10:27] #633 closed

[2017-11-20 17:04] zopf opened #634 "Feature Request: Batch query support"
I'm submitting a ...
- [ ] bug report
- [x] feature request
- [ ] question

Some other GraphQL server implementations support a batch query protocol, whereby multiple GraphQL requests can be assembled into an array, the array is sent to the server, each of the requests is separately executed on the server, and their results are returned in one array to the client.

Example usage can be found here

[2017-11-20 17:04] zopf commented on #210
Note: I've submitted a feature request for GraphQL query batching here: https://github.com/postgraphql/postgraphql/issues/634

[2017-11-20 17:44] benjie commented on #634
I definitely want to support this and it should be fairly easy to add. PRs welcome.

(In the mean time you can work around this by performing multiple mutations in the same GraphQL query:

[code]
)

[2017-11-22 14:20] sipanmargaryan opened #635 "express passport postgraphql implementation"
I was wondering if there is any way implementing passport for postgraphql?

[2017-11-22 14:55] benjie commented on #635
Sure:

[code]

[2017-11-23 08:27] benjie commented on #627
Another option is to create a type to represent the union; e.g.

[code]

Then you just set non-null the one that you need.

[2017-11-23 11:17] mattbretl commented on #473
I created a [v4 branch](https://github.com/mattbretl/graphile-build/tree/deprecate-from-comment) which includes a tag parser (passing @benjie's test spec above) and a plugin to deprecate the fields in GraphQL.

The [plugin](https://github.com/mattbretl/graphile-build/blob/7fcdf8b1ffbaae411a01221f0c223d35f72dc319/packages/graphile-build/src/plugins/DeprecateFromCommentPlugin.js) is admittedly a bit

[2017-11-24 21:59] pencilcheck commented on #264
How is everyone doing the refresh token nowadays?

[2017-11-25 17:18] disarticulate opened #636 "TypeError: Cannot read property 'tableType' of undefined"
I'm submitting a ...
- [x ] bug report
- [ ] feature request
- [ ] question

PostGraphQL version:

4.0.0-alpha2.9

Minimal SQL file that can be loaded into a clean database:
[code]

Steps to reproduce:

Current behavior:
[code]
Expected behavior:
Introspected database

I loaded a postgres database w/postgis using a standard ubuntu tool
[code]

[2017-11-25 17:49] benjie commented on #636
PostGraphQL v4 is in alpha; you're using a very old version that had quite a few issues. Please update to the latest version (`postgraphql@next` or `4.0.0-alpha2.22`) and then let me know if the issue still exists.

[2017-11-25 18:49] disarticulate commented on #636
I went to the latest releases and downloaded. I'll try postgraphql@next

[2017-11-25 18:59] benjie commented on #636
Oops; seems I've not been pushing those tags! Pushed the latest tags now; the branch is `benjie/graphql-build` (for legacy reasons) and you can track progress via #506

[2017-11-25 19:19] disarticulate commented on #636
Thanks. I got it up and running in a minimal docker:
[code]

[2017-11-25 20:17] benjie commented on #636
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2017-11-25 20:17] #636 closed

[2017-11-26 03:43] pencilcheck commented on #287
I just create a new endpoint in expressjs to extend expired token.

The general idea is to use https://github.com/auth0/node-jsonwebtoken to verify first, then sign and create a new one with extended expiration date

[2017-11-26 09:18] benjie commented on #287
[semi-automated message] Hi, there has been no activity in this issue for over 8 weeks so I'm closing it to keep the issues/pull request manageable. If this is still an issue, please re-open with a comment explaining why.

![](https://media.giphy.com/media/RpNA43Cnd38Bi/giphy.gif?response_id=5925dc27fd5ebd80cc843ee9)

[2017-11-26 09:18] #287 closed

[2017-11-26 09:18] benjie commented on #287
(Thanks for the notes @pencilcheck 👍 )

[2017-11-27 01:51] meglio commented on #523
In my understanding, this will make uploading a file and mutations two separate actions that are more difficult to put into a single transaction, no?

[2017-11-27 04:07] Eishpirate commented on #92
Not sure if this of any interest to anyone as it's outside the scope of Postgraphql, but there is a very interesting project at https://github.com/DxCx/graphql-rxjs whereby DxCx is getting RXJS and GraphQL to work together to try and achieve Live Queries. Pretty cool project

[2017-11-27 04:18] newswim commented on #150
I'm quite interested in this becoming a thing. I'd like to contribute any way that I can!

[2017-11-27 09:46] benjie commented on #523
Well, I would not advise storing files in the database anyway (it’ll make backups and restorations a lot slower) so you have to deal with this issue anyway. You could upload the file to a staging area that gets automatically wiped and thrn transactionally move it to a different area.

[2017-11-27 09:49] benjie commented on #150
If you look at the code on benjie/graphql-build you’ll see that it’s much reduced from v3. Would you like to experiment with building a similar codebase for HAPI? Basically it’s just the HTTP handling and pg connection code you need (plus optionally GraphiQL)

[2017-11-27 21:57] newswim commented on #150
That does sound reasonable given the new architecture, but unfortunately I think it's a little beyond my current skill level. I will look into it more this week and try to get a better picture of the scope--another consideration is Hapi's own plugin architecture having changed quite a bit with their v17 release.. I'll see if I can make any headway 👷

[2017-11-27 23:04] benjie commented on #150
Good luck! Feel free to drop messages in our gitter chat, we might be able to help if you get stuck.

[2017-11-29 03:03] pencilcheck commented on #550
I would like to know if there is a workaround to upgrade to 7, right now I suspect that some issues related to pool hang is because the older version which i'm using 6.x, and would like to upgrade but postgraphql doesn't work with 7.x

[2017-11-29 13:56] benjie commented on #559
Okay, so a computed column is evaluated like:

Definition:

[code]

Execution:

[code]

---

How would a mutation work? I can't see a way to do it in the same statement as the `update` clause, which is problematic. e.g.

[code]

isn't valid. We could maybe do something like:

[code]

then do:

[code]

The issue being that we may not have update permissions to all those columns. I can't think of a

[2017-11-29 15:35] benjie commented on #615
We're currently waiting on codemirror-graphql to publish 0.6.12, that should hopefully fix it?

https://github.com/graphql/codemirror-graphql/issues/240

[2017-11-29 16:45] vjpr commented on #526
I ran into this too. I am using `koa-mount` to mount the app under `/postgraphql`. These paths should be relative to the mount point ideally.

[code]

[2017-11-29 19:51] benjie commented on #635
[semi-automated message] To keep things manageable I'm going to close this issue as I think it's solved; but if not or you require further help please re-open it.

[2017-11-29 19:51] #635 closed

[2017-11-29 19:53] benjie commented on #634
![](https://github.trello.services/images/mini-trello-icon.png) [Query batching](https://trello.com/c/kxA9Is4o/9-query-batching)

[2017-11-29 19:53] benjie commented on #92
![](https://github.trello.services/images/mini-trello-icon.png) [Subscriptions](https://trello.com/c/GULfsW7J/8-subscriptions)

[2017-11-29 19:54] benjie commented on #632
![](https://github.trello.services/images/mini-trello-icon.png) [Cache introspection results](https://trello.com/c/Wzp9s5Hd/1-cache-introspection-results)

[2017-11-29 19:56] benjie commented on #631
![](https://github.trello.services/images/mini-trello-icon.png) [PG10 support (e.g. "generated always as identity")](https://trello.com/c/GBZ56aJ3/10-pg10-support-eg-generated-always-as-identity)

[2017-11-29 19:58] benjie commented on #630
![](https://github.trello.services/images/mini-trello-icon.png) [Numeric overflow](https://trello.com/c/vPsJntkn/11-numeric-overflow)

[2017-11-29 19:58] benjie commented on #602
![](https://github.trello.services/images/mini-trello-icon.png) [Deprecate koa support (or fix it!)](https://trello.com/c/yhycOyHc/12-deprecate-koa-support-or-fix-it)

[2017-11-29 20:03] benjie commented on #590
![](https://github.trello.services/images/mini-trello-icon.png) [Ensure all `fieldWithHooks` calls declare the correct data on the third argument (scope)](https://trello.com/c/2A5QkxU8/13-ensure-all-fieldwithhooks-calls-declare-the-correct-data-on-the-third-argument-scope)

[2017-11-29 20:03] benjie commented on #550
![](https://github.trello.services/images/mini-trello-icon.png) [pg@7.x support](https://trello.com/c/2T2NN08m/14-pg7x-support)

[2017-11-29 20:06] benjie commented on #438
@chadfurman Can you confirm @pencilcheck's findings? If so I'll happily mark this issue as fixed in v4 👍

[2017-11-29 20:06] benjie commented on #438
![](https://github.trello.services/images/mini-trello-icon.png) [Make optional function arguments work correctly](https://trello.com/c/KqknIe05/15-make-optional-function-arguments-work-correctly)

[2017-11-29 20:08] benjie commented on #432
![](https://github.trello.services/images/mini-trello-icon.png) ["primary key references" relations](https://trello.com/c/OuDWfp8g/16-primary-key-references-relations)

[2017-11-29 20:10] benjie commented on #417
![](https://github.trello.services/images/mini-trello-icon.png) [Procedure with enum[] arg](https://trello.com/c/HDHRMEBl/17-procedure-with-enum-arg)

[2017-11-29 20:11] benjie commented on #417
If someone fancied simply testing if this works in v4 that would be super helpful 👍

[2017-11-29 20:12] benjie commented on #417
(I think it will.)

[2017-11-29 20:14] benjie commented on #375
Since I've had no pushback on this, I'm going to state that the current behaviour is the desired behaviour for v4 and that your stable functions should not throw. If they do then failures are expected. We can revisit this in v5 if it causes issues for people (or even in a point release, since going the other way wouldn't really be a breaking change).

[2017-11-29 20:16] benjie commented on #151
I'm going to declare this as fixed in V4; but beware that the un-granted columns are still available to query (just doing so will cause an error) and that I don't know what effect computed columns may have on this.

[2017-11-29 20:23] benjie commented on #615
![](https://github.trello.services/images/mini-trello-icon.png) [Fix GraphiQL auto-completion issues](https://trello.com/c/aGDDZly4/3-fix-graphiql-auto-completion-issues)

[2017-11-30 09:57] benjie commented on #615
This is now published 🎉

[2017-11-30 10:40] benjie commented on #615
`postgraphql@3.5.4` fixes this 👍

[2017-11-30 10:40] #615 closed

[2017-11-30 10:40] benjie commented on #615
(also `postgraphql@4.0.0-alpha2.25`)

[2017-11-30 11:24] benjie commented on #473
![](https://github.trello.services/images/mini-trello-icon.png) [Ensure all `fieldWithHooks` calls declare the correct data on the third argument (scope)](https://trello.com/c/2A5QkxU8/13-ensure-all-fieldwithhooks-calls-declare-the-correct-data-on-the-third-argument-scope)

[2017-11-30 11:26] benjie commented on #473
I'd like magic comments in v4, so I've added this to the v4 release list. As stated, I need to refactor PgColumnsPlugin.js first

[2017-12-02 17:10] evangow commented on #632
I'm just getting started with postgraphql (and programming in general, so this might just sound crazy!), but I'm interested in deploying it with RDS and Lambda as well.

After reading through the docs and some of the other issues submitted, it seems like one approach might be to make it sort of like create-react-app, where you can run a build process with webpack to compile the code (in this case

[2017-12-02 19:58] barbalex opened #642 "Is it possible to query and filter fields of JSONB columns?"
I'm submitting a ...
- [x] question

PostGraphQL version: 4.0.0-alpha2.25 (which by the way works like a charm)

I need to filter data based on fields contained in JSONB columns.

These fields have variable structure which is why they are saved in JSONB columns.

So far I have seen this possibility:
1. Build function(s) that accept Arrays of conditions: `key`, `value`, `comparator` for filtering a

[2017-12-03 00:27] benjie commented on #642
Take a look at https://github.com/mattbretl/postgraphile-filter-plugins as a starting point - you can extend the filters with JSONB tooling.

Also check the docs on graphile.org if you haven’t already.

[2017-12-03 00:36] benjie commented on #642
(It’s still quite verbose writing plugins right now, the system needs to mature a bit and gain some tooling.)

JSONB is problematic as regards auto-discovery because how can we know what fields to export automatically? So either you need to write a custom solution (e.g. plugin) OR we need to figure out a way to indicate the columns you want. This seems like a perfect use case for smart comments -

[2017-12-03 00:44] benjie commented on #632
Definitely an interesting idea, but not really compatible with the way this project has been built (at least not v3/v4). It’s something I’ve been considering though; but in the mean time GraphQL extensions can be performed through plugins or schemas can be merged through graphql-weaver.

Personally I think RLS is a good fit for simple business logic and I think everyone should be using it even if

[2017-12-03 08:50] benjie commented on #473
![](https://github.trello.services/images/mini-trello-icon.png) [#473 - magic comments / deprecate fields](https://trello.com/c/Cv1bxDeG/19-473-magic-comments-deprecate-fields)

[2017-12-03 09:19] barbalex commented on #642
@benjie Thanks a lot, that is very helpful. And also: congratulations for making plugins possible!

[2017-12-03 09:19] #642 closed

[2017-12-03 09:22] benjie commented on #642
No problem; feel free to keep raising issues and if your needs are more conversational do check out our Gitter:

https://gitter.im/postgraphql/postgraphql

[2017-12-03 09:22] benjie commented on #642
![](https://github.trello.services/images/mini-trello-icon.png) [#473 - magic comments / deprecate fields](https://trello.com/c/Cv1bxDeG/19-473-magic-comments-deprecate-fields)

[2017-12-03 10:45] #590 closed

[2017-12-03 10:50] benjie commented on #473
So now you can do a check something like:

[code]

Would be nice to have this same feature on other things too - computed fields, query procedures, mutation procedures, etc.

[2017-12-03 10:53] benjie commented on #590
The next release of PostGraphile will include more scope information on many fields, and thus better hooks can be written 👍

[2017-12-03 12:38] benjie commented on #417
Yep; it works:

[code]

[code]

[code]

[2017-12-03 12:38] #417 closed

[2017-12-03 12:47] benjie commented on #438
[code]

[code]

[code]

[code]

Works as expected, except the null result on omitting `b` (which is covered by different issue: graphile/graphile-build#87)

[2017-12-03 12:47] #438 closed

[2017-12-03 23:21] benjie commented on #432
Note to self: add an option people can use to gain backwards compatibility.

[2017-12-05 12:30] corporatepiyush opened #645 "Question: Compatibility with Citus and Cockroach DB"
Since Citus DB and Cockroach DB use Postgres compatible wire protocol and truly distributed sharding and transactions it would be cool if this library works with them.
Is this library has been tested against these Databases ?

[2017-12-05 12:34] benjie commented on #645
As far as I know they have not been tested. Compatibility mostly comes down to Postgres' introspection features - do the databases you mention provide this? You can check by running the introspection query:

https://github.com/graphile/graphile-build/blob/master/packages/graphile-build-pg/res/introspection-query.sql

If that works, there are a few other sticking points (such as CTE support and mor

[2017-12-05 19:03] cristian-bolea commented on #362
Hello ,
I have installed PostGraphQL on an ec2 instance , and I am watching a schema on a RDS .It is working , and I get  the usual message GraphiQL endpoint served at http://localhost:5000/graphiql .I need some guidance in order to proceed further . How can I now use the graphiql ?
Thank you

[2017-12-05 19:25] benjie commented on #362
This might be a good place to start:

https://medium.com/the-graphqlhub/graphiql-graphql-s-killer-app-9896242b2125

Also check out:

https://www.howtographql.com/

[2017-12-05 20:33] svendpeter commented on #362
Hello ,
Does one need to access the public IP address of ec2 instance , in order to send queries or to test it via graphiql ?

[2017-12-06 04:11] chadfurman commented on #362
It sounds like you shouldn't start with an EC2 instance.  Try to figure out how to connect postgraphql to a local database.  The process is the same for RDS

[2017-12-06 04:12] chadfurman commented on #362
Setup postgraphql locally, first.  It sounds like your EC2 security group is getting in the way.  You need to be able to access the ports on the server that's hosting postgraphql -- postgraphql is running a NodeJS express server and you have to be able to talk to the server to see the response.

[2017-12-06 07:53] svendpeter commented on #362
Thank you for helping me .I did set up an express server , serving a static file on port 5000 , and it works , when accessing http://ec2-......compute.amazonaws.com:5000/ .Shouldn't I be also  able to access http://ec2-......compute.amazonaws.com:5000/grapiql ? like usual , on localhost , and send queries ?

[2017-12-06 09:46] benjie commented on #362
The URL you placed has a typo: `/graphiql`. So long as you've not passed `--disable-graphiql` (`-b`) then yes, you should be able to visit `/graphiql` if you are successfully running postgraphql on port 5000 on your EC2 host. What happens when you visit just `/graphql` (no `i`)?

[2017-12-06 10:22] svendpeter commented on #362
When I visit http://ec2-......compute.amazonaws.com:5000/graphql or http://ec2-......compute.amazonaws.com:5000/graphiql
I get
This site can’t be reached
ec2...compute.amazonaws.com refused to connect.

But when I visit  http://ec2-......compute.amazonaws.com:5000/ , and I am running on this port my own express server , I get a normal response from my server .

[2017-12-06 11:14] tapsaid opened #647 "Automatically rename tables that end with `_input` so they don't clash with input types"
I'm submitting a ...
- [ ] bug report
- [ ] feature request
- [x ] question

PostGraphQL version:

Minimal SQL file that can be loaded into a clean database:
[code]

Steps to reproduce:

Create a table which has the word "input" as a suffix.

Current behavior:
Error: Schema must contain unique named types but contains multiple types named "HrPayslipInput".
(I guess this is because I have table nam

[2017-12-06 13:17] benjie commented on #647
We could potentially solve this automatically by taking tables that end in reserved words (such as `input`) and giving them extra text. e.g. table `foo_input` might become `type FooInputTable` or `type FooInput_` or ...

I'm not sure what it *should* become - ideas welcome.

[2017-12-06 13:19] benjie commented on #647
As for a workaround; you can override the inflector in v4 and then rename specifically that table; see this comment:

https://github.com/postgraphql/postgraphql/pull/506#issuecomment-328831456

Sorry there's not much docs on that yet.

[2017-12-06 22:05] jgj opened #648 "Empty arrays are returned as null"
I'm submitting a ...
- [x] bug report
- [ ] feature request
- [ ] question

PostGraphQL version:

4.0.0-alpha2.26

Minimal SQL file that can be loaded into a clean database:
[code]

Steps to reproduce:

Using the Library as an express middleware

Current behavior:
Empty arrays in postgres cause the error `Error: Cannot return null for non-nullable field Person.aliases` when querying for Person typ

[2017-12-06 22:16] benjie commented on #648
Good catch, thanks. If you fancy writing a failing test for this, that would be a welcome headstart to getting it fixed!

Add `aliases` column to one of the tables here:

https://github.com/graphile/graphile-build/blob/master/packages/postgraphile-core/__tests__/kitchen-sink-schema.sql

And add a GraphQL query that triggers the issue here:

https://github.com/graphile/graphile-build/tree/master/pa

[2017-12-06 23:04] jgj commented on #648
sure thing, hope this is helpful: https://github.com/graphile/graphile-build/pull/129

[2017-12-07 09:14] benjie commented on #648
Perfect; thanks!

[2017-12-07 09:44] benjie commented on #92
If you, or your company, would like to see subscriptions sooner rather than later then please consider supporting my work via Patreon:

https://www.patreon.com/benjie

(If your company requires some kind of invoice/contract/concrete value exchange then please get in touch and we'll see what we can figure out!)

[2017-12-07 09:47] benjie commented on #648
![](https://github.trello.services/images/mini-trello-icon.png) [Empty arrays bug](https://trello.com/c/kPPKRlYM/22-empty-arrays-bug)

[2017-12-07 17:27] evangow commented on #632
That makes sense.

[2017-12-07 18:24] jmparsons commented on #632
@evangow For what it's worth we decided to keep introspection on our lambdas. I did get it working with v3, but the advancements elsewhere in v4 made it faster for our queries. We use a keep warm library because our endpoints talk directly to graphql independently rather than to one single endpoint.

[2017-12-07 19:46] wizeowl opened #649 "Error when calling a function with a custom type parameter, or with a parameter of a type colliding with another mutation"
I'm submitting a
- [x] bug report
- [ ] feature request
- [ ] question

PostGraphQL version:
4.0.0-alpha2.25

Minimal SQL file that can be loaded into a clean database:
[code]

Steps to reproduce: I call the mutation
[code]
Current behavior:
[code]
Expected behavior:
The I believe you are much more apt than me to make sense of the error above.

Second You may notice that I used a custom type (sale

[2017-12-07 23:41] #648 closed

[2017-12-07 23:42] benjie commented on #649
Interesting, not seen that issue before. Seems to be when a compound type of a compound type is used as an input value. Please can you reduce your schema and query down to the smallest you can that reproduces the issue? If you’re able, creating a failing test would also be excellent, see:

https://github.com/postgraphql/postgraphql/issues/648

[2017-12-08 09:11] benjie commented on #649
Deleting the function body reveals that the issue lies in your function rather than in PostGraphQL - running the function with an empty body works fine.

The issue is the way in which you are referencing the field off the composite type, you need additional brackets, i.e.

[code]

See [8.16.3. Accessing Composite Types](https://www.postgresql.org/docs/9.6/static/rowtypes.html) in the PostgreSQL do

[2017-12-08 09:12] #649 closed

[2017-12-08 17:04] evangow commented on #632
Thanks for the heads up @jmparsons!

[2017-12-08 20:27] wizeowl commented on #649
First of all, thank you so much. the issue was solved.
Second, though it's arguably a surmountable hindrance, I nevertheless still wonder why the other function definition couldn't be generated into an endpoint.
Finally, keep the good work, and high five for the great piece of software.

[2017-12-08 21:39] benjie commented on #649
Ah; I suspect the reason for that is it’s falling foul of the “computed column” detection. We’re currently reserving that in case we come up with a way of making computed columns settable but we may well release it in future. I think it only affects when a table type is used as the first input.

[2017-12-09 04:25] w9 commented on #597
I encountered the same error and downgrading pg to 6.1.0 did *not* fix it.

[2017-12-09 07:43] benjie commented on #597
Closing in favour of #550

[2017-12-09 07:43] #597 closed

[2017-12-09 11:47] tapsaid commented on #647
Without documentation I could hardly manage to get it right. Anyway, thanks for the direction.

[2017-12-09 11:58] benjie commented on #647
A pull request updating the docs with this caveat would be welcome. The relevant page is here:

https://www.graphile.org/postgraphile/custom-mutations/

(See also the computed columns docs here: https://www.graphile.org/postgraphile/computed-columns/)

You can edit it here:

https://github.com/graphile/graphile.github.io/edit/develop/src/pages/postgraphile/custom-mutations.md

[2017-12-09 11:59] benjie commented on #647
Whoops, mistook this issue for the wrong one - ignore previous comment.

[2017-12-09 12:04] benjie commented on #647
For anyone interested in doing a PR for this (should be quite easy), you just need to modify this function:

https://github.com/graphile/graphile-build/blob/83abbb84d62415a6ff455426e9424a61d95a815b/packages/graphile-build-pg/src/inflections.js#L90-L92

so that if the resulting type name ends with a reserved word (e.g. `Input`) it has something else suffixed to it. As above I'm not sure what the su

[2017-12-09 18:11] jamiewinder opened #650 "Nested advanced queries"
Based on the advanced queries document, is it possible to have nested advanced queries? For example:
[code]
(Which would return articles with 'abc' in the text, and any comments with 'def' in the text)

[2017-12-10 09:05] benjie commented on #650
Yep

[2017-12-10 09:09] benjie commented on #650
The latter is a “computed column” though.

https://www.graphile.org/postgraphile/computed-columns/

[2017-12-10 09:33] jamiewinder commented on #650
That's great, thanks. I thought it might be related but missed the part about additional parameters

[2017-12-13 14:30] chadfurman commented on #501
https://www.graphile.org/postgraphile/usage-library/#pgsettings-function is relevant

[2017-12-15 13:15] svendpeter commented on #362
Thank you for your help .

I am using now  postgraphql as a middleware in a node.js app and I can post
queries to graphql endpoint .

I do have an additional question . I am still unable to use GraphIQL
interface .

I am using this code :

const postgraphql = require('postgraphql').postgraphql;
app.use(postgraphql('http://user:password@......rds.amazonaws.com/dbName'',
schemaName='name', {graphiql

[2017-12-15 13:28] benjie commented on #362
Nothing: https://github.com/postgraphql/postgraphql/blob/master/src/index.ts#L3-L6

The code you've used should work:

[code]

That should result in `/graphiql` serving up the page. Maybe you could detail exactly what error you're getting - what does the `/graphiql` endpoint return?

[2017-12-15 13:59] brambow commented on #575
In a previous version of postgraphql, I experimented with working with postgis and wound up creating a view (or used materialized views for complex polygons) that added a geojson field.

Something to think about is whether you really just want a column of geojson geometry or you want to return a full GeoJSON FeatureCollection from a query.  I think there are valid cases for either option, dependin

[2017-12-15 14:23] benjie commented on #575
I don't know enough about PostGIS to pass comment on those parts of your message, however you could add a plugin that adds a `pgTweaksByTypeId` for the relevant PostGIS types that automatically converts it somehow whenever it's referenced (rather than requiring a computed column). That's assuming the raw value converted via `to_json()` isn't particularly useful to your API.

https://github.com/gra

[2017-12-15 14:41] svendpeter commented on #362
It works , indeed .

Thank you for your answer .

On Fri, Dec 15, 2017 at 3:28 PM, Benjie Gillam <notifications@github.com>
wrote:

[2017-12-15 14:50] benjie commented on #362
Could you tell me what was wrong so I know how to advise the next person who has this issue please?

[2017-12-16 00:18] hmaurer commented on #432
Should this be limited to primary key relations? It seems like a more common use-case would be marking the column as "UNIQUE" (of which primary key relations is sort of a special case).

[2017-12-16 00:22] hmaurer commented on #432
I just want to emphasise that it would be nice to have it on "UNIQUE" references as well as foreign keys (I need it for one of my projects).

[2017-12-17 02:31] brambow commented on #575
Ignoring my previous comment about returning the geometry vs a full feature collection, let's say the initial goal is to build a plugin that creates a computed column called 'geojson' that could be applied to any table that has a 'geometry' type column and would return the geometry in geojson format.

It would be nice to filter on the field types to only get postgis geometry column types, but nami

[2017-12-17 09:59] benjie commented on #575
You kind of need a hybrid between those two solutions. The former matches the relevant table and adds a new field, but does not register the "data generator" required to request the data (and it doesn't really have a resolve method). The latter adds the data generator and the resolve method but it hooks the root `Query` type rather than the relevant table.

For debugging I hook it up to an existin

[2017-12-18 10:33] benjie commented on #630
This is now fixed.

[2017-12-18 10:33] #630 closed

[2017-12-18 10:37] benjie commented on #473
This is implemented

[code]

[2017-12-18 10:37] #473 closed

[2017-12-21 13:26] pencilcheck commented on #607
You mean something like https://github.com/postgraphql/postgraphql/blob/0631012372512723774fd5dd66562b962e7c27c8/src/__tests__/utils/withPgClient.ts Then use the pgClient instance that you passed into the library to get the notice logs?

[2017-12-21 13:32] benjie commented on #607
Here's where the SQL queries are intercepted for logging:

https://github.com/postgraphql/postgraphql/blob/1fa4310dae82d1a28636cb0fc6d4f8294729c5a2/src/postgraphql/withPostGraphQLContext.ts#L54-L57

You may want to add the `pgClient.on('notice', ...)` there - be sure to remove it again in the `finally` block:

https://github.com/postgraphql/postgraphql/blob/1fa4310dae82d1a28636cb0fc6d4f8294729c5a2

[2017-12-22 23:12] dbohdan opened #653 "Add repository topic "automatic-api""
I'm submitting a ...
- [ ] bug report
- [x] feature request (sort of)
- [ ] question

Could you add the topic `automatic-api` to your repository? Software that automatically exposes APIs to databases type isn't well-cataloged. (There didn't even seem to be a list on GitHub, so I [started one](https://github.com/dbohdan/automatic-api).) It will be easier to discover if there is a standard [GitHub t

[2017-12-22 23:26] benjie commented on #653
👍

[2017-12-22 23:26] #653 closed

[2017-12-22 23:26] dbohdan commented on #653
Thanks!

[2017-12-24 00:30] DJuboor commented on #91
Has there been any more definitive solution on how to approach many-to-many relationships with postgraphile?

I'm pretty new to the DBing world and many-to-many relationships / permissions (on who can see what data in graphiql/graphql) are the only two things keeping me from using this package 100% all of the time.

[2017-12-26 18:38] ppKrauss opened #656 "List of PostGraphQL as a service options"
Hi, it is a suggestion to **add a new markdown file or CSV file** in this git repository, <br/>with a **list of current  "PostGraphQL as a service"** ([SaaS](https://en.wikipedia.org/wiki/Software_as_a_service)) suppliers.

----

PS: services like Heroku Postgres, Amazon/PostgreSQL,  Azure/PostgreSQL, etc. in nowadays not offer  PostGraphQL.. And it is difficult to find one that offers.

[2017-12-26 20:22] benjie commented on #656
A wiki page would be a good place for that. I’m not aware of any generic PostGraphQL SaaS, though I am aware of a few people building platforms around it.

I’m closing this just to keep things tidy, but please feel free to keep discussing.

[2017-12-26 20:22] #656 closed

[2017-12-26 21:28] ppKrauss commented on #656
Hi @benjie , thanks!  Can you add one item into [the table at Wiki](https://github.com/postgraphql/postgraphql/wiki/Infrastructure-as-a-Service)?  Perhaps you know a "potential" one, so we can negotiate negotiate to expedite/simplify the service.

[2017-12-28 15:07] svendpeter commented on #362
Hello ,

Sorry for the late answer , I did not expect an other reply from you , so I
did not check this mail anymore .

The code worked , as expected , I probably forgot to reload . It was my
mistake .

I do have an additional question , if possible . When setting it up in a
local environment , and using

const host ='postgres://user:password@localhost:5432/dbName ';

app.use(postgraphql(host,sche

[2017-12-28 18:06] benjie commented on #362
Could you expand on “it does not work”? That’s rather vague so it makes it hard to diagnose. Maybe share the full source of the file also.

[2017-12-28 18:34] svendpeter commented on #362
Thank you for your answer . It's really helpful to not be alone and have
someone to ask questions .

It does not work in the sense that I can not access graphiql interface when
visiting localhost:3000/graphiql or localhost:5000/graphiql  .

The only thing that I changed is the uri : const host =
'http://user:password@.....rds.amazonaws.com/dbName';

One of the things that I do not understand , is

[2017-12-28 18:52] svendpeter commented on #362
Addendum : when visiting localhost:5000/graphiql I get the error TypeError:
Failed to fetch .This is when node server is listening on port 5000.

When app listening on port 3000 en I visit ocalhost:3000/graphiql I get the
error TypeError: Failed to fetch .

In both cases , it fails when posting query IntrospectionQuery .

On Thu, Dec 28, 2017 at 8:34 PM, timon ionutadamclisi <
timonionutadamclisi@

[2017-12-29 08:34] benjie commented on #362
Your `const host` specifies http://; presumably you meant postgres://?

Please share the code you’re running, I’m getting quite confused between postgraphql commands and running it as an express app. Please also share the terminal output and the URL you are visiting and the browser output (e.g. a screenshot) - take me through everything step by step with screenshots or copy/paste of terminal/code.

[2017-12-30 21:24] antmldr opened #657 "PGPASS Environment Variable Support"
I'm submitting a ...
- [ ] bug report
- [x] feature request
- [ ] question

It'd be useful for postgraphql to be able to utilize the PGPASS environment variable, if present, when building its connection string (see: [cli.ts](https://github.com/postgraphql/postgraphql/blob/master/src/postgraphql/cli.ts#L102))

Is this something appropriate for v3 or v4?
Would it be something the project would be op

[2017-12-30 23:58] benjie commented on #657
PR welcome; do it against v3 only (master) - I’ll merge to v4 later. Ensure it still functions correctly if the envvar is not set (e.g. check `{username: undefined}` is treated the same as if the key were omitted: `{}` (failing that, use Object.assign or similar  to only add each key if the envvar is set)

Thanks!

[2018-01-02 07:31] Tritpi opened #659 "Exporting the data in GraphiQL interface"
Can the data response got back in the GraphiQL interface be exported into some local file in postgraphql.

[2018-01-02 08:40] benjie commented on #659
I’m not sure exactly what/why you’re asking... you can copy/paste it into a file, or you can write a very small script to run the GraphQL query against PostGraphQL and write the response to a file. The only file writing capabilities PostGraphQL has built in relate to exporting the schema.

https://www.graphile.org/postgraphile/usage-cli/

[2018-01-02 09:00] Tritpi commented on #659
Is there an option to export the json response (i.e. the data retrieved after the query is run) got back in the GraphiQL interface to a local file. The purpose here is to compare the data retrieved in the GraphiQL
 interface with the data in the database.

[2018-01-02 09:24] benjie commented on #659
Easiest way is to just copy and paste the results into a file?

[2018-01-02 20:46] skvale commented on #625
Fixed by #655

[2018-01-02 20:49] #625 closed

[2018-01-02 20:54] chadfurman commented on #659
@Tritpi you can turn on the query-log in the DB, I think the introspection query is a single GraphQL statement which Postgraphile turns into a single select statement (I could be wrong on this).

@benjie I think he wants to run the introspection query manually, though I'm not sure what this will prove.  I'm guessing he's trying to see why a table isn't being included in the auto-crud stuff, and I'

[2018-01-02 21:27] benjie commented on #659
PostGraphQL runs this SQL introspection query:

https://github.com/graphile/graphile-build/blob/master/packages/graphile-build-pg/res/introspection-query.sql

and then uses that (and a hell of a lot of logic) to build the GraphQL schema in memory.

---

Any spec-compliant GraphQL schema can be introspected via the GraphQL introspection query which is available in the `graphql` module via

[code]

[2018-01-04 08:53] caub commented on #576
It can be possible to do several `SET field = coalesce(patchValue, field), ...` as a way to PATCH

[2018-01-04 09:35] benjie commented on #576
The issue does not lie in SQL - I was talking about allowing custom mutations to utilise the FooPatch GraphQL type - currently custom mutations can only use the FooInput GraphQL type directly, which includes the not-null constraints inherent in that type. We currently have no way of knowing if a custom mutation wants FooInput or FooPatch, so we always use FooInput.

Recently we merged https://gith

[2018-01-04 10:32] caub commented on #401
Thanks for this nice project,

For example, for adding a `id` field, for any model/table, how would we proceed? From reading https://www.graphile.org/postgraphile/extending/#adding-root-querymutation-fields I'm not sure a plugin can do that, so it's more this kind of hook? What would it look for simply auto-generating `id` as `someUid()` for example?

[2018-01-04 10:47] benjie commented on #401
Hi @caub, could you expand on your requirements a little, perhaps with some pseudo-code to suggest the shape of the solution you'd like to see?

My current understanding is that you have database tables that do not have an "id" field, and you want to add an "id" field to their types in GraphQL (without modifying the database)? Where would the data returned from the "id" field come from - is it a c

[2018-01-04 11:14] caub commented on #401
Yes, basically, I'd have a `users`, `posts` tables, each of them have a TEXT PRIMARY KEY, and I'd use a library in server to generate it, example http://npm.im/uid-safe.

pseudo-code: (based on https://www.graphile.org/postgraphile/usage-library/)
[code]

[2018-01-04 11:23] benjie commented on #401
Ah, so there is already an `id` field within your database and exposed by PostGraphile, and you want to remove that field from your generated schema specifically only for create mutations, and instead have PostGraphile generate a default value for it which will be written to the database's `id` field.

If I had these needs, I would:

1. Use [`pgColumnFilter`](https://github.com/graphile/graphile-b

[2018-01-04 11:32] caub commented on #401
@benjie thanks, yes doing it as a function is indeed a good possibility for this case, I was thinking of a plugin because sometimes there are other custom validation that I could do at the same time, but yes a DEFAULT for id is quite cleaner, and simpler

[2018-01-04 23:03] chadfurman opened #661 "Constants for orderBy complaining when wrapped in double-quotes"
I'm submitting a ...
- [X] bug report
- [ ] feature request
- [ ] question

PostGraphQL version:
alpha2.26

Minimal SQL file that can be loaded into a clean database:
[code]

Steps to reproduce:
Running postgraphql and sending:
[code]

Current behavior:
Spits out error about not being a constant

Expected behavior:
Treated as a constant, as it is generated by relay compiler from the .gql / .json s

[2018-01-05 08:07] benjie commented on #661
I believe the error you refer to (it would be handy to have a copy of it) is generated from GraphQL itself - constants must be specified without quotes (or they can be passed in via variables). The correct query would be:

[code]

or

[code]

[2018-01-05 19:17] chadfurman commented on #661
The problem is the relay compiler.  The constant is wrapped in quotes automatically, unless I use it in an array.

i.e.

-          drawerRecentRooms : joinedRoomsByProfileId(first: 5, orderBy: JOINED_AT_DESC) {
 +          drawerRecentRooms : joinedRoomsByProfileId(first: 5, orderBy: [JOINED_AT_DESC]) {

Then the relay compiler doesn't wrap it in quotes.  Not sure where the bug is, here.

[2018-01-05 20:40] dradetsky opened #662 "Set user_id fkey / userId input field from auth data"
I'm submitting a ...
- [ ] bug report
- [x] feature request
- [ ] question

PostGraphQL version:
[code]
My app has a fair number of tables where each row has to have an `owner_id`, a foreign key into a `users` table. It also has some kind of authentication so that incoming messages have a bearer token from which we infer (among other things) a `user_id`.

In general, I want it to be the case that:

[2018-01-05 21:18] benjie commented on #661
That’s really annoying; I was hoping the change to array orderBy would not be a breaking change. I think technically it isn’t but the change is triggering a weird behaviour in Relay.

[2018-01-05 21:22] benjie commented on #662
I think it’s easier to solve it than that:

- don’t allow that column to be inserted or updated (sql grant/revoke)
- set the sql default for that column to be `get_setting(‘jwt.claims.user_id’, true)`

That should be all that’s necessary, hopefully?

[2018-01-05 22:19] dradetsky commented on #662
Yes, that works fine.

It does leave the (unusable) `ownerId` field in the public `CreateFooInput` type, but I understand there's a separate way of cleaning up the publicly-exposed api.

[2018-01-05 22:20] #662 closed

[2018-01-06 00:59] benjie commented on #662
Yes, there’s the undocumented pgColumnFilter. We hope to make this more automatic in future.

[2018-01-06 01:19] dradetsky commented on #662
btw, until you write more dox, you might mention for the benefit of future readers that it's `current_setting('jwt.claims.user_id')`, not `get_setting`

[2018-01-08 00:35] chadfurman commented on #661
Relay is definitely still in alpha as well, afaik :)

[2018-01-09 15:47] chadfurman commented on #523
You could also upload as base64-encoded string via a field on a plugin's custom resolver.

For example, a plugin called "UploadFile" and a mutation like:

[code]
The plugin could take care of uploading it to S3 and storing the URL in the database

[2018-01-09 15:54] danielbuechele commented on #523
The approach I described in my post could also be applied to this project. Using base64 would work, but isn't suitable for larger files, as they become even bigger using base64.

I would suggest the following approach as described in my post on medium:
1. use `multipart/form-data`
2. add the file to the post request and give it a unique name
3. add a middleware to store the file and replace the un

[2018-01-09 22:17] benjie commented on #523
![](https://github.trello.services/images/mini-trello-icon.png) [File uploads](https://trello.com/c/iYaANYx0/33-file-uploads)

[2018-01-12 16:20] svendpeter commented on #362
Hello ,

I have been on holiday , did not work on the project anymore .

The current problem is the following . While everything was working perfect
, we worked 2 days , suddenly , without changing anything , UI start
getting thei error
Failed to load http://localhost:3000/graphql: Response to preflight request
doesn't pass access control check: No 'Access-Control-Allow-Origin' header
is present o

[2018-01-12 17:07] benjie commented on #362
Hi @svendpeter it looks like you're loading your webpage as `http://www.localhost:3000`; if you instead load simply `http://localhost:3000` it should work I expect.

[2018-01-12 17:24] svendpeter commented on #362
Thank you !!

On Fri, Jan 12, 2018 at 7:09 PM, Benjie Gillam <notifications@github.com>
wrote:

[2018-01-14 10:33] benjie commented on #632
Support for this is now out in v4: https://github.com/postgraphql/postgraphql/releases/tag/v4.0.0-alpha2.28

Please test this and let me know how you get on.

Warning: I haven't written any actual software tests for this feature, so if anyone has time to send me a PR with some tests in, that would be fantastic! (Plus it should give you some confidence that the feature won't accidentally break in f

[2018-01-16 19:07] charring opened #663 "Relay Modern support ✅"
I'm submitting a ...
- [ ] bug report
- [ ] feature request
- [x] question

I read that Relay Modern imposes some requirements on the server. But article did not elaborate. Anyway, I'm curious if postgraphql is compatible with Relay Modern.

[2018-01-16 19:33] benjie commented on #663
I believe @chadfurman is using PostGraphile + Relay Modern with great success?

[2018-01-17 01:23] wenzowski commented on #663
Works beautifully. You'll probably want `classicIds: true` unless you use globally unique primary keys for your tables (eg. uuids).

[2018-01-17 01:39] wenzowski commented on #645
Since Citus is just a pg extension, I would be surprised if that doesn't work.

[2018-01-17 02:00] wenzowski opened #664 "Mutation cargo edge missing cursor field"
I'm submitting a ...
- [x] bug report
- [ ] feature request
- [ ] question

### PostGraphQL version:
`4.0.0-alpha2.28`

### Minimal SQL file that can be loaded into a clean database:
[code]

### Steps to reproduce:
Config: `classicIds: true`

Mutation
[code]
Query Variables
[code]

### Current behavior:
The `cursor` field returns null.
[code]

### Expected behavior:
The `cursor` field should retur

[2018-01-17 02:14] wenzowski commented on #602
ref: https://github.com/postgraphql/postgraphql/issues/522

[2018-01-17 02:29] w9 commented on #634
@benjie Does this workaround guarantees atomicity (my guess is not)? And if not how do I simulate the atomicity of

[code]

?

[2018-01-17 03:32] w9 commented on #634
To answer myself---I found the following solution works:

[code]

GraphQL query:

[code]

[2018-01-17 09:12] benjie commented on #645
I'd love to hear definite results from someone who's tried it 👍

[2018-01-17 09:21] benjie commented on #664
This also affects PostgreSQL 9.6-style tables:

[code]

[2018-01-17 09:22] benjie commented on #664
![](https://github.trello.services/images/mini-trello-icon.png) [Mutation payload edge entries are null](https://trello.com/c/qUvgxSgZ/37-mutation-payload-edge-entries-are-null)

[2018-01-17 09:25] benjie commented on #522
Does koa-connect solve this issue?

I think what's needed is a separate middleware for koa, the compatibility isn't working 100%.

[2018-01-17 11:29] wenzowski commented on #664
temporary workaround using `rowId`
[code]

[2018-01-17 15:17] chadfurman commented on #663
Yes I use relay modern all the time it is lovely.

Relay standard is supported in Postgraphile since before version 4.

For a (not yet working or complete but somewhat functional) example, please look to https://github.com/chadfurman/rpg-boilerplate

[2018-01-17 15:44] benjie commented on #663
I'd welcome someone to add a page on graphile.org detailing what you should think about when using Relay Modern with PostGraphile. (You only need to write a markdown file.)

[2018-01-17 15:52] chadfurman commented on #663
@benjie expect a blog post series by the end of the month and a presentation at NERD Summit 2018 on this.

[2018-01-17 15:55] benjie commented on #663
😍

[2018-01-17 15:58] charring commented on #663
Thanks. I'm looking forward to digging into this new (for me) tech stack!

[2018-01-17 23:41] w9 opened #665 "Need a mechanism for creating transactions"
Currently there seems to be no way to create a transaction block (`begin` and `end` in postgres). It would be nice if we can specify when a group queries should fail together.

Maybe we should have a special query called `transaction` in the root:

[code]

So that the client may form a transaction like this:

[code]

[2018-01-18 00:00] benjie commented on #665
All statements are ran through a (single) transaction currently. In GraphQL all fields of a query are ran in parallel, so to do what you suggest would require separate database connections for each transaction field (FYI).

Please could you expand on why you feel multiple transactions would be beneficial to PostGraphile queries?

[2018-01-18 19:02] danvk opened #666 "Option to auto-quit Postgraphile CLI (e.g. to simply export schema)"
I'm submitting a ...
- [ ] bug report
- [x] feature request
- [ ] question

PostGraphQL version: 4.0.0-alpha2.28

When I run `postgraphile` with the `--export-schema-json` option, it still starts a server:

[code]

I'd like to _just_ export the schema that it discovers for my database. It would be helpful if there were, say, a `-q` / `--quit` option which made the CLI do the exporting without star

[2018-01-18 20:52] benjie commented on #666
We need this for a few other commands too. How about --no-server?

[2018-01-18 20:54] benjie commented on #666
A PR for this would be welcome

[2018-01-19 19:27] svendpeter commented on #119
Hi ,

I am trying to use postgraphql with slickgrid , and this forces me to do limit/offset (first/offet) pagination , without using a cursor . Is it possible with postgraphql ? Because I have seen tutorials only using cursor based pagination .  Can you kindly point me to a good  tutorial or explain to me how I might do first/offset pagination  with postgraphql ?
Thank you..

[2018-01-20 03:52] disarticulate commented on #626
ran into this issue also. It just seems too opinionated...

particularly when you have a table like
`plan_index`

and the generated query for it is allPlanIndices

That's certainly human, but it's a road block for dynamic table creation. the prefix all is ok, but why do you need to change the plurals? and further, why change such an oddball plural?

[2018-01-20 09:07] benjie commented on #119
Same way, just use “first” for the limit and “offset” for offset.

[2018-01-20 09:10] benjie commented on #626
At the moment you can override the inflector if you don’t like its defaults. In future you’ll be able to specify per-table overrides using smart comments.

[2018-01-20 12:02] corporatepiyush commented on #645
Yes Citus is pg extension but it has some restrictions.
ref link: https://www.citusdata.com/faq

[code]

[2018-01-20 12:06] corporatepiyush commented on #645
CockroachDB limitations
ref link:
https://www.cockroachlabs.com/docs/stable/known-limitations.html
https://www.cockroachlabs.com/docs/stable/sql-grammar.html